body{
 font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
 font-weight:normal;
}
.notice{
	border-bottom:0px;
	border-top:1px solid #DDDDDD;
	border-right: 0px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	float:left;
	height:11px;
	position:relative;
	width:58px;
}
.dayclass{
	float:left;
	border-bottom:0px;
	border-top:1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-left: 0px solid #DDDDDD;
	background-color:#ECECEC;
	color:#666;
	width:58px;
	text-align:center;
}
.timeclass{
	border-bottom:0px;
	border-top:1px solid #DDDDDD;
	border-right: 0px solid #DDDDDD;
	border-left: 0px solid #DDDDDD;
	width:58px;
	text-align:center;
	line-height:23px;
	color:#666;
	background-color:#F1F1F1;
}
#tablecaledar
{
	width:472px;
	color:#333;
	border-bottom:1px solid #DDDDDD;
	border-top:0px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	font-size:11px;
}
.smallhead,.smallhead1
{
border-bottom:0px;
	border-top:0px solid #DDDDDD;
	border-right: 0px solid #DDDDDD;
	border-left: 0px solid #DDDDDD;
	background-color:#ECECEC;
	width:182px;
	color: #666666;
	line-height:25px;
	min-height:25px;
	float:left;	
	text-align:center;
}
.bighead,.bighead1
{
	border:1px solid #DDDDDD;
	background-color:#ECECEC;
	width:550px;
	color:#333;
	line-height:25px;
	min-height:25px;
	float:left;
}
.fullrowline
{
	border-bottom:0px;
	border-top:0px solid #DDDDDD;
	border-right: 0px solid #DDDDDD;
	border-left: 0px solid #DDDDDD;
	background-color:#ECECEC;
	width:472px;
	line-height:11px;
	color:#666;
	min-height:9px;
	float:left;
}
#dayd8
{
border-bottom:0px;
	border-top:1px solid #DDDDDD;
	border-right: 0px solid #DDDDDD;
	border-left: 0px solid #DDDDDD;
	width: 59px;
}