@CHARSET "ISO-8859-1";
input
{
	padding:8px 0 !important;
	padding-left:6px !important;
	height:14px !important;	
}
input[type='password']
{
	font-family: Arial !important;
}
#registration_form textarea
{
	width: 258px !important;
}
#registration_form select
{
	width: 270px !important;
}
input[type='checkbox']
{
	height:15px !important;
	width:15px !important;
}