@CHARSET "ISO-8859-1";
input
{
	padding:8px 0;
	padding-left:3px;
	height:14px !important;	
}
input[type='password']
{
	font-family: Arial !important;
}
input[type='checkbox']
{
	height:15px !important;
	width:15px !important;
}