html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
margin:0;
padding:0;
}
#wrapper
{
width:100%;
height:auto;
position: relative;
}
#container
{
width:950px;
height:auto;
position:relative;
}
.topbg {
background-image:url(../images/common/top-bg.gif);
background-repeat:no-repeat;
height:24px;
width:950px;
}
/*-------------------header css start here------------------------------*/
.header
{
width:950px;
height:68px; 
float:left;
text-align:left;
vertical-align:bottom;
}
.header1
{
width:950px;
height:9px; 
float:left;
}
.headerlogo
{
width:950px;
height:49px; 
float:left;
}
.headerlogo1
{
width:950px;
height:53px; 
float:left;
}
.headerleft
{
width:142px;
float:left;
text-align:left;
}
.headerleft1
{
width:142px;
float:left;
text-align:left;
padding-top:3px;
}
.headerright
{
width:808px;
height:49px; 
float:left;
text-align:left;
}
.headerrighttxtblue
{
width:798px;
height:19px; 
float:left;
text-align:left;
padding-left:10px;
color:#006699;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
padding-top:3px;
}
.headerrighttxtgreen
{
width:798px;
height:auto;
float:left;
text-align:left;
padding-left:10px;
color:#6bc067;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
font-weight:bold;
font-style:sharp;
padding-top:6px;
}
.headerright1
{
width:500px;
float:left;
text-align:left;
}
.headerrighttxtblue1
{
width:339px;
height:auto; 
float:left;
text-align:left;
padding-left:10px;
color:#005c86;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
padding-top:10px;
}
.headerrighttxtbluebold {
    color: #006699;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 8px;
    text-align: right;
    width: 140px;
}
.headerrighttxtgreen1
{
width:612px;
height:auto;
float:left;
text-align:left;
padding-left:10px;
color:#6bc067;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
font-weight:bold;
font-style:sharp;
padding-top:4px;
}
.headerinputbox
{
width:305px;
height:53px;
float:right;
padding-top:3px;
}

.headerinputboxbg
{
width:300px;
height:23px;
float:left;
background-image:url(../images/home/inputboxbg.png);
background-repeat:no-repeat;
padding-left:3px;
vertical-align:middle;
padding-top:3px;
}
.headerinputboxtxt
{
/*width:185px;*/
width:165px;
height:18px;
float:left;
color:#666666;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
background-image:url(../images/home/inputboxtxtbg.png);
background-repeat:no-repeat;
vertical-align:middle;
border:none;
outline:none;
-moz-outline-style:none;
}
.headerinputboxdivider
{
width:185px;
height:2px;
float:left;
}
.headersearchbox
{
width:185px;
height:23px;
float:left;
vertical-align:middle;
padding-top:2px;
}
.headersearchboxbg
{
width:144px;
height:23px;
float:left;
background-image:url(../images/home/searchboxbg.png);
background-repeat:no-repeat;
padding-left:15px;
vertical-align:middle;
padding-top:4px;
outline:none;
-moz-outline-style:none;
}
.headerisearchboxtxt
{
height:18px;
float:left;
border:none;
color:#666666;
display:block;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
background-image:url(../images/home/searchtxtbg.png);
background-repeat:no-repeat;
vertical-align:middle;
outline:none;
-moz-outline-style:none;
}
.headersearchbutton
{
width:26px;
height:23px;
float:left;
vertical-align:middle;
}


.bannertop
{
width:950px;
height:9px;
float:left;
}


.bannertopinside
{
width:950px;
height:52px;
text-align:center;
float:left;
}

.bannerline
{
width:950px;
height:2px;
text-align:center;
background-color:#c7c7c7;
float:left;
}
.bannerbottom
{
width:950px;
height:9px;
float:left;
}
.bannerbottomlandingpage
{
width:950px;
height:13px;
float:left;
}


.navigation
{
width:950px;
height:37px;
float:left;
}
.navigationdivider
{
width:950px;
height:9px;
float:left;
font-size:0px;
}
.navigationhome
{
width:88px;
height:37px;
background-image:url(../images/navigation/navigationhome.gif);
background-repeat:no-repeat;
float:left;
}
.navigationearnbonuspoint
{
width:241px;
height:37px;
background-image:url(../images/navigation/navigationearnbonuspoint.gif);
background-repeat:no-repeat;
float:left;
}
.navigationspecialoffers
{
width:236px;
height:37px;
background-image:url(../images/navigation/navigationspecialoffers.gif);
background-repeat:no-repeat;
float:left;
}
.navigationabouttheprogramme
{
width:272px;
height:37px;
background-image:url(../images/navigation/navigationabouttheprogramme.gif);
background-repeat:no-repeat;
float:left;
}
.navigationfaqs
{
width:108px;
height:37px;
background-image:url(../images/navigation/navigationfaqs.gif);
background-repeat:no-repeat;
float:left;
}
.navigationdivider1
{
width:1px;
height:37px;
background-image:url(../images/navigation/navigationdivider1.gif);
background-repeat:no-repeat;
float:left;
}
.navigationtxt
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#a1c6df;
font-weight:bold;
line-height:30px;
padding-top:4px;
text-decoration:none;
outline:none;
-moz-outline-style:none;
}
.navigationtxt:active
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#a1c6df;
font-weight:bold;
line-height:30px;
text-decoration:none;
outline:none;-moz-outline-style:none;
}
.navigationtxt:hover
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#a1c6df;
font-weight:bold;
line-height:30px;
outline:none;-moz-outline-style:none;
text-decoration:none;
}
.navigationtxtactive
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
font-weight:bold;
line-height:30px;
padding-top:4px;
text-decoration:none;
outline:none;-moz-outline-style:none;
}
.navigationtxtactive:active
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
font-weight:bold;
line-height:30px;
text-decoration:none;
outline:none;-moz-outline-style:none;
}
.navigationtxtactive:hover
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
font-weight:bold;
line-height:30px;
outline:none;-moz-outline-style:none;
text-decoration:none;
}

.flasharea
{
width:950px;
height:372px;
float:left;
}
.flashhomearea
{
width:950px;
height:345px;
float:left;
}
.flashhomearealandingpage
{
width:950px;
height:372px;
float:left;
outline:none;
-moz-outline-style:none;
}
.flashabelowarea
{
width:950px;
height:9px;
float:left;
}
.landingpagedivider
{
width:950px;
height:17px;
float:left;
}
.landingpagephotogalleryhdng
{
width:950px;
height:26px;
float:left;
text-align:left;
outline:none;
-moz-outline-style:none;
}
.landingpagephotogalleryarea
{
width:950px;
height:123px;
background-image:url(../images/landingpage/landingpagephotogallerybg.png);
background-repeat:no-repeat;
float:left;
outline:none;
-moz-outline-style:none;
}
.landingpagephotogallerybelow
{
width:950px;
height:27px;
float:left;
}
.flashphotogalleryarea
{
width:950px;
height:173px;
background-image:url(../images/home/photogallerybg.png);
background-repeat:no-repeat;
float:left;
}


.contentarea
{
width:950px;
height:338px;
float:left;
}
.contentareainside
{
width:950px;
float:left;
}
.contentleftarea
{
width:448px;
height:338px;
float:left;
}
.contentlefthdng
{
width:448px;
padding-top:15px;
height:28px;
float:left;
text-align:left;
}
.contentleftside
{
width:448px;
height:266px;
float:left;
}
.topline
{
width:448px;
height:7px;
background-image:url(../images/home/topline.gif);
background-repeat:no-repeat;
float:left;
text-align:left;
}
.leftline
{
width:6px;
height:250px;
background-image:url(../images/home/leftline.gif);
background-repeat:no-repeat;
float:left;
text-align:left;
}
.rightline
{
width:5px;
height:250px;
background-image:url(../images/home/rightline.gif);
background-repeat:no-repeat;
float:right;
text-align:left;
}
.middletline
{
/*width:437px;
height:250px;*/
width:425px;
height:238px;
background-image:url(../images/home/middleline.gif);
background-repeat:repeat-x;
float:left;
text-align:left;
padding-left:12px;
padding-top:12px;
vertical-align:top;
}
.middletpartxt
{
width:413px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
font-style:normal;
float:left;
text-align:justify;
height:55px;
}
.namearea
{
width:413px;
height:23px;
float:left;
}
.nametxt
{
width:41px;
padding-top:4px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#006699;
float:left;
}
.nametextboxarea
{
width:367px;
height:23px;
background-image:url(../images/home/nametextboxbg.gif);
background-repeat:no-repeat;
float:right;
padding-top:4px;
padding-left:4px;
}
.nametextbox
{
vertical-align:middle;
border:none;
height:18px;
padding-left:8px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
outline:none;
-moz-outline-style:none;
width:300px;
}
.dividerleftside
{
width:413px;
height:13px;
float:left;
}
.checkboxarea
{
width:16px;
height:25px;
float:left;
}
.checkboxcss
{
border:solid 2px #336699;
}
.checkboxtxt
{
width:360px;
height:24px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
padding-left:24px;
color:#666666;
outline:none;
-moz-outline-style:none;
}
.subscriblebutton
{
width:413px;
float:left;
outline:none;
-moz-outline-style:none;
}
.bottomline
{
width:448px;
height:9px;
background-image:url(../images/home/bottomline.gif);
background-repeat:no-repeat;
float:left;
text-align:left;
}
.contentmiddlearea
{
width:54px;
height:250px;
float:left;
}
.contentrightarea
{
width:448px;
float:left;
}
.contentrighthdng
{
width:448px;
padding-top:15px;
height:28px;
float:left;
text-align:left;
}
.contentleftside2
{
width:448px;
height:266px;
float:left;
}
.topline2
{
width:448px;
height:7px;
background-image:url(../images/home/topline.gif);
background-repeat:no-repeat;
float:left;
text-align:left;
}
.leftline2
{
width:6px;
height:250px;
background-image:url(../images/home/leftline.gif);
background-repeat:no-repeat;
float:left;
text-align:left;
}
.rightline2
{
width:5px;
height:250px;
background-image:url(../images/home/rightline.gif);
background-repeat:no-repeat;
float:right;
text-align:left;
vertical-align:top;
}
.middletline2
{
width:425px;
height:238px;
background-image:url(../images/home/middleline.gif);
background-repeat:repeat-x;
float:left;
text-align:left;
padding-left:12px;
vertical-align:top;
}
.middletpartxt2
{
width:413px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
font-style:normal;
float:left;
text-align:justify;
height:55px;
}
.bottomline2
{
width:448px;
height:9px;
background-image:url(../images/home/bottomline.gif);
background-repeat:no-repeat;
float:left;
text-align:left;
}
.selectcattxt
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#006699;
line-height:11px;
padding-bottom:13px;
}

.selectcatbg
{
width:388px;
height:23px;
background-image:url(../images/home/selectcabg.png);
background-repeat:no-repeat;
float:left;
padding-top:2px;
padding-left:5px;
outline:none;
-moz-outline-style:none;
}
.selectcatdrapdownmenu
{
vertical-align:middle;
border:none;
height:18px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
width:382px;
outline:none;
-moz-outline-style:none;
}
.rightsidedivider
{
width:392px;
height:20px;
float:left;
}
.selectsubcatarea
{
width:392px;
height:41px;
float:left;
}
.subcatdrapdownleft
{
width:197px;
height:41px;
float:left;
}
.subcatdrapdowntxt
{
width:;
height:18px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#006699;
float:left;
font-weight:bold;
outline:none;
-moz-outline-style:none;
}
.subcatdrapdownbg
{
background-image:url(../images/home/selectsubcat.png);
background-repeat:no-repeat;
width:195px;
height:23px;
float:left;
padding-top:2px;
padding-left:6px;
outline:none;
-moz-outline-style:none;
}
.selectsubcatdrapdownmenu
{
width:192px;
vertical-align:middle;
border:none;
height:20px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
width:184px;
text-align:left;
outline:none;
-moz-outline-style:none;
}
.subcatdivider1
{
width:9px;
height:41px;
float:left;
}
.selectcityarea
{
width:185px;
height:41px;
float:right;
}

.selectcitytxt
{
width:185px;
height:18px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#006699;
float:left;
font-weight:bold;
outline:none;
-moz-outline-style:none;
}
.selectcitydrapdownbg
{
background-image:url(../images/home/selectcitydrapdownbg.gif);
background-repeat:no-repeat;
width:185px;
height:23px;
float:left;
padding-top:2px;
padding-left:4px;
outline:none;
-moz-outline-style:none;
}
.selectcitydrapdownmenu
{
vertical-align:middle;
border:none;
height:20px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
width:176px;
text-align:left;
outline:none;
-moz-outline-style:none;
}
.searchbuttonarea
{
width:391px;
float:left;
}
.searchbutton
{
width:68px;
float:left;
}
.searchbuttondivider
{
width:19px;
height:31px;
float:left;
}
.browsealltxt
{
width:290px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
float:left;
text-align:left;
color:#006699;
padding-top:1px;
text-decoration:underline;
}
.browsealltxt:hover
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
text-align:left;
color:#006699;
text-decoration:underline;
}

.earnbonuspointleftarea
{
width:198px;
float:left;
}
.searchbonuspointspartnersbutton
{
width:198px;
height:40px;
float:left;
outline:none;
-moz-outline-style:none;
}
.earnbonuspointleftspacer
{
width:198px;
float:left;
height:9px;
font-size:0px;
}
.categoriesarea{
width:198px;
float:left
}
.categoriestop
{
width:198px;
float:left;
height:9px;
font-size:0px;
background-image:url(../images/earnbonuspoints/categorytop.gif);
background-repeat:no-repeat;
}
.categoriesleft
{
width:4px;
float:left;
height:721px;
background-image:url(../images/earnbonuspoints/categoryleft.gif);
background-repeat:no-repeat;
}
.categoriesmiddle
{
width:190px;
float:left;
height:721px;
background-image:url(../images/earnbonuspoints/categorymiddle.gif);
background-repeat:repeat-x;
text-align:left;
}
.categoriesright
{
width:4px;
float:left;
height:721px;
background-image:url(../images/earnbonuspoints/categoryright.gif);
background-repeat:no-repeat;
}
.categoriesbottom
{
width:198px;
float:left;
height:6px;
background-image:url(../images/earnbonuspoints/categorybottom.gif);
background-repeat:no-repeat;
}
.categoriestxt
{
padding-top:8px;
padding-left:14px;
}
.categoriesdivider
{
width:190px;
height:8px;
float:left;
}
.categoriesdivider1
{
width:190px;
height:16px;
font-size:0px;
float:left;}

.categoriesdivider2
{
width:190px;
font-size:0px;
height:13px;
float:left;}


.categoriesdiv
{
width:190px;
float:left;
}
.categoriesarrow
{
padding-top:4px;
padding-left:15px;
float:left;
}
.categoriestxtnames
{
width:160px;
height:8px;
float:right;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
text-decoration:none;
}
.categoriestxtnames:hover
{
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
text-decoration:none;
}
.categoriestxtnames:active
{
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
text-decoration:none;
}
.earnbonuspointmiddlearea
{
width:14px;
float:left;
}

.earnbonuspointrightarea
{
width:737px;
height:auto;
float:right;
}
.earnbonuspointright_headerimg
{
width:737px;
height:121px;
float:left;
outline:none;
-moz-outline-style:none;
}
.earnbonuspointright_divider
{
width:737px;
height:9px;
float:left;
}
.earnbonuspointcontent
{
width:737px;
height:auto;
float:right;
text-align:left;
}
.earnbonuspointcontentleft
{
width:514px;
/*height:210px;*/
float:left;
text-align:left;
}

.earnbonuspointcontentleft ul{
	margin-left:15px;
}
.earnbonuscontentlefttitlearea
{
width:514px;
height:20px;
padding:0px 0px 0px 0px;
float:left;
text-align:left;
}
.earnbonuscontentlefttitlelogo
{
width:18px;
height:18px;
float:left;
text-align:left;
outline:none;
-moz-outline-style:none;
}
.earnbonuscontentleftheadingarea
{
width:496px;
padding-top:0px;
float:left;
text-align:left;
background-color:;
}
.earnbonuscontentleftheadingtxt{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
text-decoration:none;
}
.earnbonuspointline
{
width:514px;
background:url(../images/searchbonuspartners/dotterdivider.gif) repeat-x left;
padding:0px 0px 0px 0px;
height:15px;
float:left;
}
.earnbonuspointpara
{
width:504px;
float:left;
text-align:left;
padding-top:8px;
outline:none;
-moz-outline-style:none;
}
.h4
{
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
font-weight:bold;
padding-top:9px;
}
.earnbonuspoint_textnormal
{
text-align:justify;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
padding-top:7px;
line-height:14px;
}
.earnbonuspointsimg
{
vertical-align:bottom;
padding-top:16px;
outline:none;
-moz-outline-style:none;
}
.earnbonuspointcontentmiddle
{
width:15px;
height:210px;
float:left;
text-align:left;
}

.earnbonuspointcontentright{
	float:right;
	text-align:left;
}

.earnbonuspointbelowtable
{
width:737px;
height:384px;
float:left;
}

.contentbelowarea_topline
{
  	background-image: url("../images/earnbonuspoints/calc_top_tab.gif");
    background-repeat: no-repeat;
    float: left;
    height: 23px;
    width: 737px;
}
.contentbelowarea_leftline
{
background-image:url(../images/earnbonuspoints/leftlinebg.png);
background-repeat:no-repeat;
width:16px;
height:342px;
float:left;
}
.contentbelowarea_rightline
{
background-image:url(../images/earnbonuspoints/rightlinebg.png);
background-repeat:no-repeat;
width:17px;
height:342px;
float:right;
}
.contentbelowarea_bottomline
{
    background-image: url("../images/earnbonuspoints/calc_bot_tab.gif");
    background-repeat: no-repeat;
    float: left;
    height: 40px;
    width: 737px;
}
.contentbelowarea_middleline
{
    background-image: url("../images/earnbonuspoints/calc_mid_tab.gif");
    background-repeat: repeat-y;
    float: left;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 0;
    padding-top: 0;
    width: 737px;
    _width: 736px;
}
.bonuspointsbuttonarea
{
width:226px;
height:52px;
float:left;
background-image:url(../images/earnbonuspoints/bonuspointsbutton.gif);
background-repeat:no-repeat;
}
.bonuspointsbuttonleft
{
/*width:129px;
height:52px;*/
width:129px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#666666;
font-weight:bold;
padding-top:20px;
text-align:center
}
.bonuspointsbuttonright
{
/*width:97px;
height:52px;*/
width:97px;
float:left;
color:#0072ab;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
padding-top:21px;
text-align:center;
}
.bonuspointsbuttoncolspacer
{
width:24px;
height:52px;
float:left;
}
.bonuspointsbuttoncolspacer1
{
width:41px;
height:15px;
float:left;
}
.bonuspointsbuttonrowspacer
{
width:704px;
height:33px;
float:left;
}
.bonuspointsbuttonrowspacer1
{
width:41px;
height:15px;
float:left;
}
.bonuspointsbuttonrowspacer2
{
width:41px;
height:23px;
float:left;
}
.bonuspointsbuttonrowspacer3
{
width:41px;
height:23px;
float:left;
}
.bonuspointsbuttonrowspacer4
{
width:704px;
height:20px;
float:left;
}
.submitbutton_bonuspoints
{
width:704px;
height:auto;
float:left;
text-align:left;
}
.bonuspointstxtarea
{
width:704px;
height:auto;
float:left;
text-align:left;
}
.earnbonuspointstext
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#005c86;
font-weight:bold;
line-height:11px;
width:185px;
height:15px;
float:left;
text-align:left;
}
.earnbonuspointstextbox
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#005c86;
font-weight:bold;
line-height:11px;
width:226px;
height:23px;
float:left;
}
.selectmenubg1{
	width:180px;
	height:23px;
	text-align:left;
	background-image:url(../images/earnbonuspoints/searchbonuspartners/citybg.png);
	background-repeat:no-repeat;
	float:left;
	padding:1px 0px 0px 5px;
	outline:none;
}

.selectmenu1{
	vertical-align:middle;
	border:none;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	width:176px;
	text-align:left;
	outline:none;
	-moz-outline-style:none;
	padding-top:1px;
}

.searchbonuspointpartners
{
width:514px;
float:left;
text-align:left;
padding-top:20px;
outline:none;
-moz-outline-style:none;
}


.advancedsearchleftside{
	background:url(../images/searchbonuspartners/leftsidecorner.png) no-repeat;
	float:left;
	height:163px;
	width:8px;
}

.advancedsearchmiddleline{
	background:url(../images/searchbonuspartners/middlebg.png) repeat-x left;
	float:left;
	height:163px;
	width:498px;
}


.advancedsearchrightside{
	background:url(../images/searchbonuspartners/rightsidecorner.png) no-repeat;
	float:left;
	height:163px;
	width:8px;
}

.divider{
	background:;
	height:18px;
	width:514px;
	float:left;
	padding:10px 0px 0px 0px;
	text-align:left;
}

.quicksearch{
	width:514px;
	float:left;
	text-align:left;
	outline:none;
}


.quicksearchleftarea{
	background:url(../images/searchbonuspartners/quicksearchleftbg.png) no-repeat left;
	float:left;
	height:88px;
	width:7px;
}

.quicksearchmiddlearea{
	background:url(../images/searchbonuspartners/quicksearchmiddlearea.png) repeat-x left;
	float:left;
	height:88px;
	width:498px;
}

.quicksearchrightarea{
	background:url(../images/searchbonuspartners/quicksearchrightbg.png) no-repeat left;
	float:left;
	height:88px;
	width:7px;
}

.searcharea{
	padding:15px 0px 0px 0px;
	float:left;
}
/*chnage padding 4 px to 1px*/
.partnername{
	float:left;
	width:294px;
	height:23px;
	background:url(../images/searchbonuspartners/partnername.png) no-repeat;
	padding:1px 0px 0px 11px;
}

.partnernamebox{
	vertical-align:middle;
	border:none;	
	height:18px;
	padding-left:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	outline:none;
	-moz-outline-style:none;
	width:250px;
}

.searchbutton{
	float:right;
	padding:0px 0px 0px 30px;
}

.advancedsearcharea{
	width:411px;
	height:0px;
	float:left;
	text-align:left;
	padding:0px 0px 4px 15px;	
	vertical-align:top;
	_margin-top:-10px;
}

.titlearea{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	font-weight:bold;
	padding:17px 0px 0px 0px;
}

.selectedcolumn{
	width:411px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#006699;
	text-align:left;
	padding:12px 0px 0px 0px;
}

.selectcity{
	float:left;
	width:185px;
}

.middlespace{
	float:left;
	width:41px;
}


.selectecategory{
	float:right;
	width:185px;
}

.selectmenubg{
	width:200px;
	height:23px;
	text-align:left;
	background-image:url(../images/searchbonuspartners/citybg.png);
	background-repeat:no-repeat;
	float:left;
	padding:1px 0px 0px 5px;
	outline:none;
}

.selectmenu{
	vertical-align:middle;
	border:none;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	width:176px;
	text-align:left;
	outline:none;
	-moz-outline-style:none;
}

.divspacer{
	height:20px;
	}
	
.bigdivspacer{
	height:25px;
	float:left;
	}
	
.subcategory{
	padding:0px 0px 7px 0px;
}

.mostpopularpartner
{
width:737px;
height:50px;
float:left;
}

.mostpopularpartnerbottom
{
width:737px;
height:40px;
float:right;
padding:0px 0px 0px 0px;
}

.mostpopularbonus{
	padding:10px 0px 0px 0px;
}

.titleofmostpopular {
    color: #005C86;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    width: 737px;
}

.titleofmostpopular2 {
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 400px;
}

.categoryname {
    color: #353535;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.pagerarea{
	float:right;
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	text-align:left;
	padding:0px 0px 0px 0px;
}

.pagerleftarea{
float:left;
width:111px;
}

.pagerdivider{
	float:left;
	height:0px;
	width:18px;
	text-align:center;
}

.pagerrightarea{
	float:right;
	width:93px;
}

.pager{list-style:none;margin:0;padding:0;font: 11px Arial, Helvetica ; float:right}
.pager li{display:inline;float:left}
.pager a{display:inline;padding:3px;padding-bottom:0px;color:#006699; font-size:11px;font-family:Arial, Helvetica, sans-serif}
.pager a:hover{background:#006699;color:white;text-decoration:none}
.pager .current a,
.pager .current a:hover{background:transparent;color:#666;font-weight:bold; text-decoration:none;padding-left:2px;padding-right:2px}
.pager a.disabled{color:#999;cursor:default;background:transparent;border:none}
.quail{padding:0px 0px; float:right; text-align:right; width:455px;}/* change width 325px to 455px*/


.partnersdetails{	
	width:740px;
	height:auto;
	float:left;
}

.bonuspartnerheader{
	background:url(../images/searchbonuspartners/headerimageofbonuspointpartner.png) no-repeat;
	height:62px;
	width:737px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:left;
	font-weight:bold;
	color:#666;
	}
	

.partnerbounspoint{
	width:138px;
	float:left;
	text-align:center;
	height:40px;
	padding:22px 0px 0px 0px;
	
}

.description{
	width:370px;
	float:left;
	text-align:left;
	height:40px;
	padding:22px 0px 0px 10px;
	
	
}

.bonuspoint{
	width:104px;
	float:left;
	text-align:center;
	height:40px;
	padding:22px 0px 0px 0px;
	
}

.totalpoint{
	width:115px;
	float:left;
	color:#006699;
	text-align:center;
	height:40px;
	padding:22px 0px 0px 0px;
}

.newbonuspointbg{
	float:left;
	width:737px;
	height:85px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:justify;
	color:#666;
	padding:0px 0px 0px 0px;
	background:url(../images/searchbonuspartners/newbgofbonuspoint.png);
}

.newpaulsmith{
	float:left;
	width:737px;
	height:105px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:justify;
	color:#666;
	padding:0px 0px 0px 0px;
	background:url(../images/searchbonuspartners/newbg.png);
}

.mostpartnerspoint{
	width:138px;
	float:left;
	height:54px;
	text-align:center;
	padding:2px 0px 0px 0px;
	
}

.alldetails{
	width:370px;
	height:74px;
	float:left;
	padding:5px 5px 0px 5px;
	
}

.paulsmithalldetails{
	width:370px;
	height:100px;
	float:left;
	padding:5px 5px 0px 5px;
	
}
.morelink{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#009900;
	font-weight:bold;
	text-decoration:none;
}

.newbonuspoint{
	width:104px;
	height:40px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	padding:17px 0px 0px 0px;
	
}

.alltotalpoint{
	width:115px;
	height:49px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#006699;
	text-align:center;
	padding:17px 0px 0px 0px;
}

.bottomofbonuspoint{
	width:737px;
	height:79px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:justify;
	color:#666;
	background:url(../images/searchbonuspartners/bgbottomofbonuspoint.png) no-repeat;
}
.footerarea
{
width:950px;
height:21px;
text-align:center;
}
.footerleft
{
width:950px;
height:21px;
float:left;
}
.footerleftdiv
{
text-align:left;
padding-top:3px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}
.footerlefttxt
{
text-align:left;
color:#006699;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
padding-top:3px;
cursor:pointer;
text-decoration:none;
}
.footerlefttxt:hover
{
text-align:left;
color:#006699;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
padding-top:3px;
text-decoration:none;
}
.footerleftdivider
{
text-align:left;
color:#006699;
padding-top:3px;
padding-left:6px;
padding-right:6px;
}
.footerright
{
width:168px;
height:18px;
float:right;
padding:3px 0px 0px 0px;
}
.footerfacebook
{
width:30px;
height:21px;
float:right;
}
.footertwitter
{
width:20px;
height:21px;
float:right;
}
.footertcopyrighttxt
{
width:950px;
height:63px;
float:left;
color:#666666;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
text-align:left;
vertical-align:top;
padding-top:3px;
}
.footerdividerbottom
{
width:950px;
text-align:center;
height:6px;
}


.luxrysearchbonuspointpartners
{
width:514px;
float:left;
text-align:left;
outline:none;
-moz-outline-style:none;
}

.luxuryadvancedsearcharea{
	width:411px;
	height:0px;
	float:left;
	text-align:left;
	vertical-align:top;
}

.luxuryadvancedsearchleftside{
	float:left;
	height:130px;
	width:0px;
}

.luxuryadvancedsearchmiddleline{
	float:left;
	height:150px;
	width:498px;
	padding:14px 0px 0px 0px;
}


.luxuryadvancedsearchrightside{
	float:left;
	height:150px;
	width:8px;
}

.luxurytitlearea{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	font-weight:normal;
	text-align:justify;
	padding:17px 0px 0px 0px;
}

.luxuryearnbonuspointcontent
{
	
width:737px;
height:auto;
float:right;
text-align:left;
}

.luxurymostpopularpartner
{
width:737px;
height:38px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
text-align:left;
}

.luxurymostpopularpartnerbottom
{
width:737px;
height:30px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
text-align:left;
float:right;
padding:10px 0px 0px 0px;
}

.luxuryearnbonuspointcontentright{
	float:right;
	text-align:left;
	height:215px;
	/*width:208px;*/
	width:208px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	text-align:left;
}

.luxurytightcolumntoparea{
	background:url(../images/earnbonuspoints/luxurycollection/topbg.png) no-repeat;
	height:31px;
	width:208px;
	padding:0px 0px 0px 0px;
}

.luxurytightcolumntopareaingreen{
	color:#66cc66;
	font-weight:bold;
	text-decoration:none;
}

.luxurytightcolumnmiddlearea{
	height:143px;
	width:189px;
	background:url(../images/earnbonuspoints/luxurycollection/middlearea.gif) repeat-y top;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:justify;
	color:#FFFFFF;
	padding:9px 5px 9px 14px;
	_margin-left:-2px;
}

.textdetails{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:justify;
	color:#FFFFFF;
}

.locationarea{
	padding:5px 0px 2px 0px;
}

.brandname{
	background:url(../images/earnbonuspoints/luxurycollection/brandnamebg.png) no-repeat;
	width:188px;
	height:21px;
	padding:0px 0px 0px 5px;
}

.brandnametextbox
{
vertical-align:middle;
border:none;
height:20px;
padding:0px 0px 0px 0px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
outline:none;
-moz-outline-style:none;
width:150px;
}

.submissionarea{
	width:0px;
	height:0px;
	padding:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:left;
	}

.textarea{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	height:10px;
	width:140px;
	padding:11px 0px 0px 0px;	
}

.buttonarea{
	float:left;
	height:13px;
	width:68px;
	padding:8px 0px 0px 0px;
}

.luxurytightcolumnbottomarea{
	background:url(../images/earnbonuspoints/luxurycollection/bottombg.png) no-repeat;
	height:9px;
	width:208px;
}

.linedivider
{
width:167px;
background:url(../images/earnbonuspoints/luxurycollection/dividerline.png) repeat-x left;
padding:0px 0px 0px 0px;
height:10px;
}


.newspecialofferpointbg{
	float:left;
	width:737px;
	height:85px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:justify;
	color:#666;
	padding:0px 0px 0px 0px;
	background:url(../images/searchbonuspartners/newbgofbonuspoint.png);
}

.mostpartnerspointspecial{
	width:138px;
	float:left;
	height:54px;
	text-align:center;
	padding:1px 0px 0px 0px;
	
}

.titleofmostpopularspecial{
	float:left;
	width:280px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	font-size:11px;
	color:#666;
}

.setsmallbgimage{
	background: url("../images/common/75x75.gif") no-repeat scroll center center transparent;
    height: 81px;
    margin: 0 auto;
    width: 85px;
}

.setbigbgimage{
	background: url("../images/common/200x200.gif") no-repeat scroll center center transparent;
    height: 220px;
    margin: 0 auto;
    width: 220px;
}

.faqsdivider
{
	width:15px;
	height:430px;
	float:left;
	text-align:left;
}

.dropdownmenu
{
width:158px;
height:18px;
padding-top:3px;
float:left;
color:#666666;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
background-image:url(../images/faqs/inputboxtxtbg.png);
background-repeat:no-repeat;
vertical-align:middle;
border:none;
outline:none;
-moz-outline-style:none;
}

.luxurytightcolumntopareafaqs{

	background:url(../images/earnbonuspoints/luxurycollection/topbg.png) no-repeat;
	height:15px;
	width:208px;
	padding:8px;
}

.earnbonusdetailscontentright
{
width:208px;
/*height:210px;*/
float:right;
text-align:left;
}

.earnbonusdetailscontent
{
width:737px;
height:auto;
float:left;
text-align:left;
}
.colspacer
{
width:15px;
height:750px;
float:left;
}
.earnbonusdetailspara
{
width:514px;
float:left;
text-align:left;
}
.leftside
{
width:239px;
float:left;
text-align:left;
}
.rightside
{
width:275px;
float:right;
text-align:left;
}
.rightsidetxt
{
line-height:24px;
padding-top:12px;
}
.txtgreencolorbold
{
color:#2aac48;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
text-decoration:underline;
padding-top:10px;
padding-bottom:10px;
}
.textnormal
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
line-height:14px;
text-align:justify;
}
.earnbonusdetailsbelowarea
{
width:514px;
float:left;
height:auto;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
line-height:14px;
text-align:justify;
padding-top:10px;
}
a.bluelink{
	color:#005C86;
} 
.earnbonusdetailheadingimge
{
padding-bottom:14px;
padding-top:4px;}

.earnbonusdetails_formarea{
font-family:Arial, Helvetica, sans-serif;
color:#666666;
width:514px;
height:auto;
float:left;
}
.earnbonusdetails_formareatop{
    background-image: url("../images/earnbonuspoints/loc_top_tab.gif");
    background-repeat: no-repeat;
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: 41px;
    width: 514px;
}
.earnbonusdetails_formarealeft{
font-family:Arial, Helvetica, sans-serif;
color:#666666;
width:7px;
height:332px;
float:left;
background-repeat:no-repeat;
}
.earnbonusdetails_formarearight{
font-family:Arial, Helvetica, sans-serif;
color:#666666;
width:7px;
height:332px;
float:right;
background-repeat:no-repeat;
}
.earnbonusdetails_formareabottom{
    background-image: url("../images/earnbonuspoints/loc_bot_tab.gif");
    background-repeat: no-repeat;
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: 41px;
    margin-top: -25px;
    width: 514px;
}
.earnbonusdetails_formareamiddle{
    background-image: url("../images/earnbonuspoints/loc_mid_tab.gif");
    background-repeat: repeat-y;
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: auto;
    margin-top: -25px;
    width: 514px;
}
.earnbonusdetails_formarealeft1
{
width:256px;
float:left;
height:auto;
padding-left:14px;
vertical-align:top;
}
.earnbonusdetails_formarealeft1txt
{
font-size:12px;
font-weight:bold;
padding-bottom:3px;
padding-top:4px;
}
.formarealeft1txtsmall
{
font-size:11px;
line-height:14px;
padding-left:14px;
width: 300px;
height: 80px;
}

.formarealeft1txtmsg
{
font-size:11px;
line-height:14px;
padding-left:14px;
width: 210px;
height: 30px;
color:red;
}

.earnbonusdetails_formarearight1
{
width:211px;
float:left;
height:230px;
}
.earnbonuspoint_rowspacer
{
height:7px;
}

.formsmallarea
{
width:211px;
float:left;
height:auto;
}

.formfieldtopline
{
width:211px;
height:6px;
float:left;
background-image:url(../images/earnbonuspoints/bonuspartnersdetails/formtopline.png);
background-repeat:no-repeat;
}
.formfieldleftline
{
width:7px;
height:146px;
float:left;
background-image:url(../images/earnbonuspoints/bonuspartnersdetails/formleftline.png);
background-repeat:no-repeat;
}
.formfieldrightline
{
width:7px;
height:146px;
float:right;
background-image:url(../images/earnbonuspoints/bonuspartnersdetails/formrightline.png);
background-repeat:no-repeat;
}
.formfieldbottomline
{
width:211px;
height:6px;
float:left;
background-image:url(../images/earnbonuspoints/bonuspartnersdetails/formbottomline.png);
background-repeat:no-repeat;
}
.formfieldmiddleline
{
width:197px;
height:146px;
float:left;
background-image:url(../images/earnbonuspoints/bonuspartnersdetails/formmiddleline.png);
background-repeat:repeat-x;

}

.formsmallarea333
{
width:197px;
float:left;
height:auto;
}

.namefieldarea
{
width:181px;
float:left;
height:auto;
}
.namefieldtxt
{
width:37px;
float:left;
height:19px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#6c6c6c;
padding-top:5px;
}
.textboxfieldbg
{
width:140px;
float:right;
height:21px;
background-image:url(../images/earnbonuspoints/bonuspartnersdetails/searchbg.gif);
background-repeat:no-repeat;
padding-left:4px;
padding-top:2px;
}
.formrowspacer111
{
width:37px;
float:left;
height:5px;
}
.textboxfieldbg111
{
width:140px;
float:right;
height:5px;
}
.textiagree
{
width:140px;
float:right;
height:21px;
color:#6c6c6c;
padding-left:4px;
padding-top:4px;
font-size:11px;
}
.textboxfield
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#6c6c6c;
width:135px;
height:18px;
border:0px;
padding-top:2px;
}
.categoriestxtnamesactive
{
width:160px;
height:8px;
float:right;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#005c86;
text-decoration:none;
font-weight:bold;
}
.categoriestxtnamesactive:hover
{
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#005c86;
text-decoration:none;
font-weight:bold;
}
.categoriestxtnamesactive:active
{
text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#005c86;
text-decoration:none;
font-weight:bold;
}

.merchanttitle{
	
	font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #666666;
}

.starrating{
	
	font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding-left:5px;
    color:#0072AB;
}

.pointsdetails{
	color:#0072AB;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
}

.offer{
	padding-left:0px;
	color:#0072AB;
	font-family: Arial,Helvetica,sans-serif;
}
.totalpointsbox{
	background-image:url(../images/earnbonuspoints/bonuspartnersdetails/earntotalpoints.gif);
	background-repeat: no-repeat;
	width: 261px;
	/*width: 282px;*/
	height: 60px;
	padding: 7px;
	color:#FFFFFF;
	font-family: Arial,Helvetica,sans-serif;
	/*font-size:14px;*/
	font-size:13px;
	font-weight:bold;
	line-height: 19px;
}
