* 									{ margin: 0; padding: 0; }
body								{ font: 14px thoma, Sans-Serif; } 
#page-wrap							{ width: 980px; margin: auto; } 
a
{ 
	text-decoration: none; 
}
ul
{ 
	list-style: none; 
	float:left;
	/*padding:10px 0 0 0;*/
	/*background:#00A7E6;*/
}
p
{ 
	margin: 5px 0; 
}
/* 
	LEVEL ONE
*/
ul.dropdown 
{ 
	position: relative; 
	/*margin-top:10px;*/margin-top:6px;/*feb18*/
	z-index:999;
}
ul.registerhint
{
	list-style: disc;
}
ul.dropdown li
 {
	float: left; 
	zoom: 1; 
	background: #00A7E6; 
	height:32px;
	background-image:none;
}
ul.dropdown a:hover
{ 
	color: #ffffff; 
}
ul.dropdown a:active 
 { 
	color: #ffffff; 
}
ul.dropdown li a 
{ 
	display: block; 
	padding: 4px 8px; 
	/*border-right: 1px solid #333;*/
	color:#ffffff;/*brgv*/
	font-size:14px;/*brgv*/
}
ul.dropdown li:last-child a 
{ 
	border-right: none;
} /* Doesn't work in IE */
ul.dropdown li.hover,ul.dropdown li:hover
{ 
	/*background: #303133;*/background: transparent; 
	color: #ffffff; 
	position: relative;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:0em;
	border-bottom-left-radius:0em;	
}
ul.dropdown li.hover a              
{ 
	color: #ffffff; 
}


/* 
	LEVEL TWO
*/
ul.dropdown ul
{
	width: 220px; 
	visibility: hidden; 
	position: absolute; 
	top: 100%; 
	left: 0; 
	padding:10px;
	background: #303133; /*brgv*/
	border-bottom-color: #00A7E6;
	border-radius: 5px 5px 5px 5px;
	/*jan02*/
	/*background-image:url("../images/bottomblue.jpg");*/
	/*background-repeat:repeat-x;*/	
	/*background-position:bottom left;*/
	/*background-color:#303133;*/background-color:#fff;
	/*jan02*/
	z-index: 999;
	 border: 1px solid #00A7E6;
	 margin-top:-5px;
	 text-align:left;
}
ul.dropdown ul:before
{
	 content: url(../images/menuarrow.png);
	 height:9px;
	 width:19px;
	 position: absolute;
	 top:-9px;
	 left:19px;
}
ul.dropdown ul ul:before
{
	content: url(../images/menuarrow_l.png);
	 height:19px;
	 width:9px;
	 position: absolute;
	 top:13px;
	 left:-9px;
}
ul.dropdown ul li 					
{ 
	font-weight: normal; 
	color: #000; 
	/*border-bottom: 1px solid #ccc; */
	float: none; 
	height:25px;
	background: #fff; /*brgv*/
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					
{
	border-right: none; 
	width: 100%; 
	display: inline-block; 
	font-size:14px;
	color:#00A7E6 !important;
} 
ul.dropdown ul li a:hover					
{
	width:140px;
	color:#ff6633 !important;
} 
/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					
{ 
	left: 100%; 
	top: 0;
	padding:0 10px 0 10px;
	background-image:none;
}
ul.dropdown li:hover > ul 			
{ 
	visibility: visible;	
}

/*brgv*/
ul.dropdown ul li.hover,ul.dropdown ul li,ul.dropdown ul li:hover
{
	/*background-image:url("../images/lidots.png");*/
	background-repeat:repeat-x;	
	background-position:bottom left;
	padding:3px 0;
}
