@font-face
{
	font-family: handofsean;	
	src: url('../fonts/hand-of-sean.ttf');
	
}
@font-face
{
	font-family: Arial Rounded MT;	
	src: url('../fonts/arial-rounded-mt.ttf');
}
img
{
	border:0px;
}
body
{
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
	float:left;
	width:100%;
	margin:0px;
}
.skilloverlay
{
	float:left;
	position:fixed;
	z-index:99998;
	background-image:url(../images/transpbg.png);
	top:0px;
	left:0xp;
	opacity:0;
}
#hiddeniframe
{
	position:absolute;
	top:0px;
	left:0px;
	z-index:99997;
	opacity:0;
	filter: alpha(opacity=0);
}
.skillbox
{
	width:auto;
	height:auto;
	background-image:url("../loaderimg/ajax-loader3.gif");
	background-position:center center;
	background-repeat:no-repeat;
	position:fixed;
	z-index:999999;
	border-radius:10px;
	padding:0px;
	opacity:0;
	filter: alpha(opacity=0);
	background-color: #fff;
	border:10px solid #666;
}
.innerskillbox
{
	background-color:#ECECEC;
	border-radius:5px;
	padding:0px;
	width:auto;
	height:auto;
	float:left;
	position: relative;
	overflow:hidden;
	/*background-image:url(../loaderimg/ajax-loader3.gif);
    background-position: center;
    background-repeat: no-repeat;*/
}
.innerskillbox iframe
{
	border:0px;
	height: 170px;
    width: 100%;
    visibility: visible;	
    background-image:url("../loaderimg/ajax-loader3.gif");
    background-position: center;
    background-repeat: no-repeat;
    border-radius:5px;
	float:left;
}
.skillbox .cancel
{
	display: block;
    position: absolute;
    right: 15px;
    top:15px;
    z-index: 1;
}
.skillbox .cancel span#cancelskill
{
	float:right;
	color:#19558D;
	cursor: pointer;
	background: url("../images/WhiteClose.png") no-repeat scroll center center transparent;
    height: 26px;
    width: 26px;
}
/*.innerskillbox .cancel span#cancelskill:hover
{
	text-decoration: underline;
}*/
.innerskillbox .Createacc
{
	font-weight: bold;
	color:#333;
	width:95%;
	float:left;
	text-align:left;
	margin-bottom:5px;
}
.skilltabholdr
{
	float:left;
	width:100%;
	/*border-bottom:1px solid #A7ABAC;*/
	color:#1CA3E7;
	font-weight: bold;
	background-color:#f0f0f0;
}
.skilltabholdr .skilltab
{
	cursor: pointer;
    display: block;
    float: left;
    padding: 4px 20px;
    border-radius: 5px 5px 0 0;
}
.skilltabholdr .skilltab:hover
{
	background-color:#f0f0f0;
}
.skilltabholdr .skilltabactive,.skilltabholdr .skilltabactive:hover
{
	background-color:#B9BBBC;
	color:#333;
}
/*innerpage*/
.pagebox
{
	width:100%;
	height:auto;
	float:left;
}
.pagebox form
{
	float:left;
	/*width:410px;*/
	height:auto;
	margin:0px;
}
.pagebox .fields
{
	width:100%;
	float:left;
	color:#666;
	font-size: 14px;
}
.pagebox .fields h2
{
	font-size:14px;
	color:#333;
}
.pagebox .fields .mandfld
{
	color:#FF6633;
}
.pagebox .fields .stepcolsmall1
{
    float: left;
    font-size: 14px;
    height: auto;
    width: 26%;
    *width:107px;
}
.pagebox .fields .holdr
{
    float: left;
    height: auto;
    text-align: left;
    width: 74%;
}
.pagebox .fields i
{
	font-size:12px;
}
.pagebox .textfld
{
	width:150px;
}
.pagebox input[type="text"],.pagebox input[type="password"]
{
	paddin:3px;
	border:1px solid #999;
    padding: 3px;
    color:#000;
    border-radius: 5px;
}
.pagebox .errorfld 
{
    color: #FF6633;
    height: 15px;
    font-size:12px;
    padding: 0 0 2px;
}
.pagebox input[type="checkbox"]
{
	height:15px;
	width:15px;
	float:left;
}
.pagebox label 
{
	float: left;
    font-size: 10px;
    margin: 0 0 0 5px;
    width: 165px;
}
.pagebox .submit_button
{
	background-color:#00A7E6;
    border: 2px solid #00A7E6;
    border-radius:5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
}
.pagebox .submit_button:hover
{
	background-color:#676767;
}
.pagebox .fields .loginlink {
    color: #00A7E6;
    float: left;
    font-size: 11px;
    line-height: 15px;
    margin: 5px 0 0;
    padding: 0 0 0 5px;
    text-align: right;
    text-decoration: none;
}
.pagebox .fields .fbconnect
{
	cursor:pointer;
	height:23px;
}
#nopermission {
    color: #1CA3E7;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    margin-top: 5px;
    text-decoration: none;
    width: 100%;
}
.pagebox .fields #nopermission:hover
{
	text-decoration: underline;
	cursor:pointer;
}
.pagebox .fields a:hover
{
	color:#FF6633;
}
.fbclassforlogin {
    color: #00A7E6;
    float: left;
    font-family: handofsean,handofsean_IE;
    font-size: 14px;
    position: relative;
}