.add_upd_left{
	clear:left;
	float: left;
	text-align: left;
	width: 48%;
}

.add_upd_left1{
	clear:left;
	float: left;
	text-align: left;
	width: 20%;
}

.add_upd_right{
	float: left;
	text-align: left;
	width: 50%;
}

.clear_fix{
	clear:both;
	height:1px;
}

.add_upd_leftwidth{
	clear:left;
	float: left;
	text-align: left;
	width: 20%;
  _width: 28%;
}

div.stdSection{
	color: #FFFFFF;
	font-family: Tahoma,Verdana,Arial;
	font-size: 8pt;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
}

div.stdSectionHeader{
	background-color: #0071ad;
	color: #FFFFFF;
	height: 18px;
	padding: 5px 0 1px 5px;
}

div.stdTableBorder{
	border: 1px solid #0071ad;
	padding: 1px;
	position: relative;
  	*width:99%;
}

.add_row{
	/*clear: both;*/
	margin-left: 55px;
	min-height: 25px;
	padding-top: 10px;
}

input.stdButton{
	background-color: #0071ad;
	border: 1px solid #CBC7C1;
	color: #FFFFFF;
	font-family: Tahoma,Verdana,Arial;
	font-size: 8pt;
	font-weight: normal;
	width: 80px;
}

.mandatory_field{
	text-align:left;
	float :left;
	color : red;
}

.add_footer{
	padding-left: 2%;
}

.error_message{
	padding-left: 5px;
	color: red;
	margin-left: 138px;
}

.error_message1{
	color: red;
}


.grid-row1, .grid-row2, .grid-headrow{
	width:800px;
	clear:both;
	background:#fff;
	margin: 0px 0px 0px 10px;
	border-color:#000;
	border-width:1px;
	border-top-width:0px;
	padding-top: 3px;	
}

.grid-headrow{
	background: #00a7e6;
	border-top-width: 1px;
	width: 97%;
	min-height: 24px;
}

.grid-row1, .grid-row2, .user-headrow{
	min-height: 33px;
	width: 97%;
	clear: both;
	background: #fff;
	margin: 0px 0px 0px 19px;
	border-width: 1px;
	border-top-width: 0px;
}
.grid-row2{
	background-color: #EFFAFF;
}
.grid-column1{
	width: 20%;
	float: left;
	border: none;
	align: left;
	color: #000000;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	word-wrap: break-word;
	overflow: hidden;
}

.grid-column2{
	width: 20%;
	float: left;
	border: none;
	align: left;
	color: white;
	margin: 1px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	word-wrap: break-word;
	overflow: auto;
	padding-top: 3px;
}

.pageTopLinkWrapper{
	float: right;
	margin: 15px 10px 10px 10px;
}

.pageTopLink{
	float: left;
	cursor: pointer;
	color: #0000ee;
	text-decoration: underline;
	margin: 0px 0px 0px 6px;
}

.add_header, add_footer{
	
	display: block;
	margin: 10px 0px 10px 55px;
	width: 50%;
}
.left_content{
	float:left;
	width:48%;
}
.right_content{
	float:left;
	width:48%;
}
.clearfix{
	clear:both;
	height:0px;
	overflow:hidden;
}
.container{
	padding-left:50px;
  width:98%;
}
.container1{
	padding-left:20px;
	*width:99%;
	
}
.add_row_right{
	float:left;
	/*border: 1px solid;*/
	width: 21%;
}

.add_row_right_avg_cust{
	float:left;
	width: 21%;
}

.add_row_left{
	float:left;
	width: 23%;
}

.right_content_two_pane{
	height: 100%;
	width: 95%;
/*border: 1px solid;*/
}

/**Sort Image**/
.sortUp{
	padding-bottom:		5px;
	background : 		url(../images/sort_up.png) right center no-repeat;
	width:				10px;
	height:				10px;
}

.sortDown{
	padding-bottom:		3px;
	background : 		url(../images/sort_down.png) right center no-repeat;
	width:				10px;
	height:				10px;
}
.sortNull{
	display:none;
}
.blank_block{
	float:left;
	width: 9%;
}

.datepicker{
 margin-right: 5px;
 width: 71px;
}

.input_box{
  width: 70%;
}