<?php $authUserNamespace = new Zend_Session_Namespace("Bankoffercms_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
		// General options
		mode : "textareas",
		theme : "advanced",
		plugins : "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",
		//plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,advlist",
		
		// Theme options
		theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
		theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
		theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,advhr,|,print,|,ltr,rtl,|,fullscreen",
		theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : false,
		relative_urls : false,

		// Example content CSS (should be your site CSS)
		content_css : "../css/content.css",

		// Drop lists for link/image/media/template dialogs
		template_external_list_url : "../js/template_list.js",
		external_link_list_url : "../js/link_list.js",
		external_image_list_url : "../js/image_list.js",
		media_external_list_url : "../js/media_list.js",

		// Style formats
		style_formats : [
			{title : 'Bold text', inline : 'b'},
			{title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
			{title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
			{title : 'Example 1', inline : 'span', classes : 'example1'},
			{title : 'Example 2', inline : 'span', classes : 'example2'},
			{title : 'Table styles'},
			{title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
		],

		formats : {
			alignleft : {selector : 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes : 'left'},
			aligncenter : {selector : 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes : 'center'},
			alignright : {selector : 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes : 'right'},
			alignfull : {selector : 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes : 'full'},
			bold : {inline : 'span', 'classes' : 'bold'},
			italic : {inline : 'span', 'classes' : 'italic'},
			underline : {inline : 'span', 'classes' : 'underline', exact : true},
			strikethrough : {inline : 'del'}
		},

		// Replace values for the template plugin
		template_replace_values : {
			username : "Some User",
			staffid : "991234"
		}
	});
</script>
<!-- /TinyMCE -->

<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/ckeditor/ckeditor.js"></script>
<link type="text/css" src="<?php echo BASEPATH; ?>/js/ckeditor/contents.css"></link>

<script type="text/javascript">


		function validation(){
			var PageDescriptionText = tinyMCE.get('PageDescription').getContent();
			//PageDescriptionText = stripHTML(PageDescriptionText);
			document.forms["add_page_form"].submit();
			if(PageDescriptionText == ""){
				jAlert("Please Enter Text In Editor");
			}
			else{
				document.forms["add_page_form"].submit();
			}
		
		}
		function stripHTML(oldString) {

			   var newString = "";
			   var inTag = false;
			   for(var i = 0; i < oldString.length; i++) {
			   
			        if(oldString.charAt(i) == '<') inTag = true;
			        if(oldString.charAt(i) == '>') {
			              if(oldString.charAt(i+1)=="<")
			              {
			              		//dont do anything
				}
				else
				{
					inTag = false;
					i++;
				}
			        }
			   
			        if(!inTag) newString += oldString.charAt(i);

			   }

			   return newString;
			}

</script>

<?php
	
	if(isset($this->page->category_id) && $this->page->category_id!=""){

		$categoryIdArray = explode(",",$this->page->category_id);
	}

?>

<div id="dynamic_content" align="left">
	<form method="post" action="" name="add_page_form" id="add_page_form" enctype="multipart/form-data">
		<div class="set_header_width_school" align="left" style="width:730px;margin-left:20px;">
			<div>
				<div class="set_row_div_width">
					<div class="header_row_merchant" style="width:95px;"><span class="mendatory">*</span>Page Content</div>
					<div class="header_row_merchant">
						<textarea name="PageDescription" id="PageDescription" errortag="Page Content">
							<?php if(isset($this->page->page_description) && $this->page->page_description!="") echo $this->page->page_description;?>
						</textarea>
<!--						<script type="text/javascript">-->
<!--							CKEDITOR.replace('PageDescription',{-->
<!--								extraPlugins : 'uicolor',-->
<!--								toolbar : [[ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink' ],-->
<!--								           ['TextColor','BGColor'],['Styles','Format','Font','FontSize']],-->
<!--								height : 150,-->
<!--								width : 450-->
<!--							});-->
<!--						</script>-->
						<div style="height:5px;">&nbsp;</div>
						<div class="message" id="PageDescription_error">&nbsp;</div>
					</div>
				</div>
			</div>
			<div class="clear_fix">&nbsp;</div>
			<div align="center">
				<div>
					<input type="submit" class="stdButton" value="Submit" name="save" id="save" onclick="validation1();"/>&nbsp;&nbsp;
					<input type="button" class="stdButton" name="cancel" id="cancel" onclick="window.location.href='<?php echo BASEPATH?>/page'" value="Cancel">
				</div>
			</div>
			<br/>
		</div>
	</form>
</div>