
.mega {
    background: none repeat scroll 0 0 #2F3133;
    border-bottom: 7px solid #0B79B9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    visibility: hidden;
    width: 500px;
}

.mega .column {
    float: left;
    width: 49%;
}

.mega .column1 {
    float: left;
    width: 49%;
}

.mega a {
    color: #797979;
    text-decoration: none;
}
.mega a:hover {
    color: #999999;
    text-decoration: none;
}

.mega .column ul {
    list-style: none outside none;
    margin: 0 0 0 5px;
    padding: 0;
}
.mega .column ul li {
    margin-bottom: 12px;
    width: 120px;
}
.mega .ulmenu {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.mega .ulmenu a {
    border-bottom: 1px solid gray;
    color: #FFFFFF;
    display: block;
    padding: 5px;
}
.mega .ulmenu a:hover {
    background: none repeat scroll 0 0 lightyellow;
}
.solidblocktheme {
    padding: 0;
}
.solidblocktheme p, .solidblocktheme .column {
    font-size: 13px;
    padding: 18px;
    width: auto;
}
.solidblockmenu li {
    display: inline;
}
.solidblockmenu li a {
    border-right: 1px solid white;
    color: white;
    float: left;
    padding: 9px 11px;
    text-decoration: none;
}
.solidblockmenu li a:visited {
    color: white;
}
.solidblockmenu li a:hover, .solidblockmenu li a.selected {
    background: url("blockactive.gif") repeat-x scroll center center transparent;
    color: white;
}


#menu .main {
    margin: 0 auto;
    width: 980px;
}

#menu .main ul {
    display: inline;
    margin-top: 0;
    top: 0;
}

#menu .main ul li {
    /*background: url("../images/main_menu_normal.jpg") repeat-x scroll 0 0 transparent;*/ /*comment by varun 25-4-2012*/
    border: medium none;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: "Helvetica LT Std",Tahoma,Arial;
    font-size: 16px;
    list-style: none outside none;
    margin-right: 1px;
}

#menu .main ul li a {
    /*background: url("../images/main_menu_normal.jpg") repeat-x scroll 0 0 transparent;*/ /*comment by varun 25-4-2012*/
    border: medium none;
    color: #FFFFFF;
    float: left;
    font-family: "Helvetica LT Std",Tahoma,Arial;
    font-size: 16px;
    margin-right: 1px;
padding:7px 10px 10px 10px;
    text-decoration: none;
}
#menu .main ul li a:hover {
    background: url("../images/main_menu_over.jpg") repeat-x scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    float: left;
    font-family: "Helvetica LT Std",Tahoma,Arial;
    font-size: 16px;
    margin-right: 1px;
	padding:7px 10px 10px 10px;
    text-decoration: none;
}
#menu .main ul li a img {
    border: medium none;
    outline: medium none;
}

.dotted_border {
	width:100%; float:left; border-bottom:1px dotted #0b79b9; margin-top:5px;
}