<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
	<html>
<head>
<title>About Skillzot | Helps You Find Amazing Classes & Teachers in Mumbai</title>
<meta name="description" content="Skillzot helps you find & contact the best classes & personal teachers in Mumbai to learn music, dance, yoga, art, DJing & many other cool, fun skills.">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	
	<script type="text/javascript">
	function call_close(){
		document.getElementById("CityName").value="City Name";
		document.getElementById("Email").value="Email";
	}
	function validateForm()
	{
		var city = document.getElementById("CityName").value;
		var email = document.getElementById("Email").value;
		
		if(city == "City Name" && email == "Email")
		{
				document.getElementById("CityName_error").innerHTML="";
				document.getElementById("CityName1_error").innerHTML="";
				document.getElementById("CityName_error").innerHTML = "Please enter both city and email.";
				
		        return false;
		}
		if(city == "City Name" && email != "Email"){
			var x = document.getElementById("Email").value;
			var atpos = x.indexOf("@");
			var dotpos = x.lastIndexOf(".");
			if (atpos<1 || dotpos<atpos+2 || (dotpos+2) >=x.length)
			{
			 	document.getElementById("CityName_error").innerHTML = "Oops! That seems to be an invalid email.";
			 	document.getElementById("CityName1_error").innerHTML = "Please enter your city name.";
			 	return false;
			}else{
				if(city != "City Name"){
					document.getElementById("CityName_error").innerHTML = "";
					$.ajax({
						url:"<?php echo BASEPATH;?>/commingsoon/comminglight",
						type:'post',
						data:'&CityName='+city+'&Email='+email,
						async: false,
						success: function(response){
							if(response!="" || response!=null){
								var jsonObject = eval ('('+response+')');
								if(jsonObject=="success")
								{
									Mediabox.open('<?php echo BASEPATH;?>/commingsoon/almostfinish','','660 520');
								}
							}
						}
					});
				}
			}
		}
		if(city == "City Name")
		{
			document.getElementById("CityName_error").innerHTML="";
			document.getElementById("CityName1_error").innerHTML="";
	        document.getElementById("CityName_error").innerHTML = "Please enter your city name.";
	        
	        return false;
		}
		if(email == "Email"){
			document.getElementById("CityName_error").innerHTML="";
			document.getElementById("CityName1_error").innerHTML="";
			 document.getElementById("CityName_error").innerHTML = "Please enter your email.";
			 return false;
		}
		
		
		if(email != "Email"){
			var x = document.getElementById("Email").value;
			var atpos = x.indexOf("@");
			var dotpos = x.lastIndexOf(".");
			if (atpos<1 || dotpos<atpos+2 || (dotpos+2) >=x.length)
			{
				document.getElementById("CityName_error").innerHTML="";
				document.getElementById("CityName1_error").innerHTML="";
			 	document.getElementById("CityName_error").innerHTML = "Oops! That seems to be an invalid email.";
			 	return false;
				
			}
			else{
				
				document.getElementById("CityName_error").innerHTML = "";
				$.ajax({
					url:"<?php echo BASEPATH;?>/commingsoon/comminglight",
					type:'post',
					data:'&CityName='+city+'&Email='+email,
					async: false,
					success: function(response){
						if(response!="" || response!=null){
							var jsonObject = eval ('('+response+')');
							if(jsonObject=="success")
							{
								Mediabox.open('<?php echo BASEPATH;?>/commingsoon/almostfinish','','660 520');
							}
						}
					}
				});
			
			}
		}
		
	}
	function call_fb()
	{
		//window.location.href='http://www.facebook.com/pages/Skillzot/393253524025786';
		window.open('http:\/\/www.facebook.com/pages/Skillzot/393253524025786');
	}
	function call_twitter()
	{
		//window.location.href='https://twitter.com/Skillzot';
		window.open('https:\/\/twitter.com/Skillzot');
	}
				
		</script>
	
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotpronto.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/wearehiringcss.css"/>
<style>
.highlightsocial:hover
{
	color:#ff6633 !important;
}
#content
{
	margin:0px !important;
}
.mainbox
{
	width:980px !important;
}
.question,.handofseanbrown,.errorcls1
{
	color:#00A7E6;
}
.answer
{
	color:#333333;
	font-size:14px;
	width:400px;
}
#social
{
    background-image:url("<?php echo BASEPATH;?>/images/followus.png");
    margin-top:105px;
}
#social ul
{
    margin: 65px 0 0 10px;
    padding-right: 0;
}
.popular_bar
{
	/*font-family:Tahoma;*/
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;/*brgv 26-4*/
}
.popular_bar
{
    background: url("<?php echo BASEPATH;?>/images/popular_bar_bgNew.jpg") repeat-x scroll 0 0 transparent;
    border:none;
}
#menu .main {
    height: 44px;
    margin: 0 auto;
    width: 960px;
}
a.highlightsocial
{
	*color: #00A7E6 !important;
    *font-weight: bold !important;
    *text-decoration: underline !important;
}
</style>
</head>
<body>
<div class="mainbox" style="width:960px;float:none;margin:auto;">
<form action="" name="contacttutor" id="contacttutor" method="post" enctype="multipart/form-data">
	</form>
	<div class="vbigheader">
		<h1>About Skillzot</h1>
		<hr style="margin-top: 4px;">
	</div>
	<div class="clear"></div>
	<div class="leftalign" style="width:733px;">
		<div class="question">What's Skillzot?</div>
		<div class="answer">
			<p><span class="handofseanbrown">Skillzot.com</span> is a young, energetic and mad startup, <span class=handofseanbrown>here to help you nurture your talent or passion so that you can find joy in what you do best.</span></p>
			<p>We all have unique talents - something which sets
us apart, something which makes us special. </p>
			<p>Do you think you'd be a fantastic dancer? Do you want
to give skate-boarding a shot? Or are you a computer engineer by day but a wannabe archer like Katniss in Hunger Games? 
</p>
			<p>With our help, you won't need to cut off your thumb,
like Eklavya had to in Mahabharat, for good teachers
who can help you hone your specific talent.</p>
		</div>
		<img style="float:right; margin-right: 233px;margin-top: 110px;" src="<?php echo BASEPATH; ?>/images/about-skillzot-what-is-skillzot-image.jpg" alt="about-skillzot-what-is-skillzot-image" />
	</div>
	<div class="clear"></div>
	<div class="rightalign" style="width:616px;">
		<div class="question" style="float:left;">How can Skillzot help?</div>
		<div class="answer">
			<p><span class="handofseanbrown">Skillzot helps you find the best to learn from.</span></p>
			<p>Our mission is to help you find credible teachers or classes, <br/>in your locality (or wherever is convenient for you), to help <br/> you nurture any talent/skill/passion you may have or want to discover (music, dance, painting, sports, foreign languages... you name it).</p>
			<p>You'll get detailed information about these teachers/classes <br/>so that you can take informed decisions about who you <br/>want to learn from including locality based searches.<img style="float:right; margin-right: -115px;margin-top: -33px;"src="<?php echo BASEPATH;?>/images/about-skillzot-how-can-skillzot-help-image.jpg" /></p>
			<p>And, eventually, you will be able to connect with those who have similar interests so that you can vibe with people you have lots in common with.</p>
		</div>
	</div>
	<div class="clear"></div>
	<div class="leftalign" style="width:633px;">
	<div class="clear"></div>
		<div class="question">Why are we doing this?</div>
		<div class="answer">
			<p>So, why are we taking on such a huge challenge? It's because we believe that some of your <span class="handofseanbrown">happiest and most fun moments are when you spend time doing activities you love...and we understand that.</span></p>
			<p>So we're here simply to get you off the mark: i.e. get you off to the right start on your own personal journey of self-discovery.<img style="float:right;    margin-right: -50px;margin-top: 23px;"height="105" width="65" src="<?php echo BASEPATH; ?>/images/about-skillzot-why-are-we-doing-this-image.jpg" alt="about-skillzot-why-are-we-doing-this-image" /> </p>
			<p>Owned by M.A.D. Online Pvt. Ltd., Skillzot.com has a super cool team of dedicated professionals as well as advisors, all of whom provide invaluable inputs so that you can make the most of this opportunity.</p>
			<p>And of course we won't be able to do this without your support or inputs. Here's where we not so subtlety <br/>request you to help us help you by stalking us on <a href="#" onclick="javascript:call_fb()" class="highlightsocial">facebook</a> and <a href="#" onclick="javascript:call_twitter();" class="highlightsocial">twitter</a> </p>
		</div>
	</div>
	<div class="botdiv" style="margin-top: 20px;margin-bottom: 20px;">
			<div style="float:rigth;width:35%;" class="headofseanfontclass">
				<p class="question" style="font-size:17px;font-weight:normal;">Here's to nurturing your talent!</p>
				<p class="answer">Cheers,</p>
				<p class="answer">Team Skillzot!</p>
			</div>
		</div>
</div>
</body>
</html>