<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
<title>FAQs | Skillzot</title>
<meta name="description" content="Any questions about Skillzot & how it works.">
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<script>
function contactLightBox2(getid2)
{
	Mediabox.open('<?php echo BASEPATH; ?>/login/signup/tutorid/'+getid2,'','680 450');
	
}
function setselect(id)
{
	var selectaray = new Array('forstudent','forteacher');
		for(i=0;i<selectaray.length;i++)
		{
			if(id == selectaray[i])
			{
				$('#'+id).removeClass("passivetabfaq");
				$('#'+id).addClass("activetabfaq");
			}
			else
			{
				$('#'+selectaray[i]).removeClass("activetabfaq");
				$('#'+selectaray[i]).addClass("passivetabfaq");
			}
		}
		if(id=="forteacher"){
			//alert('in');
			document.getElementById("faqstudentdiv").style.display = "none";
			document.getElementById("faqteacherdiv").style.display = "block";
		
		}
		if(id=="forstudent"){
			document.getElementById("faqstudentdiv").style.display = "block";
			document.getElementById("faqteacherdiv").style.display = "none";
			
			
		}
}
$(document).ready(function(){

	$("span.faqanswer").hide();
	$('.faqquestion').click(function(){
		if($(this).next('.faqanswer').css('display') != 'block')
		{
			$("span.faqanswer").slideUp();
			$(this).next('.faqanswer').slideDown();
		}
		else
		{
			$(this).next('.faqanswer').slideUp();
		}
	});		
});
		
</script>
<style>
.btnholder span.activetabfaq,.btnholder span.passivetabfaq
{
	background-image:none;
	/*padding: 10px 30px 0 30px !important;*/padding: 5px 7px !important;
	/*height:27px !important;*/height: 19px !important;
	float:left;
	margin:0 0 15px 0;
	border: 2px solid #00A7E6;
	border-radius:5px;
	width:288px;
	/*text-align:center;*/text-align:left;
	font-weight:bold;
}
.btnholder span.passivetabfaq
{
	/*background-color:#00A7E6;*/background-color: transparent;
	/*color: #ffffff;*/color: #AAA5A4;
	cursor:pointer;
	border-color:transparent;
}
.btnholder span.passivetabfaq:hover
{
	/*background-color:#00A7E6;*/background-color: #f0f0f0;
	border-color: #f0f0f0;
}
.btnholder span.activetabfaq
{
	/*background-color:#676767;*/background-color: #00A7E6;
	/*color: #00A7E6;*/ color: #FFFFFF;
	cursor:default;
	border-color:#fff;
}
.adot{
	list-style: disk;
	width:100%;
    padding-left:15px;
}
.adotli{
	width:94%;
	list-style: circle;
	 margin-left:15px;
}
#social ul
{
    margin: 65px 0 0 10px;
    padding-right: 0;
}
.tutorcontentholder
{
	background:#ffffff;
}
.teamfaqcontent
{
	font-size:14px;
	line-height:18px;
}
span.faqquestion
{
	cursor:pointer;
}
.btnholder span
{
	padding: 10px 0 0 33px !important;
	height:34px !important;
}
</style>
<!--[if IE]>
<style type="text/css" media="screen">

@font-face{
font-family: 'handofsean';
src: url('<?php echo BASEPATH; ?>/fonts/hand-of-sean.eot');
}
</style>
<![endif]-->
<!--[if IE 7]>
<style type="text/css" media="screen">
.btnholder
{
	margin-bottom:20px;
}
</style>
<![endif]-->
</head>
<body>
<div style="width:980px;float:left;">
	<div class="mainbox" style="width:980px;float:left;margin:0;">
				<div class="vbigheader" style="width:980px;">
					<h1>How It Works </h1>
					<hr style="margin-top: 4px;">
				</div>
				<div class="teamfaqcontent">
					<p>Do you think you'd be a fantastic dancer. Do you want to give DJing a shot or even become a super cool archer?</p> 
					<p>Skillzot.com is your one stop source to help you discover and connect with experts in your locality who can help you learn any skill you want to master to nurture your talent or passion.</p>
				</div>
				<div class="teamfaqcontent">
					<div class="teamfaqsubbox">
						<h1>Join</h1>
						<img src="<?php echo BASEPATH; ?>/images/skillzot-how-it-works-image1.jpg" alt="skillzot-how-it-works-image1"/>
						<p style="width: 152px;">It's free! just include your basic details and location</p>
					</div>
					<div class="teamfaqsubbox">
						<h1>Send a message</h1>
						<img src="<?php echo BASEPATH; ?>/images/skillzot-how-it-works-image2.jpg" alt="skillzot-how-it-works-image2"/>
						<p style="width: 180px;">Shortlist and send messages to a selection of recommended teachers in your locality.</p>
					</div>
					<div class="teamfaqsubboxmid">
						<h1>Connect with teacher</h1>
						<img src="<?php echo BASEPATH; ?>/images/skillzot-how-it-works-image3.jpg" alt="skillzot-how-it-works-image3"/>
						<p style="width: 200px;">Choose the one you like the most and start nurturing your talent.</p>
					</div>
				</div>
				
				<div id="showfaqs" class="vbigheader" style="width:980px;">
					<h1>FAQs</h1>
					<hr style="margin-top: 3px;">
				</div>
				<div  class="btnholder">
					<span class="activetabfaq" id="forstudent" onclick="setselect(this.id);">For Parents & Students</span>
					<div class="clear">&nbsp;</div>
					<span class="passivetabfaq" id="forteacher" onclick="setselect(this.id);">For Teachers</span>
				</div>
				
				<div id="faqstudentdiv" class="teamfaqsection">
					<strong style="color:#00A7E6;font-size:22px;margin-bottom:13px;">For parents and students</strong>
					<strong>General Questions</strong>
					<span id="stdquestion1" class="faqquestion">What is Skillzot?</span>
					<span id="stdanswer1" class="faqanswer">Skillzot is an online platform that helps u find and contact the best teachers or classes who can teach you any skill-set you need/want to learn.</span>
					
					<span id="stdquestion2" class="faqquestion">Is Skillzot a teaching agency to help learn any talent or skill?</span>
					<span id="stdanswer2" class="faqanswer">No, Skillzot is not a teaching agency. It helps you find and select the best teachers/classes for a skill you want to learn, by giving you an abundant choice of options with detailed and credible information to decide from.</span>
					
					<span id="stdquestion3" class="faqquestion">Where is Skillzot available?</span>
					<span id="stdanswer3" class="faqanswer">Skillzot is currently available in Mumbai. Very soon we will be expanding to all the key metros of India and one day hope to help anyone from anywhere.</span>
					
					<span id="stdquestion4" class="faqquestion">What are the skills for which I can find profiles of teachers/classes for on Skillzot?</span>
					<span id="stdanswer4" class="faqanswer">The list of skills for which we currently have teachers and/or classes available are listed here.We are adding profiles everyday and in case if what you're looking for isn't currently available, we are extremely sorry...<p>However, if you could fill in these 4 fields (name, skill, city, email), we will get back to you as soon as we add the same to our database.</p></span>
					
					<span id="stdquestion5" class="faqquestion">Can I find profiles of teachers/classes for academic subjects as well on Skillzot?</span>
					<span id="stdanswer5" class="faqanswer">Currently we're ensuring that we create an exhaustive database for non-academic skills only so that we can service one core area excellently.<p>However, in due course of time if we do see a growing need for the same and we are confident that we can service the need, we will surely explore the option. </p></span>
					
					<span id="stdquestion6" class="faqquestion">Do you screen the profiles uploaded?</span>
					<span id="stdanswer6" class="faqanswer">Yes, Skillzot runs an internal screening on all the profiles uploaded and has a feedback mechanism process where if there is any comment/question on the authenticity of the details, the profile will be removed unless proven otherwise.</span>
					
					<span id="stdquestion7" class="faqquestion">What are the benefits of finding teachers or classes through Skillzot?</span>
					<span id="stdanswer7" class="faqanswer">And we thought you'd never ask. The way we see it, right now there are 3 key benefits -
					<ul class="adot" style="padding-left: 0px;">
						<li style="margin-top:10px;">1) Detailed and credible options to choose from at your fingertips with the help of
							<ul style="width: 100%;padding: 0 0 0 15px;">
								<li class="adotli">Exhaustive information on each profile (some even have videos)</li>
								<li class="adotli">Skillzot 'recommendations' through feedback from students, helps you select the best</li>
							</ul>
						</li>
						<li>2) Locality based search</li>
						<li style="margin-bottom:15px;">3) Online marketing and promotion for you.</li>
					</ul>
					</span>
					
					<strong >Process related</strong>
					<span id="stdquestion8" class="faqquestion">How do I book a teacher?</span>
					<span id="stdanswer8" class="faqanswer">Once you've found a teacher/class that fits your requirement, here's how she/he can be booked.
						<ul class="adotli">
						<li class="adotli">Sign Up or Log In with Skillzot (won't take you more that 30secs and we need to keep a record of communication to liaise with the teacher/class)</li>
						<li class="adotli">Once you sign up, you can then send an in-mail with details of your requirement or speak to the teacher/class for any queries</li>
						<li class="adotli" style="margin-bottom:15px;">You can then simply click on the enroll icon on the specific course you would like to take up to make the payment for the same and start your classes from whenever is listed or you have mutually decided with the teacher/class.</li>
<!--						<li>You can the communicate with the teacher directly to close out the following-->
<!--							<ul style="width: 100%;">-->
<!--								<li class="adotli">When you want to start</li>-->
<!--								<li class="adotli">Final timings & days</li>-->
<!--								<li class="adotli">Queries on the course</li>-->
<!--							</ul>-->
<!--						</li>-->
<!--						<li>The fees as displayed is not negotiable***</li>-->
<!--						<li>Once the parameters are closed out, the teacher will fill in the details through the Skillzot system & we will send the same for your approval</li>-->
<!--						<li>Only once you approve the same, will we send a go ahead for the teacher and the lessons can begin</li>-->
						</ul>
					</span>
					
<!--					<span id="stdquestion9" class="faqquestion">What if I've made an incorrect judgment in choosing the teacher?</span>-->
<!--					<span id="stdanswer9" class="faqanswer">-->
<!--							Don't worry, after the 1st lesson, we will give you a call to confirm that you are comfortable with going ahead and only on approval will we begin the billing cycle. In case, if for some reason the 1st lesson was not what you expected and you terminate the services, there will be no charge.-->
<!--						<p>-->
<!--							Post the 1st lesson, in case you decide to terminate the teacher's services before the course completion then you will be charged pro-rata of the classes taken.-->
<!--						</p>-->
<!--						<p>-->
<!--							In case it is a course fees that has been charged in advance, then the same however may be non-refundable (this may vary with teachers, refer to cancellation policy of each)-->
<!--						</p>-->
<!--					</span>-->
					
					
					<span id="stdquestion10" class="faqquestion">How do I sign up?</span>
					<span id="stdanswer10" class="faqanswer">Head over to our sign up page, and hop through the steps, or, just sign up when you send your first message. Your profile will never be visible, except to tutors you are interacting with. Keeping your privacy secure is one of our fundamental principles.</span>
					
					<span id="stdquestion11" class="faqquestion">What if I email a tutor and don't hear back from him or her? </span>
					<span id="stdanswer11" class="faqanswer">We do everything we can to keep our database up-to-date and prevent this from happening. However, if this does occur, please let us know right away, you can contact us and we will go out of our way to make sure you get all the help you need to straighten out the situation. There is a good chance that we have another tutor for you and we will do our best to put you touch with a qualified tutor as soon as possible. </span>
					
					<span id="stdquestion12" class="faqquestion">How do I know how good the teachers or classes are?</span>
					<span id="stdanswer12" class="faqanswer">
<!--						Don't take our word for it, hear what the Skillzot community has to say through peer & student reviews! In addition, we ensure in depth profiles and offer merit based search results based on feedback from parents and students, all of which only helps you make an informed decision.-->
						<p>Don't take our word for it, hear what the Skillzot community has to say through student reviews! In addition, we ensure in depth profiles with a reco-meter rating (based on a quantitative feedback from students) and offer merit based search results based on feedback from parents and students, all of which only helps you make an informed decision.</p>
					</span>
					
					
					<strong >Payment related</strong>
					<span id="stdquestion13" class="faqquestion">How much does Skillzot cost?</span>
					<span id="stdanswer13" class="faqanswer">There is no charge apart from the fees that needs to be paid to the teachers.</span>
					
					<span id="stdquestion14" class="faqquestion">When and how do I pay for the teacher's fees?</span>
					<span id="stdanswer14" class="faqanswer">
						The easiest method of payment is by credit /debit card or net-banking via Skillzot's secure website.
						<p>You may also pay for lessons by check or demand draft drawn in favour of M.A.D. Online Pvt. Ltd. We will be introducing cash collection shortly too.</p>
					</span>
					
					
					<span id="stdquestion15" class="faqquestion">Will I ever have to pay the teacher directly?</span>
					<span id="stdanswer15" class="faqanswer">
						No, all you need to do is pay Skillzot directly through any of the payment methods mentioned and we in turn will ensure payment to the teacher. 
						<p>This way we will hopefully make it more convenient for you as well as maintain a systematic record of all payments. In addition, it will also help us ensure transparency for all parties concerned.</p>
					</span>
					
					<span id="stdquestion16" class="faqquestion">What if a teacher asks to pay her/him directly?</span>
					<span id="stdanswer16" class="faqanswer">We request you not to do so as this will create unnecessary confusion and hassles for all of us. In case it does happen, we do request you to contact us and let us know so that we can clear any misunderstandings on the same with the teacher.</span>
					
					
					<span id="stdquestion17" class="faqquestion">Why do teacher's/classes rates differ?</span>
					<span id="stdanswer17" class="faqanswer">The rates are determined by the teachers and not Skillzot.</span>
		
				</div>
				
				
				
				<div id="faqteacherdiv" class="teamfaqsection" style="display:none;">
				<strong style="color:#00A7E6;font-size:22px;margin-botto:13px;">For teachers</strong>
				<strong>General Questions</strong>
					<span id="tutorquestion1" class="faqquestion">What is Skillzot?</span>
					<span id="tutoranswer1" class="faqanswer">Skillzot is an online platform that helps one find and contact the best teachers or classes who can teach any skill-set one needs/wants to learn.</span>
					
					<span id="tutorquestion2" class="faqquestion">Is Skillzot a teaching agency to help learn any talent or skill?</span>
					<span id="tutoranswer2" class="faqanswer">No, Skillzot is not a teaching agency. It helps you find and select the best teachers/classes for a skill you want to learn, by giving you an abundant choice of options with detailed and credible information to decide from.</span>
					
					<span id="tutorquestion3" class="faqquestion">Where is Skillzot available?</span>
					<span id="tutoranswer3" class="faqanswer">Skillzot is currently available in Mumbai. Very soon we will be expanding to all the key metros of India and one day hope to help anyone from anywhere.</span>
					
					<span id="tutorquestion4" class="faqquestion">What are the skills for which I can find profiles of teachers/classes for on Skillzot?</span>
					<span id="tutoranswer4" class="faqanswer">
						The list of skills for which we currently have teachers and/or classes available are the ones on the top navigation bar. We are adding profiles everyday and in case if what you're looking for isn't currently available, we are extremely sorry. But please do register with and we will get back to you as soon as we start the same.
						<p>If you have any skills you want/can teach, then what are you waiting for, <a href="<?php echo BASEPATH;?>/tutor/register" class="onlybluecolor">sign up here</a> here to get started.</p>
					</span>
					
					<span id="tutorquestion5" class="faqquestion">I teach academic only subjects, can I use Skillzot to find students to teach?</span>
					<span  id="tutoranswer5" class="faqanswer">
						Currently we're ensuring that we create an exhaustive database for non-academic skills only so that we can service one core area excellently. 
						<p>However, in due course of time if we do see a growing need for the same and we are confident that we can service the need, we will surely explore the option.</p>
						<p>It would be helpful if you could <a href="<?php echo BASEPATH;?>/comingsoon/index" class="onlybluecolor">register with us</a> so that we can notify you if we do start the same.</p>
					</span>
					
					<span id="tutorquestion6" class="faqquestion">Why should I offer my services through Skillzot?</span>
					<span  id="tutoranswer6" class="faqanswer">
						We were hoping you'd ask. Skillzot helps you supplement your income by providing a network of students in need of high quality training/learning skills you know best. 
						<p>Skillzot not only markets your skills and helps you build a customer base but also takes away the pain of following up for payments, so that you can focus on what you do best... helping people nurture their talent.</p>
						<p>In addition, there are benefits like customized urls, social media integration and videos of classes to mention a few.</p>
					</span>
					
					<span id="tutorquestion7" class="faqquestion">Can anyone sign up to be a teacher?</span>
					<span  id="tutoranswer7" class="faqanswer">
						 No. At Skillzot we believe that while anyone can refer to themselves as a tutor, only the best should. So we review every tutor who applies to the site, and only let the best of the best through.
						<p>Skillzot runs an internal screening on all the profiles uploaded and if there are key details missing, then the profile does not get uploaded till completion.</p>
						<p>There will also be checks for authenticity of qualifications and certifications wherever applicable. Hence, it is imperative that all information on the profile is genuine, else profiles will not get approved.</p>
					</span>
					
					<span id="tutorquestion8" class="faqquestion">Why does my profile not show up on the top of the listings?</span>
					<span  id="tutoranswer8" class="faqanswer">To ensure that students get the most possible fair results, the profile order is a function of algorithms which analyze most requested teachers, feedback taken from past students and qualifications.</span>
				
					<strong>Process related</strong>
					<span id="tutorquestion9" class="faqquestion">How do I become a Skillzot teacher?</span>
					<span  id="tutoranswer9" class="faqanswer">That's easy...once you <a href="<?php echo BASEPATH;?>/tutor/register" class="onlybluecolor">sign up</a>  by completing the registration form, we'll approve the same (within 2 working days) and voila, you can start connecting with students that need your help.</span>
					
					<span id="tutorquestion10" class="faqquestion">Why is the registration form so detailed?</span>
					<span  id="tutoranswer10" class="faqanswer">The idea is to help you create a proxy website for you that we can market so that it becomes easy for people to reach out to great teachers like you to help them nurture their talent.</span>
					
<!--					<span id="tutorquestion11" class="faqquestion">What is the process of connecting with a prospective student?</span>-->
<!--					<span  id="tutoranswer11" class="faqanswer">When a student requests to connect you or vice-versa, Skillzot shares the contact details. Post speaking to the student, if the terms are agreed upon, you will need to --->
<!--						<ul class="adot">-->
<!--						<li>Fill in and submit the following specific details on your dashboard-->
<!--							<ul style="width: 100%;">-->
<!--								<li class="adotli">When you want to start</li>-->
<!--								<li class="adotli">Final timings & days</li>-->
<!--								<li class="adotli">Queries on the course</li>-->
<!--								<li class="adotli">Fees</li>-->
<!--								<li class="adotli">Payment details and billing cycle</li>-->
<!--							</ul>-->
<!--						</li>-->
<!--						<li>We will send the details to the student for validation post which you will be given a go ahead to start the lessons.</li>-->
<!--						<li>Payment will follow as per payment details.</li>-->
<!--						</ul>-->
<!--					</span>-->
					
					<strong >Payment related</strong>
					<!--<span id="tutorquestion12" class="faqquestion">How much does it cost to list myself as a teacher with Skillzot?</span>
					<span  id="tutoranswer12" class="faqanswer">Currently it is a free process but we are collating feedback from teachers with respect to the best model to charge the teachers for the benefits we are giving and will soon put that in place. Once we do so we will intimate the teachers who have already signed up and continue partnering with them only with their consent.</span>-->
					
					<span id="tutorquestion13"class="faqquestion">How much commission does Skillzot take from the teacher?</span>
					<span  id="tutoranswer13" class="faqanswer">	<img src="/images/Commission.JPG" height="313" width="511"/></span>
					
					<span id="tutorquestion14" class="faqquestion">How does payment work?</span>
					<span  id="tutoranswer14" class="faqanswer">All lesson/course fee payments must be made through Skillzot. Skillzot acts as a secure third-party for all transactions. Tutors are not permitted to accept cash from a parent or student. Payments are directed into a tutor's bank account within 5 working days of the transaction.</span>
					
					<span id="tutorquestion15" class="faqquestion">Why are payments possible only through Skillzot?</span>
					<span  id="tutoranswer15" class="faqanswer">
						This is done for 3 reasons
						<ul class="adot">
							<li class="adotli">To ensure that there is a systematic record of all transactions in case of any disputes</li>
							<li class="adotli">Skillzot needs to maintain records also for audit purposes</li>
							<li class="adotli">Minimize the pain for teachers of following up for payment</li>
						</ul>
					</span>
					
					
					<span id="tutorquestion16" class="faqquestion">Who determines the fees/rates?</span>
					<span  id="tutoranswer16" class="faqanswer">You do! Unlike a traditional tutoring agency that sets a tutor's hourly rate and keeps the vast majority of the transaction, tutors determine their own hourly/monthly rates on Skillzot and keep the majority of their billable fees.</span>
					
					<!--<span id="tutorquestion17" class="faqquestion">Why are all rates in /hr?</span>
					<span  id="tutoranswer17" class="faqanswer">While we understand that different teachers have different payment structures like hourly/monthly or even one time course fees, we convert all to a common denominator so that it becomes easier for the students to choose fairly from all the options.</span>
					
					--><span id="tutorquestion18" class="faqquestion">How much should I charge?</span>
					<span  id="tutoranswer18" class="faqanswer">Whatever you feel your experience is worth, it's totally up to you. Skillzot provides tutors guidance based on average rates in their area for comparable tutors, but you decide your own rate. If you have any questions about what to charge, let us know.</span>
					
					<span id="tutorquestion19" class="faqquestion">What if there are any disputes/cancellations?</span>
					<span  id="tutoranswer19" class="faqanswer">All communications and terms are recorded in the system, this helps keeping disputes at a minimal and is the reason we insist all communications to be fed into the system.
					<p>Despite everyone's best efforts, if there are still any disputes, then we will intervene to solve the same and payments will be basis the cancellation policy agreed on/recorded for the specific lessons.</p>
					</span>
					
<!--					<span id="tutorquestion20" class="faqquestion">Why should the 1st lesson be free?</span>-->
<!--					<span  id="tutoranswer20" class="faqanswer">We are asking everyone to follow this practice for 2 reasons - 1st is that it gives both the teacher and student to get a feel of each other's style and expectations, which we believe is a fair way to start off, and in case if anything is out of sync then either party can retract without any harm done-->
<!--					<p>Secondly and also very importantly, it establishes credibility and trust.</p>-->
<!--					</span>-->
					
					<span id="tutorquestion21" class="faqquestion">What if the student wants to pay me directly?</span>
					<span id="tutoranswer21" class="faqanswer">We request you not to accept the same and route all payments through Skillzot for the reasons above. If the student is insisting to do let us know and we will ensure that we explain the reasons and find solutions that will work for all of us.</span>
			
			</div>
				
				
				
				
				
	</div>
</div>
</body>
</html>
