<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>

<html>

<head>
	<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>


	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<?php
		
		echo $this->headTitle("Skillzot admin panel");
		
		echo $this->headLink()->appendStylesheet(BASEPATH.'/css/user.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery-ui-1.8.2.custom.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery.ui.datepicker.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery.ui.core.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery.alerts.css')
							  ->appendStylesheet(BASEPATH.'/css/style.css');
		
		echo $this->headScript()->appendFile(BASEPATH.'/js/crud.js')
								->appendFile(BASEPATH.'/js/jquery-1.4.2.min.js')
								->appendFile(BASEPATH.'/js/jquery.ui.core.js')
								->appendFile(BASEPATH.'/js/jquery.ui.datepicker.js')
								->appendFile(BASEPATH.'/js/jquery.alerts.js');
	?>
	

</head>

<body>

	<div id="headerContent">
		Skillzot admin panel
	</div>
	
	<div id="bodyWrapper">
		
		<div id="leftContent">
			
			<div id="menuWrapper">
				
				<div class="menuContainer">
					
					<div class="menuHeader">Admin Menu</div>
					
					<div class="menuList">
						<div class="menuItem">
							<div class="menuItemContainer" onclick="window.location = '<?php echo BASEPATH; ?>/admin/home'">Home</div>
						</div>
						<div class="menuItem">
							<div class="menuItemContainer" onclick="window.location = '<?php echo BASEPATH; ?>/admin/category'">Manage Main Category</div>
						</div>
<!--						<div class="menuItem">-->
<!--							<div class="menuItemContainer" onclick="window.location = '<?php echo BASEPATH; ?>/admin/subcategory'">Manage sub category</div>-->
<!--						</div>-->
						<div class="menuItem">
							<div class="menuItemContainer" onclick="window.location = '<?php echo BASEPATH; ?>/admin/commingsoon'">Manage Commingsoon</div>
						</div>
						<div class="menuItem">
							<div class="menuItemContainer" onclick="window.location = '<?php echo BASEPATH; ?>/admin/studentsignup'">Manage Student Signup</div>
						</div>
						<div class="menuItem">
							<div class="menuItemContainer" onclick="window.location = '<?php echo BASEPATH; ?>/admin/tutorsignup'">Manage Tutor Signup</div>
						</div>
						<div class="menuItem">
							<div class="menuItemContainer" onclick="window.location = '<?php echo BASEPATH; ?>/admin/tutornewsignup'">Manage Tutor New Signup</div>
						</div>
					</div>
					
				</div>
				
				<br/>
				<div class="menuHeader">Skill</div>
					
					<div class="menuList">
						<div class="menuItem">
							<div class="menuItemContainer" onclick="window.location = '<?php echo BASEPATH; ?>/admin/skills'">Manage Skills</div>
						</div>
					</div>
						
			
				<br/>
				
				<div class="menuContainer">
					
					<div class="menuHeader">Review </div>
					
					<div class="menuList">
						<div class="menuItem" onClick="window.location = '<?php echo BASEPATH; ?>/admin/review'">
							<div class="menuItemContainer" >Review Display</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="menuContainer">
					
					<div class="menuHeader">Friendly Url  </div>
					
					<div class="menuList">
						<div class="menuItem" onClick="window.location = '<?php echo BASEPATH; ?>/admin/skillfriendly'">
							<div class="menuItemContainer" >Skill Url Friendly</div>
						</div>
						<div class="menuItem" onClick="window.location = '<?php echo BASEPATH; ?>/admin/tutorfriendlyurl'">
							<div class="menuItemContainer" >Tutor Url Friendly</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="menuContainer">
					
					<div class="menuHeader">Message </div>
					
					<div class="menuList">
						<div class="menuItem" onClick="window.location = '<?php echo BASEPATH; ?>/admin/messagedetail'">
							<div class="menuItemContainer" >Message Display</div>
						</div>
					</div>
				</div>
			
				<br/>
				<div class="menuContainer">
					
					<div class="menuHeader">Manage </div>
					
					<div class="menuList">
						<div class="menuItem" onClick="window.location = '<?php echo BASEPATH; ?>/page'">
							<div class="menuItemContainer" >Page Content</div>
						</div>
					</div>
					
					<div class="menuList">
						<div class="menuItem" onClick="window.location = '<?php echo BASEPATH; ?>/admin/travelradious'">
							<div class="menuItemContainer" >Travel Radious</div>
						</div>
					</div>
				</div>
			
				<br/>
				
				<div class="menuContainer">
					
					<div class="menuHeader">Manage Profile</div>
					
					<div class="menuList">
						<div class="menuItem" onClick="window.location = '<?php echo BASEPATH; ?>/admin/changepassword'">
							<div class="menuItemContainer" >Change Password</div>
						</div>
						<div class="menuItem" onclick="window.location = '<?php echo BASEPATH; ?>/admin/logout'">
							<div class="menuItemContainer">Log out</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="rightContentWrapper">
			
			<div id="rightContent">
				
				<div id="rightContentHeader">
					<div id="rightContentHeaderText">
						<?php echo $authUserNamespace->admin_page_title; ?>
					</div>
				</div>
				
				<br/><br/>
				
				<div id="rightContentBody">
					<?php echo $this->layout()->content; ?>
				</div>
			</div>
			<div style="margin-bottom:20px;">&nbsp;</div>
		</div>
		
		<div class="clearfix"></div>
		
	</div>
	
	<div id="footerContentWrapper">
		<div id="footerLeftContent">
			&nbsp;Copyright &copy; Pinpoint (India) Pvt. Ltd.
		</div>
		<div id="footerRightContent">
			Developed by <a href="http://www.prontoinfotech.com" target="_blank">Pronto InfoTech</a>&nbsp;&nbsp;
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>
</body>

</html>