<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>

<html>

<head>

	<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>


	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<?php
		
		echo $this->headTitle("Skillzot Dashboard");
		
		echo $this->headLink()->appendStylesheet(BASEPATH.'/css/usernew.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery-ui-1.8.2.custom.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery.ui.datepicker.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery.ui.core.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery.alerts.css')
							  ->appendStylesheet(BASEPATH.'/css/stylenew.css')
							  ->appendStylesheet(BASEPATH.'/css/calendar_blue.css');
		
		echo $this->headScript()->appendFile(BASEPATH.'/js/crud.js')
								->appendFile(BASEPATH.'/js/jquery-1.4.2.min.js')
								->appendFile(BASEPATH.'/js/jquery.ui.core.js')
								->appendFile(BASEPATH.'/js/jquery.ui.datepicker.js')
								->appendFile(BASEPATH.'/js/calendar.js')
								->appendFile(BASEPATH.'/js/jquery.alerts.js');
	?>
	

</head>

<body>

		<div id="fixedheader">
		<div id="header">
			<a id="logimg" href="/adminnew">
				<img alt="skillzot-logo" src="/images/skillzot-logo.jpg">
			</a>
				<span id="logotextcolor">helps you find amazing teachers</span>
			<div id="headercontactus"><strong>Skillzot Dashboard</strong>
			</div>
		</div>

		<div id="menu">
			<ul class="left sf-js-enabled" style="display: block;margin-left:8px;">
                <li>
                    <a class="top" onclick="window.location = '<?php echo BASEPATH; ?>/adminnew/home'">Home</a>
                </li>			 
            </ul>
            <ul class="left sf-js-enabled" style="display: block;">
                <li>
                    <a class="top" onclick="window.location = '<?php echo BASEPATH; ?>/adminnew/studentsignup'">Student Mananger</a>
                </li>			 
            </ul>
            <ul class="left sf-js-enabled" style="display: block;">
                <li>
                    <a class="top" onclick="window.location = '<?php echo BASEPATH; ?>/adminnew/tutorsignup'">Tutor Manager</a>
                </li>			 
            </ul>
            <ul class="left sf-js-enabled" style="display: block;">
                <li>
                    <a class="top" onClick="window.location = '<?php echo BASEPATH; ?>/adminnew/review'">Tutor Reviews</a>
                </li>			 
            </ul>
            <ul class="left sf-js-enabled" style="display: block;">
                <li>
                    <a class="top" onClick="window.location = '<?php echo BASEPATH; ?>/adminnew/messagedetail'">Student Message</a>
                </li>			 
            </ul>
            <ul class="left sf-js-enabled" style="display: block;">
                <li>
                    <a class="top" onclick="window.location = '<?php echo BASEPATH; ?>/adminnew/category'">Manage UI Category</a>
                </li>			 
            </ul>
            <ul class="left sf-js-enabled" style="display: block;">
                <li>
                    <a class="top" onclick="window.location = '<?php echo BASEPATH; ?>/adminnew/skills'">Manage UI Skills</a>
                </li>			 
            </ul>
             <ul class="left sf-js-enabled" style="display: block;">
                <li>
                    <a class="top" onClick="window.location = '<?php echo BASEPATH; ?>/adminnew/analytics'">Tutor Analytics</a>
                </li>			 
            </ul>
			 <ul class="left sf-js-enabled" style="display: block;">
                <li>
                    <a class="top" onClick="window.location = '<?php echo BASEPATH; ?>/adminnew/batchdetails'">Inventory Management</a>
                </li>			 
            </ul>
            <ul class="left sf-js-enabled" style="display: block;">
                <li>
                    <a class="top" onClick="window.location = '<?php echo BASEPATH; ?>/adminnew/enrollment'">Enrollment</a>
                </li>			 
            </ul>
            <ul class="left sf-js-enabled" style="display: block;">
                <li>
                    <a class="top" onClick="window.location = '<?php echo BASEPATH; ?>/adminnew/reports'">Reports</a>
                </li>			 
            </ul>
            <ul class="right sf-js-enabled" style="display: block;margin-right:17px;">
                <li>
	                <a class="top" onclick="window.location = '<?php echo BASEPATH; ?>/adminnew/logout'">Logout</a>
            	</li>
            </ul>	
		</div>
	</div>
		
	
	<div id="bodyWrapper">
				
		<div id="rightContentWrapper">
			
			<div id="rightContent">
				
				<!-- <div id="rightContentHeader">
					<div id="rightContentHeaderText">
						<?php echo $authUserNamespace->admin_page_title; ?>
					</div>
				</div>
				
				<br/><br/> -->
				
				<div id="rightContentBody">
					<?php echo $this->layout()->content; ?>
				</div>
			</div>
			<div style="margin-bottom:20px;">&nbsp;</div>
		</div>
		
		<div class="clearfix"></div>
		
	</div>
	
	<div id="footerContentWrapper">
		<div id="footerLeftContent">
			&nbsp;Copyright &copy; Skillzot.
		</div>
		<div id="footerRightContent">
			Developed by <a href="http://www.skillzot.com" target="_blank">Skillzot</a>&nbsp;&nbsp;
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>
</body>

</html>
