<?php $authUserNamespace = new Zend_Session_Namespace('Bankoffercms_Auth'); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>

	
	<script type="text/javascript">
		function recordOutboundLink(link, category, action) {
		  try {
		    var pageTracker=_gat._getTracker("UA-20610133-2");
		    pageTracker._trackEvent(category, action);
		    setTimeout('document.location = "' + link.href + '"', 100)
		  }catch(err){}
		}
	</script>
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="shortcut icon" href="<?php echo BASEPATH;?>/images/common/favicon.jpg" />
	<?php
		
		echo $this->headTitle('Standard Chartered Bank India');
		
		echo $this->headLink()->appendStylesheet(BASEPATH.'/css/jquery.ui.core.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery.alerts.css')
							  ->appendStylesheet(BASEPATH.'/css/users.css')
							  ->appendStylesheet(BASEPATH.'/css/innerpage.css');
							  
		echo $this->headScript()->appendFile(BASEPATH.'/js/jquery-1.4.2.min.js')
								->appendFile(BASEPATH.'/js/jquery.ui.core.js')
								->appendFile(BASEPATH.'/js/jquery.alerts.js');
	?>
	<script type="text/javascript">

		function MM_findObj(n, d) { //v4.01
			  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
			    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
			  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
			  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
			  if(!x && d.getElementById) x=d.getElementById(n); return x;
			};
			
		function MM_preloadImages() { //v3.0
		  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
		    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
		    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
		}
	
		function MM_swapImgRestore() { //v3.0
		  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
		}
	
		function MM_swapImage() { //v3.0
		  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
		   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
		}
	</script>

<!--[if lt IE 7]>
<script defer type="text/javascript" src="<?php echo BASEPATH;?>/js/pngfix_map.js"></script>
<![endif]-->
</head>

<body>
<div align="center">
<div id="wrapper">
<div id="container">
<!--topbg tag start here -->
<!--<div  class="topbg"></div>-->
<!--topbg tag end here -->

<!--header tag start here -->
<div class="header">
	<?php include_once dirname(dirname(__FILE__)).'/helpers/topbanner.php';?>
</div>
<!--header tag end here -->

<!--banner tag start here -->
<div class="bannertop"></div>
<div class="bannerline"></div>
<div class="bannerbottom"></div>
<!--banner tag end here -->

<!--navigation tag start here -->
<div class="navigation">
	<?php include_once dirname(dirname(__FILE__)).'/helpers/navigation.php';?>
</div>
<div class="navigationdivider"></div>
<!--navigation tag end here -->

<!--content tag start here -->
<div class="contentareainside">
<!--left area tag start here -->
<div class="earnbonuspointleftarea">
<div class="searchbonuspointspartnersbutton"><a href="<?php echo BASEPATH;?>/index/bonuspartners/search_cities/all/search_category/all/sub_category/all"><img src="<?php echo BASEPATH;?>/images/earnbonuspoints/searchbonuspointspartnersbutton.gif" alt="earnbonuspointleftspacer" width="198" height="40" border="0" /></a></div>
<div class="earnbonuspointleftspacer"></div>
<div class="categoriesarea">
<div class="categoriestop"></div>
<div class="categoriesleft"></div>
<div class="categoriesmiddle">
<!--categories start here-->
<?php include_once dirname(dirname(__FILE__))."/helpers/faqs_leftbar.php";?>
<!--categories end here-->
</div>
<div class="categoriesright"></div>
<div class="categoriesbottom"></div>
</div>
</div>
<!--left area tag end here -->

<!--middle area tag start here -->
<div class="earnbonuspointmiddlearea"></div>
<!--middle area tag end here -->

<!--right area tag start here -->
<div class="earnbonuspointrightarea">

<!--right area tag end here -->
</div>
<!--content start here -->
<div>
	<?php echo $this->layout()->content;?>
</div>


</div>
<!--content end here -->

<!--content tag end here -->
<div class="bannertopinside"></div>
<div class="bannerline"></div>
<div class="footerdividerbottom"></div>
<!--footer tag start here -->
<div class="footerarea">
	<?php include_once dirname(dirname(__FILE__)).'/helpers/footer.php';?>
</div>
<div style="color: #666666;float: left;font-family: Arial,Helvetica,sans-serif;font-size: 11px;height: 63px;padding-top: 3px;text-align: left;  vertical-align: top;">Copyright &copy; 2012 Pinpoint (India) Pvt. Ltd.</div>
<!--footer tag end here -->
</div>
</div>
</div>
<script type="text/javascript">

</script>
</body>
</html>
