
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<?php
	$skillobj = new Skillzot_Model_DbTable_Skillslisting();
	$skillRows = $skillobj->fetchAll($skillobj->select()
											  ->from(array('s'=>DATABASE_PREFIX.'master_skills_for_diplay_listing'))
											  ->where("is_enabled = 1 && is_skill = 1 && parent_skill_id = 0 && skill_id!=0")
											  ->order(array("order_id asc")));
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.3.1.min.js"></script>
	<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>

	<script type="text/javascript">
		function recordOutboundLink(link, category, action ,label) {			
		  try {
		   var pageTracker=_gat._getTracker("UA-32556142-1");
		    //alert(link+"::"+category+"::"+action);
		    pageTracker._trackEvent(category, action ,label);
		  // setTimeout('document.location = "' + link.rel + '"', 100)
		  }catch(err){}
		}
	</script>
	<!-- add by varun for menu -->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	
	
  	<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/menustyle.css" type="text/css" media="screen, projection"/>
	<script type="text/javascript" language="javascript" src="<?php echo BASEPATH;?>/js/hoverIntent.js"></script>
	<script type="text/javascript" language="javascript" src="<?php echo BASEPATH;?>/js/jquery.dropdown.js"></script>
	<!-- End by varun for menu -->
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="shortcut icon" href="<?php echo BASEPATH;?>/images/common/favicon.jpg" />
	
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.alerts.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/ddmegamenu.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillslider.js"></script>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.alerts.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/ddmegamenu.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillslider.css"/>

<!--  brgv 25-04 -->
<style>
#footerlastdiv a:hover{
	color:#FF6633 !important;
}
#social ul
{
    margin: 65px 0 0 10px;
    padding-right: 0px;
}
.contactovr span:hover
{
	font-weight:bold !important;
	color:#ffffff !important;
}
.popular_bar
{
	/*font-family:Tahoma;*/
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;/*brgv 26-4*/
}
.popular_bar
{
    background: url("<?php echo BASEPATH;?>/images/popular_bar_bgNew.jpg") repeat-x scroll 0 0 transparent;
    border:none;
}
#menu .main {
    height: 44px;
    margin: 0 auto;
    width: 980px;
}
.highlightedblack
{
	/*background-color: #000000 !important;*/
    border-radius: 5px 5px 0 0;
} 
#fixedheader
{
position:static !important;
}
position:static;"
</style>
<!-- end brgv 25-04 -->
<script>

function call_fb()
{
	//window.location.href='http://www.facebook.com/pages/Skillzot/393253524025786';
	window.open('http:\/\/www.facebook.com/pages/Skillzot/393253524025786');
}
function call_twitter()
{
	//window.location.href='https://twitter.com/Skillzot';
	window.open('https:\/\/twitter.com/Skillzot');
}
function skillpageredirect(id)
{
	window.location.href="<?php echo BASEPATH?>/search/index/sessionunsetvar/1/skillid/"+id;
}
</script>
<script>
</script>
<!--<title>Skillzot</title>
--><!--[if IE 7]>
	 <style>
		#social ul li {
			width:45px;
		}
	</style>
	<![endif]-->
	<!--[if IE]>
	<style type="text/css" media="screen">
	@font-face{
	font-family: 'handofsean';
	src: url('<?php echo BASEPATH; ?>/fonts/hand-of-sean.eot');
	}
	@font-face {
	 font-family: 'Arial Rounded MT';
	 src: url("<?php echo BASEPATH; ?>/fonts/arial-rounded-mt.eot") /* EOT file for IE */
	}
	</style>
	<![endif]-->	
</head>

<body>
<div id="social">
				<ul>
			    	<li><a class="fb" onclick="javascript:call_fb();" href="#"></a></li>
			        <li><a class="tweet" onclick="javascript:call_twitter();" href="#"></a></li>
					<li><a class="subscribe" href="<?php echo BASEPATH;?>/blog"></a></li>
			       
			    </ul>
</div>
<div id="fixedheader">

	<div id="header">
		<?php include_once dirname(dirname(__FILE__)).'/helpers/topbanner.php';?>
	</div>
	<div id="menu">
		<?php //include_once dirname(dirname(__FILE__)).'/helpers/skillmenuheader.php';?>	
		
		<div id="page-wrap">
	        <ul class="dropdown"><?php //echo $fetchSkill_id;exit;?>
	        <li><a style="padding-left:0px;" href="<?php echo BASEPATH;?>/">Home</a></li>
	        <?php if(isset($skillRows) && sizeof($skillRows)>0){?>
	        	<?php foreach($skillRows as $maincategory){?>
	        		
	        		<li <?php if (isset($this->idtoshowselected) && $this->idtoshowselected==$maincategory->skill_id){?>class="highlightedblack" <?php } ?> id="dynamicselected<?php echo $maincategory->skill_id;?>"><a href="<?php echo BASEPATH?>/browse/<?php echo $maincategory->skill_uniq."-classes-in-mumbai";?>" ><?php echo $maincategory->skill_name;?></a>
	        		<?php
	        			$subcategory = $maincategory->skill_id;
						$subskillRows = $skillobj->fetchAll($skillobj->select()
												  ->from(array('s'=>DATABASE_PREFIX.'master_skills_for_diplay_listing'))
												  ->where("is_enabled = 1 && is_skill = 1 && parent_skill_id = '$subcategory' && skill_id!=0")
												  ->order(array("skill_name asc")));
						//-------------------------
												  
						if(isset($subskillRows) && sizeof($subskillRows)>0){
										$sizeofsubmain = sizeof($subskillRows);
										$sizeofsubmain1 = sizeof($subskillRows);
										//echo ($recordSize % 10);
										if ($sizeofsubmain % 10 == 0)
										{
											$widthCountforsubmain = ($sizeofsubmain / 10);
										}else{
											$widthCountforsubmain = ($sizeofsubmain / 10) + 1;
										}
										$roundedWidthcountforsubmain = floor($widthCountforsubmain);
										if (isset($sizeofsubmain) && $sizeofsubmain > 20 )
										{
											$roundedWidthcountforsubmain = $roundedWidthcountforsubmain-1;
										}
										$subdiv = -1;	
						}					  
						//--------------------------
												  
												  
						if(isset($subskillRows) && sizeof($subskillRows)>0){
						?>
							<ul class="sub_menu" style="width:<?php echo ($roundedWidthcountforsubmain * 150);?>px;">
							<?php $i=0; foreach($subskillRows as $subcategory){ ?>
							
									<?php if(isset($subskillRows) && sizeof($subskillRows) > 10 ){ 
				
											if ($sizeofsubmain1 % 2 == 0)
											{
												$widthCountforsubmain1 = ($sizeofsubmain1 / 2);
											}else{
												$widthCountforsubmain1 = ($sizeofsubmain1 / 2) + 1;
											}
											$roundedWidthcountforsubmain1 = floor($widthCountforsubmain1);
											?>
													<div style="width:150px;float:left;display:inline-block;">
													<?php for($i=0;$i < $roundedWidthcountforsubmain1;$i++){ ?>
														
														<li><a href="<?php echo BASEPATH?>/browse/<?php echo $subskillRows[$i]['skill_uniq']."-classes-in-mumbai";?>" ><?php echo $subskillRows[$i]['skill_name'];?></a></li>
													<?php } ?>
													</div>
													<div style="width:150px;float:left;display:inline-block;">
													<?php for($j=$roundedWidthcountforsubmain1;$j< $sizeofsubmain1;$j++){ ?>
														<li><a href="<?php echo BASEPATH?>/browse/<?php echo $subskillRows[$j]['skill_uniq']."-classes-in-mumbai";?>" ><?php echo $subskillRows[$j]['skill_name'];?></a></li>
													<?php } ?>
													</div>
											<?php }else{ ?>
										
									<li><a href="<?php echo BASEPATH?>/browse/<?php echo $subcategory->skill_uniq."-classes-in-mumbai";?>" ><?php echo $subcategory->skill_name;?></a>
									
									<?php } ?>
									<?php
									$skillcategory = $subcategory->skill_id;
									$skillcategoryRows = $skillobj->fetchAll($skillobj->select()
															  ->from(array('s'=>DATABASE_PREFIX.'master_skills_for_diplay_listing'))
															  ->where("is_enabled = 1 && is_skill = 1 && parent_skill_id = '$skillcategory' && skill_id!=0")
															  ->order(array("skill_name asc")));
												  
									if(isset($skillcategoryRows) && sizeof($skillcategoryRows)>0){
										$recordSize = sizeof($skillcategoryRows);
										$recordSize1 = sizeof($skillcategoryRows);
										//echo ($recordSize % 10);
										if ($recordSize % 10 == 0)
										{
											$widthCount = ($recordSize / 10);
										}else{
											$widthCount = ($recordSize / 10) + 1;
										}
										$roundedWidthcount = floor($widthCount);
										if (isset($recordSize) && $recordSize > 20 )
										{
											$roundedWidthcount = $roundedWidthcount-1;
										}
										$subdiv = -1;
									?>
									
									
										<ul style="width:<?php echo ($roundedWidthcount * 150);?>px;">
											<?php if(isset($skillcategoryRows) && sizeof($skillcategoryRows) > 10 ){ 
				
											if ($recordSize1 % 2 == 0)
											{
												$widthCount1 = ($recordSize1 / 2);
											}else{
												$widthCount1 = ($recordSize1 / 2) + 1;
											}
											$roundedWidthcount1 = floor($widthCount1);
											?>
													<div style="width:150px;float:left;display:inline-block;">
													<?php for($i=0;$i < $roundedWidthcount1;$i++){ ?>
														<li><a href="<?php echo BASEPATH?>/browse/<?php echo $skillcategoryRows[$i]['skill_uniq']."-classes-in-mumbai";?>" ><?php echo $skillcategoryRows[$i]['skill_name'];?></a></li>
													<?php } ?>
													</div>
													<div style="width:150px;float:left;display:inline-block;">
													<?php for($j=$roundedWidthcount1;$j< $recordSize1;$j++){ ?>
														<li><a href="<?php echo BASEPATH?>/browse/<?php echo $skillcategoryRows[$i]['skill_uniq']."-classes-in-mumbai";?>" ><?php echo $skillcategoryRows[$j]['skill_name'];?></a></li>
													<?php } ?>
													</div>
											<?php }else{ ?>
											
											<div style="width:150px;float:left;display:inline-block;">
					        				<?php foreach($skillcategoryRows as $skillcategory){?>
					        					<li><a href="<?php echo BASEPATH?>/browse/<?php echo $skillcategory->skill_uniq."-classes-in-mumbai";?>" ><?php  echo $skillcategory->skill_name;?></a></li>
					        				<?php }?>
											</div>
											<?php }?>
				        				</ul>
									<?php
									}?>
									<!-- </li> -->
									
									<?php $i++; }?>
							</ul>
								<?php }	?>
	        		</li>
	        		<?php }?>
	        <?php }?>
	        </ul>
			<div id="headercontactus" class="right">
				<span class="contactovr openskillbox" rel="<?php echo BASEPATH;?>/managecms/contactus">
					<span style="padding-right:10px;font-weight:normal;">Need Help:&nbsp;09820921404</span>
				</span>	
				<span style="color:#fff;display:inline-block;font-size:12px;font-weight:normal;">Mon-Fri, 10am to 5.30pm</span>
			</div>
		</div>
		
	</div>
	</div>

<div id="wrap_content" style="width:100%;float:left;text-align:center;margin-top:0px;">
	<!-- slide code -->
<div id="skillHolder">
	<!--   <div class="imgHolder">	
		<a href="<?php echo BASEPATH;?>/VeveDance"><img alt="7 different styles of Belly Fusion Workshops for a limited period only" src="<?php echo BASEPATH;?>/images/sliderimg/Fusion.png" title="7 different styles of Belly Fusion Workshops for a limited period only"/></a>
	</div>-->
    <div class="imgHolder">	
		<a href="<?php echo BASEPATH;?>/browse/music-classes-in-mumbai"><img alt="music-class-for-homepage-image" src="<?php echo BASEPATH;?>/images/sliderimg/music-class-for-homepage-image.jpg" title="Want to be a rockstar? Find the best music teachers here!"/></a>
	</div>
	<div class="imgHolder">	
		<a href="<?php echo BASEPATH;?>/browse/dance-classes-in-mumbai"><img alt="dance-class-tango-for-homepage-image" src="<?php echo BASEPATH;?>/images/sliderimg/dance-class-tango-for-homepage-image.jpg" title="Dance like no one's watching with the best dance instructors in Mumbai"/></a>
	</div>
	<div class="imgHolder">	
		<a href="<?php echo BASEPATH;?>/browse/yoga-classes-in-mumbai"><img alt="yoga-class-for-homepage-image" src="<?php echo BASEPATH;?>/images/sliderimg/yoga-class-for-homepage-image.jpg" title="Find amazing yoga teachers"/></a>
	</div>
    <!--<div class="imgHolder">	
		<a href="<?php //echo BASEPATH;?>/browse/yoga-classes-in-mumbai"><img alt="Event happening in Wink @ Vivanta by Taj – President" src="<?php //echo BASEPATH;?>/images/sliderimg/president_resized.jpg" title="Event happening in Wink @ Vivanta by Taj – President"/></a>
	</div>-->
  
    
	<!--<div class="imgHolder">	
		<a href="#"><img src="<?php echo BASEPATH;?>/images/sliderimg/4.jpg" title="some random text3"/></a>
	</div>	
	<div class="imgHolder">	
		<a href="#"><img src="<?php echo BASEPATH;?>/images/sliderimg/5.jpg" title="some random text4"/></a>
	</div>
	--><div class="textAndControlHolder">
		<div class="textAndControl">
			<div id="text"><a href="#">&nbsp;</a></div>
			<div class="control">
				<div id="prevBtn"><</div>
				<div id="pauseBtn">||</div>
				<div id="playBtn" style="display:none;">►</div>
				<div id="nextBtn">></div>
				
				<!--<img id="prevBtn" src="<?php echo BASEPATH;?>/images/prev.png"/>
				<img id="pauseBtn" src="<?php echo BASEPATH;?>/images/pause.png"/>
				<img id="playBtn" src="<?php echo BASEPATH;?>/images/play.png" style="display:none;"/>
				<img id="nextBtn" src="<?php echo BASEPATH;?>/images/next.png"/>
			--></div>
		</div>
	</div>		
</div>
<!-- end slider code -->
	<div id="content" style="z-index: 25; top: 0px; position: absolute; display: inline-block; margin: 0px 0px 0px 0px;">
		<?php echo $this->layout()->content;?>
	</div><!-- End of content div -->
</div> <!-- End of wrap_content div -->
<div id="wholefooter">
	<div id="footer" style="float:left;width:100%;">
		<?php include_once dirname(dirname(__FILE__)).'/helpers/footerhome.php';?>
	</div>
	<?php if(isset($this->showfoot) && $this->showfoot=="yes"){?>
	<div id="footerlastdiv" style="text-align:center;width:100%;display:block;">
		<div style="display:inline-block;width:980px;text-align:left;">
			Live in Mumbai, coming to other cities soon. Please <a href="<?php echo BASEPATH;?>/comingsoon/index" style="color:#1CA3E7">sign up here</a> if not from Mumbai and we'll be in touch.
		</div>
	</div>
</div>
</br>
<?php }?>
</body>
</html>
