<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<?php
	$skillobj = new Skillzot_Model_DbTable_Skillslisting();
	$skillRows = $skillobj->fetchAll($skillobj->select()
											  ->from(array('s'=>DATABASE_PREFIX.'master_skills_for_diplay_listing'))
											  ->where("is_enabled = 1 && is_skill = 1 && parent_skill_id = 0 && skill_id!=0")
											  ->order(array("order_id asc")));
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.3.1.min.js"></script>
	<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	$(document).ready(function(){
		/*Start - search button animtion 19-02-2013*/
		$('#srchBtn').click(function(){
			if($('.newsearch').height() > 0)
			{
				$('.newsearch').animate({'height':'0px','overflow':'hidden'});	
				
			}
			else
			{
			$('#keywords').css('color','#999').val('Type a skill you love');	
				 var el = $("#keywords").get(0);
				 var elemLen = el.value.length;                                    
				 el.selectionStart = elemLen;
				 el.selectionEnd = elemLen;
				 el.focus();
				 el.selectionEnd = -1;
				$('.newsearch').animate({'height':'57px','overflow':'visible'});
				
			}	
		});
		$('#keywords').blur(function(){
			$('#keywords').css('color','#999').val('Type a skill you love');
			$('.newsearch').animate({'height':'0px','overflow':'hidden'});
		});
		$('#keywords').keydown(function(event){
		    var key = event.keyCode || event.charCode;
		    $('#keywords').css('color','#FF6633');
		    if( key == 8 || key == 46)
		    {
		    	if($(this).val() == 'Type a skill you love')
		    	{
		    		$(this).val('');
			    }
			}
		    else
		    {
			    if($(this).val() == 'Type a skill you love')
			    {
			    	$(this).val('');
				}
			}
		});
		/*End - search button animtion 19-02-2013*/
			
	});
	function drop_cname(e)
	{
		//alert(e);
		document.getElementById('hiddencname').value="";
		//document.getElementById('cat_loader1').style.display = 'block';
		var ajaxCall={
				
				getData:function(url)
				{
					
					var xmlObj=this.getXMLHttp();
					xmlObj.onreadystatechange = this.ajaxCompleted;
					xmlObj.open("GET", url, true);
					xmlObj.send();
					
				},
				ajaxCompleted: function()
				{
					/* cookie can be set till here,not below this code */
				if(this.readyState == 4 && this.status == 200) {
					
					if(this.responseText != null){
						var jsonObj = this.responseText;
						
						var jsonObject = eval("(" + jsonObj + ")");
						
						if(jsonObject!="" && jsonObject!=null )
						{
							document.getElementById("search_result").innerHTML="";
							document.getElementById('div1').style.display="block";
							document.getElementById('closediv').style.display="block";
							//alert(jsonObject.length);
							var v= jsonObject.toString();
							
							
							for(var f=0;f<jsonObject.length;f++)
							{
//								alert(n[f]);
								//if(n1 == 0)
									document.getElementById("search_result").innerHTML+="<div onmouseover='overfun("+f+");' onmouseout='outfun("+f+");' onclick='selected_value("+f+")' id="+f+" style='cursor:pointer;'>"+jsonObject[f]+"</div><div style='clear:both;'></div>";
//								
							}
						}
						else
						{
							document.getElementById('div1').style.display="none";
							document.getElementById("search_result").innerHTML="";
						}
					}
					else{
					   //alert('status and ready state failed.');
					   //setTimeout("location.reload(true);",0);  //to refresh the page
					}
					//document.getElementById('cat_loader1').style.display = 'none';
				 }
				 else if (this.readyState == 4 && this.status != 200) {
					//setTimeout("location.reload(true);",0);  //to refresh the page
					//alert('Current Page is not loaded properly. Please try again by clicking on the same link');
					//alert('status is not 200 ready state has been obtained. Status is:' + this.status);
				 }
			
				
				},
				getXMLHttp:function()
				{
			      	  var xmlhttp = null;
				      	
			      	  if (window.ActiveXObject)
					  {
			      	    if (navigator.userAgent.toLowerCase().indexOf("msie 5") != -1)
						{
			          	    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
						}
			      	    else
						{
			               xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
						}
					   }
			             if (!xmlhttp && typeof(XMLHttpRequest) != 'undefined')
						 {
			               xmlhttp = new XMLHttpRequest();
						  }
			             if (window.XMLHttpRequest)
						  {// code for IE7+, Firefox, Chrome, Opera, Safari
						  xmlhttp=new XMLHttpRequest();
						  }
						else
						  {// code for IE6, IE5
						  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
						  }
							return xmlhttp;
				}
				
				}
		
		if(e!="")
		{
			testUrl ="<?php echo BASEPATH?>/search/followerdropdown/clientCh/"+e;
			ajaxCall.getData(testUrl);
		}
		
	}
	function call_submit1(){

	
		document.searchform.submit();
		}
	</script>
	<!-- add by varun for menu -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
  	<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/menustyle.css" type="text/css" media="screen, projection"/>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" language="javascript" src="<?php echo BASEPATH;?>/js/hoverIntent.js"></script>
	<script type="text/javascript" language="javascript" src="<?php echo BASEPATH;?>/js/jquery.dropdown.js"></script>
	<!-- End by varun for menu -->
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="shortcut icon" href="<?php echo BASEPATH;?>/images/common/favicon.jpg" />
	
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.alerts.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/ddmegamenu.js"></script>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.alerts.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/ddmegamenu.css"/>
<!--  brgv 25-04 -->
<style>
#footerlastdiv a:hover{
	color:#FF6633 !important;
}
#social ul
{
    margin: 65px 0 0 10px;
    padding-right: 0px;
}
.popular_bar
{
	/*font-family:Tahoma;*/
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;/*brgv 26-4*/
}
.popular_bar
{
    background: url("<?php echo BASEPATH;?>/images/popular_bar_bgNew.jpg") repeat-x scroll 0 0 transparent;
    border:none;
}
#menu .main {
    height: 44px;
    margin: 0 auto;
    width: 980px;
}
.highlightedblack
{
	/*background-color: #000000 !important;*/
    border-radius: 5px 5px 0 0;
}
</style>
<!-- end brgv 25-04 -->
<script>

function call_fb()
{
	//window.location.href='http://www.facebook.com/pages/Skillzot/393253524025786';
	window.open('http:\/\/www.facebook.com/pages/Skillzot/393253524025786');
}
function call_twitter()
{
	//window.location.href='https://twitter.com/Skillzot';
	window.open('https:\/\/twitter.com/Skillzot');
}
function skillpageredirect(id)
{
	window.location.href="<?php echo BASEPATH?>/search/index/sessionunsetvar/1/skillid/"+id;
}
</script>
<!--<title>Skillzot</title>
--><!--[if IE 7]>
	 <style>
		#social ul li {
			width:45px;
		}
	</style>
	<![endif]-->
	<!--[if IE]>
	<style type="text/css" media="screen">
	@font-face{
	font-family: 'handofsean';
	src: url('<?php echo BASEPATH; ?>/fonts/hand-of-sean.eot');
	}
	@font-face {
	 font-family: 'Arial Rounded MT';
	 src: url("<?php echo BASEPATH; ?>/fonts/arial-rounded-mt.eot") /* EOT file for IE */
	}
	</style>
	<![endif]-->
</head>

<body>
<div id="social">
				<ul>
			    	<li><a class="fb" onclick="javascript:call_fb();" href="#"></a></li>
			        <li><a class="tweet" onclick="javascript:call_twitter();" href="#"></a></li>
					<li><a class="subscribe" href="<?php echo BASEPATH;?>/blog"></a></li>
			       
			    </ul>
</div>
<div id="fixedheader">
	<div id="header">
		<?php include_once dirname(dirname(__FILE__)).'/helpers/topbanner.php';?>
	</div>
	<div id="menu">
		<?php include_once dirname(dirname(__FILE__)).'/helpers/skillmenuheader.php';?>	
		<div class="newsearch">
			<div style="width:980px;margin:0 auto;display:inline-block;">
				<form action="<?php echo BASEPATH;?>/search/index" name="searchform" id="searchform" method="post" enctype="multipart/form-data">
				<div class="searchtext" >
					<img src='<?php echo BASEPATH;?>/images/go_search.png' class="gobtn1" name="searchtxt" id="searchtxt" onclick="call_submit1();"/>
					<!--<div style="float:left;height:35px;width:1px;border-right:2px solid #FF6633;"></div>-->
					<div class="txt">
						<input style="color:#999;" type="text" value="Type a skill you love" id="keywords" name="keywords" onkeyup="drop_cname(this.value);" szprompt="Type a skill you love" />
					</div>
				    <div class="searchlist" id="div1">
						<div id="search_result"></div>
					</div>
					<input type="hidden" id="hiddencname" value="<?php if(isset($selectcId) && $selectcId != ""){echo $selectcId;}?>" name="hiddencname" />
				    <input type="hidden" id="skilltype" name="skilltype" value="0"/>
				</div>
			</form>
		</div>
	</div>
	</div>
</div>
<div id="wrap_content">
<!--<div class="popular_bar">-->
<!--				<strong>Popular:</strong>-->
<!--				<a href="<?php echo BASEPATH;?>/search/index/skillid/14">Dance</a> (<font color="#00a7e6">NEW!</font>) | old color="#CC0000"  -->
<!--				<a href="<?php echo BASEPATH;?>/search/index/skillid/13">Music</a> (<font color="#00a7e6">NEW!</font>) |-->
<!--				<a href="<?php echo BASEPATH;?>/search/index/skillid/36">Yoga</a> (<font color="#00a7e6">NEW!</font>) |-->
<!--				<a href="<?php echo BASEPATH;?>/search/index/skillid/33">Martial Arts</a> (<font color="#00a7e6">NEW!</font>)-->
<!--			</div>-->
<div id="content" style="display:inline-block;width:980px;margin:auto;margin-bottom:30px;">
	<?php echo $this->layout()->content;?>
</div><!-- End of content div -->

</div> <!-- End of wrap_content div -->
<div id="footer">
	<?php include_once dirname(dirname(__FILE__)).'/helpers/footerhome.php';?>
</div>
<?php if(isset($this->showfoot) && $this->showfoot=="yes"){?>
<div id="footerlastdiv" style="text-align:center;">
	Live in Mumbai, coming to other cities soon. 
<!--
	Please <a href="<?php echo BASEPATH;?>/comingsoon/index" style="color:#1CA3E7">sign up here</a> if not from Mumbai and we'll be in touch.
-->
</div>
</br>
<?php }?>
</body>
</html>
