<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<?php
	$skillobj = new Skillzot_Model_DbTable_Skillslisting();
	$skillRows = $skillobj->fetchAll($skillobj->select()
											  ->from(array('s'=>DATABASE_PREFIX.'master_skills_for_diplay_listing'))
											  ->where("is_enabled = 1 && is_skill = 1 && parent_skill_id = 0 && skill_id!=0")
											  ->order(array("order_id asc")));
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
<!--	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link rel="shortcut icon" href="<?php echo BASEPATH;?>/images/common/favicon.jpg" />
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.alerts.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/ddmegamenu.js"></script>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.alerts.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/ddmegamenu.css"/>
</head>

<body>
<div id="fixedheader">
	<div id="header">
		<?php include_once dirname(dirname(__FILE__)).'/helpers/tutortopbanner.php';?>
	</div>
	<div id="menu">
		<div class="main">
			<div id="headercontactus" class="right">
				<span class="contactovr openskillbox" rel="<?php echo BASEPATH;?>/managecms/contactus/">
					<span style="padding-right:10px;font-weight:normal;">Need Help:&nbsp;09820921404</span>
				</span>	
				<span style="color:#fff;display:inline-block;font-size:12px;font-weight:normal;">Mon-Fri, 10am to 5.30pm</span>
			</div>
		</div>
	</div>
</div>	
<div id="wrap_content">
	<div id="content">
		<?php echo $this->layout()->content;?>
	</div><!-- End of content div -->
</div> <!-- End of wrap_content div -->
<div id="footer">
	<?php include_once dirname(dirname(__FILE__)).'/helpers/footerhome.php';?>
</div>
</body>
</html>
