<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<?php
	$skillobj = new Skillzot_Model_DbTable_Skills();
	/*$skillRows = $skillobj->fetchAll($skillobj->select()
											  ->from(array('s',DATABASE_PREFIX.'master_skills'))
											  ->where("is_enabled = 1")
											  ->order(array("parent_skill_id asc","order_id asc")));*/
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="shortcut icon" href="<?php echo BASEPATH;?>/images/common/favicon.jpg" />
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.alerts.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/ddmegamenu.js"></script>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.alerts.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/ddmegamenu.css"/>
	<style>
	.main p
	{
		color:white;
		font-size:18px;
		font-weight: bold;
		margin:10px 0 0 0;
		float:left;
	}
	</style>
	<!--[if IE]>
	<style type="text/css" media="screen">
	@font-face{
	font-family: 'handofsean';
	src: url('<?php echo BASEPATH; ?>/fonts/hand-of-sean.eot');
	}
	@font-face {
	 font-family: 'Arial Rounded MT';
	 src: url("<?php echo BASEPATH; ?>/fonts/arial-rounded-mt.eot") /* EOT file for IE */
	}
	
	</style>
	<![endif]-->
</head>

<body>
<div id="fixedheader">
<div id="header" style="width:800px;">
	
	<?php include_once dirname(dirname(__FILE__)).'/helpers/commingsoontopbanner.php';?>
	
</div>
<!--<div id="social">-->
<!--				<ul>-->
<!--			    	<li><a class="fb" href="#"></a></li>-->
<!--			        <li><a class="tweet" href="#"></a></li>-->
<!--			        <li><a class="youtube" href="#"></a></li>-->
<!--			    </ul>-->
<!--			</div>-->
<div id="menu" style="width:800px">
	<div class="main" style="width:800px;"><p>Find the best teachers to nurture your talent at Skillzot.com!</p></div>
</div>
</div>
<div id="wrap_content">

<div id="content">
	<?php echo $this->layout()->content;?>
</div><!-- End of content div -->
</div> <!-- End of wrap_content div -->
<div id="footer">
	<?php include_once dirname(dirname(__FILE__)).'/helpers/commingsoonfooter.php';?>
</div>
</body>
</html>
