<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>

<html>

<head>
	<title>Page Not Found.</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="<?php echo BASEPATH; ?>/images/common/favicon.jpg" />

	<meta name="description" content="Skillzot helps you find and contact the best teachers & classes, to learn any skill, in a place convenient for you and help you nurture your talent.">
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.alerts.js"></script>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.alerts.css"/>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/users.css"/>
	<?php
		//echo $this->headTitle("SkillZot");
		
		echo $this->headScript()->appendFile(BASEPATH.'/js/thumbscroller.js');
	?>
<!--  brgv 25-04 -->

	<script type="text/javascript">
	$(document).ready(function(){
				$('#footer').hide();
				$('#page-wrap').hide();
				$('#loginsignup').hide();	
				var h1=$(window).height()-($('#header').height()+$('#menu').height()+20);
				$('.maindiv').css('height',h1);
				var h2=$('.innerdiv').height();
				var w2=$('.innerdiv').width();
				$('.innerdiv').css({
					'top':'50%',
					'left':'50%',
					'margin-top':-1*(h2/2),
					'margin-left':-1*(w2/2)		
					});
				
			});	
	</script>
	<style>
	.ptag
	{
		color:#000;font-size:16px;float:left;letter-spacing:0px;width:100%;float:left;
	}
	.button
	{
	    background-color: #00A7E6;
	    background-position: left top;
	    border: 2px solid #00A7E6;
	    border-radius: 10px 10px 10px 10px;
	    color: #FFFFFF;
	    font-size: 12px;
	    height: 25px;
	    line-height: 26px;
	    text-align: center;
	   	font-weight: bold;
	    float:left;
	    text-decoration:none;
	}
	.button:hover
	{
		text-decoration:none;
	}
	.maindiv
	{
		width:100%;text-align:center;height:345px;position:relative;
	}
	.innerdiv
	{
		display:inline-block;width:500px;margin-top:105px;position:absolute;
	}
	a:hover
	{
		 background-color:#676767;
	}
	</style>
	<!-- end brgv 25-04 -->
	
	
	</head>

<body>
	<div class="maindiv">
		<div class="innerdiv">
		<div style="width:90px;height:100%;float:left;margin-top:5px;">
			<img src="<?php echo BASEPATH;?>/images/error404.png" style="margin-top:60px;">
		</div>
		<div style="width:400px;height:100%;float:left;text-align:left;">
			<h1 style="color:#FF6633;float:left;">Oops! Page Not Found...</h1>
			<p style="margin-top:20px;" class="ptag">What's the similarity between dodos, dinosaurs</p>
			<p class="ptag">and this page?</p>
			<p class="ptag" style="margin-top:15px;">They don't exist. We are sorry but one of us got lost.</p>
			<p class="ptag">In geek lingo it's called  Error 404. Trust the internet</p>
			<p class="ptag">to mess with our heads!</p>
			<p class="ptag" style="margin-top:15px;">But don't worry, try one of these links to find your way back.</p>
			<div style="float:left;margin:45px 0 0 0;width:100%;">
				<a class="button" style="width:90px;" href="<?php echo BASEPATH;?>/">HOME</a>
				<a class="button" style="width:150px;margin-left:15px;" href="<?php echo BASEPATH;?>/">TUTOR SEARCH</a>
				<a class="button" style="width:70px;margin-left:15px;" href="<?php echo BASEPATH;?>/faqs#showfaqs">FAQs</a>
			</div>
		</div>
		</div>
		</div>
		
	
		
		<!--<h1>An error occurred</h1>
		<h2><?php //echo $this->message; ?></h2>
		
		<h3>Exception information:</h3>
		<p>
			<b>Message:</b>
			<?php //echo $this->exception->getMessage(); ?>
		</p>
		
		<h3>Stack trace:</h3>
		<pre><?php //echo $this->exception->getTraceAsString(); ?></pre>
		
		<h3>Request Parameters:</h3>
		<pre><?php //echo var_export($this->request->getParams(),1); ?></pre>
		
		
	-->
	</body>
</html>