<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>

<html>

<head>
	<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<?php
		
		echo $this->headTitle("Skillzot Dashboard");
		
		echo $this->headLink()->appendStylesheet(BASEPATH.'/css/usernew.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery-ui-1.8.2.custom.css')
							  ->appendStylesheet(BASEPATH.'/css/jquery.alerts.css')
							  ->appendStylesheet(BASEPATH.'/css/stylenew.css');
		
		echo $this->headScript()->appendFile(BASEPATH.'/js/crud.js')
								->appendFile(BASEPATH.'/js/jquery-1.8.0.min.js')
								->appendFile(BASEPATH.'/js/jquery.alerts.js');
	?>
	<script>
function call_closebox(){
	parent.Mediabox.close();
}
</script>
</head>

<body>
	<?php echo $this->layout()->content;?>
	
</body>

</html>