<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<?php
	$skillobj = new Skillzot_Model_DbTable_Skills();
	$skillRows = $skillobj->fetchAll($skillobj->select()
											  ->from(array('s'=>DATABASE_PREFIX.'master_skills'))
											  ->where("is_enabled = 1 && parent_skill_id = 0 && skill_id!=0 && is_skill='1'")
											  ->order(array("order_id asc")));
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	<script type="text/javascript">
	function drop_cname(e)
	{
		//alert(e);
		document.getElementById('hiddencname').value="";
		//document.getElementById('cat_loader1').style.display = 'block';
		var ajaxCall={
				
				getData:function(url)
				{
					
					var xmlObj=this.getXMLHttp();
					xmlObj.onreadystatechange = this.ajaxCompleted;
					xmlObj.open("GET", url, true);
					xmlObj.send();
					
				},
				ajaxCompleted: function()
				{
					/* cookie can be set till here,not below this code */
				if(this.readyState == 4 && this.status == 200) {
					
					if(this.responseText != null){
						var jsonObj = this.responseText;
						
						var jsonObject = eval("(" + jsonObj + ")");
						
						if(jsonObject!="" && jsonObject!=null )
						{
							document.getElementById("search_result").innerHTML="";
							document.getElementById('div1').style.display="block";
							document.getElementById('closediv').style.display="block";
							//alert(jsonObject.length);
							var v= jsonObject.toString();
							
							
							for(var f=0;f<jsonObject.length;f++)
							{
//								alert(n[f]);
								//if(n1 == 0)
									document.getElementById("search_result").innerHTML+="<div onmouseover='overfun("+f+");' onmouseout='outfun("+f+");' onclick='selected_value("+f+")' id="+f+" style='cursor:pointer;'>"+jsonObject[f]+"</div><div style='clear:both;'></div>";
//								
							}
						}
						else
						{
							document.getElementById('div1').style.display="none";
							document.getElementById("search_result").innerHTML="";
						}
					}
					else{
					   //alert('status and ready state failed.');
					   //setTimeout("location.reload(true);",0);  //to refresh the page
					}
					//document.getElementById('cat_loader1').style.display = 'none';
				 }
				 else if (this.readyState == 4 && this.status != 200) {
					//setTimeout("location.reload(true);",0);  //to refresh the page
					//alert('Current Page is not loaded properly. Please try again by clicking on the same link');
					//alert('status is not 200 ready state has been obtained. Status is:' + this.status);
				 }
			
				
				},
				getXMLHttp:function()
				{
			      	  var xmlhttp = null;
				      	
			      	  if (window.ActiveXObject)
					  {
			      	    if (navigator.userAgent.toLowerCase().indexOf("msie 5") != -1)
						{
			          	    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
						}
			      	    else
						{
			               xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
						}
					   }
			             if (!xmlhttp && typeof(XMLHttpRequest) != 'undefined')
						 {
			               xmlhttp = new XMLHttpRequest();
						  }
			             if (window.XMLHttpRequest)
						  {// code for IE7+, Firefox, Chrome, Opera, Safari
						  xmlhttp=new XMLHttpRequest();
						  }
						else
						  {// code for IE6, IE5
						  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
						  }
							return xmlhttp;
				}
				
				}
		
		if(e!="")
		{
			testUrl ="<?php echo BASEPATH?>/search/followerdropdown/clientCh/"+e;
			ajaxCall.getData(testUrl);
		}
		
	}
	function selected_value(f,j)
	{
		//alert(j);
		//alert(f);
		document.getElementById('keywords').value=document.getElementById(f).innerHTML;
		document.getElementById('hiddencname').value=j;
		document.getElementById('div1').style.display="none";
	}
	function closediv1()
	{
		document.getElementById('div1').style.display="none";
		document.getElementById('closediv').style.display="none";
	}
	function overfun(f)
	{
		document.getElementById(f).style.backgroundColor='#AAA5A4';
	}
	function outfun(f)
	{
		document.getElementById(f).style.backgroundColor='#ffffff';
	}
	</script>
	<!-- add by varun for menu -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	
	
  	<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/menustyle.css" type="text/css" media="screen, projection"/>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.3.1.min.js"></script>
	<script type="text/javascript" language="javascript" src="<?php echo BASEPATH;?>/js/hoverIntent.js"></script>
	<script type="text/javascript" language="javascript" src="<?php echo BASEPATH;?>/js/jquery.dropdown.js"></script>
	<!-- End by varun for menu -->
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="shortcut icon" href="<?php echo BASEPATH;?>/images/common/favicon.jpg" />
	
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.alerts.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/ddmegamenu.js"></script>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.alerts.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/ddmegamenu.css"/>
<!--  brgv 25-04 -->
<style>
#social
{
    background-image:url("<?php echo BASEPATH;?>/images/followus.png");
    margin-top:105px;
}
#social ul
{
    margin: 65px 0 0 10px;
    padding-right: 0px;
}
.popular_bar
{
	/*font-family:Tahoma;*/
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;/*brgv 26-4*/
}
.popular_bar
{
    background: url("<?php echo BASEPATH;?>/images/popular_bar_bgNew.jpg") repeat-x scroll 0 0 transparent;
    border:none;
}
#menu .main {
    height: 44px;
    margin: 0 auto;
    width: 980px;
}
.searchtext
{
	color: #666;
	float: right;
	margin-top: 13px;
	font-weight:bold;
	
}
.searchtext input ,.searchtext select
{
	float:left;
	display: inline-block;
	width:111px;
	border: 0 none;
	 height: 21px;
	
}
.roundedLtop
{
	background: url("<?php echo BASEPATH;?>/images/roundedLsidewhite.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: inline-block;
    height: 21px;
    width: 6px;
    float:left;
}
.roundedRtop
{
	background: url("<?php echo BASEPATH;?>/images/roundedRsidewhite.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: inline-block;
    height: 21px;
    width: 6px;
    float:left;
    margin-right:5px;
}
</style>
<!-- end brgv 25-04 -->
<script>

function call_fb()
{
	//window.location.href='http://www.facebook.com/pages/Skillzot/393253524025786';
	window.open('http:\/\/www.facebook.com/pages/Skillzot/393253524025786');
}
function call_twitter()
{
	//window.location.href='https://twitter.com/Skillzot';
	window.open('https:\/\/twitter.com/Skillzot');
}
function call_submit1(){
	
	document.searchform.submit();
}

</script>

<script type="text/javascript">
	$(document).ready(function(){

		if (!$.browser.opera) {
    
			// select element styling
			$('select.select').each(function(){
				var title = $(this).attr('title');
				if( $('option:selected', this).val() != ''  ) title = $('option:selected',this).text();
				$(this)
					.css({'z-index':10,'opacity':0,'-khtml-appearance':'none'})
					.after('<span class="select">' + title + '</span>')
					.change(function(){
						val = $('option:selected',this).text();
						$(this).next().text(val);
						})
			});

		};
		
	});
</script>
<style>
.searchtext
{
	font-weight:normal;
}
.searchtext img
{
	margin-top:-3px;
}
form .slct{position:relative;float:left;margin-right:10px;}
.select
{
	border-radius:0px;
	border:0px;
    color: #666666 !important;
    padding: 0px;
   font-size:12px;
}
select.select{
		position:relative;
		z-index:10;
		width:150px !important;
		height:21px !important;
		line-height:20px;
		 font-size:12px;
}
.slct .select
{
	border:0px !important;
	border-radius:0px !important;
}
/* dynamically created SPAN, placed below the SELECT */
span.select{
	background: url("<?php echo BASEPATH;?>/images/drop-down-150_21.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    float: left;
    height: 20px;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 128px;
    z-index: 1;
    overflow:hidden;
    padding: 0 27px 0 0px;
	}
.txt
{
	float:left;
	width:150px;
	height:21px;
	background: url("<?php echo BASEPATH;?>/images/type-text-150_21.png") no-repeat scroll 0 0 transparent;
	margin-right:10px;
}
.txt input
{
	border:0px;
	background:transparent;
	width:145px;
	height:21px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding:0px 0 0 5px;
     color: #666;
}
.gobtn1
{
    cursor: pointer;
    float: left;
    font-size: 20px;
    height: 25px;
    padding: 0px 4px;
    width: 36px;
}
.searchlist
{
	border:1px solid black;
	top:158px;
	background:#FFFFFF;
	width:300px;
	z-index: 1000002;
	height: auto;
    max-height:300px; 
    overflow-y: auto;
	position: absolute;
	display:none;
	width:150px;
	padding-left:5px;
	font-size: 12px;
}
#closediv
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:9999;
	display:none;
	top:0px;
	left:0px;
}
</style>
<!--[if IE 7]>
	 <style>
		#social ul li {
			width:45px;
		}
	</style>
	<![endif]-->
	<!--[if IE]>
	<style type="text/css" media="screen">
	@font-face{
	font-family: 'handofsean';
	src: url('<?php echo BASEPATH; ?>/fonts/hand-of-sean.eot');
	}
	@font-face {
	 font-family: 'Arial Rounded MT';
	 src: url("<?php echo BASEPATH; ?>/fonts/arial-rounded-mt.eot") /* EOT file for IE */
	}
	</style>
	<![endif]-->
</head>

<body>
<div id="closediv" onclick="closediv1();">&nbsp;</div>
<div id="header">
	<?php include_once dirname(dirname(__FILE__)).'/helpers/topbanner.php';?>
</div>
<div id="social">
				<ul>
			    	<li><a class="fb" onclick="javascript:call_fb();" href="#"></a></li>
			        <li><a class="tweet" onclick="javascript:call_twitter();" href="#"></a></li>
			        <!-- <li><a class="youtube" href="#"></a></li> brgv 25-04-->
			    </ul>
</div>
<div id="menu">
	<div id="page-wrap">
        <ul class="dropdown">
        <li><a href="<?php echo BASEPATH;?>/index/index">Home</a></li>
        <?php if(isset($skillRows) && sizeof($skillRows)>0){?>
        	<?php foreach($skillRows as $maincategory){?>
        		<li><a href="<?php echo BASEPATH;?>/search/index/skillid/<?php echo $maincategory->skill_id;?>"><?php echo $maincategory->skill_name;?></a>
        		
        		<?php
        			$subcategory = $maincategory->skill_id;
					$subskillRows = $skillobj->fetchAll($skillobj->select()
											  ->from(array('s'=>DATABASE_PREFIX.'master_skills'))
											  ->where("is_enabled = 1 && parent_skill_id = '$subcategory' && skill_id!=0 && is_skill='1'")
											  ->order(array("order_id asc")));
											  
					if(isset($subskillRows) && sizeof($subskillRows)>0){
					?>
						<ul class="sub_menu">
							<?php foreach($subskillRows as $subcategory){?>
								<li><a href="<?php echo BASEPATH;?>/search/index/skillid/<?php echo $subcategory->skill_id;?>"><?php echo $subcategory->skill_name;?></a>
								<?php
								$skillcategory = $subcategory->skill_id;
								$skillcategoryRows = $skillobj->fetchAll($skillobj->select()
														  ->from(array('s'=>DATABASE_PREFIX.'master_skills'))
														  ->where("is_enabled = 1 && parent_skill_id = '$skillcategory' && skill_id!=0 && is_skill='1'")
														  ->order(array("order_id asc")));
											  
								if(isset($skillcategoryRows) && sizeof($skillcategoryRows)>0){
								?>
								<ul>
								<?php foreach($skillcategoryRows as $skillcategory){?>
		        					<li><a href="<?php echo BASEPATH;?>/search/index/skillid/<?php echo $skillcategory->skill_id;?>"><?php echo $skillcategory->skill_name;?></a></li>
		        				<?php }?>
		        				</ul>
								<?php
								}?>
								</li>
							<?php }?>
						</ul>
					<?php
					}
        		
        		?>
        		</li>
        	<?php }?>
        <?php }?>
        	
        </ul>
        <form action="<?php echo BASEPATH;?>/search/index" name="searchform" id="searchform" method="post" enctype="multipart/form-data">
		<div class="searchtext" >
<!--		<span style="float:left;margin-right:5px;" >Search</span>-->
<!--		<span class="roundedLtop"></span>-->
		<div class="txt">
			<input type="text" style="font-size:12px;" value="Enter a skill you love..." onkeyup="drop_cname(this.value);" id="keywords" name="keywords" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Enter a skill you love..." />
		</div>
<!--		<span class="roundedRtop"></span>-->
		
<!--		<span class="roundedLtop"></span>-->

<!--		 <div class="slct">-->
<!--		<select id="skilltype" name="skilltype" class="select">-->
<!--				<option value="0">Type of class</option>-->
<!--				<option value="1">Personal lessons only</option>-->
<!--				<option value="2">Classes only</option>-->
<!--				<option value="3">Classes & personal lessons</option>-->
<!--	    </select>-->
<!--	    </div>-->
						<div class="searchlist" id="div1">
				     		<div id="search_result"></div>
				     	</div>
				     	<input type="hidden" id="hiddencname" value="<?php if(isset($selectcId) && $selectcId != ""){echo $selectcId;}?>" name="hiddencname" />
	    <input type="hidden" id="skilltype" name="skilltype" value="0"/>
<!--	    <span class="roundedRtop"></span>-->
	    <img src='<?php echo BASEPATH;?>/images/go.png'onmouseout="this.src='<?php echo BASEPATH;?>/images/go.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/go_hover.png';" class="gobtn1" name="searchtxt" id="searchtxt" onclick="call_submit1();"/>
		</div>
		</form>
	</div>
</div>

<div id="wrap_content">
<!--<div class="popular_bar">-->
<!--				<strong>Popular:</strong>-->
<!--				<a href="<?php echo BASEPATH;?>/search/index/skillid/14">Dance</a> (<font color="#00a7e6">NEW!</font>) | old color="#CC0000"  -->
<!--				<a href="<?php echo BASEPATH;?>/search/index/skillid/13">Music</a> (<font color="#00a7e6">NEW!</font>) |-->
<!--				<a href="<?php echo BASEPATH;?>/search/index/skillid/36">Yoga</a> (<font color="#00a7e6">NEW!</font>) |-->
<!--				<a href="<?php echo BASEPATH;?>/search/index/skillid/33">Martial Arts</a> (<font color="#00a7e6">NEW!</font>)-->
<!--			</div>-->
<div id="content">
	<?php echo $this->layout()->content;?>
</div><!-- End of content div -->

</div> <!-- End of wrap_content div -->
<div id="footer">
	<?php include_once dirname(dirname(__FILE__)).'/helpers/footerhome.php';?>
</div>
</body>
</html>
