<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style>
body{
	margin:0px;
	padding:0px 0 0 20px;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
}
.infolinerow
{
	margin:0px;
}
.errorclasssmall
{
	margin:0px;
}
.stepcolsmall1
{
	float: left;
    font-size: 14px;
    height: auto;
    width: 35% important;
}
.contentbox
{
	margin: 0px;
	float:left;
	width:380px;
	padding:0px;
}
.infolinerow
{
	width:100%;
}
.stepcolsmall2 input,.stepcolsmall2 select
{
width:190px;
}
.steprow1
{
	width:100%;
}
.timings_height
{
	height:84px;
	margin-bottom: 10px;
}
</style>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud4.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
<script type="text/javascript">
		
window.onload = function(){
	document.getElementById("save").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/editprofile/addbatch','add_batch_form','add_batch_form');
		
	};
};	
		</script>
</head>
<body>
<div class="contentbox">
		<div class="infolinerow" style="padding:0px;">
			<span class="nameoftutor" style="color:#1CA3E7;" >Enter class timings</span>
		</div>
<div class="maincontent">
<form action="" name="add_batch_form" id="add_batch_form" method="post" enctype="multipart/form-data">

			<div class="stepcolsmall2">
				<div class="errorclasssmall">&nbsp;</div>
			</div>
		<div class="steprow1">
			<div class=stepcolsmall1>Enter location :</div>
			<div class="stepcolsmall2">
			
			   <input name="batch_desc" id="batch_desc" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Location" value="<?php if (isset($this->batchtext) && $this->batchtext!=""){echo $this->batchtext;}else{echo "Location";}?>" errortag="description">
			   <div id="batch_desc_error" class="errorclasssmall" ></div>
			   <i class="hintclass">Hint: Residence, student's location or branches (Powai, Dadar, etc.)</i>
			</div>
		</div>
		<div class="steprow1">
			<div class=stepcolsmall1>Timings : </div>
			<div class="stepcolsmall2">
			<select name="batch_day" id="batch_day" class="timings_height" style="height:84px;" multiple="true" errortag="timing">
		     	  <option value="1" <?php if (isset($this->dayval) && $this->dayval!=""){if ($this->dayval=="1"){echo "selected";}} ?>>Monday</option>
		    	  <option value="2" <?php if (isset($this->dayval) && $this->dayval!=""){if ($this->dayval=="2"){echo "selected";}} ?>>Tuesday</option>
		    	  <option value="3" <?php if (isset($this->dayval) && $this->dayval!=""){if ($this->dayval=="3"){echo "selected";}} ?>>Wednesday</option>
		    	  <option value="4" <?php if (isset($this->dayval) && $this->dayval!=""){if ($this->dayval=="4"){echo "selected";}} ?>>Thusday</option>
		    	  <option value="5" <?php if (isset($this->dayval) && $this->dayval!=""){if ($this->dayval=="5"){echo "selected";}} ?>>Friday</option>
		    	  <option value="6" <?php if (isset($this->dayval) && $this->dayval!=""){if ($this->dayval=="6"){echo "selected";}} ?>>Saturday</option>
		    	  <option value="7" <?php if (isset($this->dayval) && $this->dayval!=""){if ($this->dayval=="7"){echo "selected";}} ?>>Sunday</option>
		    	  
		    	  <option value="8">Weekdays</option>
		    	  <option value="9">Weekends</option>
		    	  <option value="10">Every day</option>
		    	  
	 		</select>
	 		<i class="hintclass">To select multiple days press ctrl</i>
	 		<input type="hidden" name="day_temp_id" id="day_temp_id" value="">
	 		<script>
	 		$(document).ready(function() {
	 			document.getElementById("day_temp_id").value = '<?php if(isset($this->dayval) && $this->dayval!=""){echo ",".$this->dayval;}?>';
	 		    $('#save').click(function() {

	 		        var result = '';
	 		        $('#batch_day > :selected').each(function() {
	 		            result += ','+$(this).val();
	 		           //dd = $(this).length;
	 		           //alert(dd);
	 		          // $("#day_temp_id").html("value: " + result);
	 		     		document.getElementById("day_temp_id").value = result;
	 		        });
	 		        if (result == "") {
	 		            result = "Please select any option(s)..!";
	 		           $("#batch_start_time_error").html(result);
	 		        }
	 		    });
	 		});
	 		</script>
	 		
	 		
	 		<select name="batch_start_time" style="width:78px;" id="batch_start_time" errortag="batch timing">
		          <option value="">--start time--</option>
		          <?php $tempval=5; for($i=1;$i<39;$i++){?>
		          <?php if($i%2!=0){
		     	  	$tempval1 = $tempval.".00";
		     	  }else{$tempval1 =$tempval.".30";$tempval++;}?>
		     	  <option value="<?php echo $i;?>" <?php if (isset($this->starttime) && $this->starttime!=""){if($i==$this->starttime){echo "selected";}}?>><?php echo $tempval1;?></option>
		     	  <?php }?>
	  		 </select>
	   
	  		 <select name="batch_end_time" style="width:78px;" id="batch_end_time" errortag="timing">
		          <option value="">--end time--</option>
		          <?php $tempval=5; for ($i=1;$i<=39;$i++){?>
		          <?php if($i%2!=0){
		     	  	$tempval1 = $tempval.".00";
		     	  }else{$tempval1 = $tempval.":30";$tempval++;}?>
		     	  <option value="<?php echo $i;?>" <?php if (isset($this->endtime) && $this->endtime!=""){if($i==$this->endtime){echo "selected";}}?>><?php echo $tempval1;?></option>
		     	  <?php }?>
	  		 </select>
				<div id="batch_start_time_error" class="errorclasssmall" ></div>
			</div>
		</div>
		<div class="steprow1">
			<div class=stepcolsmall1>Color :</div>
			<div class="stepcolsmall2">
			<select name="batch_color" id="batch_color" errortag="timing">
		          <option value="">--Select--</option>
		     	  <option value="#31BDE6" <?php if (isset($this->batchcolor) && $this->batchcolor!=""){if ($this->batchcolor=='#31BDE6'){echo "selected";}}?>>Blue (Teaching slots/hours for flexible schedule)</option>
		    	  <option value="#E64952" <?php if (isset($this->batchcolor) && $this->batchcolor!=""){if ($this->batchcolor=='#E64952'){echo "selected";}}?>>Orange-Red (Fixed batch 1)</option>
		    	  <option value="#ED6352" <?php if (isset($this->batchcolor) && $this->batchcolor!=""){if ($this->batchcolor=='#ED6352'){echo "selected";}}?>>Orange (Fixed batch 2)</option>
		    	  <option value="#FF9452" <?php if (isset($this->batchcolor) && $this->batchcolor!=""){if ($this->batchcolor=='#FF9452'){echo "selected";}}?>>Yellow-Orange (Fixed batch 3)</option>
		    	  <option value="#FFFF7B" <?php if (isset($this->batchcolor) && $this->batchcolor!=""){if ($this->batchcolor=='#FFFF7B'){echo "selected";}}?>>Yellow (Fixed batch 4)</option>
		    	  <option value="#42AD42" <?php if (isset($this->batchcolor) && $this->batchcolor!=""){if ($this->batchcolor=='#42AD42'){echo "selected";}}?>>Yellow-Green (Fixed batch 5)</option>
	  		 </select>
				<div id="batch_color_error" class="errorclasssmall" ></div>
			</div>
		</div>
		<div class="steprow1">
		<i class="hintclass">Hint:- Individual teachers who don't have fixed class slots should select 'blue' to highlight slots/hours when they take classes (ex. 8am to 12pm). </i>
		<div class="clear"></div>
		<i class="hintclass">Hint:- If you want to highlight different fixed batches/class slots, use different colours to differentiate each one. </i>
		</div>
		<div class="steprow1">
			<div class=stepcolsmall1>&nbsp;</div>
			<div class="stepcolsmall2">
				<div class="joinnow">
					<img id="save"  src="<?php echo BASEPATH;?>/images/savenew.png"  onmouseout="this.src='<?php echo BASEPATH;?>/images/savenew.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/save_hover.png';" id="save" name="save" />
				</div>
			</div>
		</div>
		</form>
</div>
</div>
</body>
</html>