<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
	<?php 

if(isset($this->tutordata->company_name) && $this->tutordata->company_name!="")
{ 
$tutorNameforalttag =  ucfirst($this->tutordata->company_name);}
else{

if(isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!="" && isset($this->tutordata->tutor_last_name))
{ 
	$tutorNameforalttag =  ucfirst($this->tutordata->tutor_first_name)." ".ucfirst($this->tutordata->tutor_last_name);
}
}
?>

<title><?php if (isset($tutorNameforalttag) && $tutorNameforalttag!=""){echo $tutorNameforalttag;} ?> experience edit </title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	
	
<script type="text/javascript">

window.onload = function(){
	document.getElementById("save").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/edit-profile/experience','register_step','register_step');
		
	}
};
function myfunctionin(uid){
	//alert('in');
	var id = uid;
	var pos = $("#"+id).height();
	var topp = "-"+(pos/2-10);
	//alert("-"+pos/2);
	//$('#'+id).css('top', topp);
	//$(".tooltipdivspan2").css.top("-"+pos/2);
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "visible";
	uniqid.style.top = topp+"px";
}
function myfunctionout(uid){
	//alert('ioo');
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "hidden";
}
function call_delete(id)
{
	jConfirm('Are you sure want to delete?', 'Confirmation Dialog', function(r) {
		if(r == true) window.location.href= '<?php echo BASEPATH; ?>/editprofile/deleteeducation/cid/'+id;
		else return false;
	});
}
</script>
	
<style>
.tutorcontentholder
{
	min-height:500px;
}
.midcontent
{
	width: 959px;
}

.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.stepcol1
{
	width:265px;
}
.stepcol2
{
	width: 350px;
}
#registration_form_2 input
{
	 width: 262px;
}
.tooltipclass{
	
	/*margin-bottom:-7px;*/
	cursor:pointer;
	position:relative;
}
.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:175px;
	font-size: 14px;
    font-weight: normal;
    z-index:1;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:60px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
.lowspacer{
	height:15px;
}
#registration_form_2 .checkbox
{
	height:auto;
	 float: left;
    width: 50px;
}

.leftcontent
{
	width: 270px;
}
.tutorleftcontenttop
{
	background-repeat:no-repeat;
	width: 239px;
}
.tutorleftcontentmid
{
    background-repeat: repeat-y;
    width: 244px;
}
.tutorleftcontentbot
{
    background-repeat:no-repeat;
    width: 239px;
}
.CourseDetTop {
    background-repeat: no-repeat;
    width: 539px;
}
.CourseDetMid
	{
	    background-repeat: repeat-y;
	    width: 539px;
	    padding: 15px 0 0 14px;
	}
.CourseDetBot {
    background-repeat: no-repeat;
    width: 653px;
}
.infolinerow
{
	width:100%;
}
#registration_form_2 select {

width:90px;
}
.rightcontent {
    width: 585px;
}
</style>
</head>
	<body>
	
			<form method="post" action="" name="register_step" id="register_step" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
				<div class="rightcontent">
				<div class="CourseDetMid">
				<?php
						if(isset($authUserNamespace->changesave) && $authUserNamespace->changesave!="") {?>
						<div class="infolinerow onlyorangedisplay">
							<?php
								echo $authUserNamespace->changesave;
								unset($authUserNamespace->changesave);
							?>
						</div>
						<?php }?>
				<div class="infolinerow" style="padding:0px;">
						<span class="nameoftutor" >Experience/Qualifications</span>
				</div>
				<div class="allfields"><span class="onlyorangedisplay">*</span> All fields are required</div>
				<?php //if (isset($authUserNamespace->userclasstype) &&  $authUserNamespace->userclasstype=="4"){ ?>
							
					<div class="steprow1">
						<strong>Company started in the year :</strong> <span class="onlyorangedisplay">*</span>
					</div>
					<div class="clear">&nbsp;</div>
					
						<div class="steprow1">
							<select id="companystartdate" name="companystartdate" style="float:left;margin-right:5px;" errortag="Start year">
											<option value="">Start Year</option>
											<?php for($l=date('Y');$l>1964;$l--){?>
												<option value="<?php echo $l;?>" <?php if (isset($this->companydata) && sizeof($this->companydata)>0){$compnydetails = $this->companydata; if($compnydetails[0]['company_start_year']==$l){echo "selected";}}?> ><?php echo $l;?></option>
											<?php }?>
					                	</select>
						</div>
						<div id="companystartdate_error" class="errorcls1">&nbsp;</div>
					
					
				
					<?php //} ?>

				<div class="steprow1">
							<strong style="float:left;">Relevant experience (teaching, tutoring, work, etc.)</strong><span class="onlyorangedisplay">*</span>
							<span style="float:left;" class="tooltipclass">
											<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename2');" onmouseout="myfunctionout('uniquename2');" />
											<span class="tooltipdiv" id="uniquename2" style="visibility: hidden;">
												<span class="tooltipdivspan2">Student's love seeing teachers with relevant experience. Tell us a bit about yours.</span>
											</span>
							</span>
							
				</div>
				<?php if (isset($this->tutorexperiencedata) && $this->tutorexperiencedata !="")
			 			{
				 		$expData = $this->tutorexperiencedata;
				 		$experienceSize = sizeof($this->tutorexperiencedata);
				 		
						for ($i=0;$i<$experienceSize;$i++)
			 			{
			 			 ?>
						
						<div id="repeatexpdiv_<?php echo $i;?>" class="steprow1">
				
						<div class="clear">&nbsp;</div>
						
		 					<input style="float:left;width:145px;margin-right:5px;" type="text" name="institute[]" id ="institute[]" errortag="School/Organization/Self-employed or Start Date or End Date"
		 					value="<?php echo $expData[$i]['tutor_expedu_kind']; ?>" szprompt="School/Organization/Self-employed" onfocus="clearit(this);" onblur="fixit(this);">
						
						
							<input style="float:left;width:145px;margin-right:5px;" type="text" name="subject[]" id ="subject[]" value="<?php echo $expData[$i]['tutor_expedu_field']; ?>" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Skills taught or practiced">
						
					
							<select id="startyear[]" name="startyear[]" style="float:left;margin-right:5px;height:30px;">
								<option value="">From Year</option>
								<?php for($l=date('Y');$l>1964;$l--){?>
									<option value="<?php echo $l;?>" <?php if($expData[$i]['tutor_expedu_start_year']==$l) {echo "selected";}?>><?php echo $l;?></option>
								<?php }?>
		                	</select>
					
					
							<select id="endyear[]" name="endyear[]" style="float:left;margin-right:5px;height:30px;">
								<option value="">To Year</option>
								<option value="Present" <?php if($expData[$i]['tutor_expedu_end_year']=="Present") {echo "selected";}?>>Present</option>
								<?php for($l=date('Y');$l>1964;$l--){?>
									<option value="<?php echo $l;?>" <?php if($expData[$i]['tutor_expedu_end_year']==$l) {echo "selected";}?>><?php echo $l;?></option>
								<?php }?>
		                	</select>
		                	<a onclick="call_delete('<?php echo $expData[$i]['id'];?>');" href="#"><img src="<?php echo BASEPATH;?>/images/black_close.png" style="width:16px;height:16px;float:left;margin-top:5px;margin-left:5px;"/></a>
		                	
							<div class="steprow1" style="margin-top:15px;">
<!--								<strong>Current Status :</strong> <span style="color:red">*</span>-->
							</div>
							<div class="clear">&nbsp;</div>
							
							<div class="steprow1">
								<div style="float:left;"><input type="checkbox"  <?php if($expData[$i]['teach_flag']==1){echo "checked";} ?> value="1" class="checkbox" id="statusteach<?php echo $i;?>" name="statusteach<?php echo $i;?>" errortag="Current status"/><span style="float:left;">Teach</span></div>
								<div style="float:left;"><input type="checkbox" 	<?php if($expData[$i]['profession_flag']==1){echo "checked";} ?>  value="1" class="checkbox" id="statusprofession<?php echo $i;?>"  name="statusprofession<?php echo $i;?>" /><span style="float:left;">Practice as profession</span></div>
								<div style="float:left;"><input type="checkbox"  <?php if($expData[$i]['hobby_flag']==1){echo "checked";} ?> value="1" class="checkbox" id="statushobby<?php echo $i;?>" name="statushobby<?php echo $i;?>"/><span style="float:left;">Practice as hobby</span></div>
							</div>
							<div class="steprow1" id="instituteVarDiv">
								<input type="hidden" id="institute<?php echo $i;?>" errortag="Experience row<?php echo $i;?>"/>
								<div id="institute<?php echo $i;?>_error" class="errorcls1">&nbsp;</div>
<!--								<div id="statusteach<?php // echo $i;?>_error" class="errorcls1">&nbsp;</div>-->
							</div>
		  			</div>
							
						<?php
				 			}
				 		}?>
			
					<div class="add-smallholder"><a class="add-small" rel="lightbox[external 580 280]" href="<?php echo BASEPATH;?>/editprofile/addexperience">Add experience</a></div>
<!--				<div class="infolinerow">-->
<!--						<span class="nameoftutor" style="color:#1CA3E7;" >Qualifications</span>-->
<!--				</div>-->
				<div class="steprow1" style="margin:10px 0px 5px 0px;">
						<strong>Qualification/Certifications :</strong>
						
				</div>
				<div class="clear">&nbsp;</div>
				<?php if (isset($this->tutorqualificationdata) && $this->tutorqualificationdata !="")
			 		{
			 			$qualificationData = $this->tutorqualificationdata;
			 			$qualificationSize = sizeof($this->tutorqualificationdata);
			 			for ($j=0;$j<$qualificationSize;$j++)
			 			{
					 	?>
							<div id="repeatdegreediv_<?php echo $j;?>" class="steprow1">
								
									<input style="float:left;width:123px;margin-right:5px;" type="text" id="degree[]" name="degree[]" value="<?php echo $qualificationData[$j]['tutor_expedu_kind']; ?>" errortag="Degree/Diploma/etc or Speciality or College/University/Course or Year" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Degree/Diploma/etc" >
								
							
									<input style="float:left;width:123px;margin-right:5px;" type="text" id="speciality[]" name="speciality[]" value="<?php echo $qualificationData[$j]['tutor_expedu_field']; ?>" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Speciality">
							
							
									<input style="float:left;width:123px;margin-right:5px;" type="text" id="university[]" name="university[]" value="<?php echo $qualificationData[$j]['tutor_expedu_place']; ?>" onfocus="clearit(this);" onblur="fixit(this);" szprompt="College/University/Course">
								
							
									<select style="float:left;margin-right:5px;" id="completion_year[]" name="completion_year[]">
										<option value="">End Year</option>
										<option value="Present" <?php if($qualificationData[$j]['tutor_expedu_end_year']=="Present") {echo "selected";}?>>Present</option>
										<?php for($l=date('Y');$l>1964;$l--){?>
											<option value="<?php echo $l;?>" <?php if($qualificationData[$j]['tutor_expedu_end_year']==$l) {echo "selected";}?>><?php echo $l;?></option>
										<?php }?>
					                </select>
					                <a onclick="call_delete('<?php echo $qualificationData[$j]['id'];?>');" href="#"><img src="<?php echo BASEPATH;?>/images/black_close.png" style="width:16px;height:16px;float:left;margin-top:5px;margin-left:5px;"/></a>
							</div>
							<div class="clear">&nbsp;</div>
							<div id="degreeVarDiv">
								<input type="hidden" id="degree<?php echo $j;?>" errortag="Qualification row<?php echo $j;?>"/>
								<div id="degree<?php echo $j;?>_error" class="errorcls1">&nbsp;</div>
							</div>
						<?php
			 			}
			 		}?>
<!--				<div class="infolinerow">-->
<!--						<span class="nameoftutor" style="color:#1CA3E7;" >Education background</span>-->
<!--				</div>-->
					<div class="add-smallholder"><a class="add-small" rel="lightbox[external 580 212]" href="<?php echo BASEPATH;?>/editprofile/addqualification">Add qualification/certifications</a></div>
				
				<div class="clear">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
					<div class="stepcol2">
					  	
						 <div class="savecontinue">
						 	<img src="<?php echo BASEPATH;?>/images/savenew.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/savenew.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/save_hover.png';" id="save" name="save" />
						 </div>
					</div>
				</div>
				
				</div>
			</div>
			
			</div>
			
	</form>
	</body>
</html>