<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotprontonew.css"/>
<style>
body{
	margin:0px;
	padding:0px 0px 0px 0px;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
	/*height:600;*/
	/*width:800;*/
}
.contentbox
{
	/*width:750px;*/
	padding:0px;
	float:left;
}
.nxtprevbtn
{
	width:40px;
	background-color: transparent;
	border:0px;
	color: #FFFFFF;
    cursor: pointer;
    font-size: 30px;
    font-weight: normal;
    height: 40px;
    padding:0px;
    margin: 0 15px;
    background-image: url("<?php echo BASEPATH;?>/images/skillboxbg_b.png");
}
.nxtprevbtn:hover
{
	background-image: none;
	background-color: #FF6633;
}
.imagetitle
{
    bottom: 0;
    height: 27px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 999;
    padding-top:14px;
    background-image: url("<?php echo BASEPATH;?>/images/skillboxbg_b.png");
}
.imagetitle span
{
	color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    float:left;
    margin-left:15px;
}
</style>
<script>

$(document).ready(function() {

	$('.nxtprevbtn').live('click',function(){
		changephoto($(this).val());
	});

	var totalphotocount = $('#totalphotocount').val();
	var startphotoid = $('#startphotoid').val();
	
	if(startphotoid < 2)
	{
		$('#previousbutton').css('visibility','hidden');
	}else{
		$('#previousbutton').css('visibility','visible');
	}
	if(startphotoid > totalphotocount - parseInt(1))
	{
		$('#nextbutton').css('visibility','hidden');
	}else{
		$('#nextbutton').css('visibility','visible');
	}

});
function changephoto(id)
{
	document.getElementById("previousbutton").value=parseInt(id)-parseInt(1);
	document.getElementById("nextbutton").value=parseInt(id)+parseInt(1);
	var totalvideocount = $('#totalphotocount').val();
	if(id < 2)
	{
		$('#previousbutton').css('visibility','hidden');
	}else{
		$('#previousbutton').css('visibility','visible');
	}
	if(id > totalvideocount - parseInt(1))
	{
		$('#nextbutton').css('visibility','hidden');
	}else{
		$('#nextbutton').css('visibility','visible');
	}
	
	videoid = document.getElementById("photoids"+id).value;	
	$('#photochange').html('');
	$('#photochange').html('<img width="100%" height="" src="'+videoid+'">');
}
</script>
</head>
<body>
<?php  if (isset($this->photoresultsall) && sizeof($this->photoresultsall)>0){
			$i=0;
			foreach($this->photoresultsall as $photo)
			{ 
				if($photo->id==$this->mainphotoid)
				{
					$vindex = $i+1;
				}
			?>
			<input type="hidden" id="photoids<?php echo $i+1; ?>" value="<?php echo BASEPATH;?><?php echo $photo->photo_link;?>"/>
			<?php $i++;
			}
		}?>
<div class="contentbox" style="position:relative;text-align:center;">
	<div class="maincontent">
		<div id="photochange">
			<img width="100%" id="diplayphoto" src="<?php echo BASEPATH;?><?php if(isset($this->photourl) && $this->photourl!=""){echo $this->photourl;} ?>">
		</div>
	</div>
	<div style="position: fixed; left: 0px; width: 100%; top: 50%; margin-top: -15px;">
		<button id="previousbutton" class="nxtprevbtn"  style="float:left;" value="<?php echo $vindex-1;?>">&lt;</button>
		<button id="nextbutton" class="nxtprevbtn"  style="float:right;" value="<?php echo $vindex+1;?>" >&gt;</button>
		<input type="hidden" id="totalphotocount" value="<?php if (isset($this->photoresultsall) && sizeof($this->photoresultsall)>0){echo sizeof($this->photoresultsall);}?>"/>
		<input type="hidden" id="startphotoid" value="<?php if (isset($vindex) && $vindex!=""){echo $vindex;}?>"/>
	</div>
	<div class="imagetitle">
		<span>my photo title</span>
	</div>
</div>
</body>
</html>