<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style>
body{
	margin:0px;
	padding:5px 20px 0px 20px;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
}
.contentbox
{
	padding: 10px 20px;
	float:left;
	margin:150px 144px;
	width:450px;
}
</style>
<!--[if IE]>
<style>
.contentbox
{
	width:500px;
	margin:150px 118px;
}
.stepcolsmall1
{
	width:40%;
}
</style>
<![endif]-->
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
		
		window.onload = function(){
			document.getElementById("save").onclick = function(){
				saveForm('<?php echo BASEPATH; ?>/uploadimage/index','uploadfileform','uploadfileform');
			};
		};
				
		</script>
</head>
<body>
<div class="contentbox">
	<div class="infolinerow" style="margin-bottom:10px;padding:0px;">
			<span class="nameoftutor" style="color:#1CA3E7;" >Class image</span>
	</div>
	<div class="maincontent">
	<form action="" name="uploadfileform" id="uploadfileform" method="post" enctype="multipart/form-data">
		<div class="steprow1">
			<div class="stepcolsmall1" style="">Upload class image :</div>
			<div class="stepcolsmall2">
				<input type="file" Name="uploadfromcourse" id="uploadfromcourse" errortag="Image" />
				<div id="uploadfromcourse_error" class="errorclasssmall"><?php if (isset($authUserNamespace->courseimageerror) && $authUserNamespace->courseimageerror!=""){echo $authUserNamespace->courseimageerror; unset($authUserNamespace->courseimageerror);}elseif(isset($authUserNamespace->coursewidtherror) && $authUserNamespace->coursewidtherror!=""){echo $authUserNamespace->coursewidtherror;} unset($authUserNamespace->coursewidtherror);?></div>
			</div>
		</div>
		<div class="steprow1">
			<i class="registerhint">Pictures are limited to JPG, PNG and GIF. Also, they must be no larger than 5Mb. Image size must be greater than 550 * 179 pixels.</i>
		</div>
		<div class="steprow1">
			<div class=stepcolsmall1 style="width:100%;text-align:center;"><img style="cursor:pointer;" id="save" name="save" src="<?php echo BASEPATH;?>/images/submit.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/submit.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/submit_hover.png';"></div>
		</div>
	</form>
	</div>
</div>
</body>
</html>