<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>

<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotpronto.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>

<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud1.js"></script>

<script>
		
		window.onload = function(){
			document.getElementById("save").onclick = function(){
				saveForm("<?php echo BASEPATH; ?>/commingsoon/almostfinish","almostfinish","almostfinish");
			};
		};
				
</script>
<style>
body{text-align:center;maring:0px;}
	.commingsoonerrorcls
	{
		color:#00A7E6;
		font-size:12px;
		float:left;
		font-weight:bold;
		
	}
	.contentbox {
    	padding: 10px;
    }
</style>
</head>
<body>
<form action="" name="almostfinish" id="almostfinish" method="post" enctype="multipart/form-data">
	<div class="contentbox" style="width:290px;">
		<p>Almost finished..</p>
		<p>Just a couple of more details please.</p>
		</br>
		<p>Signing in as a <span style="color:#00A7E6;">*</span></p>
		<div class="checkfield"><input name="SignType" type="radio" value="student" checked="checked"/><strong>Student</strong></div>
		<div class="checkfield"><input name="SignType" type="radio" value="teacher"/><strong>Teacher</strong></div>
		</br>
		<p>Skills interested in <span style="color:#00A7E6;">*</span></p>
		<span class="roundedLsides"></span><input class="inputfield" name="SkillInterested" id="SkillInterested" errortag="" style="width:269px;" value="Enter skills you want to learn or teach" onFocus="if(this.value=='Enter skills you want to learn or teach'){this.value=''};" onBlur="if(this.value==''){this.value='Enter skills you want to learn or teach'};"></input><span class="roundedRsides"></span>
		<p id="SkillInterested_error" class="commingsoonerrorcls" style="font-size:12px;float:left;">&nbsp;</p>
		<div class="clear"></div>
		<input class="submit" style="margin-top:15px;color:#00A7E6;" name="save" id="save" type="button" style="margin-top:15px;">
		<div class="clear"></div>
	</div>
</form>
</body>
</html>