<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillbox.css"/>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/skillbox.js"></script>
<script type="text/javascript">	
		window.onload = function(){
			document.getElementById("save").onclick = function(){
				saveForm('<?php echo BASEPATH; ?>/login/forgetpass','forgetpassform','forgetpassform');
			};
		};		
</script>
<style>
/*new ligin design*/
body
{
	float:left;
	width: 380px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    margin: 0;
    background-color: #FFFFFF;
}
.loginMain
{
	float:left;
	width: 317px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 37px 20px 20px;
    text-align: left;
    width: 340px;
}
.whitePart
{
	width: 297px;
	float:left;
	padding: 25px 0 10px 20px;
}
.halfPart
{
	width:49.5%;
	float:left;
	padding:10px 0 0;
}	
.borderleft
{
	border-left:1px solid #999999;
}
.whitePart .Field
{
	float:left;
	width: 337px;
	color:#666;
}
.whitePart .Field b
{
	color:#666666;
	font-size:16px;
	font-weight:bold;
	width:114px;
	padding:2px 8px 0 0;
	float:left;
}
.whitePart .Field input[type="text"]
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 317px;
	height:20px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
.whitePart .Field .errortext
{
	width:177px;
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:3px;
    padding:5px 0;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}
a {
	color: #666;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #ff6633;
}

/* end new ligin design*/
</style>
</head>
<body>
<input type="hidden" value="1" id="loginpageID" />
<div class="pagebox loginMain">
	<h1>Reset your password</h1>
	<div class="whitePart">
		<form action="" name="forgetpassform" id="forgetpassform" method="post" enctype="multipart/form-data">
			<div class="field">
			 		<div style="margin-bottom:5px;">Enter the email address that you used to register with us.<br /></div>
We'll send you an email with a link to reset your password.
			 		<br>
			 	<br>
					
					<input  class="textfld" type="text" Name="UserEmail" id="UserEmail" errortag="email" placeholder="Email address" />
					<div id="UserEmail_error" class="errortext">&nbsp;</div>
						<?php
						if(isset($this->message) && $this->message!="")
						{?>
						<div class="errorfld" style="float:left;margin-top:4px;margin-left:-178px;"><?php echo $this->message;?></div>
						<?php
						}else{?>
						<div class="errorfld"></div>
						<?php 
							
						}
					?>
			</div>
			
			<div class="field">
				<span id="save" class="submit_button" style="float:left;">Send Verification</span>
			</div>
			<div class="field">
				<br>
				If you still need help contact <a href="/managecms/contactus"> Skillzot Support.</a>
			</div>
		</form>
	</div>	
</div>
</body>
</html>
