<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/> -->
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/skillbox.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillbox.css"/>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
$('#UserEmail').keyup(function(e) {
if(e.keyCode == 13 ||e.keyCode == 26 ){
			var Useremail = document.getElementById("UserEmail").value;
			var Userpassword =document.getElementById("UserPassword").value;
				
				$.ajax({
					url: '<?php echo BASEPATH; ?>/login/checklogin',
					type: "post",
					data: "UserEmail="+Useremail+"&UserPassword="+Userpassword,
					success: function(response){
						
						var jsonObject = eval("(" + response + ")");
						if(jsonObject!=null && jsonObject!=""){
						
						if(jsonObject['returnvalue']=="success"){
							
							$.ajax({
								url: '<?php echo BASEPATH; ?>/login/performlogin',
								type: "post",
								data: "UserEmail="+Useremail+"&UserPassword="+Userpassword,
								success: function(response){
									var jsonObject = eval("(" + response + ")");
									if(jsonObject!=null && jsonObject!=""){
										if(jsonObject['returnvalue']=="success"){
											//alert(jsonObject['tuserid']);
											var contactidflag = document.getElementById("contactbuttonredirectid").value;
											var reviewidflag = document.getElementById("reviewredirectid").value;
											var tutorid = document.getElementById("tutorid").value;
											var contacttype = document.getElementById("contacttype").value;
//											alert(contactidflag);
											if(contactidflag==1)
											{
												window.location='<?php echo BASEPATH; ?>/search/tutorcontact/tutorid/'+tutorid+'/contact/'+contacttype;
											}else if(reviewidflag==1){
												window.location='<?php echo BASEPATH; ?>/tutor/writereview/tutorid/'+tutorid;
											}else{
												if(jsonObject['tuserid'] != "")
												{
													window.parent.location= '<?php echo BASEPATH; ?>/'+jsonObject['useridfriendly'];
												}
												else
												{
													studentpagerefresh();
												}
											}
											//window.location='<?php echo BASEPATH; ?>/index';
											
										}else if(jsonObject['returnvalue']=="unsucess"){
											document.getElementById("UserEmail").value = "";
											document.getElementById("UserPassword").value = "";
											document.getElementById("UserEmail_error").innerHTML = "";
											document.getElementById("UserPassword_error").innerHTML = "";
											document.getElementById("errorclasssmall").innerHTML = "Invalid email or password";
										}
										
									}
								},
								error: function(XMLHttpRequest, textStatus, errorThrown){
									jAlert("This operation could not be completed, Please try again. Contact system admin if problem persists");
								}
							});
														
						}
						else if(jsonObject['returnvalue']=="validation"){
							
							var validationData = jsonObject['data'];
							
							for(key in validationData){

								var currentObject = document.getElementById(key);
								if(currentObject!=null){
									
									var currentErrorObject = document.getElementById(key+"_error");
									if(validationData[key]=="null")currentErrorObject.innerHTML = "Please enter your " + currentObject.getAttribute("errortag");
									else if(validationData[key]=="emailinvalid")currentErrorObject.innerHTML = "Oops! It’s an invalid email.";
									else if(validationData[key]=="conformpassnull")currentErrorObject.innerHTML = "Please confirm your password";
									else if(validationData[key]=="invalid")currentErrorObject.innerHTML = "Invalid value for " + currentObject.getAttribute("errortag");
									else if(validationData[key]=="notmatch")currentErrorObject.innerHTML = currentObject.getAttribute("errortag") + "entered not matching";
									else if(validationData[key]=="wrong")currentErrorObject.innerHTML =  "Wrong " + currentObject.getAttribute("errortag");
									else if(validationData[key]=="duplicate")currentErrorObject.innerHTML = "This " + currentObject.getAttribute("errortag") + " is already registered";
									else if(validationData[key]=="either")currentErrorObject.innerHTML = "Either enter value for " + currentObject.getAttribute("errortag") + " or Special Offer Banner Content";
									else if(validationData[key]=="duplicate_combination")currentErrorObject.innerHTML = "This " + currentObject.getAttribute("errortag2") + " is already registered";
									else if(validationData[key]=="notcombination")currentErrorObject.innerHTML = "This " + currentObject.getAttribute("errortag2") + " is not registered";
									else if(validationData[key]=="valid")currentErrorObject.innerHTML = "&nbsp;";
									else{
										currentValidationData = jsonObject['data'][key];
										if(currentValidationData['code']!=null){
											if(currentValidationData['code']=="nomatch")currentErrorObject.innerHTML = currentObject.getAttribute("errortag") + " does not match the " + document.getElementById(currentValidationData['field']).getAttribute("errortag") + " field";
											if(currentValidationData['code']=="match")currentErrorObject.innerHTML = currentObject.getAttribute("errortag") + " cannot be same as " + document.getElementById(currentValidationData['field']).getAttribute("errortag") + " field";
										}
										else currentErrorObject.innerHTML = "unknown response code";
									}
								}
							}
							}
						}
						if($('#UserPassword_error').html() == "Please enter your password")
						{
							$('#UserPassword_error').css('display','block');
						};
					},
					error: function(XMLHttpRequest, textStatus, errorThrown){
						jAlert("This operation could not be completed, Please try again. Contact system admin if problem persists");
					}
					
				});
}
});
$('#UserPassword').keyup(function(e) {
if(e.keyCode == 13 ||e.keyCode == 26 ){
			var Useremail = document.getElementById("UserEmail").value;
			var Userpassword =document.getElementById("UserPassword").value;
				
				$.ajax({
					url: '<?php echo BASEPATH; ?>/login/checklogin',
					type: "post",
					data: "UserEmail="+Useremail+"&UserPassword="+Userpassword,
					success: function(response){
						
						var jsonObject = eval("(" + response + ")");
						if(jsonObject!=null && jsonObject!=""){
						
						if(jsonObject['returnvalue']=="success"){
							
							$.ajax({
								url: '<?php echo BASEPATH; ?>/login/performlogin',
								type: "post",
								data: "UserEmail="+Useremail+"&UserPassword="+Userpassword,
								success: function(response){
									var jsonObject = eval("(" + response + ")");
									if(jsonObject!=null && jsonObject!=""){
										if(jsonObject['returnvalue']=="success"){
											//alert(jsonObject['tuserid']);
											var contactidflag = document.getElementById("contactbuttonredirectid").value;
											var reviewidflag = document.getElementById("reviewredirectid").value;
											var tutorid = document.getElementById("tutorid").value;
											var contacttype = document.getElementById("contacttype").value;
//											alert(contactidflag);
											if(contactidflag==1)
											{
												window.location='<?php echo BASEPATH; ?>/search/tutorcontact/tutorid/'+tutorid+'/contact/'+contacttype;
											}else if(reviewidflag==1){
												window.location='<?php echo BASEPATH; ?>/tutor/writereview/tutorid/'+tutorid;
											}else{
												if(jsonObject['tuserid'] != "")
												{
													window.parent.location= '<?php echo BASEPATH; ?>/'+jsonObject['useridfriendly'];
												}
												else
												{
													studentpagerefresh();
												}
											}
											//window.location='<?php echo BASEPATH; ?>/index';
											
										}else if(jsonObject['returnvalue']=="unsucess"){
											document.getElementById("UserEmail").value = "";
											document.getElementById("UserPassword").value = "";
											document.getElementById("UserEmail_error").innerHTML = "";
											document.getElementById("UserPassword_error").innerHTML = "";
											document.getElementById("errorclasssmall").innerHTML = "Invalid email or password";
										}
										
									}
								},
								error: function(XMLHttpRequest, textStatus, errorThrown){
									jAlert("This operation could not be completed, Please try again. Contact system admin if problem persists");
								}
							});
														
						}
						else if(jsonObject['returnvalue']=="validation"){
							
							var validationData = jsonObject['data'];
							
							for(key in validationData){

								var currentObject = document.getElementById(key);
								if(currentObject!=null){
									
									var currentErrorObject = document.getElementById(key+"_error");
									if(validationData[key]=="null")currentErrorObject.innerHTML = "Please enter your " + currentObject.getAttribute("errortag");
									else if(validationData[key]=="emailinvalid")currentErrorObject.innerHTML = "Oops! It’s an invalid email.";
									else if(validationData[key]=="conformpassnull")currentErrorObject.innerHTML = "Please confirm your password";
									else if(validationData[key]=="invalid")currentErrorObject.innerHTML = "Invalid value for " + currentObject.getAttribute("errortag");
									else if(validationData[key]=="notmatch")currentErrorObject.innerHTML = currentObject.getAttribute("errortag") + "entered not matching";
									else if(validationData[key]=="wrong")currentErrorObject.innerHTML =  "Wrong " + currentObject.getAttribute("errortag");
									else if(validationData[key]=="duplicate")currentErrorObject.innerHTML = "This " + currentObject.getAttribute("errortag") + " is already registered";
									else if(validationData[key]=="either")currentErrorObject.innerHTML = "Either enter value for " + currentObject.getAttribute("errortag") + " or Special Offer Banner Content";
									else if(validationData[key]=="duplicate_combination")currentErrorObject.innerHTML = "This " + currentObject.getAttribute("errortag2") + " is already registered";
									else if(validationData[key]=="notcombination")currentErrorObject.innerHTML = "This " + currentObject.getAttribute("errortag2") + " is not registered";
									else if(validationData[key]=="valid")currentErrorObject.innerHTML = "&nbsp;";
									else{
										currentValidationData = jsonObject['data'][key];
										if(currentValidationData['code']!=null){
											if(currentValidationData['code']=="nomatch")currentErrorObject.innerHTML = currentObject.getAttribute("errortag") + " does not match the " + document.getElementById(currentValidationData['field']).getAttribute("errortag") + " field";
											if(currentValidationData['code']=="match")currentErrorObject.innerHTML = currentObject.getAttribute("errortag") + " cannot be same as " + document.getElementById(currentValidationData['field']).getAttribute("errortag") + " field";
										}
										else currentErrorObject.innerHTML = "unknown response code";
									}
								}
							}
							}
						}
						if($('#UserPassword_error').html() == "Please enter your password")
						{
							$('#UserPassword_error').css('display','block');
						};
					},
					error: function(XMLHttpRequest, textStatus, errorThrown){
						jAlert("This operation could not be completed, Please try again. Contact system admin if problem persists");
					}
					
				});
}
});
});
		window.onload = function(){
		$("#lightboxclose").live('click', function() {
				parent.lightboxclosecustom();
			});
			document.getElementById("save").onclick = function(){
				recordOutboundLink('', 'login','top login button','through email');
				//saveForm('<?php //echo BASEPATH; ?>/login/index','loginform','loginform');
				var Useremail = document.getElementById("UserEmail").value;
				var Userpassword =document.getElementById("UserPassword").value;
				
				$.ajax({
					url: '<?php echo BASEPATH; ?>/login/checklogin',
					type: "post",
					data: "UserEmail="+Useremail+"&UserPassword="+Userpassword,
					success: function(response){
						
						var jsonObject = eval("(" + response + ")");
						if(jsonObject!=null && jsonObject!=""){
						
						if(jsonObject['returnvalue']=="success"){
							
							$.ajax({
								url: '<?php echo BASEPATH; ?>/login/performlogin',
								type: "post",
								data: "UserEmail="+Useremail+"&UserPassword="+Userpassword,
								success: function(response){
									var jsonObject = eval("(" + response + ")");
									if(jsonObject!=null && jsonObject!=""){
										if(jsonObject['returnvalue']=="success"){
											//alert(jsonObject['tuserid']);
											var contactidflag = document.getElementById("contactbuttonredirectid").value;
											var reviewidflag = document.getElementById("reviewredirectid").value;
											var tutorid = document.getElementById("tutorid").value;
											var contacttype = document.getElementById("contacttype").value;
//											alert(contactidflag);
											if(contactidflag==1)
											{
												window.location='<?php echo BASEPATH; ?>/search/tutorcontact/tutorid/'+tutorid+'/contact/'+contacttype;
											}else if(reviewidflag==1){
												window.location='<?php echo BASEPATH; ?>/tutor/writereview/tutorid/'+tutorid;
											}else{
												if(jsonObject['tuserid'] != "")
												{
													window.parent.location= '<?php echo BASEPATH; ?>/'+jsonObject['useridfriendly'];
												}
												else
												{
													studentpagerefresh();
												}
											}
											//window.location='<?php echo BASEPATH; ?>/index';
											
										}else if(jsonObject['returnvalue']=="unsucess"){
											document.getElementById("UserEmail").value = "";
											document.getElementById("UserPassword").value = "";
											document.getElementById("UserEmail_error").innerHTML = "";
											document.getElementById("UserPassword_error").innerHTML = "";
											document.getElementById("errorclasssmall").innerHTML = "Invalid email or password";
										}
										
									}
								},
								error: function(XMLHttpRequest, textStatus, errorThrown){
									jAlert("This operation could not be completed, Please try again. Contact system admin if problem persists");
								}
							});
														
						}
						else if(jsonObject['returnvalue']=="validation"){
							
							var validationData = jsonObject['data'];
							
							for(key in validationData){

								var currentObject = document.getElementById(key);
								if(currentObject!=null){
									
									var currentErrorObject = document.getElementById(key+"_error");
									if(validationData[key]=="null")currentErrorObject.innerHTML = "Please enter your " + currentObject.getAttribute("errortag");
									else if(validationData[key]=="emailinvalid")currentErrorObject.innerHTML = "Oops! It’s an invalid email.";
									else if(validationData[key]=="conformpassnull")currentErrorObject.innerHTML = "Please confirm your password";
									else if(validationData[key]=="invalid")currentErrorObject.innerHTML = "Invalid value for " + currentObject.getAttribute("errortag");
									else if(validationData[key]=="notmatch")currentErrorObject.innerHTML = currentObject.getAttribute("errortag") + "entered not matching";
									else if(validationData[key]=="wrong")currentErrorObject.innerHTML =  "Wrong " + currentObject.getAttribute("errortag");
									else if(validationData[key]=="duplicate")currentErrorObject.innerHTML = "This " + currentObject.getAttribute("errortag") + " is already registered";
									else if(validationData[key]=="either")currentErrorObject.innerHTML = "Either enter value for " + currentObject.getAttribute("errortag") + " or Special Offer Banner Content";
									else if(validationData[key]=="duplicate_combination")currentErrorObject.innerHTML = "This " + currentObject.getAttribute("errortag2") + " is already registered";
									else if(validationData[key]=="notcombination")currentErrorObject.innerHTML = "This " + currentObject.getAttribute("errortag2") + " is not registered";
									else if(validationData[key]=="valid")currentErrorObject.innerHTML = "&nbsp;";
									else{
										currentValidationData = jsonObject['data'][key];
										if(currentValidationData['code']!=null){
											if(currentValidationData['code']=="nomatch")currentErrorObject.innerHTML = currentObject.getAttribute("errortag") + " does not match the " + document.getElementById(currentValidationData['field']).getAttribute("errortag") + " field";
											if(currentValidationData['code']=="match")currentErrorObject.innerHTML = currentObject.getAttribute("errortag") + " cannot be same as " + document.getElementById(currentValidationData['field']).getAttribute("errortag") + " field";
										}
										else currentErrorObject.innerHTML = "unknown response code";
									}
								}
							}
							}
						}
						if($('#UserPassword_error').html() == "Please enter your password")
						{
							$('#UserPassword_error').css('display','block');
						};
					},
					error: function(XMLHttpRequest, textStatus, errorThrown){
						jAlert("This operation could not be completed, Please try again. Contact system admin if problem persists");
					}
					
				});
			};	
			
		};
		function callfacebook(urlValue){
		
			FB.init({
				appId  : '444557608950929',
				status : true, // check login status
				cookie : true, // enable cookies to allow the server to access the session
				xfbml  : true  // parse XFBML
			});
			FB.login(function(response) {
				   if (response.authResponse) {
				  
					   window.location.href="<?php echo BASEPATH;?>/index/facebooklogin?url="+urlValue;
					    var uid = response.authResponse.userID;
						var accessToken = response.authResponse.accessToken;
				   } else {
					 
				   }},
				   {scope:'email'});

		//	FB.getLoginStatus(function(response) {
			//  if (response.status === 'connected') {
				//document.getElementById('facebook').style.display = "block"; 
				//window.location.href="<?php //echo BASEPATH;?>/index/facebooklogin";
				//var uid = response.authResponse.userID;
				//var accessToken = response.authResponse.accessToken;
			  //} else if (response.status === 'not_authorized') {
				//jAlert("Please login using facebook.");
			//  } else {
				//jAlert("Please login using facebook.");
			  //}
		//	});
			
		}
		function studentpagerefresh()
		{
			window.parent.location.reload();
		}
		
		</script>
<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
		<script type="text/javascript">
		function recordOutboundLink(link, category, action ,label) {			
		  try {
		   var pageTracker=_gat._getTracker("UA-32556142-1");
		    //alert(link+"::"+category+"::"+action);
		    pageTracker._trackEvent(category, action ,label);
		  // setTimeout('document.location = "' + link.rel + '"', 100)
		  }catch(err){}
		}
	</script>

<style>
body
{
	float:left;
	width:557px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    margin: 0;
}
.loginMain
{
	float:left;
	width:557px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 37px 20px 20px;
    text-align: left;
    width: 516px;
}
.whitePart
{
	width: 536px;
	float:left;
	padding: 35px 0 10px 20px;
}
.halfPart
{
	width:49.5%;
	float:left;
	padding:10px 0 0;
}	
.borderleft
{
	border-left:1px solid #999999;
}
.halfPart .Field
{
	float:left;
}
.halfPart .Field b
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	width:79px;
	padding:2px 8px 0 0;
	float:left;
}
.halfPart .Field input[type="text"],.halfPart .Field input[type="password"]
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 155px;
	height:20px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
.halfPart .Field .errortext
{
	width:177px;
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:88px;
    padding:5px 0;
}
.halfPart .Field .forgotPass
{
	text-align:right;
	color:#666666;
	width:193px;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:56px;
    padding:5px 0;
    text-decoration:none;
}
.halfPart .Field .forgotPass:hover
{
	color: #FF6633;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}  
</style>
</head>
<body>
<input type="hidden" value="1" id="loginpageID" />
	<div class="loginMain">
		<h1>Log in</h1>
		<div class="whitePart">
		<form action="" name="loginform" id="loginform" method="post" enctype="multipart/form-data">
			<div class="halfPart" style="width:246px;">
				
				<a href="javascript:void(0);"><img onclick="callfacebook('<?php if(isset($this->urltoredirectforfb) && $this->urltoredirectforfb!=""){echo urlencode($this->urltoredirectforfb);}else{echo urlencode('http://www.skillzot.com');}?>');recordOutboundLink('', 'login','top login button','through fb');return false;" src="<?php echo BASEPATH; ?>/images/connectFb.png"/></a>
			</div>
			<input type="hidden" id="fbloginvalue_for_redirect" name="fbloginvalue_for_redirect" value="<?php echo $url = (!empty($_SERVER['HTTPS'])) ? "https://".$_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI'] : "http://".$_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI']; ?>" />
			<div class="halfPart borderleft" style="width:250px;height:139px;padding-left:20px;">
				<div class="Field" style="margin-top: -25px;">
					<p id="errorclasssmall" class="errortext" style="margin-left:92px;">
					<?php
						if(isset($authUserNamespace->checkerror) && $authUserNamespace->checkerror!="") echo "Invalid email or password";
						else  echo "&nbsp;";
						unset($authUserNamespace->checkerror);
					?>
					</p>
				</div>
				<div class="Field">
					<b>Email</b>
					<input type="text"  Name="UserEmail" id="UserEmail" errortag="email" autofocus></input>
					<p class="errortext" id="UserEmail_error"></p>
				</div>
				<div class="Field">
					<b>Password</b>
					<input type="password" Name="UserPassword" id="UserPassword" errortag="password"></input>
					<p class="errortext" id="UserPassword_error" style="display:none;"></p>
				</div>
				<div class="Field">
					<a href="<?php echo BASEPATH;?>/login/forgetpass" class="errortext forgotPass">Forgot your password?</a>
					<span class="sap">&nbsp;</span>
					<span id="save" class="submit_button">Login</span>
				</div>
			</div>
			<div style="height:35px;width:100%;float:left;"></div>
			<input type="hidden" name="reviewredirectid" id="reviewredirectid" value="<?php if (isset($this->reviewredirectid) && $this->reviewredirectid!=""){echo $this->reviewredirectid;}?>"/>
			<input type="hidden" name="contactbuttonredirectid" id="contactbuttonredirectid" value="<?php if (isset($this->contactbuttonredirectid) && $this->contactbuttonredirectid!=""){echo $this->contactbuttonredirectid;}?>"/>
			<input type="hidden" name="tutorid" id="tutorid" value="<?php if (isset($this->tutorid) && $this->tutorid!=""){echo $this->tutorid;}?>"/>
			<input type="hidden" name="contacttype" id="contacttype" value="<?php if (isset($this->contacttypebuttonRedirect) && $this->contacttypebuttonRedirect!=""){echo $this->contacttypebuttonRedirect;}?>"/>
		</form>	
	</div>
	</div>	
</body>
</html>
