<script type="text/javascript">

	window.onload = function(){
		
		document.getElementById("save").onclick = function(){
			
			saveForm('<?php echo BASEPATH; ?>/admin/changepassword','change_password_form','change_password_form');
		};
	};
	
</script>

<form method="post" name="change_password_form" id="change_password_form">

	<div class="temp">
		<div class="add_header">&nbsp;</div>
		<div class="container">
			
				<div class="left_content">
				
				<div class="add_upd_left"><span class="mandatory_field">*</span>Current password</div>
				<div class="add_upd_right">
					<input type="text" name="CurrentPassword" id="CurrentPassword" errortag="Current password">
					<div class="message2" id="CurrentPassword_error">&nbsp;</div>
				</div>
				<div class="clearfix"></div>
				
				<div class="add_upd_left"><span class="mandatory_field">*</span>New password</div>
				<div class="add_upd_right">
					<input type="password" name="NewPassword" id="NewPassword" errortag="New password"/>
					<div class="message2" id="NewPassword_error">&nbsp;</div>
				</div>
				<div class="clearfix"></div>
				
				<div class="add_upd_left"><span class="mandatory_field">*</span>Confirm new password</div>
				<div class="add_upd_right">
					<input type="password" id="ConfirmPassword" name="ConfirmPassword" errortag="Confirm new password "/>
					<div class="message2" id="ConfirmPassword_error">&nbsp;</div>
				</div>
				<div class="clearfix"></div>
		
			</div>
			
			<div class="clearfix">&nbsp</div>
			<div align="left">
					<input type="button" id="save" class="stdButton" value="Update" name="save" />&nbsp;&nbsp;
					<input type="button" class="stdButton" value="Cancel" onclick="window.location.href = '<?php echo BASEPATH; ?>/admin/home';" />
			<br/><br/><br/>
		</div>
		</div>
	</div>
</form>