<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript">
	<?php
	      if(isset($authUserNamespace->status_message)){
	?>
	   jAlert("<?php echo $authUserNamespace->status_message; ?>");
	      
    <?php
      unset($authUserNamespace->status_message);
    }
    ?>
</script>
<h2 align="center">Welcome</h2>