<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>

	function submitForm(getValue){
		
		var getValue = document.getElementById("shown").value;
		var getText = document.getElementById("searchtext").value;
		window.location="<?php echo BASEPATH; ?>/admin/tutorfriendlyurl/shown/"+getValue+"/searchtext/"+getText;
	}

//	function call_delete(id){
//
//		jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
//			if(r == true) window.location.href= '<?php //echo BASEPATH; ?>/admin/tutordelete/id/'+id;
//			else return false;
//		});
//	}
</script>
<!--	<div class="pageTopLinkWrapper">-->
<!--		<div class="pageTopLink"><a rel="lightbox[external 330 300]" href="<?php echo BASEPATH; ?>/admin/addcategory">Add Category</a></div>-->
<!--	</div>-->
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='user-headrow'>
			<div style='float:left'>
				<input type='text' class="input" name='searchtext' value = "<?php if(isset($this->search_val)) echo $this->search_val;?>" id='searchtext'> &nbsp;
				<input type='button' class="button" onclick="window.location = '<?php echo BASEPATH; ?>/admin/tutorfriendlyurl/getPageValue/<?php if(isset($this->page)) echo $this->page ;?>/searchtext/'+document.getElementById('searchtext').value" value="Search"> &nbsp;
				<input type='button' class="button" onclick = "window.location = '<?php echo BASEPATH; ?>/admin/tutorfriendlyurl';" value="Reset" name='reset'>
<!--				<a href="<?php echo BASEPATH; ?>/admin/exportcommingsoon">Export As Excel</a>-->
			</div>
			<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div style="border:1px solid #ddd;margin-left:10px;width: 97%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:5%;padding-left: 10px;text-align: center;">Index </div>
			<div class='grid-column2' style="width:11%;padding-left: 10px;text-align: center;">First Name </div>
			<div class='grid-column2' style="width:11%;padding-left: 10px;text-align: center;">Last Name</div>
			<div class='grid-column2' style="width:20%;padding-left: 10px;text-align: center;">Company Name</div>
			<div class='grid-column2' style="width:20%;padding-left: 10px;text-align: center;">Url name</div>
			<div class='grid-column2' style="width:17%;padding-left: 10px;text-align: center;">Urer name</div>
			<div class='grid-column2' style="width:8%;">Action</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		
		<?php
			$i=0;
			if(isset($this->tutorsignupResult) && sizeof($this->tutorsignupResult)>0){
			foreach($this->tutorsignupResult as $tutor){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;">
			<div class='grid-column1' style="width:5%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->id) && $tutor->id !="")echo $tutor->id;else echo "-"; ?></div>
			<div class='grid-column1' style="width:11%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->tutor_first_name) && $tutor->tutor_first_name != "")echo $tutor->tutor_first_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:11%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->tutor_last_name)  && $tutor->tutor_last_name != "")echo $tutor->tutor_last_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:20%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->company_name) && $tutor->company_name != "")echo $tutor->company_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:20%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->tutor_url_name) && $tutor->tutor_url_name != "")echo $tutor->tutor_url_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:17%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->userid) && $tutor->userid != "")echo $tutor->userid;else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;">
			<a rel="lightbox[external 330 150]" href="<?php echo BASEPATH; ?>/admin/edittutorfriendlyurl/id/<?php if (isset($tutor->id) && $tutor->id!=""){echo $tutor->id;}?>"><img src="<?php echo BASEPATH;?>/images/pencil_delete.png" style="height: 13px;width:13px;border: none;" title="Edit status" alt="Update"/></a><span>&nbsp;</span>
<!--				<a href="#" onclick="call_delete('<?php // if (isset($tutor->id) && $tutor->id!="") { echo $tutor->id; } ?>');">-->
<!--					<img src="<?php //echo BASEPATH;?>/images/cross.png" style="height: 13px;width:13px;border: none;" title="Delete" alt="Delete"/>-->
<!--				</a>-->
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
					$i+=1;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
		</div>
	</form>
<br/>