<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>

<style>
body
{
	margin:0px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
}
.Field {
    float: left;
    width: 250px;
}
.Field .errortext {
    color: #FF6633;
    float: left;
    font-size: 12px;
    height: 15px;
    margin: 0 0 0 78px;
    padding: 5px 0;
  width: 150px;
}
.imagetitle b
{
color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 8px 0 0;
}
.Field input[type="text"], .halfPart .Field input[type="password"] {
    border: 1px solid #666666;
    border-radius: 5px 5px 5px 5px;
    box-shadow: -1px 1px 5px -1px #666666;
    height: 20px;
    padding: 0 0 0 5px;
    width: 155px;
    float:left;
}
</style>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillbox.js"></script>
<script type="text/javascript">
window.onload = function(){
	document.getElementById("save").onclick = function(){
		
		saveForm('<?php echo BASEPATH; ?>/tutorvideonew/addvideos','video','video');
	};
};

</script>
</head>
<body style="width:280px;height:auto;float:left;">
<div class="contentbox" style="width:280px;height:auto;float:left;background-color:white;">

	<form action="" name="video" id="video" method="post" enctype="multipart/form-data">
			
			<div class="imagetitle" style="text-align:center;">
				<div class="Field" style="margin:60px 0px 30px 10px;">
					<b>Video Url:</b>
					<input type="text" id="videourl" name="videourl" errortag ="Video Url"  value=""/>
						<p id="videourl_error" class="errortext"></p>
					<div style="clear:both;"></div>
					<img style="cursor:pointer;float:rigth;" id="save" name="save" src="<?php echo BASEPATH;?>/images/submit.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/submit.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/submit_hover.png';">
				</div>	
			</div>		
	</form>
	
	
</div>
</body>
</html>