<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>

<?php
	function curPageURL()
	{
 		$pageURL = 'http';
 		$pageURL .= "://";
 	if ($_SERVER["SERVER_PORT"] != "80") {
 		 $pageURL .= $_SERVER["SERVER_NAME"].":".$_SERVER["SERVER_PORT"].$_SERVER["REQUEST_URI"];
 	} else {
  		$pageURL .= $_SERVER["SERVER_NAME"].$_SERVER["REQUEST_URI"];
 	}
 		return $pageURL;
	}
	$pageURL = 'http';
 	$pageURL .= "://";
	if ($_SERVER["SERVER_PORT"] != "80") {
 		 $pageURL .= $_SERVER["SERVER_NAME"].":".$_SERVER["SERVER_PORT"].$_SERVER["REQUEST_URI"];
 	} else {
  		$pageURL .= $_SERVER["SERVER_NAME"].$_SERVER["REQUEST_URI"];
 	}
	$canonicalUrl = explode('?',$pageURL);
	
?>

<html>
<head>
<link rel="canonical" href="<?php if(isset($canonicalUrl[0]) && $canonicalUrl[0]!=""){echo $canonicalUrl[0];}?>"/>
<title><?php if (isset($this->skillcategoryUniqPagetitle) && $this->skillcategoryUniqPagetitle!=""){echo $this->skillcategoryUniqPagetitle; } ?></title>
<meta name="description" content="<?php if (isset($this->skillMetadescription) && $this->skillMetadescription!=""){echo $this->skillMetadescription; }  ?>">
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/custom-form-elements.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.autocomplete.css" />
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.autocomplete.js"></script>
<style>
#firstdiv a:hover{
	color:#FF6633 !important;
}
.descrpipoftutor
{
	color:#333;
	/*font-size:12px;*/font-size:14px;
	display:block;
	float:left;
	margin:0 0 0;
	/*overflow: hidden;*/
	//height:70px;
	width:307px;/*315 to 280*/width:300px;
	text-align: left;
	line-height: 18px;
}
.descrpipoftutor1
{
	color:#333;
	font-size:12px;
	display:block;
	float:left;
	margin:0 0 0;
	overflow: hidden;
	height:auto;
	width:307px;/*315 to 280*/
	text-align: justify;
	line-height: 16px;
}
.skillsoftutor1{
	color:#333333;
	font-size:14px;
	display:block;
	float:left;
	margin:15px 0 0 0;
	overflow: hidden;
	height:18px;
	width:315px;/*width:204px;*/
	text-align: justify;
}
.pagenum
{
	float: right;
	color:#00A7E6;
}
.tutorinfo
{
	width:100%;
}
.infolinerow5
{
	width:462px;
	padding:0 0 0 0px;
	float:right;
}
.linehodertitle
{
	width:90px;
}
.pagenum a:link,.pagenum a:visited,.pagenum strong
{
	color:#00A7E6;
	margin-right: 8px;
}
.pagenum a:hover
{
	color: #FF6633 !important;
}
.infolinerow
{
	/*width:250px;*/width:300px;
}
.locationoftutor {
    /*font-size: 12px;*/font-size: 14px;
    /*width:307px;*/width:300px;
}
.headingtest
{
	color: #FF6633;
    font-size: 22px;
    padding: 0 0 5px;
}

<?php if(isset($this->tutorid) && sizeof($this->tutorid)>0) { for ($i=0;$i<sizeof($this->tutorid);$i++){?>
#less<?php echo $i;?>
{
	display:none;
	cursor:pointer;
	background-image: url("<?php echo BASEPATH;?>/images/morepointer.png");
    background-position: 32px 5px;
    background-repeat: no-repeat;
    color: #00A7E6;
    float: left;
    font-size: 14px;
	margin: 15px 0 0 30px;
    padding: 0 18px 0 0;
}
#skillless<?php echo $i;?>
{
	display:none;
	cursor:pointer;
	background-image: url("<?php echo BASEPATH;?>/images/morepointer.png");
    background-position: 32px 5px;
    background-repeat: no-repeat;
    color: #00A7E6;
    float: left;
    font-size: 14px;
	margin: 15px 0 0 30px;
    padding: 0 18px 0 0;
}
<?php } } ?>

h1
{
font-size:30px;
}
.moredes
{
	margin: 55px 0 0 7px;
	cursor:pointer;
	color: #00A7E6;
	background-image:none;
}
.moredes a{
	text-decoration:underline;
}
.typebtn
{
	cursor: context-menu;
	text-align:center;
}
.tutorinfo{
	padding: 13px 0;
}
.profilephoto
{
	/*height:210px;*/
}
</style>
	<script type="text/javascript">

	var searched_submain_id = "";
	var skill_id2 = "";
	var localityValue="";
	 var lessonType="";
	 var locationType="";
	$(document).ready(function(){
		
		if (!$.browser.opera) {
			var i = 0;
			// select element styling
			$('select.selectbox').each(function(){
				var title = $(this).attr('title');
				if( $('option:selected', this).val() != ''  ) title = $('option:selected',this).text();
				$(this)
					.css({'z-index':10,'opacity':0,'-khtml-appearance':'none'})
					.after('<span class="selectbox" id="dropdown'+i+'">' + title + '</span>')
					.change(function(){
						val = $('option:selected',this).text();
						$(this).next().text(val);
						});
						i++;
			});

		};

		
		
	});

	function tellus(id)
	{
		if(id == 1)
		{
			$('#tellingushere').attr('rel', '<?php echo BASEPATH;?>/managecms/sendsuggetion/textdisp/1');
		}
		else if (id == 0)
		{
			$('#coupleofdetails').attr('rel', '<?php echo BASEPATH;?>/managecms/sendsuggetion/coupledetail/1');
		}
	}
				var urltorediect="";

	function redirectTo(currentUrl,ageValue,localityValue,batchType,lessonType,locationType){
				
				if(batchType==2){batchType='early';}
				else if(batchType==3){batchType='late';}
				else if(batchType==4){batchType='afternoon';}
				else if(batchType==5){batchType='evening';}
				else if(batchType==6){batchType='night';}
				else if(batchType==7){batchType='weekend';}
				else{ batchType="";}
				
				if(ageValue==2){ageValue='kids';}
				 else{ageValue="";}
				 
				 if(localityValue==13){localityValue ='southmumbai';}
				else if(localityValue==2){localityValue ='centralsuburb1';}
				else if(localityValue==3){localityValue ='centralsuburb2';}
				else if(localityValue==10){localityValue ='westernsuburb1';}
				else if(localityValue==11){localityValue ='westernsuburb2';}
				else if(localityValue==6){localityValue ='harboursuburb1';}
				else if(localityValue==14){ localityValue ='navimumbai'; }

				if(lessonType==1){lessonType='personal';}
				else if(lessonType==2){lessonType='group';}
				else if(lessonType==3){lessonType='personal+group';}

				if(locationType==1){locationType='homelessons';}
				else if(locationType==2){locationType='teacherslocation';}
				else if(locationType==3){locationType='homelessons+teacherslocation';}
				//alert("ageValue"+ageValue);
			  //alert(localityValue);
			  //alert(lessonType);
			//alert(locationType);
				var redirect=0;
				if(batchType!="" && batchType!='NULL'){
				if(ageValue!="" && ageValue!='NULL'){
				if(localityValue!="" && localityValue!='NULL' && lessonType!="" && lessonType!='NULL' && locationType!="" && locationType!='NULL')
				{
					urltorediect=currentUrl+'?batch='+batchType+'&age='+ageValue+'&locality='+localityValue+'&lesson='+lessonType+'&location='+locationType;
				}else if(localityValue!="" && localityValue!='NULL' && lessonType!="" && lessonType!='NULL' ){//ab
					urltorediect=currentUrl+'?batch='+batchType+'&age='+ageValue+'&locality='+localityValue+'&lesson='+lessonType;
				}else if(lessonType!="" && lessonType!='NULL' && locationType!="" && locationType!='NULL'){//bc
					urltorediect=currentUrl+'?batch='+batchType+'&age='+ageValue+'&lesson='+lessonType+'&location='+locationType;
				}else if(localityValue!="" && localityValue!= 'NULL' && locationType!="" && locationType!='NULL'){//ca
					urltorediect=currentUrl+'?batch='+batchType+'&age='+ageValue+'&locality='+localityValue+'&location='+locationType;
				}else if(localityValue!="" && localityValue!='NULL'){
					urltorediect=currentUrl+'?batch='+batchType+'&age='+ageValue+'&locality='+localityValue;
				}
					else{
						urltorediect=currentUrl+'?batch='+batchType+'&age='+ageValue;
					}
				}
				else{
					if(localityValue!="" && localityValue!='NULL' && lessonType!="" && lessonType!='NULL' && locationType!="" && locationType!='NULL')
				{
					urltorediect=currentUrl+'?batch='+batchType+'&locality='+localityValue+'&lesson='+lessonType+'&location='+locationType;
				}else if(localityValue!="" && localityValue!='NULL' && lessonType!="" && lessonType!='NULL' ){//ab
					urltorediect=currentUrl+'?batch='+batchType+'&locality='+localityValue+'&lesson='+lessonType;
				}else if(lessonType!="" && lessonType!='NULL' && locationType!="" && locationType!='NULL'){//bc
					urltorediect=currentUrl+'?batch='+batchType+'&lesson='+lessonType+'&location='+locationType;
				}else if(localityValue!="" && localityValue!= 'NULL' && locationType!="" && locationType!='NULL'){//ca
					urltorediect=currentUrl+'?batch='+batchType+'&locality='+localityValue+'&location='+locationType;
				}else if(localityValue!="" && localityValue!='NULL'){
					urltorediect=currentUrl+'?batch='+batchType+'&locality='+localityValue;
				}		
					else{
					urltorediect=currentUrl+'?batch='+batchType;}					
				}
				}
				else{
					if(ageValue!="" && ageValue!='NULL'){
				if(localityValue!="" && localityValue!='NULL' && lessonType!="" && lessonType!='NULL' && locationType!="" && locationType!='NULL')
				{
					urltorediect=currentUrl+'?age='+ageValue+'&locality='+localityValue+'&lesson='+lessonType+'&location='+locationType;
				}else if(localityValue!="" && localityValue!='NULL' && lessonType!="" && lessonType!='NULL' ){//ab
					urltorediect=currentUrl+'?age='+ageValue+'&locality='+localityValue+'&lesson='+lessonType;
				}else if(lessonType!="" && lessonType!='NULL' && locationType!="" && locationType!='NULL'){//bc
					urltorediect=currentUrl+'?age='+ageValue+'&lesson='+lessonType+'&location='+locationType;
				}else if(localityValue!="" && localityValue!= 'NULL' && locationType!="" && locationType!='NULL'){//ca
					urltorediect=currentUrl+'?age='+ageValue+'&locality='+localityValue+'&location='+locationType;
				}else if(localityValue!="" && localityValue!='NULL'){
					urltorediect=currentUrl+'?age='+ageValue+'&locality='+localityValue;
				}
					else{
						urltorediect=currentUrl+'?age='+ageValue;
					}
				}
				else{
					if(localityValue!="" && localityValue!='NULL' && lessonType!="" && lessonType!='NULL' && locationType!="" && locationType!='NULL')
				{
					urltorediect=currentUrl+'?locality='+localityValue+'&lesson='+lessonType+'&location='+locationType;
				}else if(localityValue!="" && localityValue!='NULL' && lessonType!="" && lessonType!='NULL' ){//ab
					urltorediect=currentUrl+'?locality='+localityValue+'&lesson='+lessonType;
				}else if(lessonType!="" && lessonType!='NULL' && locationType!="" && locationType!='NULL'){//bc
					urltorediect=currentUrl+'?lesson='+lessonType+'&location='+locationType;
				}else if(localityValue!="" && localityValue!= 'NULL' && locationType!="" && locationType!='NULL'){//ca
					urltorediect=currentUrl+'?locality='+localityValue+'&location='+locationType;
				}else if(localityValue!="" && localityValue!='NULL'){
					urltorediect=currentUrl+'?locality='+localityValue;
				}		
					else{
						redirect=1;
					urltorediect=currentUrl;}					
				}
				}
				
				
				<?php if(isset($this->pagevalue) && $this->pagevalue!='1'){?>
				if(redirect == 0){
				pagevaltoconcat = '<?php echo "&page=".$this->pagevalue; ?>';
				}else{
				pagevaltoconcat = '<?php echo "?page=".$this->pagevalue; ?>';
				}
				window.location = urltorediect + pagevaltoconcat;
				<?php }else{ ?>
				window.location = urltorediect;
				<?php } ?>
				
	}
	$(function(){
		  $("#Category_name").change(function(){
			  var domainName = document.domain;
			  skillnameUniq = $(this).find(":selected").attr('value');
		   	  //window.location='http://'+domainName+'/skillzot1/browse/'+skillnameUniq;
			 //window.location='http://'+domainName+'/testdata/browse/'+skillnameUniq;
		   	 window.location='http://'+domainName+'/browse/'+skillnameUniq;
		  });

		  $("#categories_sub").change(function(){
			  var domainName = document.domain;
			  // mainCatogory = $("#Category_name").val();
			  if($("#categories_sub option:selected").val()== "Null")
			  {
				  skillnameUniq = $("#Category_name").find(":selected").attr('value');
			  }else{
				  skillnameUniq = $(this).find(":selected").attr('value');
			  }
			   //window.location='http://'+domainName+'/testdata/browse/'+skillnameUniq;
		   	  //window.location='http://'+domainName+'/skillzot1/browse/'+skillnameUniq;
		   	 window.location='http://'+domainName+'/browse/'+skillnameUniq;
		  });
		  
		  $("#skills").change(function(){
			  var domainName = document.domain;
			   if($("#skills option:selected").val()== "Null")
			  {
				  skillnameUniq = $("#categories_sub").find(":selected").attr('value');
			  }else{
				  skillnameUniq = $(this).find(":selected").attr('value');
			  }
			   //window.location='http://'+domainName+'/testdata/browse/'+skillnameUniq;
		   	  //window.location='http://'+domainName+'/skillzot1/browse/'+skillnameUniq
		   	window.location='http://'+domainName+'/browse/'+skillnameUniq;;
		  });
		  $("#studentAge").change(function(){
			  var currentUrl = document.URL;
			  var pieces=currentUrl.split('?');
			 
				 var ageType=""; 
				
				  ageType=$("#studentAge option:selected").val();
			  
			  if(pieces.length > 1)
				{
					currentUrl = pieces[0];
				}	
				var batchType=$('#batchTiming').val();
				var locationType,lessionType,localityValue;
			  localityValue = $("#locality option:selected").val();
				if ($('input[name=txtradio]:checked').val() == 'true') {	
			  	lessionType = $('input[name=txtradio]:checked').val();
				}else{
				  lessionType='<?php echo $this->lessonType;?>';
				  
				}
				if ($('input[name=locationtype]:checked').val() == 'true') {	
				  locationType = $('input[name=locationtype]:checked').val();
				}else{
					locationType='<?php echo $this->classlocationType;?>';
				}
				redirectTo(currentUrl,ageType,localityValue,batchType,lessionType,locationType);
		   	  
		  });

		  $("#locality").change(function(){
			 var currentUrl = document.URL;
			  var pieces = currentUrl.split("?");
				if(pieces.length > 1)
				{
					currentUrl = pieces[0];
				}	

			  var localityValue = this.value;
			  var lessionType,locationType;
				if ($('input[name=txtradio]:checked').val() == 'true') {	
			  	lessionType = $('input[name=txtradio]:checked').val();
				}else{
				  lessionType='<?php echo $this->lessonType;?>';
				}
				if ($('input[name=locationtype]:checked').val() == 'true') {	
				  locationType = $('input[name=locationtype]:checked').val();
				}else{
					locationType='<?php echo $this->classlocationType;?>';
				}

				 var ageValue =$('#studentAge').val();
				 
				 var batchType=$('#batchTiming').val();
				redirectTo(currentUrl,ageValue,localityValue,batchType,lessionType,locationType);
 
			  
		  });
			$("#batchTiming").change(function(){
			 var currentUrl = document.URL;
			  var pieces = currentUrl.split("?");
				if(pieces.length > 1)
				{
					currentUrl = pieces[0];
				}	
				//alert(currentUrl);
				var batchType=$('#batchTiming').val();
				//alert(batchType);			
			
				var ageValue =$('#studentAge').val();
				 
			  var localityValue = $('#locality').val();
			  var lessionType,locationType;
				if ($('input[name=txtradio]:checked').val() == 'true') {	
			  	lessionType = $('input[name=txtradio]:checked').val();
				}else{
				  lessionType='<?php echo $this->lessonType;?>';
				}
				if ($('input[name=locationtype]:checked').val() == 'true') {	
				  locationType = $('input[name=locationtype]:checked').val();
				}else{
					locationType='<?php echo $this->classlocationType;?>';
				}
				redirectTo(currentUrl,ageValue,localityValue,batchType,lessionType,locationType);
				
		   	  
		  });
		  $('input[name=txtradio]').change(function() {
			  
			  var currentUrl = document.URL;
			 //alert(currentUrl);
			  var pieces = currentUrl.split("?");
			 //alert(pieces.length);exit;
				if(pieces.length > 1)
				{
					currentUrl = pieces[0];
					//currentUrl = currentUrl.split(pieces[6]);
					//currentUrl = currentUrl[0];
					//currentUrl = currentUrl.substring(0, currentUrl.length - 1);
					//currentUrl = currentUrl[0];
					//currentUrl = currentUrl.substring(0, currentUrl.length - 1);

				}	
				
				//alert(currentUrl);
			  var localityValue = $("#locality").val();
			  var lessionType = this.value;
			  if ($('input[name=locationtype]:checked').val() == 'true') {	
				  locationType = $('input[name=locationtype]:checked').val();
				}else{
					locationType='<?php echo $this->classlocationType;?>';
				}
// alert(localityValue);
// alert(lessonType);
// alert(locationType);
							 var ageValue =$('#studentAge').val();

			 				 var batchType=$('#batchTiming').val();
				redirectTo(currentUrl,ageValue,localityValue,batchType,lessionType,locationType);

		  });

		  $('input[name=locationtype]').change(function() {
			  var localityValue = $("#locality").val();
			  if ($('input[name=txtradio]:checked').val() == 'true') {	
			  	var lessionType = $('input[name=txtradio]:checked').val();
			  }else{
				  var lessionType='<?php echo $this->lessonType;?>';
			  }
			  var locationType = this.value;
				
			  
			  var currentUrl = document.URL;
				  var pieces = currentUrl.split("?");
				 // alert(pieces.length);
				if(pieces.length > 1)
				{

					currentUrl = pieces[0];
					//currentUrl = currentUrl.split(pieces[6]);
					//currentUrl = currentUrl[0];
					//currentUrl = currentUrl.substring(0, currentUrl.length - 1);

				}	
								 var ageValue =$('#studentAge').val();

				 var batchType=$('#batchTiming').val();
				redirectTo(currentUrl,ageValue,localityValue,batchType,lessionType,locationType);

		  });
		  
		});
	
	</script>

<style type="text/css">
.hidelastline
{
	width:100%;
	background-color:#fff;
	height:2px;
	margin-top:-1px;
	float:left;
}
#tutorpagepath
{
	margin-bottom: 7px;
}
.linehoderfield{position:relative;width:164px;}
.selectbox
{
	border-radius:0px;
	border:0px;
     color: #666666;
    padding: 0px;
   font-size:12px;
}
select.selectbox{
		position:relative;
		z-index:10;
		/*width:146px !important;*/width:154px !important;
		height:20px !important;
		line-height:20px;
		font-size:12px;
		/*feb02*/margin-left:6px;
}
/* added 26-july h */
.linerow
{
margin-bottom:5px !important;
}
/* dynamically created SPAN, placed below the SELECT */
span.selectbox{
    cursor: default;
    float: left;
    height: 20px;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-indent: 10px;
    top: 0;
    /*width: 119px;*/width: 125px;
    z-index: 1;
    overflow:hidden;
    padding: 0px 27px 0 0px;
    font-size: 12px;
    background: url("<?php echo BASEPATH;?>/images/drop-down-202_18.png") no-repeat scroll 0 0 transparent;
    /*feb02*/margin-left: 2px;
    
	}
.leftcontent
{
	width:275px;
}
/* added 26-july h */
.nameoftutor a:hover
{
color:#FF6633 !important;
}
</style>
	<!--[if IE 7]>
	<style>
	#headercontactus
	{
		padding-top:0px;
	}
	</style>
<![endif]-->

<!--[if IE 8]>
	 <style>
		input[type="radio"]{
			padding-left:0px !important;
		}
	</style>
	<![endif]-->
</head>
<body>
<div class="contentholder">
	<div class="tutorpagepath" id="tutorpagepath" >
		<a href="<?php echo BASEPATH;?>/">Home</a><span class="patharrow"> > </span>
		<?php if (isset($this->maincategory) && $this->maincategory!="") {?>
		<a href="<?php echo BASEPATH;?>/browse/<?php if (isset($this->maincategoryUniq) && $this->maincategoryUniq!=""){ echo $this->maincategoryUniq."-classes-in-mumbai"; } ?>"><?php echo $this->maincategory; ?></a> <?php if (isset($this->mainsubmaincategory) && $this->mainsubmaincategory!="") {?><span class="patharrow">></span><?php } ?>
		<?php  } ?>
		<?php if (isset($this->mainsubmaincategory) && $this->mainsubmaincategory!="") {?>
		<a href="<?php echo BASEPATH;?>/browse/<?php if (isset($this->mainsubmaincategoryUniq) && $this->mainsubmaincategoryUniq!=""){ echo $this->mainsubmaincategoryUniq."-classes-in-mumbai"; } ?>"><?php echo $this->mainsubmaincategory; ?></a><?php if (isset($this->skillcategory) && $this->skillcategory!="") {?><span class="patharrow">></span><?php } ?>
		<?php  } ?>
		<?php if (isset($this->skillcategory) && $this->skillcategory!="") {?>
		<a href="<?php echo BASEPATH;?>/browse/<?php if (isset($this->skillcategoryUniq) && $this->skillcategoryUniq!=""){ echo $this->skillcategoryUniq."-classes-in-mumbai"; } ?>" style="color:#FF6633;"><?php  if (isset($this->skillcategory) && $this->skillcategory!="") echo $this->skillcategory;  ?></a>
		<?php } ?>
		
		
	</div>
	<form id="searchconetentpage" name="searchconetentpage" method="post" action="" enctype="maltipart/form-data">
	<div class="midcontent">
	<input type="hidden" name="sid" id="ssid" value="<?php if(isset($this->skillid) && $this->skillid!=""){ echo $this->skillid; }?>"/>
	<input type="hidden" name="localityid" id="localityid" value="0"/>
		<div class="leftcontent" style="position:fixed;">
			<!--<div class="leftcontenttop"><span class="leftcontenttopspan"></span></div>-->
			
			<div class="leftcontentmid">
				<span class="leftcontentheader">Narrow down search</span>
				
				<div class="linehoder">
					<div class="linehodertitle">Category:</div>
					<input type="hidden" value="" id="subhidden" name="subhidden">
					<div class="linehoderfield">
						<?php
						if (isset($this->maincategoryid) && $this->maincategoryid!="" && $this->mainsubmainid && $this->mainsubmainid!="" && isset($this->skillid) && $this->skillid!="")
						{
							//echo "first";
							$selctMain=$this->maincategoryid;
							$selectSubmain=$this->mainsubmainid;
							$selectLastId=$this->skillid;
						}elseif(isset($this->mainsubmainid) && $this->mainsubmainid!="" && isset($this->skillid) && $this->skillid!="")
						{
							//echo "second";
							$selctMain=$this->mainsubmainid;
							$selectSubmain=$this->skillid;
						}
						else{
							//echo "third";
							$selctMain=$this->skillid;
						}
						$categoryvalues = $this->categoryvalues;
						//echo $selctMain;
						//echo $selectSubmain;
						//echo $selectLastId;
						//exit;
						?>
						<select id="Category_name" name="Category_name" title="Select Category" class="selectbox">
							<!-- <option value="Null">Select category</option> -->
							<?php
							
							if(isset($categoryvalues) && sizeOf($categoryvalues)>0){
							?>
							<?php foreach($categoryvalues as $category){?>
								<option value="<?php echo $category->skill_uniq."-classes-in-mumbai";?>"
								<?php if (isset($selctMain) && $selctMain!="")
								{
									if($selctMain==$category->skill_id){?> selected="selected" <?php } ?>
									
								<?php  } ?>><?php echo $category->skill_name;?></option>
							<?php }
							}?>
							  
						</select>
<!--						<div id="catloader" style="float:right;display:none;">-->
<!--							<img src="<?php //echo BASEPATH;?>/images/ajax-loader4.gif"  width="18">-->
<!--						</div>-->
					</div>
				</div>
				
				<div class="linehoder">
					<div class="linehodertitle" >Skills:</div>
					<div class="linehoderfield"><?php //print_r($this->categorysubrows);exit;?>
						<select name="categories_sub" title="Select Skills" id="categories_sub" class="selectbox">
						
						<option value="Null">--Select--</option>
						<?php if (isset($this->categorysubrows) && sizeof($this->categorysubrows)>0){
						foreach ($this->categorysubrows as $catagorysub)
						{
							
							?>
							 <option value="<?php echo $catagorysub->skill_uniq."-classes-in-mumbai";?>" 
							 <?php if (isset($selectSubmain) && $selectSubmain!="")
								{
									if($selectSubmain==$catagorysub->skill_id){?> selected="selected" <?php } ?>
									
								<?php  } ?>
							 
							 ><?php echo $catagorysub->skill_name;?></option>
							 
						<?php } }?>	 
							 
						</select>
<!--						<div id="skillloader" style="float:right;display:none;">-->
<!--							<img src="<?php //echo BASEPATH;?>/images/ajax-loader4.gif"  width="18">-->
<!--						</div>-->
					</div>
				</div>
				
				<?php if (isset($this->categorylastrows) && sizeof($this->categorylastrows)>0){ ?>
				<div class="linehoder" id="specialitydis">
					<div class="linehodertitle">Skill speciality:</div>
					<div class="linehoderfield">
						<select name="skills" title="Select Speciality" id="skills" class="selectbox" onchange="testvalue=1;">
							 <option value="Null">--Select--</option>
							<?php
							foreach ($this->categorylastrows as $catagorylast)
							{
							?>
								 <option value="<?php echo $catagorylast->skill_uniq."-classes-in-mumbai";?>" 
								 <?php if (isset($selectLastId) && $selectLastId!="")
								 {
									if($selectLastId==$catagorylast->skill_id){?> selected="selected" <?php } ?>
									
								<?php  } ?>
								 
								 ><?php echo $catagorylast->skill_name;?></option>
							 
						<?php } ?>	 
						</select>
<!--						<div id="skillspeloader" style="float:right;display:none;">-->
<!--							<img src="<?php //echo BASEPATH;?>/images/ajax-loader4.gif"  width="18">-->
<!--						</div>-->
					</div>
				</div>
				<?php } ?>	 
				<!------------------------------richa start---------------------------------------------->
				
				<div class="linehoder">
					<div class="linehodertitle">Age Group:</div>
					<div class="linehoderfield">
						<select name="ages" title="--Select--" id="studentAge" class="selectbox">
						<?php 
								   if(isset($this->age) && $this->age!=""){
								  foreach ($this->age as $studentage) {
								   ?>
							  <option value="<?php echo $studentage->student_age_id;?>" <?php if(isset($this->ageID) && ($this->ageID)!=""){if(($this->ageID)==($studentage->student_age_id)){echo "selected";}}?>><?php echo $studentage->student_age_type; ?></option>
							 <?php }}?>
						</select>
					</div>
				</div>
				<!------------------------------richa end---------------------------------------------->

				<div class="linehoder">
					<div class="linehodertitle">Locality:</div>
					<div class="linehoderfield"><?php //echo $this->localityID;exit;?>
						<select name="locality" title="Mumbai anywhere" id="locality" class="selectbox">
						<option value="">Mumbai anywhere</option>
						<?php 
								   if(isset($this->suburbsdata) && $this->suburbsdata!=""){
								  foreach ($this->suburbsdata as $suburbs) {
								   ?>
							  <option value="<?php echo $suburbs->id;?>" <?php if (isset($this->localityID) && $this->localityID!=""){if ($this->localityID==$suburbs->id){echo "selected";}}?>><?php echo $suburbs->suburbs_name; ?></option>
							 <?php }}?>
						</select>
<!--						<div id="localityloader" style="float:right;display:none;">-->
<!--							<img src="<?php //echo BASEPATH;?>/images/ajax-loader4.gif"  width="18">-->
<!--						</div>-->
					</div>
				</div>
	<!---------------------------------------richa start------------------------------------------------->
	<div class="linehoder">
					<div class="linehodertitle" style="width=100%;">Batch Timing:</div>
					<div class="linehoderfield">
						<select name="batches" title="--Select--" id="batchTiming" class="selectbox">
						<?php 
								   if(isset($this->batches) && $this->batches!=""){
								  foreach ($this->batches as $batch) {
								   ?>
							  <option value="<?php echo $batch->id;?>" <?php if(isset($this->batchID) && ($this->batchID)!=""){if(($this->batchID)==($batch->id)){echo "selected";}}?>><?php echo $batch->batch_timing_type; ?></option>
							 <?php }}?>
						</select>
					</div>
				</div>
	<!---------------------------------------richa end--------------------------------------------------->
				<div class="linehoder">
					<div class="linehodertitle">Lesson type:</div>
					<div class="linehoderfield" id="lession">
					<?php
						if(isset($this->classtype) && sizeof($this->classtype)>0){
						$h=0;
						$classtype = $this->classtype;
							for($h=0;$h<3;$h++)
							{
					?>
								<div class="linerow" style="width:89%;"><input style="height:15px;width:15px;font-size:10px;float: left;margin: 0px 3px 0px 0px;" type="radio" name="txtradio" id="txtradio<?php echo $h;?>" value="<?php if(isset($classtype[$h]['class_type_id']) && $classtype[$h]['class_type_id'] !=""){echo $classtype[$h]['class_type_id'];}?>" <?php if(isset($classtype[$h]['class_type_id']) && $classtype[$h]['class_type_id'] !="") { if (isset($this->lessonType) && $this->lessonType!=""){if ($this->lessonType==$classtype[$h]['class_type_id']){echo "checked";}}}?>/>
									<span class="typevalue"><?php if($h==0){echo "Personal lessons";}elseif($h==1){echo "Group classes";}else{echo "Give me both options";}?></span>
								</div>
<!--								<div id="lessiontype<?php //echo $classtype[$h]['class_type_id'];?>" style="float:right;display:none;">-->
<!--									<img src="<?php //echo BASEPATH;?>/images/ajax-loader4.gif"  width="18">-->
<!--								</div>-->
					<?php
							}
						}
						?>
						
					</div>
				</div>
				
				<div class="linehoder">
					<div class="linehodertitle">Class location:</div>
					<div class="linehoderfield" id="class">
						<div class="linerow" style="width:97%;">
						
						<?php if(isset($this->lessonlocation) && sizeof($this->lessonlocation)>0){
								$i=0;
								foreach($this->lessonlocation as $lessonlocation){?>
							<div class="linerow" style="width:97%;">
								<input  type="radio" name="locationtype" value="<?php if (isset($lessonlocation->location_id) && $lessonlocation->location_id!="") echo $lessonlocation->location_id;?>" <?php if(isset($lessonlocation->location_id) && $lessonlocation->location_id !="") { if (isset($this->classlocationType) && $this->classlocationType!=""){if ($this->classlocationType==$lessonlocation->location_id){echo "checked";}}}?> class="checkbox"/>
								<span class="typevalue"><?php if($i==0){echo "At student's home";}elseif($i==1){echo "Teacher's class location";}else{echo "Give me both options";}?></span>
							</div>
<!--							<div id="classlocation<?php echo $lessonlocation->location_id;?>" style="float:right;display:none;width:4px;">-->
<!--								<img src="<?php //echo BASEPATH;?>/images/ajax-loader4.gif"  width="18">-->
<!--							</div>-->
								<?php $i++;
								}
							}?>
							
						</div>
					</div>
				</div>
<!--				<div class="linehoder">-->
<!--					<span style="font-size:11px;color:#1CA3E7;">We’ve just arrived in your city. Coming to your locality in a bit...</span>-->
<!--				</div>-->
			</div>
			<!--<div class="leftcontentbot"></div>-->
		</div>
		
		
		<div id="rightcontentdivid" class="rightcontent" style="float:right;">
					<div class="bigheader">
				<?php 
				//echo $authUserNamespace->keywordentered;exit;
				
				$title = '';
				if (isset($this->skillcategory) && $this->skillcategory!="") 
				{
					if($this->skillid == '220')
						$title .= "Indian Vocal";
					else if($this->skillid == '219')
						$title .= "Western Vocal";
					else if($this->skillid == '180' || $this->skillid == '211' || $this->skillid == '206')
					{
						$title .= " ".$this->skillcategory; 
						$title .= " ".$this->mainsubmaincategory; 
					}
					else		 	
						$title .= " ".$this->skillcategory; 
					//if (isset($authUserNamespace->keywordentered) && $authUserNamespace->keywordentered!=""){?>
					<h3><?php
						//echo "Sorry no results for ".$authUserNamespace->keywordentered." But we do have ";?>
					<h3>
							

					<?php
					//}
					//echo "keyword".$authUserNamespace->search_keyword;
				} 
				/*if(isset($this->mainsubmaincategory) && $this->mainsubmaincategory!="")
				{
					$title .= " ".$this->mainsubmaincategory; 
				} 
				if(isset($this->maincategory) && $this->maincategory!="") 
				{
					$title .= " ".$this->maincategory;
				}*/
				/*else if (isset($authUserNamespace->keywordentered) && $authUserNamespace->keywordentered!="")
				{
					$title .= " ".$authUserNamespace->keywordentered;
				}*/
				if($this->skillid != '6')
				 	$title .= ' Classes In Mumbai';
				?>
				<h2>
				<?php
				//echo $this->searchname;
				if(isset($this->searchname) || isset($this->localitysearch) || isset($this->skillname))
				{
					echo '<div class="headingtest">No results found for "'.$this->search_keywords.'"</div>';
				}elseif(isset($this->skillname1) && $this->search_keywords!="")
				{
					echo 'Showing results for "'.$this->search_keywords.'"';
				}else{
					echo $title;
				}
				//echo $title;
				?>
			</h2>
		</div>
		<?php if (isset($this->tutoridsRowresult) && sizeof($this->tutoridsRowresult)>0){?>
		
		
			<div id="contentloader" style="float:left;">
				<?php
				if(isset($this->searchname) || isset($this->localitysearch)  || isset($this->skillname))
				{
				?>
				<div id="firstdiv">
					Our bad that we couldn't find any search results for you. 
					Please let us make it up by filling a <a onclick="tellus(0)" class="contacttext openskillbox" style="color:#1CA3E7;float:none;padding-right:0;" id="coupleofdetails" href="javascript:void(0)">couple of details</a> 
					so that we can get back to you as soon as we find a tutor for you.
				</div>
				<div id="firstdivvideo">
					<iframe width="420" height="315" src="https://www.youtube.com/embed/Zhi6nNYNOxQ" frameborder="0" allowfullscreen></iframe>
				</div><br>
				<h2>Showing results for <?php echo '"'.trim($title).'"'; ?></h2>
			<?php
				} 
				$tutorProfileobj = new Skillzot_Model_DbTable_Tutorprofile();
				$skillcourseobj = new Skillzot_Model_DbTable_Tutorskillcourse();
				$classtypeObj = new Skillzot_Model_DbTable_Tutorclasstype();
				$lessonlocationObj = new Skillzot_Model_DbTable_Tutorlessionlocation();
				$branchdetailObj = new Skillzot_Model_DbTable_Branchdetails();
				$localitysuburbsObj = new Skillzot_Model_DbTable_Localitysuburbs();
				$adressObj = new Skillzot_Model_DbTable_Address();
				$masteraddressobj = new Skillzot_Model_DbTable_Address();
				$batchObj= new Skillzot_Model_DbTable_Batch();
				//print_r($this->tutoridsRowresult);
				foreach($this->tutoridsRowresult as $tidsforDis){
					$tid = $tidsforDis['id'];
					$fetch_data = $tutorProfileobj->fetchRow("id='$tid'");
					$skill_data = $skillcourseobj->fetchRow("tutor_id='$tid'");
					$batchResult1=$batchObj->fetchAll($batchObj->select()
											->from(array('c'=>DATABASE_PREFIX."tx_tutor_course_batch"),array('c.tutor_location AS tutor_location'))
											->where("c.tutor_id ='$tid' && c.tutor_location='1'"));
											
					$batchResult2=$batchObj->fetchAll($batchObj->select()
										->from(array('c'=>DATABASE_PREFIX."tx_tutor_course_batch"),array('c.tutor_location AS tutor_location'))
										->where("c.tutor_id ='$tid' && c.tutor_location='2'"));
					$batch_travel_radius=$batchObj->fetchRow($batchObj->select()
										->from(array('c'=>DATABASE_PREFIX."tx_tutor_course_batch"),array('c.travel_radius AS travel_radius'))
										->where("c.tutor_id ='$tid' && c.travel_radius!=''"));
					?>
				<div class="tutorinfo" id="tutorinfodiv">
					<div class="profilephoto">
						<a style="color:black;" href="<?php echo BASEPATH;?>/mumbai/<?php if (isset($this->skillcategoryUniq) && $this->skillcategoryUniq!="") {echo $this->skillcategoryUniq; } 
			 elseif (isset($this->mainsubmaincategoryUniq) && $this->mainsubmaincategoryUniq!=""){echo $this->mainsubmaincategoryUniq; } 
			 else {echo $this->maincategoryUniq;}?>/<?php if (isset($fetch_data->tutor_url_name) && $fetch_data->tutor_url_name!=""){echo $fetch_data->tutor_url_name;}else{}  ?>">
						<img src="<?php echo BASEPATH;?>/search/viewthumbimage/id/<?php echo $fetch_data->id;; ?>" onerror=this.src="<?php echo BASEPATH;?>/images/NoAvailable.jpg" width="147" height="147" />
						</a>
					</div>
					
					<div style="position:relative;" class="infobox">
						<div style="position:absolute;top:0;right:0;" class="typebtnbox">
						<a class="typebtn" href="#">
						<?php 
							
							if (isset($fetch_data->tutor_class_type) && $fetch_data->tutor_class_type!=""){
								$classTypeId = $fetch_data->tutor_class_type;
								$classTypedata = $classtypeObj->fetchRow("class_type_id='$classTypeId'");
								if (isset($classTypedata->class_type_name) && $classTypedata->class_type_name!="") {
									if($classTypedata->class_type_id==4 || $classTypedata->class_type_id==2)
									{
										echo "Group"."<br/>"."Classes";
									}else if($classTypedata->class_type_id==1){
										echo "Personal"."<br/>"."Lessons";
									}
									else{
										echo "Personal &"."<br/>"."Group Classes";
									}
								}
							}
						?>
						</a></div>
					</div>
					<div class="infolinerow"><span class="nameoftutor">
					<?php if (isset($fetch_data->company_name) && $fetch_data->company_name!="")
						{
							$displayNameoftutor = $fetch_data->company_name;
							$uniqTutornamefrombrowse = preg_replace("/[^A-Za-z0-9]/", "-",$displayNameoftutor);
						}elseif (isset($fetch_data->tutor_first_name) && $fetch_data->tutor_first_name!="" && $fetch_data->tutor_last_name!="")
						{
							$displayNameoftutor = ucfirst($fetch_data->tutor_first_name)." ".ucfirst($fetch_data->tutor_last_name);
							$uniqTutornamefrombrowse= preg_replace("/[^A-Za-z0-9]/", "-",$displayNameoftutor);
						}else
						{$displayNameoftutor = "No name";}?>
					
						<a href="<?php echo BASEPATH;?>/mumbai/<?php if (isset($this->skillcategoryUniq) && $this->skillcategoryUniq!="") {echo $this->skillcategoryUniq; } 
			 elseif (isset($this->mainsubmaincategoryUniq) && $this->mainsubmaincategoryUniq!=""){echo $this->mainsubmaincategoryUniq; } 
			 else {echo $this->maincategoryUniq;}?>/<?php if (isset($fetch_data->tutor_url_name) && $fetch_data->tutor_url_name!=""){echo $fetch_data->tutor_url_name;}else{} ?>" style="color:#1CA3E7;">
						<?php echo $displayNameoftutor;?>
						</a></span>
					</div>
					<div class="infolinerow"><span id="locationiddisplay0" class="locationoftutor">
						<span style="font-weight:bold;">Classes at</span>: 
						
						<?php 

							if(isset($skill_data->tutor_course_name)&& $skill_data->tutor_course_name!=""){
								//echo $skill_data->tutor_lesson_location;
									if(sizeof($batchResult1)>0 && sizeof($batchResult2)==""){
										echo "Student's home";
									}else{
										$fetchlocality_data = $branchdetailObj->fetchAll($branchdetailObj->select()
														->setIntegrityCheck(false)
														->from(array('c'=>DATABASE_PREFIX."tx_tutor_course_batch"),array('distinct(locality)'))
														->joinLeft(array('m'=>DATABASE_PREFIX."master_address"),'c.locality=m.address_id',array(''))
														->joinLeft(array('l'=>DATABASE_PREFIX."locality_suburbs"),'m.address_id=l.id',array(''))
														->where("c.tutor_id='$tid'")
														 ->order(array("m.address_value asc")));
														 
														 
										if (isset($fetchlocality_data) && sizeof($fetchlocality_data)>0)
										{
											$commacounter=0;
											$loctin="";
											foreach ($fetchlocality_data as $locvalue)
											{
												$location_data = $masteraddressobj->fetchRow("address_id ='$locvalue->locality'");
												if (isset($location_data) && sizeof($location_data)>0)
												{
														echo $location_data->address_value;
														$commacounter++;
														if(sizeof($fetchlocality_data)!=$commacounter)
														{
															echo ", ";
														}
												}
											}
										}
									}
								
							}
						
						?>
						
						
						</span>
					</div>
					<?php if(isset($batch_travel_radius->travel_radius)&& $batch_travel_radius->travel_radius!=""){ 
					
					?>
					<div style="margin: 0px;margin: 0 0 5px;" class="infolinerow5">
						<span class="locationoftutor"><span style="font-weight:bold;">Travel radius</span>: 
							<?php echo $batch_travel_radius->travel_radius; ?>
						</span>
					</div>
					<?php } ?>
					<?php if (isset($fetch_data->tutor_brief_desc) && $fetch_data->tutor_brief_desc!=""){ 
					$strCount = strlen(trim(strip_tags($fetch_data->tutor_brief_desc)));
						?>
					<div style="margin-top: 5px;margin-bottom:0px;" class="infolinerow5">
					<span id="descrpipoftutor0" class="descrpipoftutor">
					
					<?php if (isset($strCount) && $strCount > 160) {
									$aboutCourse = trim(strip_tags($fetch_data->tutor_brief_desc));
									$showstr = substr($aboutCourse,0,130);
									echo ucfirst($showstr)."..";
								}else{
									echo ucfirst(trim(strip_tags($fetch_data->tutor_brief_desc."..")));
								}
					?>
					</span>
						<div style="clear:both;float:left;width:100%;"></div>
					<a href="<?php echo BASEPATH;?>/mumbai/<?php if (isset($this->skillcategoryUniq) && $this->skillcategoryUniq!="") {echo $this->skillcategoryUniq; } 
			 elseif (isset($this->mainsubmaincategoryUniq) && $this->mainsubmaincategoryUniq!=""){echo $this->mainsubmaincategoryUniq; } 
			 else {echo $this->maincategoryUniq;}?>/<?php if (isset($fetch_data->tutor_url_name) && $fetch_data->tutor_url_name!=""){echo $fetch_data->tutor_url_name;}else{}  ?>" style="float:left;margin-top:5px;" class="fullprofilelink">Full profile</a>
					</div>
					<?php }?>
				</div>
				<?php }  ?>
				
				<!-- need more text -->	
			<?php if(isset($this->tutoridsRowresultforpaging) && sizeof($this->tutoridsRowresultforpaging)<5 && sizeof($this->tutoridsRowresult)>0){?>
			<div class="hidelastline">&nbsp;</div>
            <div id="firstdiv">Need more options? Please help us help you by <a href="javascript:void(0)" style="color:#1CA3E7;float:none;padding-right:0;" id="tellingushere" class="contacttext openskillbox" onclick="tellus(1)">telling us here</a> what you’re looking for so that we can check for more tutors and inform you.</div>
			<?php }?>
			<!-- end of need more text -->	
			
			</div>
			<?php }else{ ?>
			<div style="padding: 0px 0;width: 100%;float: left;">
				<div class="headingtest">Ouch, search no find!</div>
				<div id="firstdiv">
					Our bad that we couldn't find any search results for you. 
					Please let us make it up by filling a <a onclick="tellus(0)" class="contacttext openskillbox" style="color:#1CA3E7;float:none;padding-right:0;" id="coupleofdetails" href="javascript:void(0)">couple of details</a> 
					so that we can get back to you as soon as we find a tutor for you.
				</div>
				<br>
				<div>And btw, these guys (U2) haven't found it either. So you're not alone...</div>
				<br>
				<div id="firstdivvideo">
					<iframe width="420" height="315" src="https://www.youtube.com/embed/Zhi6nNYNOxQ" frameborder="0" allowfullscreen></iframe>
				<!--	<object width="575" height="461">
						<param value="http://youtube.googleapis.com/v/Zhi6nNYNOxQ" name="movie">
						<param value="transparent" name="wmode">
						<param value="always" name="allowscriptaccess">
						<param value="true" name="allowFullScreen">
						<embed width="400" height="300" src="http://youtube.googleapis.com/v/Zhi6nNYNOxQ" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="transparent">
					</object> -->
				</div>
			</div>
			<?php } ?>
			
		</div>
		
		
		
		
		<div class="hidelastline">&nbsp;</div>
		<div style="float: left; width: 100%; background-color: rgb(255, 255, 255); margin: -5px 0 7px 0;">
			<div class="pagenum" id="pnumid">
			
			
			
				<?php //if (isset($this->tutoridsRowresult) && sizeof($this->tutoridsRowresult)>0){ echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>"; }?>
			</div>
		</div>
		<script>
//		call_ajaxlist();
		</script>
			<div class="pagenum" id="pnumid">
			
			
			<?php 
		if(isset($this->tutoridsRowresultforpaging) && sizeof($this->tutoridsRowresultforpaging) > 0)
		{
		$total = sizeof($this->tutoridsRowresultforpaging);
		$totalPages  = ceil($total / 10);
			$strURL = $_SERVER['REQUEST_URI'];
			$mainexplodeByquestion = explode('?',$strURL);
			if(isset($mainexplodeByquestion) && sizeof($mainexplodeByquestion)>1)
			{
				$explodeByonlypage = explode("?page",$strURL);
				$explodeByendpage = explode("&page",$strURL);
				if(isset($explodeByendpage) && sizeof($explodeByendpage)>1)
				{
					$currentUrl = $explodeByendpage[0]."&page";
				}elseif(isset($explodeByonlypage) && sizeof($explodeByonlypage)>1){
					$currentUrl = $explodeByonlypage[0]."?page";
				}else{
					$currentUrl = $strURL."&page";
				}
			}else{
				$currentUrl = $strURL."?page";
			}
				if(isset($_GET["page"]))
				{
					if(isset($totalPages) && $totalPages >=$_GET["page"])
					{
						$page = intval($_GET["page"]);
					}else{
						$page = intval($totalPages);
					}
				}else{
					$page=1;
				}
					if($page <=1 )
					{
						//echo "<span id='page_links' style='font-weight:bold; margin-right: 7px;'>Prev</span>";
	
					}else{
						$j = $page - 1;
						echo "<span><a id='page_a_link' href='$currentUrl=$j'> Prev</a></span>";
					}
		
					for ($i=1; $i<=$totalPages; $i++)
					{
						if($i<>$page)
						{
							echo "<span><a href='$currentUrl=$i' id='page_a_link'>$i</a></span>";
						}else{
							if($page == $totalPages && $page=='1')
							{
								
							}else{
							echo "<span id='page_links' style='font-weight:bold;margin: 0 8px 0 0px;'>$i</span>";
							}
						}
					}
					if($page == $totalPages )
					{
						//echo "<span id='page_links' style='font-weight:bold;'> Next ></span>";
					}
					else{
						$j = $page + 1;
						echo "<span><a href='$currentUrl=$j' id='page_a_link'>Next</a></span>";
					}
		}	
			?>
			
			
				<?php //if(isset($this->tutorid) && sizeof($this->tutorid)>0 && $this->t_ids !=""){ echo $this->pagination($this->pagination_config); }?>
			</div>	
	</div>
	</form>
</div>

</body>
</html>
