<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzot.css"/>
<style>
body{
    margin:0px;
    padding:0;
    font-size:12px;
    font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
    float:left;
    width:410px;
    overflow-x:hidden; 
}
.loginMain
{
    float:left;
    width:410px;
    background-color:#fff;
}
.loginMain h1
{
    background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 30px 5px 19px;
    text-align: left;
    width:410px;
}
.loginMain p
{
    margin:5px 0px 0px 7px;
    color:#666;
    font-size:14px;
    float:left;
    width: 97.3333%;
}
</style>

</head>
<body id="idforrefreshcontact">


 <div class="loginMain" style="width:410px;">
    <h1>Thank You</h1><br>
    <div style="float: left;"><br>
        <p>Rest assured, your inputs have been sent to our team of super zots whose only mission in life is to listen to what you say and find ways to please you.</p>
        
        <p></br>Here's to nurturing your talent...</p>
        
        <p class="handofseanbrown" style="color:#00A7E6;font-size: 20px;">Cheers,</p>
        <p>Sandeep @ Skillzot.com</p>
        </div>
    </div>

</body>
</html>