<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth');?>
<html>
<head>
<title>Tutor sign up - course details page.</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crudcoursedetail.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot_register.js"></script>
<!-- <script src="http://cdn.webrupee.com/js" type="text/javascript"></script> 
<link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">-->

<link rel="stylesheet" type="text/css" src="<?php echo BASEPATH; ?>/css/ckeditor/contents.css"></link>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/customcalender.css"/>
<style>
.select
{
    width: 282px;
}
.input
{
	 width: 280px;
}
.formholder
{
	border:1px solid #00A7E6;
}
.errorcls{
	color:#FF6633;
	margin-left:207px;
	float:left;
	line-height: 15px;
	font-weight:normal;
	width:70%;
}
.errorcls1{
	color:#FF6633;
	float:left;
	line-height: auto;
	font-weight:normal;
	font-size:12px;
	width:100%;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
	padding-top:5px;
}
.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:175px;
	font-size: 14px;
    font-weight: normal;
    z-index:1;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:60px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
#addvideomore input
{
	color:#AAA5A4;
	font-style:italic;
}
.add-small-batch {
    background-image: url("/images/addBtn.png");
    background-position: 6px 2px;
    background-repeat: no-repeat;
    color: #00a7e6;
    display: inline-block;
    float: left;
    font-size: 12px;
    margin-right: 20px;
    padding: 6px 0 6px 25px;
}
</style>
<script type="text/javascript">

window.onload = function(){
	var searched_locality_id="";
	document.getElementById("save").onclick = function(){
		document.getElementById("avgadd").value = avg_l;
		saveForm('<?php echo BASEPATH; ?>/tutor/coursedetail','course_step','course_step');
		
	};
	<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata)){}else{ ?>
	document.getElementById("batch_schedule").style.color = "#AAA5A4";
	document.getElementById("travel_radius").style.color = "#AAA5A4";
	document.getElementById("rate").style.color = "#AAA5A4";
	document.getElementById("rate_comment").style.color = "#AAA5A4";
	document.getElementById("student_comment").style.color = "#AAA5A4";
	document.getElementById("newskillenter").style.color = "#AAA5A4";
	

	document.getElementById("student_comment").style.fontStyle = "italic";
	document.getElementById("batch_schedule").style.fontStyle = "italic";
	document.getElementById("travel_radius").style.fontStyle = "italic";
	document.getElementById("rate").style.fontStyle = "italic";
	document.getElementById("rate_comment").style.fontStyle = "italic";
	document.getElementById("newskillenter").style.fontStyle = "italic";
	<?php } ?>
	
};
function myfunctionin(uid){
	var id = uid;
	var pos = $("#"+id).height();
	var topp = "-"+(pos/2-10);
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "visible";
	uniqid.style.top = topp+"px";
}
function myfunctionout(uid){
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "hidden";
}
function skill(idimg){
	var hiddenvalue2 = document.getElementById('hiddenVal2').value;

	if((hiddenvalue2.indexOf(idimg) != -1) == true){
		var reval = hiddenvalue2.replace(idimg+",",'');
		var flag=1;
		document.getElementById('hiddenVal2').value = reval;
	}
	if(hiddenvalue2 == ""){
		document.getElementById('hiddenVal2').value = idimg+",";
		reval = document.getElementById('hiddenVal2').value;
	}
	reval = document.getElementById('hiddenVal2').value;
	if(flag!=1){
		if((reval.indexOf(idimg) != -1) == false){
			document.getElementById('hiddenVal2').value += idimg+",";
		}
	}
}
function agegroup1(idimg){
	var hiddenvalue2 = document.getElementById('hiddenVal3').value;

	if((hiddenvalue2.indexOf(idimg) != -1) == true){
		var reval = hiddenvalue2.replace(idimg+",",'');
		var flag=1;
		document.getElementById('hiddenVal3').value = reval;
	}
	if(hiddenvalue2 == ""){
		document.getElementById('hiddenVal3').value = idimg+",";
		reval = document.getElementById('hiddenVal3').value;
	}
	reval = document.getElementById('hiddenVal3').value;
	if(flag!=1){
		if((reval.indexOf(idimg) != -1) == false){
			document.getElementById('hiddenVal3').value += idimg+",";
		}
	}
}
function language_id(idimg){
	var hiddenvalue2 = document.getElementById('hiddenVal4').value;

	if((hiddenvalue2.indexOf(idimg) != -1) == true){
		var reval = hiddenvalue2.replace(idimg+",",'');
		var flag=1;
		document.getElementById('hiddenVal4').value = reval;
	}
	if(hiddenvalue2 == ""){
		document.getElementById('hiddenVal4').value = idimg+",";
		reval = document.getElementById('hiddenVal4').value;
	}
	reval = document.getElementById('hiddenVal4').value;
	if(flag!=1){
		if((reval.indexOf(idimg) != -1) == false){
			document.getElementById('hiddenVal4').value += idimg+",";
		}
	}
}
function studentprofile_id(idimg){
	var hiddenvalue2 = document.getElementById('hiddenVal5').value;

	if((hiddenvalue2.indexOf(idimg) != -1) == true){
		var reval = hiddenvalue2.replace(idimg+",",'');
		var flag=1;
		document.getElementById('hiddenVal5').value = reval;
	}
	if(hiddenvalue2 == ""){
		document.getElementById('hiddenVal5').value = idimg+",";
		reval = document.getElementById('hiddenVal5').value;
	}
	reval = document.getElementById('hiddenVal5').value;
	if(flag!=1){
		if((reval.indexOf(idimg) != -1) == false){
			document.getElementById('hiddenVal5').value += idimg+",";
		}
	}
}

function getlessionloc(getvalue){
	if(getvalue=="2")
	{
		document.getElementById('travel_radius_error').innerHTML="&nbsp";
	}
	document.getElementById('LessionLocationhiddenvalue').value = getvalue;
}
function removeclasspic(id)
{
	jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
	if(r == true) {
		
	$.ajax({
		url:"<?php echo BASEPATH;?>/editprofile/removeclasspic",
		type:'post',
		data:'courseid='+id,
		async: false,
		success: function(response){
			if(response!="" || response!=null){
				document.getElementById("imgfile_error").innerHTML = "Image deleted successfully...!";
				document.getElementById('classpicdivdisplay').style.display ='none';
			}
		}
	});}
	else return false;
	});
}
function getlocality(city_id,locality){
	if(city_id != "" && city_id != null){
		$.ajax({
			url:"<?php echo BASEPATH;?>/tutor/getlocality",
			type:'post',
			data:'city_id='+city_id,
			async: false,
			success: function(response){
				if(response!="" || response!=null){
					j=1;
					var jsonObject = eval ('('+response+')');
					options_ele = document.getElementById('locality['+locality+']');
					for(k=options_ele.length-1;k>0;k--){
						options_ele.remove(k);
					}
				    for(m=0;m<jsonObject.length;m++){
						var option_element = new Option(jsonObject[m]['address_name'],jsonObject[m]['locality_id']);
						document.getElementById('locality['+locality+']').options[j] = option_element;
						j++;
					}
				}
			}
		});
	}
}

		<?php 
		if(isset($authUserNamespace->avgaddvar) && $authUserNamespace->avgaddvar!="" && $authUserNamespace->avgaddvar!="-1"){?>
			var avg_l = "<?php echo $authUserNamespace->avgaddvar;?>";
			var l = "<?php echo $authUserNamespace->avgaddvar;?>";
		<?php }else{?>
			var avg_l = 0;
			var l = 0;
		<?php }?>

		
function adddynamicRowbranch(){
	
	if(avg_l<=3){
			l++;
			avg_l++;
			newdiv= document.createElement('div');
			newdiv.setAttribute('class','steprow1');
			newdiv.setAttribute('id','addvideomore'+l);
			newdiv.innerHTML="<div class='steprow1'>"+
			"<div class='stepcol1'>&nbsp;</div>"+
			"<div class='stepcol2'>"+
			"<input  class='input' onfocus='clearit(this);' onblur='fixit(this);' szprompt='Address' style='width:170px;' type='text' name='address[]' id='address[]' value='Address'>"+
			"</div>"+
			"</div>"+
			"<div class='steprow1'>"+
			"<div class='stepcol1'>&nbsp;</div>"+
			"<div class='stepcol2'>"+

			"<select id='city[]' name='city[]' style='width:180px;' errortag='city name' onchange='getlocality(this.value,"+l+");'>"+
			"<option value='' selected='selected'>--  Select city  --</option>"+
			<?php if(isset($this->city) && sizeof($this->city)>0){foreach($this->city as $city){?>
				"<option value='<?php echo $city->address_id;?>'  <?php if (isset($this->tutordata->tutor_add_city) && $this->tutordata->tutor_add_city!="" && $this->tutordata->tutor_add_city == $city->address_id ){ echo "selected";}?>> <?php if (isset($city->address_value) && $city->address_value !=""){echo $city->address_value;} ?>"+
			"</option>"+
			<?php }}?>
			"</select>"+

			"<select id='locality["+l+"]' style='width:180px;' name='locality["+l+"]' errortag='locality'>"+
				"<option value='' selected='selected'>--  Select locality  --</option>"+
			"</select>"+

			
			//"<input  class='input' onfocus='clearit(this);' onblur='fixit(this);' szprompt='City' style='width:170px;' type='text' name='city[]' id='city[]' value='City'>"+
			//"<input  class='input' onfocus='clearit(this);' onblur='fixit(this);' szprompt='Locality' style='width:170px;' type='text' name='locality[]' id='locality[]' value='Locality'>"+
			"</div>"+
			"</div>"+
			"<div class='steprow1'>"+
			"<div class='stepcol1'>&nbsp;</div>"+
			"<div class='stepcol2'>"+
				"<input  class='input' onfocus='clearit(this);' maxlength='6' onblur='fixit(this);' szprompt='Pincode' style='width:170px;' type='text' name='pincode[]' id='pincode[]' value='Pincode'>"+
				"<input  class='input' onfocus='clearit(this);' onblur='fixit(this);' szprompt='Landmark' style='width:170px;' type='text' name='landmark[]' id='landmark[]' value='Landmark'>"+
				"<input type='hidden' id='address"+avg_l+"' errortag='Experience row"+avg_l+"'>"+
				"<div class='clear'>&nbsp;</div>"+
				"<div id='address"+avg_l+"_error' class='errorcls1'></div>"+
			"</div>"+
			"<img src='<?php echo BASEPATH;?>/images/black_close.png' onclick=\"removeDiv4('"+l+"');\" style='width:16px;height:16px;float:left;margin-top:5px;margin-left:5px;'/>"+
			"</div>";
			
			document.getElementById('addvideomore').appendChild(newdiv);	

		
		}
	}
function removeDiv4(index){
	if(document.getElementById('addvideomore'+index)){
		document.getElementById('addvideomore').removeChild(document.getElementById('addvideomore'+index));
	}
	document.getElementById("avgadd").value = index-1;
	l = index-1;
	avg_l--;
}
function imagedone()
{
	document.getElementById("imgfile_error").innerHTML = "Image uploaded successfully...!";//display msg
}
function batchdone()
{
	document.getElementById("batch_error").innerHTML = "Batch details uploaded successfully...!";//display msg
}
</script>
<style>
.stepcol2
{
	margin-bottom:5px;
}
INPUT[type='text']
{
	height:30px !important;
}
</style>
<!--[if IE 7]>
<style>
INPUT[type='radio']
{
	border:0px !important;
}
.midspacer
{
float:none;
 width:100%;
 display:block;
}
#registration_form_2 input
{
	padding:2px 0 0 2px;
	height:18px;
	text-align:left;
}
.steprow1
{
	margin-bottom:0px;
}
.stepcol2 input
{
	height:25px;
}
.stepcol2
{
	margin-left:-10px;
}
.stepcol2 input[type='text']
{
 float:left;
 margin-right:5px
}
</style>
<![endif]-->
<!--[if IE 8]>
<style>
.ifie8450
{
	width:450px !important;
}
#registration_form_2 input
{
	padding:5px 0 0 2px;
	height:25px;
}
.lowspacer
{
 float:none;
 width:100%;
 display:block;
}
.midspacer
{
	float:none;
	width:100%;
 	display:block;
	
}
input[type='checkbox'],input[type='radio']
{
	height:15px !important;
	width:25px !important;
	border:0px !important;
}
</style>
<![endif]-->
</head>
<body>
<div id="tutorpagepath" class="tutorpagepath">
	<a href="<?php echo BASEPATH;?>/index"> Home </a>
	<span class="patharrow">></span>
	<a style="color:#FF6633;" href="/search/index/skillid/4">Tutor Registration</a>
</div>
<div id="step1" style="width:738px;margin:auto">
	<strong class="regheader" style="margin-top:0px;">Tutor Registration</strong>
	<div class="clear">&nbsp;</div>
	<div class="midspacer">&nbsp;</div>
	<div class="menuclass">
		<div>
			<div style="background:url('<?php echo BASEPATH;?>/images/reg_step_3.png') no-repeat;width:783px;height:41px;">
				<div class="left" style="width:170px;height:41px;" ></div>
				<div class="left" style="width:150px;height:41px;"></div>
				<div class="left" style="width:225px;height:41px;" ></div>
				<div class="left" style="width:130px;height:41px;" ></div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="step">Step 3 of 4</div>
		<div id="registration_form_3" class="formholder">
			<form method="post" action="" name="course_step" id="course_step" enctype="multipart/form-data">
			<div class="allfields"> <span style="color:#F06142">*</span> All fields are required</div>
			<input type="hidden" name="avgadd" id="avgadd" value="">
				<div class="tableclass" id="prf_exp">
					<?php //echo $authUserNamespace->tutorcoursesessionid;exit;?>
						<input type="hidden" name="newskillenter" id="newskillenter" onfocus="clearit(this);" onblur="fixit(this); " szprompt="Skill you suggest" value="Skill you suggest" />
				</div> 
					<div class="steprow1" style="margin:0px;"><span style="color:#358fbd;font-size:16px;float:left;">Course Details:</span>
					
					
					
<!--								<span class="tooltipclass">-->
<!--										<img style="float:left;margin-left:5px;" src="<?php //echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename24');" onmouseout="myfunctionout('uniquename24');" />-->
<!--										<span class="tooltipdiv" id="uniquename24" style="visibility: hidden;left:10px;">-->
<!--											<span class="tooltipdivspan2">You can add more than one course from your dashboard once you've saved your full profile.</span>-->
<!--										</span>-->
<!--								</span>-->
					</div>
					<i class="registerhint" style="margin:5px 0px 10px 0px;float:left;">(You can add more than one course once you have completed your profile)</i>
					<div class="steprow1">
						<div class="stepcol1" style="float:left;">Course name : <span style="color:#F06142;">*</span>
						</div>
						<div class="stepcol2"><input class="input" onmouseover="myfunctionin('uniquename2');" onmouseout="myfunctionout('uniquename2');" style="float:left;" type="text"  id="coursename" name="coursename" value="<?php if (isset($this->tutorcoursedata->tutor_course_name) && $this->tutorcoursedata->tutor_course_name!="" ){echo $this->tutorcoursedata->tutor_course_name;}?>" errortag="name of the course">
								<span style="float:left;" class="tooltipclass">
										<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename2');" onmouseout="myfunctionout('uniquename2');" />
										<span class="tooltipdiv" id="uniquename2" style="visibility: hidden;">
											<span class="tooltipdivspan2">Example - Guitar for beginners OR 3 month course in pottery making.</span>
										</span>
								</span>
						</div>
						
						
						<div id="coursename_error" class="errorcls">&nbsp;</div>
					</div>
					
					
					<div class="steprow1">
						<div class="stepcol1">Brief course description : <span style="color:#F06142">*</span>
						
						<i class="registerhint" style="float:left;margin-top: 20px;"> You can include
							<ul class="registerhint" style="padding: 0 0 0 14px;">
									<li class="adotli">Topics/areas covered</li>
									<li class="adotli">What are students expected to learn/accomplish</li>
									<li class="adotli">USP of this class</li>
							</ul>
						</i>
						</div>
						<div class="stepcol2" style="float:left;width:290px;">
						<textarea texttype="ckeditor_overviewdesc" style="height:30px;float:left;" class="input" type="text" name="OverviewDescription" id="OverviewDescription" errortag="course description"><?php if (isset($this->tutorcoursedata->tutor_course_desc) && $this->tutorcoursedata->tutor_course_desc!="" ){echo $this->tutorcoursedata->tutor_course_desc;}?></textarea>
						<script type="text/javascript">
							CKEDITOR.replace('OverviewDescription',{
								extraPlugins : 'uicolor',
								toolbar : [[ 'NumberedList', 'BulletedList'],],
								height : 250,
								width : 282,
								removePlugins : 'maximize,resize',
								toolbarCanCollapse: false
							});
						</script>
							
						</div>
						<span style="float:left;" class="tooltipclass">
										<img style="float:left;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename3');" onmouseout="myfunctionout('uniquename3');" />
										<span class="tooltipdiv" id="uniquename3" style="visibility: hidden;">
											<span class="tooltipdivspan2">Write about broadly what topics or areas you will cover during the course and what the student can expect to learn and accomplish by the end of the lessons.
<!--											 and click here for a some examples (separate link)  -->
											</span>
										</span>
								</span>
						<div id="OverviewDescription_error" class="errorcls">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div class="steprow1" style="margin-bottom:0px;">
						<div class="stepcol1">Student profile : <span style="color:#F06142">*</span></div>
						
						<div class="stepcol2">
						<?php if(isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata)>0) {
								
								$gradeArray = $this->tutorcoursedata;
						  		$allstprofileId = $gradeArray['tutor_student_profile'];
						  		$removeLaststprofileId = substr($allstprofileId, 0, strlen($allstprofileId)-1);
								
						  		$stprofileIds = explode(",",$removeLaststprofileId);
								//print_r($stprofileIds);exit;
						  		$stprofileSize = sizeof($stprofileIds);
						
						} ?>
						<?php if(isset($this->profiletype) && sizeof($this->profiletype)>0){ foreach($this->profiletype as $profiletype){?>
						<input style="float:left;height:13px;width:15px;" type="checkbox"
								
								<?php if (isset($stprofileIds) && $stprofileSize >0 )
						  				{
										for($k=0;$k<$stprofileSize;$k++)
						  					{
						  					if($stprofileIds[$k]==$profiletype->profile_id)
						  						{
						  							echo "checked";
						  						}
											}
						  				}?>
								onclick="javascript:studentprofile_id(this.value);" value="<?php if (isset($profiletype->profile_id) && $profiletype->profile_id!="") echo $profiletype->profile_id;?>"> 
								<span style="margin:0px 10px 0 5px;float:left;"><?php if (isset($profiletype->profile_type) && $profiletype->profile_type !=""){echo $profiletype->profile_type;}?></span>
						<?php } }?>
						</div>
						<input type="hidden" id="hiddenVal5" errortag="student profile" name="hiddenVal5" value="<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata) > 0){
								$gradeArray = $this->tutorcoursedata;
						  		echo $allgradeId = $gradeArray['tutor_student_profile'];
						 		} ?>" />
						<div id="hiddenVal5_error" class="errorcls">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="stepcol1">&nbsp;</div>
						<div class="stepcol2">
						<input class="input" onmouseover="myfunctionin('uniquename4');" onmouseout="myfunctionout('uniquename4');"  style="float:left;"  onfocus="clearit(this);" onblur="fixit(this); " szprompt="Suitable for..." type="text" name="student_comment" id="student_comment" value="<?php if (isset($this->tutorcoursedata->tutor_student_comments) && $this->tutorcoursedata->tutor_student_comments!="" ){echo $this->tutorcoursedata->tutor_student_comments;}else{echo "Suitable for...";}?>" errortag="Student Profile">
						
						<span style="float:left;" class="tooltipclass">
										<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename4');" onmouseout="myfunctionout('uniquename4');" />
										<span class="tooltipdiv" id="uniquename4" style="visibility: hidden;">
											<span class="tooltipdivspan2">Mention if anyone can participate in this course or is it primarily for students who already have some experience.
											</span>
										</span>
						</span>
						</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="stepcol1">Age group : <span style="color:#F06142">*</span></div>
						<div class="stepcol2"><input class="input" onmouseover="myfunctionin('uniquename5');" onmouseout="myfunctionout('uniquename5');" style="float:left;" class="input" type="text" name="agegroup" id="agegroup" value="<?php if (isset($this->tutorcoursedata->student_age_group) && $this->tutorcoursedata->student_age_group!="" ){echo $this->tutorcoursedata->student_age_group;}?>" errortag="age group of students">
						<span style="float:left;" class="tooltipclass">
								<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename5');" onmouseout="myfunctionout('uniquename5');" />
								<span class="tooltipdiv" id="uniquename5" style="visibility: hidden;">
									<span class="tooltipdivspan2">Mention what age group of people can take up this course. Ex. '7 to 21' or 'Any age group'.
									</span>
								</span>
						</span>
						</div>
						<div id="agegroup_error" class="errorcls">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="stepcol1">Format : <span style="color:#F06142">*</span></div>
						<div class="stepcol2"><input class="input" onmouseover="myfunctionin('uniquename6');" onmouseout="myfunctionout('uniquename6');" onkeyup="limiter2();" style="float:left;" class="input" type="text" name="format" id="format" value="<?php if (isset($this->tutorcoursedata->tutor_format) && $this->tutorcoursedata->tutor_format!="" ){echo $this->tutorcoursedata->tutor_format;}?>" errortag="the format of teaching">
						<span style="float:left;" class="tooltipclass">
								<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename6');" onmouseout="myfunctionout('uniquename6');" />
								<span class="tooltipdiv" id="uniquename6" style="visibility: hidden;">
									<span class="tooltipdivspan2">Is it only practical lessons or combined with theory. Ex. 80% practical 20% theory.
									</span>
								</span>
						</span>
						<script type="text/javascript">
							var count2 = "75";   //Example: var count = "175";
							function limiter2(){
							var tex = document.course_step.format.value;
							var len = tex.length;
							if(len > count2){
							        tex = tex.substring(0,count2);
							        document.course_step.format.value =tex;
							        return false;
							}
							//document.register_step.limit.value = count-len;
							document.getElementById("formatcount").value = count2-len;
							document.getElementById("formatcount").innerHTML=count2-len;
							}
						</script>
						<div class="clear">&nbsp;</div>
						<div class="char_count1" id="formatcount" style="width: 207px;height:12px;">	</div>
						</div>
						<div id="format_error" class="errorcls" style="margin-top: -16px;">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div class="steprow1">
						<div class="stepcol1">Certificates granted or trained for :</div>
						<div class="stepcol2"><input class="input" onmouseover="myfunctionin('uniquename7');" onmouseout="myfunctionout('uniquename7');" class="input" style="float:left;" type="text" name="certisgranted" id="certisgranted" value="<?php if (isset($this->tutorcoursedata->tutor_certificate_granted) && $this->tutorcoursedata->tutor_certificate_granted!="" ){echo $this->tutorcoursedata->tutor_certificate_granted;}?>" errortag="Certificate Granted">
						<span style="float:left;" class="tooltipclass">
								<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename7');" onmouseout="myfunctionout('uniquename7');" />
								<span class="tooltipdiv" id="uniquename7" style="visibility: hidden;">
									<span class="tooltipdivspan2">Will the student get a certificate at the end of the course. If so please mention what. Ex. Diploma in Hair Styling or Diploma in Music.
									</span>
								</span>
						</span>
						</div>
						<div id="certisgranted_error" class="errorcls">&nbsp;</div>
					</div>
					
					<div class="clear">&nbsp;</div>

					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">Language of teaching : <span style="color:#F06142">*</span></div>
						<div class="stepcol2">
						
						<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata) > 0)
							{
						  		$alllanguageId = $gradeArray['tutor_lesson_language'];
						  		$removeLastlanguageId = substr($alllanguageId, 0, strlen($alllanguageId)-1);
						  		$languageIds = explode(",",$removeLastlanguageId);
						  		$languageSize = sizeof($languageIds);
							}
						?>
							<?php if(isset($this->language) && sizeof($this->language)>0){$i=0;foreach($this->language as $language){?>
								<input style="float:left;height:13px;width:15px;" type="checkbox"
								<?php if (isset($languageIds) && sizeof($languageIds)>0)
						  				{
						  					for($k=0;$k<$languageSize;$k++)
						  					{
						  						if($languageIds[$k]==$language->language_id)
						  						{
						  							echo "checked";
						  						}
						  					}
						  				}?>
								
								name="language<?php echo $i;?>" id="language<?php echo $i;?>" onclick="javascript:language_id(this.value);" value="<?php if (isset($language->language_id) && $language->language_id!="") echo $language->language_id;?>"> <span style="margin:0px 10px 0 5px;float:left;"><?php if (isset($language->language_name) && $language->language_name !=""){echo $language->language_name;}?></span>
							<?php $i++;}}?>
						</div>
						<input type="hidden" id="hiddenVal4" errortag="language"  name="hiddenVal4" value="<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata))
							{
								$gradeArray = $this->tutorcoursedata;
						  		echo $alllanguageId = $gradeArray['tutor_lesson_language'];
						  		}?>" />
						 <div id="hiddenVal4_error" class="errorcls">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">Class image :	</div><?php // echo $this->tutorcoursedata->id;exit;?>
						<div class="stepcol2">
						<a href="<?php echo BASEPATH;?>/uploadimage/index/id/<?php if(isset($authUserNamespace->tutorsessionid) && $authUserNamespace->tutorsessionid!="")echo $authUserNamespace->tutorsessionid;else echo 0;?>" rel="lightbox[820 520];" class="onlybluecolor" style="float:left;">Upload image</a>
						<span class="tooltipclass">
								<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename25');" onmouseout="myfunctionout('uniquename25');" />
								<span class="tooltipdiv" id="uniquename25" style="visibility: hidden;left:5px;">
									<span class="tooltipdivspan2">Upload an image of where you teach, preferably with students taking a class. It increases the chances of leads by 40%.
									</span>
								</span>
						</span>
								<div class="clear">&nbsp;</div>
								<div><i class="registerhint">Pictures are limited to JPG, PNG and GIF. Also, they must be no larger than 5Mb. Image size must be greater than 550 * 179 pixels.<?php if (isset($this->tutorcoursedata->tutor_class_image_type) && $this->tutorcoursedata->tutor_class_image_type!="" && $this->tutorcoursedata->tutor_class_image_content!="") { ?><div id="classpicdivdisplay" style="	float:right;text-decoration:underline;"><a style="font-size: 12px;" class="onlybluecolor" onclick="removeclasspic('<?php if (isset($this->tutorcoursedata->id) && $this->tutorcoursedata->id!=""){echo $this->tutorcoursedata->id;}?>')">Remove image</a></div><?php }?></i></div>
						</div>
						<div id="imgfile_error" class="errorcls"><?php if (isset($authUserNamespace->courseimageerror) && $authUserNamespace->courseimageerror!=""){echo $authUserNamespace->courseimageerror; unset($authUserNamespace->courseimageerror);}elseif(isset($authUserNamespace->coursewidtherror) && $authUserNamespace->coursewidtherror!=""){echo $authUserNamespace->coursewidtherror;} unset($authUserNamespace->coursewidtherror);?></div>
						
						<input type="hidden" name="imgch" id="imgch" value="<?php //if(isset($this->users->image_type)){echo $this->users->image_type; }?>"/>
					</div>
					



					<div class="clear">&nbsp;</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
					<div class="stepcol1" style="width: 189px;"><span style="color:#358fbd;font-size:16px;">Batch Details :</span></div>
					<div class="stepcol2">
					<div class="add-smallholder"><a class="add-small-batch" style="font-size: 14px;" rel="lightbox[external 730 520]" href="<?php echo BASEPATH;?>/tutor/addbatchcalender/defaultcorseid/<?php echo $authUserNamespace->tutorcoursesessionid; ?>">Add batch</a></div>
					<i class="registerhint" style="margin:0px 0px 10px 0px;float:left;">(You can add more than one batch once you have completed your profile)</i>
					</div>
					<div id="batch_error" class="errorcls"></div>
					<div class="clear">&nbsp;</div>
					<div class="steprow1"><span style="color:#358fbd;font-size:16px;">Payment Details:</span></div>
					<div class="clear">&nbsp;</div>
					<div class="midspacer">&nbsp;</div>
					
					<div class="steprow1" style="margin-bottom: 0px;">
						<div class="stepcol1" style="width: 189px;">Rate (rupees) : <span style="color:#F06142">*</span></div>
						<div class="stepcol2">
							<span class="WebRupee" style="vertical-align:top;margin: 9px 5px 0 0;*margin: 2px 5px 0 0;float:left;">&#x20B9;</span>
							<input  class="input" onfocus="clearit(this);" onblur="fixit(this); " szprompt="Fees or fee range"  style="width:170px;vertical-align:top;" type="text" name="rate" id="rate" value="<?php if (isset($this->tutorcoursedata->tutor_rate) && $this->tutorcoursedata->tutor_rate!="" ){echo $this->tutorcoursedata->tutor_rate;}else{echo "Fees or fee range";}?>" errortag="fees">
						<select name="feestype" id="feestype" onchange="colorapplyrand4(this);">
						<option value="" selected="selected">Select fees type</option>
						<?php if(isset($this->feestype) && sizeof($this->feestype)>0){$i=0;foreach($this->feestype as $feestype){?>
						<option value="<?php if (isset($feestype->fee_type_id) && $feestype->fee_type_id!="") echo $feestype->fee_type_id;?>" <?php if (isset($this->tutorcoursedata->tutor_pay_feetype) && $this->tutorcoursedata->tutor_pay_feetype!="" && $this->tutorcoursedata->tutor_pay_feetype == $feestype->fee_type_id ){ echo "selected";}?>><?php if (isset($feestype->fee_type_name) && $feestype->fee_type_name !=""){echo $feestype->fee_type_name;}?></option>
						<?php $i++;}}?>
						
						</select>
						
						</div>
						<div id="rate_error" class="errorcls">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">&nbsp;</div>
						<div class="stepcol2">
						<input class="input" style="float:left;" onkeyup="limiter1();" onfocus="clearit(this);" onblur="fixit(this); " szprompt="Comments if any..." type="text"  name="rate_comment" id="rate_comment" value="<?php if (isset($this->tutorcoursedata->rate_comments) && $this->tutorcoursedata->rate_comments!="" ){echo $this->tutorcoursedata->rate_comments;}else{echo "Comments if any...";}?>" errortag="Student Profile">
						<script type="text/javascript">
							var count1 = "160";   //Example: var count = "175";
							function limiter1(){
							var tex = document.course_step.rate_comment.value;
							var len = tex.length;
							if(len > count1){
							        tex = tex.substring(0,count1);
							        document.course_step.rate_comment.value =tex;
							        return false;
							}
							//document.register_step.limit.value = count-len;
							document.getElementById("rate_comment_count").value = count1-len;
							document.getElementById("rate_comment_count").innerHTML=count1-len;
							}
						</script>
						<div class="char_count1" id="rate_comment_count">	</div>
						</div>
					</div>
					
					<div class="steprow1" style="margin-bottom: 0px;">
						<div class="stepcol1">Payment cycle : <span style="color:#F06142">*</span></div>
						<select id="paymentcycle" name="paymentcycle" style="width:355px;" errortag="paymentcycle">
								<option value="select" selected="selected">--  Select Payment Cycle  --</option>
								<?php if(isset($this->paycycle) && sizeof($this->paycycle)>0){$i=0;foreach($this->paycycle as $paycycle){?>
									<option value="<?php if (isset($paycycle->pay_cycle_id) && $paycycle->pay_cycle_id!=""){echo $paycycle->pay_cycle_id;}?>"  <?php if (isset($this->tutorcoursedata->tutor_pay_cycle) && $this->tutorcoursedata->tutor_pay_cycle!="" && $this->tutorcoursedata->tutor_pay_cycle == $paycycle->pay_cycle_id ){ echo "selected";}?>><?php if (isset($paycycle->pay_cycle_name) && $paycycle->pay_cycle_name !=""){echo $paycycle->pay_cycle_name;}?>
								</option>
								<?php $i++;}}?>
            				</select>
						<!--<div class="stepcol2 ifie8450" style="width:410px;*width:400px;">
							<?php if(isset($this->paycycle) && sizeof($this->paycycle)>0){$i=0;foreach($this->paycycle as $paycycle){?>
								<input style="height:15px;width:15px;float:left;" value="<?php if (isset($paycycle->pay_cycle_id) && $paycycle->pay_cycle_id!=""){echo $paycycle->pay_cycle_id;}?>" type="radio" name="paymentcycle" id="paymentcycle" <?php if (isset($this->tutorcoursedata->tutor_pay_cycle) && $this->tutorcoursedata->tutor_pay_cycle!="" && $this->tutorcoursedata->tutor_pay_cycle == $paycycle->pay_cycle_id ){ echo "checked";}elseif($i==0) { echo "checked"; }?>/><span style="margin:0px 10px 0 10px;float:left;width: 160px;"><?php if (isset($paycycle->pay_cycle_name) && $paycycle->pay_cycle_name !=""){echo $paycycle->pay_cycle_name;}?></span>
							<?php $i++;}}?>
						</div>
						
					-->
					<div id="paymentcycle_error" class="errorcls" style="margin-top:5px;">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="midspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">Cancellation policy if any? :</div>
						<div class="stepcol2"><input style="width:343px;" class="input" type="text" name="cancel_policy" value="<?php if (isset($this->tutorcoursedata->tutor_canc_policy) && $this->tutorcoursedata->tutor_canc_policy!="" ){echo $this->tutorcoursedata->tutor_canc_policy;}?>"></div>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="midspacer">&nbsp;</div>
				
				<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
					<div class="stepcol2">
						<div class="savecontinue" ><a href="#skillvalfocus"><img src="<?php echo BASEPATH;?>/images/Save-and-continue.png"  onmouseout="this.src='<?php echo BASEPATH;?>/images/Save-and-continue.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/Save-and-continue_hover.png'" id="save" name="save"></a></div>
					</div>
					<?php if (isset($authUserNamespace->tutorsessionid) && $authUserNamespace->tutorsessionid!=""){?>
					<div class="stepcol2" style="float:right; margin-right: 20px;">
					<a class="backtoprof" style="font-size:14px;" href="<?php echo BASEPATH;?>/teacher-signup-experience">Back to experience information</a>
					</div>
					<?php } ?>
				</div>
				<input type="hidden" name="step4">
				<input type="hidden" name="grades_to_teach_str" value="">
				<input type="hidden" name="lesson_location_str" value="">
				<input type="hidden" name="fee_type_str" value="">
				<input type="hidden" name="pay_cycle_str" value="">
			</form>
		</div>
	</div>
</div>

</body>
</html>
