<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
<title>Tutor sign up - experience page.</title>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crudexperiece.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot_register.js"></script>

<script type="text/javascript">
	window.onload = function(){
		document.getElementById("save").onclick = function(){
			document.getElementById("avgexp").value = avg_i;
			document.getElementById("avgqul").value = avg_j;
			document.getElementById("avgedu").value = avg_k;
			document.getElementById("avgcomp").value = avg_l;
			saveForm('<?php echo BASEPATH; ?>/tutor/experince','register_step2','register_step2');
		};
	};
	function myfunctionin(uid){
		//alert('in');
		var id = uid;
		var pos = $("#"+id).height();
		var topp = "-"+(pos/2-10);
		//alert("-"+pos/2);
		//$('#'+id).css('top', topp);
		//$(".tooltipdivspan2").css.top("-"+pos/2);
		var uniqid = document.getElementById(uid);
		uniqid.style.visibility = "visible";
		uniqid.style.top = topp+"px";
	}
	function myfunctionout(uid){
		//alert('ioo');
		var uniqid = document.getElementById(uid);
		uniqid.style.visibility = "hidden";
	}
	function skill(idimg){
		var hiddenvalue2 = document.getElementById('hiddenVal2').value;

		if((hiddenvalue2.indexOf(idimg) != -1) == true){
			var reval = hiddenvalue2.replace(idimg+",",'');
			var flag=1;
			document.getElementById('hiddenVal2').value = reval;
		}
		if(hiddenvalue2 == ""){
			document.getElementById('hiddenVal2').value = idimg+",";
			reval = document.getElementById('hiddenVal2').value;
		}
		reval = document.getElementById('hiddenVal2').value;
		if(flag!=1){
			if((reval.indexOf(idimg) != -1) == false){
				document.getElementById('hiddenVal2').value += idimg+",";
			}
		}
	}

</script>
<script type="text/javascript">
$(document).ready(function() {
	
	$('a.subject').addClass('collapsed').parent().next('ul').hide();

	$('a.subject').click(function() {

		$(this).toggleClass('expanded');
		$(this).parent().next('ul').slideToggle();
		return false;
	});

});

</script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<!--[if IE 7]>
<style>
.steprow1
{
	float:left;
	width:100%;
}
#repeatdegree .steprow1
{
	float:none;
}
</style>
<![endif]-->
<style>
#registration_form_2 .checkbox
{
	height:auto;
}
#registration_form_2 select
{
	width: 100px;
}
#registration_form_2 input
{
	color:#AAA5A4;
	font-style:italic;
}

.formholder
{
	border:1px solid #00A7E6;
}
.lowspacer{
	height:15px;
}
.errorcls1{
	color:#F06142;
	font-size:12px;
	/*width:100%;*/
	margin-bottom: 5px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
}
.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:165px;
	font-size: 14px;
    font-weight: normal;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:60px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
/* STEP 3 CSS */
.displayskilltag{
	overflow:hidden;
}
.displayskilltagli{
 	float: left;
 	color:#000000;
 	margin:0 9px 16px 0;
 	width: 141px;
}
.collapsed{
	background:url("<?php echo BASEPATH;?>/images/plus.png") no-repeat scroll left center transparent;
	 padding-left: 20px;
}
.expanded
{
	background: url("<?php echo BASEPATH;?>/images/minus.png") no-repeat scroll left center transparent;
}
.checkcat{
	
	list-style : none outside none;
}
/* end of STEP 3 CSS */

</style>
<script type="text/javascript">
<?php
if(isset($authUserNamespace->avgexpvar) && $authUserNamespace->avgexpvar!="" && $authUserNamespace->avgexpvar!="-1"){?>
	var avg_i = "<?php echo $authUserNamespace->avgexpvar;?>";
	var i = "<?php echo $authUserNamespace->avgexpvar;?>";
<?php }else{?>
var avg_i = 0;
var i = 0;
<?php }?>
function adddynamicRow(){
	
	if(avg_i<=3){

			i++;
			avg_i++;
			newdiv= document.createElement('div');
			newdiv.setAttribute('class','steprow1');
			newdiv.setAttribute('id','repeatexpdiv_'+i);
			newdiv.innerHTML="<div class='steprow1' style='margin-bottom: 10px;'>"+
//								"<strong style='float:left;'>Relevant experience (teaching, tutoring, work, etc.)</strong> <span style='color:red;float:left;'>*</span>"+
//								"<span style='float:left;' class='tooltipclass'>"+
//								"<img style='float:left;margin-left:5px;' src='<?php //echo BASEPATH;?>/images/topquestion.png' onmouseover='myfunctionin(\"uniquename2\");' onmouseout='myfunctionout(\"uniquename2\");' />"+
//								"<span class='tooltipdiv' id='uniquename2' style='visibility: hidden;'>"+
//									"<span class='tooltipdivspan1'></span>"+
//									"<span class='tooltipdivspan2'>Student's love seeing teachers with relevant experience. Tell us a bit about yours.</span>"+
//									"<span class='tooltipdivspan3'></span>"+
//								"</span>"+
//								"</span>"+
								"</div>"+
								"<div class='steprow1' style='margin-bottom: 10px;'>"+
								"<div class='clear'>&nbsp;</div>"+
								"<input style='float:left;width:225px;margin-right:5px;' type='text' id='institute[]'  name='institute[]' value='School/Organization/Self-employed' szprompt='School/Organization/Self-employed' style='width:225px;' onfocus='clearit(this);' onblur='fixit(this);'>"+
								"<input style='float:left;width:213px;margin-right:5px;' type='text' name='subject[]' id='subject[]' value='Skills taught or practiced' style='width:225px;' onfocus='clearit(this);' onblur='fixit(this);' szprompt='Skills taught or practiced'>"+
								"<select name='startyear[]' id='startyear[]' style='float:left;margin-right:5px;'>"+
								"<option value=''>From Year</option>"+
								"<option value='2015'>2015</option>"+
								"<option value='2014'>2014</option>"+
								"<option value='2013'>2013</option>"+
								"<option value='2012'>2012</option>"+
								"<option value='2011'>2011</option>"+
								"<option value='2010'>2010</option>"+
								"<option value='2009'>2009</option>"+
								"<option value='2008'>2008</option>"+
								"<option value='2007'>2007</option>"+
								"<option value='2006'>2006</option>"+
								"<option value='2005'>2005</option>"+
								"<option value='2004'>2004</option>"+
								"<option value='2003'>2003</option>"+
								"<option value='2002'>2002</option>"+
								"<option value='2001'>2001</option>"+
								"<option value='2000'>2000</option>"+
								"<option value='1999'>1999</option>"+
								"<option value='1998'>1998</option>"+
								"<option value='1997'>1997</option>"+
								"<option value='1996'>1996</option>"+
								"<option value='1995'>1995</option>"+
								"<option value='1994'>1994</option>"+
								"<option value='1993'>1993</option>"+
								"<option value='1992'>1992</option>"+
								"<option value='1991'>1991</option>"+
								"<option value='1990'>1990</option>"+
								"<option value='1989'>1989</option>"+
								"<option value='1988'>1988</option>"+
								"<option value='1987'>1987</option>"+
								"<option value='1986'>1986</option>"+
								"<option value='1985'>1985</option>"+
								"<option value='1984'>1984</option>"+
								"<option value='1983'>1983</option>"+
								"<option value='1982'>1982</option>"+
								"<option value='1981'>1981</option>"+
								"<option value='1980'>1980</option>"+
								"<option value='1979'>1979</option>"+
								"<option value='1978'>1978</option>"+
								"<option value='1977'>1977</option>"+
								"<option value='1976'>1976</option>"+
								"<option value='1975'>1975</option>"+
								"<option value='1974'>1974</option>"+
								"<option value='1973'>1973</option>"+
								"<option value='1972'>1972</option>"+
								"<option value='1971'>1971</option>"+
								"<option value='1970'>1970</option>"+
								"<option value='1969'>1969</option>"+
								"<option value='1968'>1968</option>"+
								"<option value='1967'>1967</option>"+
								"<option value='1966'>1966</option>"+
								"<option value='1965'>1965</option>"+
					        	"</select>"+
								"<select name='endyear[]' id='endyear[]' style='float:left;margin-right:5px;'>"+
								"<option value=''>To Year</option>"+
								"<option value='Present'>Present</option>"+
								"<option value='2014'>2014</option>"+
								"<option value='2013'>2013</option>"+
								"<option value='2012'>2012</option>"+
								"<option value='2011'>2011</option>"+
								"<option value='2010'>2010</option>"+
								"<option value='2009'>2009</option>"+
								"<option value='2008'>2008</option>"+
								"<option value='2007'>2007</option>"+
								"<option value='2006'>2006</option>"+
								"<option value='2005'>2005</option>"+
								"<option value='2004'>2004</option>"+
								"<option value='2003'>2003</option>"+
								"<option value='2002'>2002</option>"+
								"<option value='2001'>2001</option>"+
								"<option value='2000'>2000</option>"+
								"<option value='1999'>1999</option>"+
								"<option value='1998'>1998</option>"+
								"<option value='1997'>1997</option>"+
								"<option value='1996'>1996</option>"+
								"<option value='1995'>1995</option>"+
								"<option value='1994'>1994</option>"+
								"<option value='1993'>1993</option>"+
								"<option value='1992'>1992</option>"+
								"<option value='1991'>1991</option>"+
								"<option value='1990'>1990</option>"+
								"<option value='1989'>1989</option>"+
								"<option value='1988'>1988</option>"+
								"<option value='1987'>1987</option>"+
								"<option value='1986'>1986</option>"+
								"<option value='1985'>1985</option>"+
								"<option value='1984'>1984</option>"+
								"<option value='1983'>1983</option>"+
								"<option value='1982'>1982</option>"+
								"<option value='1981'>1981</option>"+
								"<option value='1980'>1980</option>"+
								"<option value='1979'>1979</option>"+
								"<option value='1978'>1978</option>"+
								"<option value='1977'>1977</option>"+
								"<option value='1976'>1976</option>"+
								"<option value='1975'>1975</option>"+
								"<option value='1974'>1974</option>"+
								"<option value='1973'>1973</option>"+
								"<option value='1972'>1972</option>"+
								"<option value='1971'>1971</option>"+
								"<option value='1970'>1970</option>"+
								"<option value='1969'>1969</option>"+
								"<option value='1968'>1968</option>"+
								"<option value='1967'>1967</option>"+
								"<option value='1966'>1966</option>"+
								"<option value='1965'>1965</option>"+
					        	"</select>"+
						
							"<div class='left'>"+
							"<img src='<?php echo BASEPATH;?>/images/black_close.png' onclick=\"removeDiv1('"+i+"');\" style='width:16px;height:16px;float:left;margin-top:5px;margin-left:5px;'/>"+
							"</div>"+
							"</div>"+
							"<input type='hidden' id='institute"+avg_i+"' errortag='Experience row"+avg_i+"'>"+
							"<div class='clear'>&nbsp;</div>"+
							"<div id='institute"+avg_i+"_error' class='errorcls1'></div>"+
							"<div class='steprow1' style='height:25px;'>"+
								"<div style='float:left;margin-bottom:10px;width:150px;'><input type='checkbox' value='1' class='checkbox' id='statusteach"+avg_i+"' name='statusteach"+avg_i+"' errortag='Current status'/>Teach</div>"+
								"<div style='float:left;margin-bottom:10px;width:220px;'><input type='checkbox' value='1' class='checkbox' id='statusprofession"+avg_i+"'  name='statusprofession"+avg_i+"' />Practice as profession</div>"+
								"<div style='float:left;margin-bottom:10px;width:170px;'><input type='checkbox' value='1' class='checkbox' id='statushobby"+avg_i+"' name='statushobby"+avg_i+"'/>Practice as hobby</div>"+
							"</div>"+
							"<div id='statusteach"+avg_i+"_error' name='statusteach"+avg_i+"_error' class='errorcls1'></div>";
			//newdiv.innerHTML="Content of div to be added<span id='"+i+"' onclick=\"removeDiv('"+i+"');\">Remove</span>";
			
			document.getElementById('repeatexp').appendChild(newdiv);
			//errorDivVar = document.getElementById('instituteVarDiv').innerHTML;
			//errorDivVar +="<div id='institute"+avg_i+"_error' class='errorcls1'></div>"+"<div id='statusteach"+avg_i+"_error' class='errorcls1'></div>";
			//document.getElementById('instituteVarDiv').innerHTML = errorDivVar;
		//document.getElementById('categories_'+i).selectedIndex=0;
		}
	
	}
	//else{
		//jAlert("Sorry, You can not add more than 5 rows");
	//}
//}

function removeDiv1(index){
	if(document.getElementById('repeatexpdiv_'+index)){
		document.getElementById('repeatexp').removeChild(document.getElementById('repeatexpdiv_'+index));
//		if(index<(avg_i)){
//			var ist1 = 'institute'+(index+1)+'_error';
//			var ist2 = 'statusteach'+(index+1)+'_error';
//			var ist3 = 'institute'+(index+1);
//			document.getElementById(ist1).id='institute'+index+'_error';
//			document.getElementById(ist2).id='statusteach'+index+'_error';
//			document.getElementById(ist3).id='institute'+index;
//		}
		//document.getElementById('instituteVarDiv').removeChild(document.getElementById('statusteach'+avg_i+'_error'));
		
	}
	avg_i--;
}

<?php
if(isset($authUserNamespace->avgqulvar) && $authUserNamespace->avgqulvar!="" && $authUserNamespace->avgqulvar!="-1"){?>
	var avg_j = "<?php echo $authUserNamespace->avgqulvar;?>";
	var j = "<?php echo $authUserNamespace->avgqulvar;?>";
<?php }else{?>
	var avg_j = 0;
	var j = 0;
<?php }?>

function adddynamicRowDegree(){
	
	if(avg_j<=3){
	
			j++;
			avg_j++;
			newdiv= document.createElement('div');
			newdiv.setAttribute('class','steprow1');
			newdiv.setAttribute('id','repeatdegreediv_'+j);
			newdiv.innerHTML="<input style='float:left;width:136px;margin-right:5px;'type='text' id='degree[]' name='degree[]' value='Degree/Diploma/etc' style='width:150px;' onfocus='clearit(this);' onblur='fixit(this);' szprompt='Degree/Diploma/etc' >"+
							"<input style='float:left;width:190px;margin-right:5px;' type='text' id='speciality[]' name='speciality[]' value='Field/Speciality' style='width:200px;' onfocus='clearit(this);' onblur='fixit(this);' szprompt='Field/Speciality'>"+
							"<input style='float:left;width:200px;margin-right:5px;' type='text' id='university[]' name='university[]' value='College/University/Institute' style='width:200px;' onfocus='clearit(this);' onblur='fixit(this);' szprompt='College/University/Institute'>"+
								"<select name='completion_year[]' id='completion_year[]' style='float:left;margin-right:5px;'>"+
								"<option value=''>End Year</option>"+
								"<option value='Present'>Present</option>"+
								"<option value='2014'>2014</option>"+
								"<option value='2013'>2013</option>"+
								"<option value='2012'>2012</option>"+
								"<option value='2011'>2011</option>"+
								"<option value='2010'>2010</option>"+
								"<option value='2009'>2009</option>"+
								"<option value='2008'>2008</option>"+
								"<option value='2007'>2007</option>"+
								"<option value='2006'>2006</option>"+
								"<option value='2005'>2005</option>"+
								"<option value='2004'>2004</option>"+
								"<option value='2003'>2003</option>"+
								"<option value='2002'>2002</option>"+
								"<option value='2001'>2001</option>"+
								"<option value='2000'>2000</option>"+
								"<option value='1999'>1999</option>"+
								"<option value='1998'>1998</option>"+
								"<option value='1997'>1997</option>"+
								"<option value='1996'>1996</option>"+
								"<option value='1995'>1995</option>"+
								"<option value='1994'>1994</option>"+
								"<option value='1993'>1993</option>"+
								"<option value='1992'>1992</option>"+
								"<option value='1991'>1991</option>"+
								"<option value='1990'>1990</option>"+
								"<option value='1989'>1989</option>"+
								"<option value='1988'>1988</option>"+
								"<option value='1987'>1987</option>"+
								"<option value='1986'>1986</option>"+
								"<option value='1985'>1985</option>"+
								"<option value='1984'>1984</option>"+
								"<option value='1983'>1983</option>"+
								"<option value='1982'>1982</option>"+
								"<option value='1981'>1981</option>"+
								"<option value='1980'>1980</option>"+
								"<option value='1979'>1979</option>"+
								"<option value='1978'>1978</option>"+
								"<option value='1977'>1977</option>"+
								"<option value='1976'>1976</option>"+
								"<option value='1975'>1975</option>"+
								"<option value='1974'>1974</option>"+
								"<option value='1973'>1973</option>"+
								"<option value='1972'>1972</option>"+
								"<option value='1971'>1971</option>"+
								"<option value='1970'>1970</option>"+
								"<option value='1969'>1969</option>"+
								"<option value='1968'>1968</option>"+
								"<option value='1967'>1967</option>"+
								"<option value='1966'>1966</option>"+
								"<option value='1965'>1965</option>"+
					        	"</select>"+
							"<div class='left'>"+
							"<img src='<?php echo BASEPATH;?>/images/black_close.png' onclick=\"removeDiv2('"+j+"');\" style='width:16px;height:16px;float:left;margin-top:5px;margin-left:5px;'/>"+
							"</div>"+
							"<input type='hidden' id='degree"+avg_j+"' errortag='Qualification row"+avg_j+"'>"+
							"<div style='clear:both;'></div>";
							
		
			//newdiv.innerHTML="Content of div to be added<span id='"+i+"' onclick=\"removeDiv('"+i+"');\">Remove</span>";
			
			document.getElementById('repeatdegree').appendChild(newdiv);
			errorDivVar = document.getElementById('degreeVarDiv').innerHTML;
			errorDivVar +="<div id='degree"+avg_j+"_error' class='errorcls1'></div>";
			document.getElementById('degreeVarDiv').innerHTML = errorDivVar;
		//document.getElementById('categories_'+i).selectedIndex=0;
		}
	}

function removeDiv2(index){
	if(document.getElementById('repeatdegreediv_'+index)){
		document.getElementById('repeatdegree').removeChild(document.getElementById('repeatdegreediv_'+index));
		document.getElementById('degreeVarDiv').removeChild(document.getElementById('degree'+avg_j+'_error'));
	}
	avg_j--;
}

<?php
if(isset($authUserNamespace->avgeduvar) && $authUserNamespace->avgeduvar!="" && $authUserNamespace->avgeduvar!="-1"){?>
	var avg_k = "<?php echo $authUserNamespace->avgeduvar;?>";
	var k = "<?php echo $authUserNamespace->avgeduvar;?>";
<?php }else{?>
	var avg_k = 0;
	var k = 0;
<?php }?>

function adddynamicRowedu(){
	
	if(avg_k<=3){
		
			k++;
			avg_k++;
			newdiv= document.createElement('div');
			newdiv.setAttribute('class','steprow1');
			newdiv.setAttribute('id','repeatedudiv_'+k);
			newdiv.innerHTML="<input style='float:left;width:150px;margin-right:5px;' type='text' id='college[]' name='college[]' value='College/School' style='width:150px;' onfocus='clearit(this);' onblur='fixit(this);' szprompt='College/School' >"+
							"<input style='float:left;width:190px;margin-right:5px;' type='text' id='diploma[]' name='diploma[]' value='Degree/Diploma' style='width:200px;' onfocus='clearit(this);' onblur='fixit(this);' szprompt='Degree/Diploma'>"+
							"<input style='float:left;width:200px;margin-right:5px;' type='text' id='fieldsofstudy[]' name='fieldsofstudy[]' value='Fields of Study' style='width:200px;' onfocus='clearit(this);' onblur='fixit(this);' szprompt='Fields of Study'>"+
							"<select name='edbackcompletionyear[]' id='edbackcompletionyear[]' style='float:left;margin-right:5px;'>"+
								"<option value=''>End Year</option>"+
								"<option value='Present'>Present</option>"+
								"<option value='2014'>2014</option>"+
								"<option value='2013'>2013</option>"+
								"<option value='2012'>2012</option>"+
								"<option value='2011'>2011</option>"+
								"<option value='2010'>2010</option>"+
								"<option value='2009'>2009</option>"+
								"<option value='2008'>2008</option>"+
								"<option value='2007'>2007</option>"+
								"<option value='2006'>2006</option>"+
								"<option value='2005'>2005</option>"+
								"<option value='2004'>2004</option>"+
								"<option value='2003'>2003</option>"+
								"<option value='2002'>2002</option>"+
								"<option value='2001'>2001</option>"+
								"<option value='2000'>2000</option>"+
								"<option value='1999'>1999</option>"+
								"<option value='1998'>1998</option>"+
								"<option value='1997'>1997</option>"+
								"<option value='1996'>1996</option>"+
								"<option value='1995'>1995</option>"+
								"<option value='1994'>1994</option>"+
								"<option value='1993'>1993</option>"+
								"<option value='1992'>1992</option>"+
								"<option value='1991'>1991</option>"+
								"<option value='1990'>1990</option>"+
								"<option value='1989'>1989</option>"+
								"<option value='1988'>1988</option>"+
								"<option value='1987'>1987</option>"+
								"<option value='1986'>1986</option>"+
								"<option value='1985'>1985</option>"+
								"<option value='1984'>1984</option>"+
								"<option value='1983'>1983</option>"+
								"<option value='1982'>1982</option>"+
								"<option value='1981'>1981</option>"+
								"<option value='1980'>1980</option>"+
								"<option value='1979'>1979</option>"+
								"<option value='1978'>1978</option>"+
								"<option value='1977'>1977</option>"+
								"<option value='1976'> 1976</option>"+
								"<option value='1975'>1975</option>"+
								"<option value='1974'>1974</option>"+
								"<option value='1973'>1973</option>"+
								"<option value='1972'>1972</option>"+
								"<option value='1971'>1971</option>"+
								"<option value='1970'>1970</option>"+
								"<option value='1969'>1969</option>"+
								"<option value='1968'>1968</option>"+
								"<option value='1967'>1967</option>"+
								"<option value='1966'>1966</option>"+
								"<option value='1965'>1965</option>"+
					        	"</select>"+
							"<div class='left'>"+
							"<img src='<?php echo BASEPATH;?>/images/black_close.png' onclick=\"removeDiv3('"+k+"');\" style='width:16px;height:16px;float:left;margin-top:5px;margin-left:5px;'/>"+
							"</div>"+
							"<input type='hidden' id='college"+avg_k+"' errortag='Education background row"+avg_k+"'>";
							
		
			//newdiv.innerHTML="Content of div to be added<span id='"+i+"' onclick=\"removeDiv('"+i+"');\">Remove</span>";
			
			document.getElementById('repeatedu').appendChild(newdiv);
			errorDivVar = document.getElementById('collegeVarDiv').innerHTML;
			errorDivVar +="<div id='college"+avg_k+"_error' class='errorcls1'></div>";
			document.getElementById('collegeVarDiv').innerHTML = errorDivVar;
		//document.getElementById('categories_'+i).selectedIndex=0;
		}
	}
function removeDiv3(index){
	if(document.getElementById('repeatedudiv_'+index)){
		document.getElementById('repeatedu').removeChild(document.getElementById('repeatedudiv_'+index));
		document.getElementById('collegeVarDiv').removeChild(document.getElementById('college'+avg_k+'_error'));
	}
	avg_k--;
}

<?php
if(isset($authUserNamespace->avgcompvar) && $authUserNamespace->avgcompvar!="" && $authUserNamespace->avgcompvar!="-1"){?>
	var avg_l = "<?php echo $authUserNamespace->avgcompvar;?>";
	var l = "<?php echo $authUserNamespace->avgcompvar;?>";
<?php }else{?>
	var avg_l = 0;
	var l = 0;
<?php }?>

function adddynamicRowbranch(){
	
	if(avg_l<=3){
		
			l++;
			avg_l++;
			newdiv= document.createElement('div');
			newdiv.setAttribute('class','steprow1');
			newdiv.setAttribute('id','repeatbranchdiv_'+l);
			newdiv.innerHTML="<input style='float:left;width:250px;margin-right:5px;' type='text' id='address[]' name='address[]' value='Adress' style='width:150px;' onfocus='clearit(this);' onblur='fixit(this);' szprompt='Adress' >"+
							"<input style='float:left;width:250px;margin-right:5px;' type='text' maxlength=10 id='contact[]' name='contact[]' value='Contact Number' style='width:200px;' onfocus='clearit(this);' onblur='fixit(this);' szprompt='Contact Number'>"+
							"<div class='left'>"+
							"<img src='<?php echo BASEPATH;?>/images/black_close.png' onclick=\"removeDiv4('"+l+"');\" style='width:16px;height:16px;float:left;margin-top:5px;margin-left:5px;'/>"+
							"</div>"+
							"<input type='hidden' id='address"+avg_l+"' errortag='Address  row"+avg_l+"'>";
							
		
			//newdiv.innerHTML="Content of div to be added<span id='"+i+"' onclick=\"removeDiv('"+i+"');\">Remove</span>";
			
			document.getElementById('repeatbranch').appendChild(newdiv);
			
			errorDivVar = document.getElementById('companyVarDiv').innerHTML;
			errorDivVar +="<div id='address"+avg_l+"_error' class='errorcls1'></div>";
			document.getElementById('companyVarDiv').innerHTML = errorDivVar;
			//document.getElementById('categories_'+i).selectedIndex=0;
		}
	}

function removeDiv4(index){
	if(document.getElementById('repeatbranchdiv_'+index)){
		document.getElementById('repeatbranch').removeChild(document.getElementById('repeatbranchdiv_'+index));
		document.getElementById('companyVarDiv').removeChild(document.getElementById('company'+avg_k+'_error'));
	}
	avg_l--;
}
</script>
<script>
$("span:contains('*')").css("color", "#F06142");
    </script>
<!--[if IE 7]>
<style>
#registration_form_2 input
{
	padding:2px 0 0 2px;
	height:19px;
	text-align:left;
}
.steprow1
{
	margin-bottom:0px;
}
.errorcls
{
	margin-left:60px;
}
</style>
<![endif]-->
<!--[if IE 8]>
<style>
#registration_form_2 input
{
	padding:5px 0 0 2px;
	height:25px;
}
.lowspacer
{
 float:none;
 width:100%;
 display:block;
}
.midspacer
{
	float:none;
	width:100%;
 	display:block;
	
}
input[type='checkbox']
{
	height:15px !important;
	width:25px !important;
	border:0px !important;
}
#categorytag1 .displayskilltag
{
	min-height:30px;
}
</style>
<![endif]-->

<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/ie7style.css"/>
<![endif]-->
</head>
<body>
<div id="tutorpagepath" class="tutorpagepath">
	<a href="<?php echo BASEPATH;?>/index"> Home </a>
	<span class="patharrow">></span>
	<a style="color:#FF6633;" href="/search/index/skillid/4">Tutor Registration</a>
</div>
<div id="step1" style="width:738px;margin:auto;">
			<strong class="regheader" style="margin-top:0px;">Tutor Registration</strong>
			<div class="clear">&nbsp;</div>
			<div class="midspacer">&nbsp;</div>
			<div class="menuclass">
			<div>
				<div style="background:url('<?php echo BASEPATH;?>/images/reg_step_2.png') no-repeat;width:783px;height:41px;">
					<div class="left" style="width:170px;height:41px;" ></div>
					<div class="left" style="width:150px;height:41px;"></div>
					<div class="left" style="width:225px;height:41px;" ></div>
					<div class="left" style="width:130px;height:41px;" ></div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="step">Step 2 of 4</div>
		<div id="registration_form_2" class="formholder">
			<form method="post" action="" name="register_step2" id="register_step2">
			<div class="allfields"><span class="onlyorangedisplay">*</span> All fields are required</div>
				<input type="hidden" name="avgexp" id="avgexp" value="">
				<input type="hidden" name="avgqul" id="avgqul" value="">
				<input type="hidden" name="avgedu" id="avgedu" value="">
				<input type="hidden" name="avgcomp" id="avgcomp" value="">
				
				<div class="tableclass" id="prf_exp">
				<?php //if (isset($authUserNamespace->classtype) &&  ($authUserNamespace->classtype=="4" || $authUserNamespace->classtype=="3" )){ ?>
							
					<div class="steprow1">
						<strong>Company started in the year :</strong>
					</div>
					<div class="clear">&nbsp;</div>
						<div class="steprow1">
							<select id="companystartdate" name="companystartdate" style="float:left;margin-right:5px;" errortag="start year">
											<option value="">Start Year</option>
											<?php for($l=date('Y');$l>1964;$l--){?>
												<option value="<?php echo $l;?>" <?php if (isset($this->companydata) && sizeof($this->companydata)>0){$compnydetails = $this->companydata; if($compnydetails[0]['company_start_year']==$l){echo "selected";}}?> ><?php echo $l;?></option>
											<?php }?>
					                	</select>
						</div>
						<div id="companystartdate_error" class="errorcls1">&nbsp;</div>
					
					
				
					<?php // } ?>
					<?php if (isset($authUserNamespace->classtype) &&  $authUserNamespace->classtype=="4"){ ?>
					<div class="steprow1">
						<strong style="font-size:16px;">Brief about founder </strong>
					</div>
					<?php }?>
					<div class="clear">&nbsp;</div>
										
					
					
					<div id="repeatexp">
					
						<?php //print_r($this->tutorexperiencedata);exit;?>
						<?php if (isset($this->tutorexperiencedata) && sizeof($this->tutorexperiencedata)>0)
			 			{
				 		$expData = $this->tutorexperiencedata;
				 		$experienceSize = sizeof($this->tutorexperiencedata);
				 		
						for ($i=0;$i<$experienceSize;$i++)
			 			{
			 			 ?>
							<div id="repeatexpdiv_<?php echo $i;?>" class="steprow1" style="margin-bottom:10px;">
									<div class='steprow1' style='margin-bottom: 10px;'>
									<?php if($i==0){ ?>
									
										
										<strong style="float:left;">Relevant experience (teaching, tutoring, work, etc.)   </strong> 
										<?php if($i==0){?>
										<span style="float:left;" class="tooltipclass">
											<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename2');" onmouseout="myfunctionout('uniquename2');" />
											<span class="tooltipdiv" id="uniquename2" style="visibility: hidden;">
<!--												<span class="tooltipdivspan1"></span>-->
												<span class="tooltipdivspan2">Student's love seeing teachers with relevant experience. Tell us a bit about yours.</span>
<!--												<span class="tooltipdivspan3"></span>-->
											</span>
										</span>
										<span class="onlyorangedisplay"> &nbsp;&nbsp;*</span>
										<?php }?>
									
									
									<?php }?>
									</div>
									<div class="clear">&nbsp;</div>
					 					<input style="float:left;width:225px;margin-right:5px;color:#032B3C;font-style:normal;" type="text" name="institute[]" id ="institute[]"  errortag="School/Organization/Self-employed or Start Date or End Date"
					 					value="<?php echo $expData[$i]['tutor_expedu_kind']; ?>" szprompt="School/Organization/Self-employed" onfocus="clearit(this);" onblur="fixit(this);">
									
									
										<input style="float:left;width:213px;margin-right:5px;color:#032B3C;font-style:normal;" type="text" name="subject[]" id ="subject[]" value="<?php echo $expData[$i]['tutor_expedu_field']; ?>" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Skills taught or practiced">
									
								
										<select id="startyear[]" name="startyear[]" style="float:left;margin-right:5px;">
											<option value="">From Year</option>
											<?php for($l=date('Y');$l>1964;$l--){?>
												<option value="<?php echo $l;?>" <?php if($expData[$i]['tutor_expedu_start_year']==$l) {echo "selected";}?>><?php echo $l;?></option>
											<?php }?>
					                	</select>
								
								
										<select id="endyear[]" name="endyear[]" style="float:left;margin-right:5px;">
											<option value="">To Year</option>
											<option value="Present" <?php if($expData[$i]['tutor_expedu_end_year']=="Present") {echo "selected";}?>>Present</option>
											<?php for($l=2014;$l>1964;$l--){?>
												<option value="<?php echo $l;?>" <?php if($expData[$i]['tutor_expedu_end_year']==$l) {echo "selected";}?>><?php echo $l;?></option>
											<?php }?>
					                	</select>
					                	<div class="clear">&nbsp;</div>
					                	<input type="hidden" id="institute<?php echo $i;?>" errortag="Experience row<?php echo $i;?>"/>
					 					
								</div>
								<div id="institute<?php echo $i;?>_error" class="errorcls1"></div>
									<?php if($i==0){ ?>
										<div class="steprow1" style="margin-top:10px;">
<!--											<strong>Current Status :</strong>-->
										</div>
										
										<?php }?>
										<div class="clear">&nbsp;</div>
										<div class="steprow1" style="height:25px;">
											<div style="float:left;margin-bottom:10px;width:150px;"><input type="checkbox"  <?php if($expData[$i]['teach_flag']==1){echo "checked";} ?> value="1" class="checkbox" id="statusteach<?php echo $i;?>" name="statusteach<?php echo $i;?>" errortag="Current status"/>Teach</div>
											<div style="float:left;margin-bottom:10px;width:220px;"><input type="checkbox" 	<?php if($expData[$i]['profession_flag']==1){echo "checked";} ?>  value="1" class="checkbox" id="statusprofession<?php echo $i;?>"  name="statusprofession<?php echo $i;?>" />Practice as profession</div>
											<div style="float:left;margin-bottom:10px;width:170px;"><input type="checkbox"  <?php if($expData[$i]['hobby_flag']==1){echo "checked";} ?> value="1" class="checkbox" id="statushobby<?php echo $i;?>" name="statushobby<?php echo $i;?>"/>Practice as hobby</div>
										</div>
					                	<div id="statusteach<?php echo $i;?>_error" class="errorcls1"></div>
							
							
						<?php
				 			}
				 		}else{?>
						<div id="repeatexpdiv_0" class="steprow1" style="margin-bottom:10px;">
								
									<div class="steprow1">
										<strong style="float:left;">Relevant experience (teaching, tutoring, work, etc.) </strong>
										
										<span style="float:left;" class="tooltipclass">
											<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename2');" onmouseout="myfunctionout('uniquename2');" />
											<span class="tooltipdiv" id="uniquename2" style="visibility: hidden;">
<!--												<span class="tooltipdivspan1"></span>-->
												<span class="tooltipdivspan2">Student's love seeing teachers with relevant experience. Tell us a bit about yours.</span>
<!--												<span class="tooltipdivspan3"></span>-->
											</span>
										</span>
										<span class="onlyorangedisplay"> &nbsp;&nbsp;*</span>
									</div>
									<div class="clear">&nbsp;</div>
										
				 					<input style="float:left;width:225px;margin-right:5px;" " type="text" name="institute[]" id ="institute[]" errortag="School/Organization/Self-employed or Subject/Skill or Start Date or End Date"
				 					value="School/Organization/Self-employed" szprompt="School/Organization/Self-employed" onfocus="clearit(this);" onblur="fixit(this);">
							
								
									<input style="float:left;width:213px;margin-right:5px;" type="text" name="subject[]" id ="subject[]" value="Skills taught or practiced" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Skills taught or practiced">
								
								
									<select style="float:left;margin-right:5px;"  id="startyear[]" name="startyear[]">
										<option value="">From Year</option>
										<?php for($l=date('Y');$l>1964;$l--){?>
											<option value="<?php echo $l;?>"><?php echo $l;?></option>
										<?php }?>
				                	</select>
								
								
									<select style="float:left;margin-right:5px;" id="endyear[]" name="endyear[]">
										<option value="">To Year</option>
										<option value="Present">Present</option>
										<?php for($l=2014;$l>1964;$l--){?>
											<option value="<?php echo $l;?>"><?php echo $l;?></option>
										<?php }?>
				                	</select>
				                	<input type="hidden" id="institute0" errortag="Experience row0"/>
						</div>
					<div id="institute0_error" class="errorcls1"></div>
							
					<div class="steprow1">
<!--						<strong>Current Status :</strong>-->
					</div>
					<div class="clear">&nbsp;</div>
					
					<div class="steprow1" style="height:25px;margin-bottom:10px;">
						<div style="float:left;width:150px;"><input type="checkbox"  value="1" class="checkbox" id="statusteach0" name="statusteach0" errortag="Current status"/>Teach</div>
						<div style="float:left;width:220px;"><input type="checkbox"  value="1" class="checkbox" id="statusprofession0"  name="statusprofession0" />Practice as profession</div>
						<div style="float:left;width:170px;"><input type="checkbox"  value="1" class="checkbox" id="statushobby0" name="statushobby0"/>Practice as hobby</div>
					</div>
					<div id="statusteach0_error" class="errorcls1"></div>
					<?php }?>
					</div>
					<div class="clear">&nbsp;</div>
					
					<div class="clear">&nbsp;</div>
					<?php //if (!isset($this->tutorexperiencedata) && $this->tutorexperiencedata ==""){ ?>
					<div class="steprow1">
						<a href="javascript:adddynamicRow();" class="addSection">Add another experience</a>
					</div>
					<?php //} ?>
					<div class="clear">&nbsp;</div>
<!--					<div id="hiddenVal2_error" class="errorcls1" >&nbsp;</div>-->
					<div class="steprow1">
						<strong>Qualification/Certifications :</strong>
					</div>
					<div class="clear">&nbsp;</div>
					
					<div id="repeatdegree">
					<?php if (isset($this->tutorqualificationdata) && sizeof($this->tutorqualificationdata) > 0)
			 		{
			 			$qualificationData = $this->tutorqualificationdata;
			 			$qualificationSize = sizeof($this->tutorqualificationdata);
			 			/*  Start when update and insert both but nothing insert at first time than dafault show 1 row use this logic*/
			 			if($qualificationSize==0){?>
			 				<div id="repeatdegreediv_0" class="steprow1">
						
							<input  style="float:left;width:136px;margin-right:5px;"  type="text" id="degree[]"  name="degree[]" value="Degree/Diploma/etc" errortag="Degree/Diploma/etc or Speciality or College/University/Course or Year" onfocus="clearit(this);" onblur="fixit(this); " szprompt="Degree/Diploma/etc" />
					
						
							<input  style="float:left;width:190px;margin-right:5px;"  type="text" id="speciality[]"  name="speciality[]" value="Field/Speciality"  onfocus="clearit(this);" onblur="fixit(this); " szprompt="Field/Speciality" />
						
					
							<input  style="float:left;width:200px;margin-right:5px;" type="text" id="university[]"  name="university[]" value="College/University/Institute"  onfocus="clearit(this);" onblur="fixit(this); " szprompt="College/University/Institute" />
						
						
							<select style="float:left;margin-right:5px;"  id="completion_year[]" name="completion_year[]">
								<option value="">End Year</option>
								<option value="Present">Present</option>
									<?php for($l=2014;$l>1964;$l--){?>
										<option value="<?php echo $l;?>"><?php echo $l;?></option>
									<?php }?>
			                </select>
						</div>
			 			<?php
			 			}
			 			/* End when update and insert both but nothing insert at first time than dafault show 1 row use this logic*/
			 			for ($j=0;$j<$qualificationSize;$j++)
			 			{
					 	?>
							<div id="repeatdegreediv_<?php echo $j;?>" class="steprow1">
								
									<input style="float:left;width:136px;margin-right:5px;color:#032B3C;font-style:normal;" type="text" id="degree[]"  name="degree[]" value="<?php echo $qualificationData[$j]['tutor_expedu_kind']; ?>" errortag="Degree/Diploma/etc or Speciality or College/University/Course or Year" onfocus="clearit(this);" onblur="fixit(this); " szprompt="Degree/Diploma/etc" >
								
							
									<input style="float:left;width:190px;margin-right:5px;color:#032B3C;font-style:normal;" type="text" id="speciality[]"  name="speciality[]" value="<?php echo $qualificationData[$j]['tutor_expedu_field']; ?>" onfocus="clearit(this);" onblur="fixit(this); " szprompt="Field/Speciality">
							
							
									<input style="float:left;width:200px;margin-right:5px;color:#032B3C;font-style:normal;" type="text" id="university[]"  name="university[]" value="<?php echo $qualificationData[$j]['tutor_expedu_place']; ?>" onfocus="clearit(this);" onblur="fixit(this); " szprompt="College/University/Institute">
								
							
									<select style="float:left;margin-right:5px;" id="completion_year[]" name="completion_year[]">
										<option value="">End Year</option>
										<option value="Present" <?php if($qualificationData[$i]['tutor_expedu_end_year']=="Present") {echo "selected";}?>>Present</option>
										<?php for($l=2014;$l>1964;$l--){?>
											<option value="<?php echo $l;?>" <?php if($qualificationData[$j]['tutor_expedu_end_year']==$l) {echo "selected";}?>><?php echo $l;?></option>
										<?php }?>
					                </select>
								
								
							</div>
						<?php
			 			}
			 		}else{?>
			 			<div id="repeatdegreediv_0" class="steprow1">
						
							<input  style="float:left;width:136px;margin-right:5px;"  type="text" id="degree[]" name="degree[]"   value="Degree/Diploma/etc" errortag="Degree/Diploma/etc or Speciality or College/University/Course or Year" onfocus="clearit(this);" onblur="fixit(this); " szprompt="Degree/Diploma/etc" >
					
						
							<input  style="float:left;width:190px;margin-right:5px;"  type="text" id="speciality[]" name="speciality[]"  value="Speciality"  onfocus="clearit(this);" onblur="fixit(this); " szprompt="Speciality">
						
					
							<input  style="float:left;width:200px;margin-right:5px;" type="text" id="university[]" name="university[]"  value="College/University/Institute"  onfocus="clearit(this);" onblur="fixit(this); " szprompt="College/University/Institute">
						
						
							<select style="float:left;margin-right:5px;"  id="completion_year[]" name="completion_year[]">
								<option value="">End Year</option>
								<option value="Present">Present</option>
									<?php for($l=2014;$l>1964;$l--){?>
										<option value="<?php echo $l;?>"><?php echo $l;?></option>
									<?php }?>
			                </select>
						</div>
						<?php } ?>
						
						
					
					
					</div>
					<div class="clear">&nbsp;</div>
					
					<div id="degreeVarDiv">
						<input type="hidden" id="degree0" errortag="Qualification row0"/>
						<div id="degree0_error" class="errorcls1"></div>
					</div>
				
					
					<div class="steprow1">
						<a href="javascript:adddynamicRowDegree();"  class="addSection">Add more qualification</a>
					</div>
					<div class="clear">&nbsp;</div>
					
<!--	-----------	step 3 input fields in this page	----------		-->

					<div class="steprow1">
						<strong style="font-size:15px;color:#333333;">What skills do you teach? </strong> <span style="color:#F06142">*</span>
						<div class="steprow1" style="margin-top: 5px;">Tick only the classes that you offer. <i class="registerhint">(Click a heading to expand and show specific skills)</i>
<!--							<br/>-->
<!--							<div class="clear" style="height:5px;">&nbsp;</div>-->
							
							
						</div>
					</div>
					<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata))
							{
								$skillArray = $this->tutorcoursedata;
						  		$allskillId = $skillArray['tutor_skill_id'];
						  		$removeLastskillId = substr($allskillId, 0, strlen($allskillId)-1);
						  		$skillIds = explode(",",$removeLastskillId);
						  		$skillSize = sizeof($skillIds);
							}
					?>
					<div class="clear">&nbsp;</div>
					<div class="steprow1" id="skillvalfocus">
					<?php
						$skillobj = new Skillzot_Model_DbTable_Skills();
						if(isset($this->mainSkill) && sizeOf($this->mainSkill)>0){
							$skillRows = $this->mainSkill;
						?>
						<?php if(isset($skillRows) && sizeof($skillRows)>0){?>
	        				<?php foreach($skillRows as $maincategory){?>
	        					<span style="width:100%;display:block;margin-bottom:10px;"><a class="subject collapsed" href="#"><?php  echo $maincategory->skill_name;?></a></span>
	        					
								<?php
			        			$subcategory = $maincategory->skill_id;
								$subskillRows = $skillobj->fetchAll($skillobj->select()
														  ->from(array('s'=>DATABASE_PREFIX.'master_skills'))
														  ->where("is_enabled = 1 && parent_skill_id = '$subcategory' && skill_id!=0")
														  ->order(array("order_id asc")));
								$temparray = array();
								$tempvar = 0;
								$subdiv = -1;
								if(isset($subskillRows) && sizeof($subskillRows)>0){
									 ?>
								
								<ul id="categorytag1" class="checkcat">
									<?php foreach($subskillRows as $subcategory){?>
										<?php
											$skillcategory = $subcategory->skill_id;
											$skillcategoryRows = $skillobj->fetchAll($skillobj->select()
														  ->from(array('s'=>DATABASE_PREFIX.'master_skills'))
														  ->where("is_enabled = 1 && parent_skill_id = '$skillcategory' && skill_id!=0")
														  ->order(array("skill_name asc")));
											?>
												<?php $subdiv++;?>
												<?php if(($subdiv%4)==0){?>
													<div class="displayskilltag">
												<?php }?>
												<?php if(isset($skillcategoryRows) && sizeof($skillcategoryRows)>0){
												?>
													<?php $temparray[$tempvar] = $subcategory->skill_id;
														  $tempvar++;
													?>
												<?php
												}else{
												?>
													<li class="displayskilltagli"><label><input value="<?php if (isset($subcategory->skill_id) && $subcategory->skill_id!="" ){echo $subcategory->skill_id;}?>" type="checkbox"
													
													<?php if (isset($skillIds) && sizeof($skillIds)>0)
									  				{
									  					for($t=0;$t<$skillSize;$t++)
									  					{
									  						if($skillIds[$t]==$subcategory->skill_id)
									  						{
									  							echo "checked";
									  						}
									  					}
									  				}?>
													onclick="javascript:skill(this.value);" name="txtsubcat" id="txtsubcat"><?php if (isset($subcategory->skill_name) && $subcategory->skill_name!="" ){echo $subcategory->skill_name;}?></label></li>
												<?php }?>
												
												<?php if(($subdiv%4)==3){?>
													</div>
												<?php }else{
														if(sizeof($subskillRows) == ($subdiv+1)){
														?>
														</div>
														<?php }
														}?>
											
											
									<?php }?>
									
									<?php /*Add code foe music list*/?>
											<?php if(isset($temparray) && sizeOf($temparray)>0){
											
											for($j=0;$j<sizeOf($temparray);$j++){?>
												<?php $fetchnameRow = $skillobj->fetchRow("skill_id = '$temparray[$j]'");
												$tempskiilname = $fetchnameRow->skill_name;?>
												<span style="width:100%;display:block;margin-bottom:10px;"><a class="subject collapsed" href="#"><?php  echo $tempskiilname;?></a></span>
												<?php
												$tempskillcategoryRows = $skillobj->fetchAll($skillobj->select()
															 				  ->from(array('s'=>DATABASE_PREFIX.'master_skills'))
															 				  ->where("is_enabled = 1 && parent_skill_id = '$temparray[$j]' && skill_id!=0")
																			  ->order(array("skill_name asc")));
												if(isset($tempskillcategoryRows) && sizeof($tempskillcategoryRows)>0){ ?>
													<ul id="categorytag1" class="checkcat">
													<?php $skilldiv = -1;?>
												 	<?php foreach($tempskillcategoryRows as $skillcategory1){ ?>
													<?php $skilldiv++;?>
													<?php if(($skilldiv%4)==0){?>
														<div class="displayskilltag">
													<?php }?>
														<li class="displayskilltagli"><label><input value="<?php if (isset($skillcategory1->skill_id) && $skillcategory1->skill_id!="" ){echo $skillcategory1->skill_id;}?>" type="checkbox"
														
														<?php if (isset($skillIds) && sizeof($skillIds)>0)
									  				{
									  					for($t=0;$t<$skillSize;$t++)
									  					{
									  						if($skillIds[$t]==$skillcategory1->skill_id)
									  						{
									  							echo "checked";
									  						}
									  					}
									  				}?>
														
														onclick="javascript:skill(this.value);" name="ACCManagerial_Accounting"><?php if (isset($skillcategory1->skill_name) && $skillcategory1->skill_name!="" ){echo $skillcategory1->skill_name;}?></label></li>
													<?php if(($skilldiv%4)==3){?>
														</div>
													<?php }else{
														if(sizeof($tempskillcategoryRows) == ($skilldiv+1)){
														?>
														</div>
														<?php }
														}?>
													
													
													<?php
												 	}?></ul>
												 	<?php
												 }
											}?>
										<?php }?>
										<?php /*End code foe music list*/$temparray[] ="";?>
									
									</ul>
								
									
								<?php }?>
        				<?php }?>
        				
        				<?php }?>
        				<?php }?>
						<input type="hidden" id="hiddenVal2" errortag="skill" name="hiddenVal2" value="<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata))
							{
								$skillArray = $this->tutorcoursedata;
						  		echo $skillId = $skillArray['tutor_skill_id'];
						  	} ?>" />
						<div id="hiddenVal2_error" class="errorcls1" ></div>
						<input type="hidden" name="newskillenter" id="newskillenter" onfocus="clearit(this);" onblur="fixit(this); " szprompt="Skill you suggest" value="Skill you suggest" />
		</div>
<!--			end of page 3 input fields		-->
					
					
					
					
					
					
					
					
					
					
					
					
<!--			education hide condition		-->
			<?php if (isset($jinesh) && $jinesh!=""){ ?>
					<div class="steprow1" style="margin-top:10px;">
						<strong>What's your education background :</strong>
					</div>
					<div class="clear">&nbsp;</div>
					
					<div id="repeatedu">
					<?php if (isset($this->tutoreducationdata) && $this->tutoreducationdata !="")
			 		{
			 			$educationData = $this->tutoreducationdata;
			 			//print_r($educationData);exit;
			 			$educationSize = sizeof($this->tutoreducationdata);
			 			if($educationSize==0){ ?>
			 				<div id="repeatedudiv_0" class="steprow1">
						
								<input style="float:left;width:150px;margin-right:5px;" type="text" id="college[]" name="college[]" value="College/School" errortag="College/School or Degree/Diploma or Fields of Study or Year" onfocus="clearit(this);" onblur="fixit(this);" szprompt="College/School">
						
						
								<input style="float:left;width:190px;margin-right:5px;" type="text" id="diploma[]" name="diploma[]" value="Degree/Diploma"  onfocus="clearit(this);" onblur="fixit(this);" szprompt="Degree/Diploma">
							
							
								<input  style="float:left;width:200px;margin-right:5px;" type="text" id="fieldsofstudy[]" name="fieldsofstudy[]" value="Fields of Study" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Fields of Study">
							
							
								<select style="float:left;margin-right:5px;" id="edbackcompletionyear[]" name="edbackcompletionyear[]">
									<option value="">End Year</option>
									<option value="Present">Present</option>
										<?php for($l=date('Y');$l>1964;$l--){?>
											<option value="<?php echo $l;?>"><?php echo $l;?></option>
										<?php }?>
								</select>
							</div>
			 			<?php
			 			}
			 			for ($k=0;$k<$educationSize;$k++)
			 			{
				 		?>
						
						<div id="repeatedudiv_<?php echo $k;?>" class="steprow1">
							
								<input style="float:left;width:150px;margin-right:5px;" type="text" id="college[]" name="college[]" value="<?php echo $educationData[$k]['tutor_expedu_place']; ?>" errortag="College/School or Degree/Diploma or Fields of Study or Year" onfocus="clearit(this);" onblur="fixit(this);" szprompt="College/School">
						
							
								<input style="float:left;width:190px;margin-right:5px;" type="text" id="diploma[]" name="diploma[]" value="<?php echo $educationData[$k]['tutor_expedu_kind']; ?>" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Degree/Diploma">
							
						
								<input style="float:left;width:200px;margin-right:5px;" type="text" id="fieldsofstudy[]" name="fieldsofstudy[]" value="<?php echo $educationData[$k]['tutor_expedu_field']; ?>" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Fields of Study">
							
							
								<select style="float:left;margin-right:5px;" id="edbackcompletionyear[]" name="edbackcompletionyear[]">
									<option value="">End Year</option>
									<option value="Present" <?php if($educationData[$i]['tutor_expedu_end_year']=="Present") {echo "selected";}?>>Present</option>
										<?php for($l=date('Y');$l>1964;$l--){?>
											<option value="<?php echo $l;?>" <?php if($educationData[$k]['tutor_expedu_end_year']==$l) {echo "selected";}?>><?php echo $l;?></option>
										<?php }?>
									
								</select>
							
						</div>
						<?php
			 			}
			 		}else{?>
				 		<div id="repeatedudiv_0" class="steprow1">
						
								<input style="float:left;width:150px;margin-right:5px;" type="text" id="college[]" name="college[]" value="College/School" errortag="College/School or Degree/Diploma or Fields of Study or Year" onfocus="clearit(this);" onblur="fixit(this);" szprompt="College/School">
						
						
								<input style="float:left;width:190px;margin-right:5px;" type="text" id="diploma[]" name="diploma[]" value="Degree/Diploma"  onfocus="clearit(this);" onblur="fixit(this);" szprompt="Degree/Diploma">
							
							
								<input  style="float:left;width:200px;margin-right:5px;" type="text" id="fieldsofstudy[]" name="fieldsofstudy[]" value="Fields of Study" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Fields of Study">
							
							
								<select style="float:left;margin-right:5px;" id="edbackcompletionyear[]" name="edbackcompletionyear[]">
									<option value="">End Year</option>
									<option value="Present">Present</option>
										<?php for($l=date('Y');$l>1964;$l--){?>
											<option value="<?php echo $l;?>"><?php echo $l;?></option>
										<?php }?>
								</select>
						</div>
			 		<?php } ?>
					</div>

					
					<div class="clear">&nbsp;</div>
					
					<div id="collegeVarDiv">
						<input type="hidden" id="college0" errortag="Education background row0"/>
						<div id="college0_error" class="errorcls1"></div>
					</div>
					
					<?php //if (!isset($this->tutoreducationdata) && $this->tutoreducationdata ==""){ ?>
						<div class="steprow1">
							<a href="javascript:adddynamicRowedu();" class="addSection">ADD EDUCATION</a>
						</div>
					<?php //} ?>
					<div class="clear">&nbsp;</div>
					<?php } ?>
			<!--		end of hide education div			---->
					
					<?php if (isset($authUserNamespace->classtype) &&  $authUserNamespace->classtype=="jinesh"){ ?>
						<div class="steprow1">
							<strong>Number of branches :</strong>
						</div>
						<div class="clear">&nbsp;</div>
							
						
						<div id="repeatexp">
						<div id="repeatexpdiv_0" class="steprow1">
							<div class="steprow1">
								<input style="float:left;width:150px;margin-right:5px;" type="text" errortag="Number of branch" name="number_of_branches" id="number_of_branches" value="<?php if (isset($this->companydata) && sizeof($this->companydata)>0){$compnydetails = $this->companydata; echo $compnydetails[0]['number_of_branch'];}?>">
							</div>
							<div id="number_of_branches_error" class="errorcls1">&nbsp;</div>
						</div>
						</div>
						<div class="clear">&nbsp;</div>
					<?php } ?>
					
					<?php if (isset($authUserNamespace->classtype) &&  $authUserNamespace->classtype=="jinesh"){ ?>
					
						<div class="steprow1">
							<strong>Address & contact of branches :</strong>
						</div>
						<div class="clear">&nbsp;</div>
						
						<div id="repeatbranch">
								<?php if (isset($this->companyaddressdata) && $this->companyaddressdata !="")
								 		{
								 			$addressData = $this->companyaddressdata;
								 			$addressSize = sizeof($this->companyaddressdata);
								 			for ($k=0;$k<$addressSize;$k++)
								 			{
				 				?>
							<div id="repeatbranchdiv_<?php echo $k;?>" class="steprow1">
								<input style="float:left;width:250px;margin-right:5px;" type="text" id="address[]" name="address[]" value="<?php echo $addressData[$k]['comp_address'];?>" errortag="Address" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Address">
								<input style="float:left;width:250px;margin-right:5px;" type="text" id="contact[]" maxlength=10 name="contact[]" value="<?php echo $addressData[$k]['comp_contactno'];?>" errortag="Contact Number" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Contact Number">
								
							</div>
							
						
							<?php } }else{?>
							<div id="repeatbranchdiv_0">
								<div class="steprow1">
									<input style="float:left;width:250px;margin-right:5px;" type="text" id="address[]" name="address[]" value="Address" errortag="Address" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Address">
									<input style="float:left;width:250px;margin-right:5px;" type="text" maxlength=10 id="contact[]" name="contact[]" value="Contact Number" errortag="Contact Number" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Contact Number">
								</div>
							</div>
							<?php } } ?>
						
						<div class="clear">&nbsp;</div>
				<?php if (isset($authUserNamespace->classtype) &&  $authUserNamespace->classtype=="jinesh"){ ?>
				</div>
				<?php } ?>
<!--				division error end-->
						<div id="companyVarDiv">
							<input type="hidden" id="address0" errortag="Address row0"/>
							<div id="address0_error" class="errorcls1">&nbsp;</div>
						</div>
					
					<?php if (isset($authUserNamespace->classtype) &&  $authUserNamespace->classtype=="jinesh"){ ?>
					<?php //if (!isset($this->companydata) && $this->companydata ==""){ ?>
					<div class="clear">&nbsp;</div>
								<div class="steprow1">
								<a href="javascript:adddynamicRowbranch();" class="addSection">ADD BRANCH DETAILS</a>
							</div>
					<?php //}
					} ?>
					
				
					<div class="steprow1">
						<div class="stepcol1">&nbsp;</div>
						<div class="stepcol2">
							<div class="savecontinue"><a href="#registration_form_2"><img src="<?php echo BASEPATH;?>/images/Save-and-continue.png"  onmouseout="this.src='<?php echo BASEPATH;?>/images/Save-and-continue.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/Save-and-continue_hover.png'" id="save" name="save"></a></div>
							<!--<a style="float:right" href="/register.php?step=1">Back to Profile Information</a>-->
						</div>
						<?php if (isset($authUserNamespace->tutorsessionid) && $authUserNamespace->tutorsessionid!=""){?>
						<div class="stepcol2" style="float:right;  margin-right: 20px;">
						<a class="backtoprof" href="<?php echo BASEPATH;?>/teacher-signup-profile-information">Back to profile information</a>
						</div>
						<?php } ?>
					</div>
		</div>
		</form>
			</div>
			
		</div>
				
	
</body>
</html>
