<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<title>Payment Step3.</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/skillbox.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillbox.css"/>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style type="text/css">/*brgv 28-04*/
body
{
	float:left;
	text-align:center;
	width:100%;
}
.skilltebs
{
	display:inline-block;
	width:790px;
	margin-top:10px;
}
.skilltebs ul
{
	margin:0px;
	padding:0px;
	list-style:none;
	border-radius:5px 0 0 5px;
}
.skilltebs ul li
{
	float:left;
	display:inline;
	padding:9px 25px 10px 10px;
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr.png);
	background-repeat:no-repeat;
	background-position:right center;
	text-align:center;
	background-color:#f0f0f0;
	cursor:pointer;
	color:#999;
	text-transform: unset;
    width: 160px;
}
.skilltebs ul li.active
{
	background-color:#00A7E6;
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-act.png);
	cursor:default;
	color:#fff;
}
.skilltebs ul li.last
{
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-last.png);
}
.skilltebs ul li.first
{
	border-radius:5px 0 0 5px;
}
.skilltebs ul li.prev
{
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-prev.png);
}
#paymentstep2_form select
{
	height:32px !important;
	width:273px !important;
}
.formholder
{
	border:1px solid #00A7E6;
	min-height:auto !important;
}

.leftstep
{
	text-align:left;
	float:left;
}
.rightstep
{
	text-align:right;
	float:right;
}
.leftstep a
{
	color:#00A7E6;
	font-size:13px;
}
.smallnoticetext
{
	float: left;
    font-size: 14px;
    text-align: left;
    width: 640px;
}

.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:165px;
	font-size: 14px;
    font-weight: normal;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:40px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
}
.nameoftutor1 {
    color: #333;
    display: block;
    float: left;
    font-size: 14px;
    margin:10px 0 0 0px;
}
.check
{
	border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    /*padding-left: 3px;*/
    height:0 !important;
    width:18px !important;
}
.border
{
	border:1px solid #BECED5;
	border-radius:7px;
	border-left:0px;
	border-bottom:0px;
}
.boxesDiv
{
	width: 16.51%;
	height:auto;
	border:1px solid #BECED5;
	border-right:0px;
	border-top:0px;
	float:left;
}
.boxesDiv_first,.boxesDiv_last
{
	border-radius: 7px 7px 0 0px;
}
.boxesDiv_last
{
	border-radius: 0 0 4px 0;
}
.boxestitle
{
	border-bottom:1px solid #BECED5;
	height:40px;
    padding-top: 5px;
	float:left;
	width:100%;	
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#666;	
}
.buttonDiv
{
	background-color: #00A7E6;
    background-position: left top;
    border: 2px solid #00A7E6;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 14px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    width: auto;
    cursor:poinetr;
    float:left;
    margin-top:10px;
    text-transform: unset;
    padding: 0 10px;
    cursor:pointer;
}
.buttonDiv:hover
{
	background-color: #676767;
}
.Nameofcourse
{
	float:left;
	width:117px;
	color: #333333;
    font-size: 14px;
    text-align:center;
    padding: 0 0 0 2px;
    margin-top: 10px;
}
.infolinerow
{
	padding-left:0px;
}
.steprow1
{
	margin-top:15px;
}
a.linkclass
{
	color: #00A7E6;font-size: 13px;
}
a.linkclass:hover
{
	color: #FF6633
}
.selectdropdown
{
	border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 30px;
    padding: 5px;
}
.stepcol1
{
	width:171px;
}
.steprow1
{
	width:61%;
}
.onlyorangedisplay
{
	float:left;
}
.stepcol2
{
	width:255px;
}
.selectdropdown option
{
	background-color: #FFFFFF;
    color: #000000;
    font-size: 12px !important;
    height: 20px;
    padding: 2px !important;
}
.errorcls2
{
	height:15px;
	width:235px;
}
.orclass
{
	color: #00A7E6;
    font-family: handofsean,handofsean_IE;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
}
#paymentstep2_form input {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 30px;
    padding-left: 3px;
    width: 217px;
}
.formholder
{
	min-height:250px;
}
.formholder {
   border:1px solid #00A7E6;
    border-radius: 5px;
    float: left;
    margin-bottom: 30px;
    margin-top: 10px;
    min-height: 400px;
    min-width: 500px;
    padding: 10px 0 10px 20px;
    width: 760px;
    margin-left: -14px;
}
.boxestitle1 {
   	border-bottom:1px solid #BECED5;
	height:40px;
    padding-top: 5px;
	float:left;
	width:100%;	
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#666;	
    border-radius: 0 0 0 7px;
}

.boxesDiv1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #beced5 #beced5;
    border-image: none;
    border-style: none none none solid;
    border-width: 0 0 1px 1px;
    float: left;
    height: auto;
    width: 83.15%;
     border-radius: 0 0 0 7px;

}


.boxesDiv2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #beced5 #beced5;
    border-image: none;
    border-style: none none none solid;
    border-width: 0 0 1px 1px;
    float: left;
    height: auto;
    width: 16.51%;
}
</style>
<script language="JavaScript">
/*window.onload = function(){
	document.getElementById("makepayment").onclick = function(){
			window.location.href='https://secure.ebs.in/pg/ma/sale/pay';	
	}
};*/
window.onload = function(){
	document.getElementById("makepayment").onclick = function(){
			if(document.getElementById('terms').checked == 0)
				{
					$('#terms_error').html('Please agree to the terms and conditions of Skillzot.com ');
				}
			else
				{
					$('#terms_error').html('');
					saveForm('<?php echo BASEPATH; ?>/tutor/paymentstep3','paymentstep3_step','paymentstep3_step');
				}	
				
	}
};
</script>
<script type="text/javascript">
var maxheight=0;
$(document).ready(function(){
	$('.Nameofcourse').each(function()
			{
				if($(this).height()>maxheight)
				{
					maxheight=$(this).outerHeight();
				}
				
			});
	$('.Nameofcourse').css('height',maxheight+10);
});
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=600,width=1024,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}
</script>
</head>
<body>
<div class="skilltebs">
	<ul>
		<li class="first">Reserve your course</li>
		<li class="prev">Enter your details</li>
		<li class="active">Confirm your reservation</li>
		<li class="last">Make your payment</li>
	</ul>
</div>
<div id="step1" style="width:760px;margin:auto">

		<div id="paymentstep3_form" class="formholder">
			<form method="post" action="https://secure.ebs.in/pg/ma/sale/pay" name="paymentstep3_step" id="paymentstep3_step" onSubmit="return validate()">

			<!-- <form method="post" action="https://secure.ebs.in/pg/ma/payment/request" name="paymentstep3_step" id="paymentstep3_step" onSubmit="return validate()"> -->
					  	
			  	<!-- new design -->
			  	<div class="infolinerow" style="margin-top:10px;"><span class="nameoftutor">Confirm your reservation</span></div>
			  	<div class="infolinerow1" style="width:100%;margin-top:-10px;">
								<span class="nameoftutor1" id="courseauthor" style="color: #00a7e6;">Summary of your course</span>
						</div>
			  	<div class="infolinerow1 border" style="width:97%;margin-top:10px;">
			  		<div class="boxesDiv boxesDiv_first">
			  			<div class="boxestitle">Course details</div>
			  			<div class="Nameofcourse"><?php if(isset($authUserNamespace->classname) && $authUserNamespace->classname!= "") {echo $authUserNamespace->classname;}?>
			  			</div>
			  		</div>
			  		<div class="boxesDiv">
			  			<div class="boxestitle">Slot & location</div>
			  			<div class="Nameofcourse">
			  			<?php if(isset($this->batchviewResult) && $this->batchviewResult!= "") {
								$gradeArray = $this->batchviewResult;
								$alllocationId = $gradeArray['tutor_batch_name'];
								$locationIds = explode("/",$alllocationId);
								echo trim($locationIds[1],"-")."<br>".trim($locationIds[2],"-")."<br> at <br>".$locationIds[0];}?>
			  			</div>
			  		</div>
			  		<div class="boxesDiv">
			  			<div class="boxestitle">Duration</div>
			  			<div class="Nameofcourse">

			  				<?php if(isset($this->batchviewResult->tutor_class_dur_wks) && $this->batchviewResult->tutor_class_dur_wks=="0")
									  { $weekdisplay="On-going monthly";
							          }else
							          { $weekdisplay=$this->batchviewResult->tutor_class_dur_wks; }
							          if(isset($this->batchviewResult->tutor_class_dur_dayspwk) && $this->batchviewResult->tutor_class_dur_dayspwk=="0")
									  { $daydisplay="Flexible days";
							          }else
							          { $daydisplay=$this->batchviewResult->tutor_class_dur_dayspwk; }
							          if(isset($this->batchviewResult->tutor_class_dur_hrspday) && $this->batchviewResult->tutor_class_dur_hrspday=="0.5")
							          { $hrsdisplay="30 mins"; 
									  }elseif(isset($this->batchviewResult->tutor_class_dur_hrspday) && $this->batchviewResult->tutor_class_dur_hrspday=="0.75")
							          { $hrsdisplay="45 mins"; }
							          elseif(isset($this->batchviewResult->tutor_class_dur_hrspday) && $this->batchviewResult->tutor_class_dur_hrspday=="1")
							          { $hrsdisplay="1 hour"; }
							          else
							          { $hrsdisplay=$this->batchviewResult->tutor_class_dur_hrspday." hours"; }
								echo $weekdisplay." course <br> ".$daydisplay." a week <br> ".$hrsdisplay ?>

			  			</div>
			  		</div>
			  		<div class="boxesDiv">
			  			<div class="boxestitle">Price of the course</div>
			  			<div class="Nameofcourse"> 
			  			<?php if(isset($authUserNamespace->tutorrate) && $authUserNamespace->tutorrate!= "") {echo $authUserNamespace->tutorrate;}?><br><?php echo "(".$authUserNamespace->feetype.")";?>
			  			</div>
			  		</div>
			  		<div class="boxesDiv">
			  			<div class="boxestitle">Quantity</div>
			  			<div class="Nameofcourse"><?php if(isset($authUserNamespace->nostudents) && $authUserNamespace->nostudents!= ""){echo $authUserNamespace->nostudents;}?></div>
			  		</div>
			  		<?php $price= $authUserNamespace->nostudents*$authUserNamespace->tutorrate;
			  			  $authUserNamespace->price=$price;
			  		?>
			  		<div class="boxesDiv">
			  			<div class="boxestitle">Price for <?php echo $authUserNamespace->nostudents; ?> students (Rs.) </div>
			  			<div class="Nameofcourse"><?php echo $price;?></div>
			  		</div>
			  		<div class="boxesDiv1">
			  			<div class="boxestitle" style="height: 30px;padding-top: 15px;"><span style="margin-left:374px;">Internet handling charges (Rs)</span></div>
			  			<div class="boxestitle1" style="height: 30px;padding-top: 15px;background-color: #00A7E6;color:#FFFFFF;"><span style="margin-left:474px;">Grand Price (Rs) </span></div>
			  		</div>
			  		<div class="boxesDiv2 boxesDiv_last">
			  			<div class="boxestitle" style="height: 30px;padding-top: 15px;"><?php echo $internet_handle=$authUserNamespace->price * 0.02;$authUserNamespace->internet= $internet_handle;
			  			 ?></div>
			  			<div class="boxestitle" style="height: 30px;padding-top: 15px;background-color: #00A7E6;color:#FFFFFF; border-radius: 0 0 4px;">
			  				<?php $grandprice= $authUserNamespace->price+$internet_handle;
			  			  		  $authUserNamespace->grandprice=$grandprice; echo $grandprice; ?></div>
			  		</div>
			  	</div>

			  	<div class="infolinerow1" style="width:100%;margin-top:10px;width:97%;text-align: left;">
			  	<div style="float:left;width:22%;margin-top:0px;border: 7px solid #00A7E6;font-size: 14px;height: 37px; font-weight:bold;background-color: #00A7E6;color:#FFFFFF;"><span>Full refund in 10 days</span></div><div style="float:left;width:75%;font-size: 14px;height: 48px;padding-left:8px;"><span>You will get a full refund if you decide not join the course within 10 days. We will follow up with you to co-ordinate the same once you put in your request by sending an e-mail on zot@skillzot.com.</span>
			  	</div>
			  	</div>
			  	<div class="infolinerow1" style="width:100%;margin-top:10px;width:97%;text-align: left;">
			  	<div style="float:left;width:22%;margin-top:3px;background-color: #00A7E6;color:#FFFFFF;border: 7px solid #00A7E6;font-size: 14px;height: 37px; font-weight:bold;"><span >Refund with 2% deduction in 30 days</span></div> 	<div style="float:left;width:75%;font-size: 14px;height: 52px;padding-left:8px;"> If you decide not to join after 10 days, then you can still avail of the refund with a 2% deduction within 30 days.You will get the refund within 07 business days after you put in your request.
			  	</div>
			  	</div>
			  	<div class="infolinerow1" style="width:100%;margin-top:10px;width:97%;text-align: left;">
			  	<div style="float:left;width:22%;margin-top:0px;border: 7px solid #00A7E6;font-size: 14px;height: 37px; font-weight:bold;background-color: #00A7E6;color:#FFFFFF;"><span>Cancellation policy after confirmation</span></div><div style="float:left;width:75%;font-size: 14px;height: 39px;padding-left:8px;"> Once you enroll with the teacher and there is confirmation from both you and the teacher, then there is no refund applicable.
			  	</div>
			  	</div>			  	
			  	<div class="infolinerow1" style="width:100%;margin-top:10px;">
			  		<div style="float:left;width:43%;margin:12px -17px;">
			  		<input type="checkbox" class="check"  name="terms" id="terms" style="border: 1px solid #000 !important;height: 13px !important;"> I agree to the <a href="JavaScript:newPopup('<?php echo BASEPATH;?>/terms-and-conditions');" style="color:#00A7E6;">terms and conditions</a> of Skillzot.com
			  		<div id="terms_error" class="errorcls2" style="width:330px;margin-left: 4px;"> </div>
			  		</div>
			  		<div>
			  		<span type="button" id="makepayment" style="margin:45px 0 0 -293px;" name="makepayment" class="buttonDiv" value="Make payment">Pay now to confirm</span>
			  		</div>
			  	</div>
				<div style="float:right;margin:14px 25px 0 0;" class="stepcol2">
						<a href="<?php echo BASEPATH;?>/tutor/paymentstep2/batchid/<?php echo $authUserNamespace->pbatchid;?>/courseid/<?php echo $authUserNamespace->pcourseid;?>" class="backtoprof">Back</a>
				</div>
<?php 
$billingObj= new Skillzot_Model_DbTable_Billdetails;
 if((isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid !="")) 
	  {
				$billingDetailsResult = $billingObj->fetchRow("tutor_id ='$authUserNamespace->maintutorid' && batch_id='$authUserNamespace->pbatchid'");
				$name=$billingDetailsResult->name;
				$address=$billingDetailsResult->address;
				$city=$billingDetailsResult->city;
				$pincode=$billingDetailsResult->pincode;
				$phone_no=$billingDetailsResult->phone_no;
				$reference_no=$billingDetailsResult->ref_no;
				$price=$billingDetailsResult->price;
				$grandprice=$billingDetailsResult->grand_total;
					
	  }
	  else
	  {
				if((isset($authUserNamespace->studentid) && $authUserNamespace->studentid !=""))
				{
					$billingDetailsResult = $billingObj->fetchRow("std_id ='$authUserNamespace->studentid' && batch_id='$authUserNamespace->pbatchid'");
					$name=$billingDetailsResult->name;
					$address=$billingDetailsResult->address;
					$city=$billingDetailsResult->city;
					$pincode=$billingDetailsResult->pincode;
					$phone_no=$billingDetailsResult->phone_no;
					$reference_no=$billingDetailsResult->ref_no;
					$price=$billingDetailsResult->price;
					$grandprice=$billingDetailsResult->grand_total;
					
				}
		  }

	  //$return_url= "http://skillzot.com/tutor/response";

	$return_url= "http://test.skillzot.com/ebs/response.php?DR={DR}";
	  $hash = "ebskey"."|"."5880"."|".$grandprice."|".$reference_no."|".$return_url."|"."TEST";
	 // echo $hash;exit;
	  $secure_hash = md5($hash);
	  
	  $tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
	  $studentSignupObj = new Skillzot_Model_DbTable_Studentsignup();
	  if((isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid !="")) 
	  {
				$tutorData = $tutorProfile->fetchRow("id ='$authUserNamespace->maintutorid'");
				$email=$tutorData->tutor_email;
	  }
	  else
	  {
				if((isset($authUserNamespace->studentid) && $authUserNamespace->studentid !=""))
				{
						$studentsignup_row = $studentSignupObj->fetchRow($studentSignupObj->select()
								 	 	  ->where("id='$authUserNamespace->studentid'"));	 	
					    $email=$studentsignup_row->std_email;
					
				}
		  }

?> 
			<input name="account_id" id="account_id" type="hidden" value="5880">
			<input name="return_url" id="return_url" type="hidden" size="60" value="<?php echo $return_url;?>" />
			<input name="mode"  id="mode" type="hidden" size="60" value="TEST" />
			<input name="reference_no" id="reference_no" type="hidden" value="<?php echo  $reference_no; ?>" />
			<input name="amount"  id="amount" type="hidden" value="<?php echo $grandprice;?>"/>
			<input name="description" id="description" type="hidden" value="tutorprice" /> 
			<input name="name"  id="name" type="hidden" maxlength="255" value="<?php echo $name;?>" />
			<input name="address"  id="address" type="hidden" maxlength="255" value="<?php echo $address;?>" />
			<input name="city" id="city" type="hidden" maxlength="255" value="<?php echo $city;?>" />
			<input name="state" id="state" type="hidden" maxlength="255" value="<?php echo $state;?>" />
			<input name="postal_code"  id="postal_code" type="hidden" maxlength="255" value="<?php echo $pincode; ?>" />
			<input name="country" id="country"  type="hidden" maxlength="255" value="<?php echo "IND"; ?>" />
			<input name="phone" id="phone" type="hidden" maxlength="255" value="<?php echo $phone_no; ?>" />
			<input name="email" id="email" type="hidden" size="60" value="<?php echo $email;?>" />
			<input name="secure_hash" id="secure_hash" type="hidden" size="60" value="<?php echo $secure_hash;?>" /> 


<!-- <input name="channel" type="hidden" value="0" />
<input name="account_id" type="hidden" value="12015" />
<input name="reference_no" type="hidden" value="<?php echo  $reference_no; ?>" />
<input name="amount" type="hidden" value="<?php echo $grandprice;?>" />
<input name="mode" type="hidden" value="LIVE" />
<input name="currency" type="hidden" value="INR" />
<input name="description" type="hidden" value="tutrpice" />
<input name="return_url" type="hidden" value="<?php echo $return_url;?>" />
<input name="name" type="hidden" value="<?php echo $name;?>" />
<input name="address" type="hidden" value="<?php echo $address;?>" />
<input name="city" type="hidden" value="<?php echo $city;?>" />
<input name="state" type="hidden" value="<?php echo $state;?>" />
<input name="country" type="hidden" value="<?php echo "IND"; ?>" />
<input name="postal_code" type="hidden" value="<?php echo $pincode; ?>" />
<input name="phone" type="hidden" value="<?php echo $phone_no; ?>" />
<input name="email" type="hidden" value="<?php echo $email;?>" />

<input name="ship_name" type="hidden" value="" />
<input name="ship_address" type="hidden" value="" />
<input name="ship_country" type="hidden" value="" />
<input name="ship_state" type="hidden" value="" />
<input name="ship_city" type="hidden" value="" />
<input name="ship_postal_code" type="hidden" value="" />
<input name="ship_phone" type="hidden" value="" />

<input name="bank_code" type="hidden" value="" />
<input name="emi" type="hidden" value="" />
<input name="page_id" type="hidden" value=""/>
<input name="secure_hash" type="hidden" value="<?php echo $secure_hash;?>" /> -->


			</form>
		</div>
		<div class="steprow1"  style="margin-top: -22px;margin-left: -14px;">
		<a href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=secure.ebs.in&lang=en" target="_blank">
			<img border="0" style="float:left;" src="/images/verisign.png">
		</a>
		<a href="#" target="_blank">
			<img border="0" style="float:left;" src="/images/pci_logo.jpg">
		</a>
		<a href="#" target="_blank">
			<img border="0" style="float:left;" src="/images/isoseal.png">
		</a>
		<a href="http://www.ebs.in/en/" target="_blank">
			<img border="0" style="float:left;" src="/images/EBSLogo.png">
		</a>
		</div>
		<div style="clear:both;"></div>
</div>
</body>
</html>
