<html>	
<head>
<title>Terms & Conditions | Skillzot</title>
<meta name="description" content="Want to partner with Skillzot? Go through this page for all terms and conditions and privacy policies.">
<style>
.contentholder {
    float: left;
    height: auto;
    padding: 0 0 10px;
    text-align: center;
    width: 980px;
}
.faq_wrap
{
    border-radius: 5px 5px 5px 5px;
   	display:inline-block;
    height: auto;
    list-style-type: decimal;
 	padding: 10px 0 0 0px;
    width: 980px;
    text-align:left;
    line-height: 23px;
}
.faq_wrap h1 {
    color: #666;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
    line-height:35px;
}
h1 {
    padding-bottom: 5px;
}
.faq_wrap h2 {
    color: #00A7E6;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
}
h2
{
    padding: 20px 0 0;
}
.faq_wrap p 
{
    font-size: 14px;
    /*feb18*/text-align:justify;
}
.faq_wrap p 
{
    color: black;
}
p 
{
    clear: both;
    /*width:670px;*//*feb18*/
    color:#333333 !important;
}
p
{
    line-height: 18px;
    padding: 15px 0 0;
}
.faq_wrap a
{
	 color: #00A7E6;
}
.faq_wrap p
{
	margin:0px;
}
strong
{
	color: #AAA5A4;
    display: block;
    font-weight: normal;
    margin: 10px 0;
}
ol{
    list-style: none outside none;
     padding:0 0 0 30px;
     color: #333333;
}
ol li {
    line-height: 18px;
    list-style: disc outside none;
    width:670px;
}
b
{
	margin:10px 0 0 0;
	font-weight:bold;
}
body{
	font-size: 14px;
}
hr {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dashed #00A7E6;
    float: left;
    height: 1px;
    width: 100%;
}
</style>
</head>
<body>
<div class="contentholder">
	<div class="faq_wrap">
		<!--   hitesh 24-jan-2013    -->
		<h1>Refund policy</h1>
		<hr class="vbigheader " style="margin-top: 4px;">
		<h2>Full refund in 10 days</h2>
		<p>
		You will get a full refund if you decide not join the course within 10 days.<br>We will follow up with you to co-ordinate the same once you put in your request by sending an e-mail on zot@skillzot.com.
		</p>
		<h2>Refund with 2% deduction in 30 days</h2>
		<p>
		If you decide not to join after 10 days, then you can still avail of the refund with a 2% deduction within 30 days.<br>You will get the refund within 7 business days after you put in your request. 
		</p>
		<h2>Cancellation policy after confirmation</h2>
		<p>
		Once you enroll with the teacher and there is confirmation from both you and the teacher, then there is no refund applicable.
		</p>	
		
	</div>
</div>	
</body>
</html>
