<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>

<?php $id=$this->id;?>
<script type='text/javascript'>
window.onload = function(){
	document.getElementById("save").onclick = function(){
		<?php if(isset($id)){?>
		saveForm('<?php echo BASEPATH; ?>/admin/addcategory/id/<?php echo $id;?>','add_category_form','add_category_form');
		<?php }else{?>
		saveForm('<?php echo BASEPATH; ?>/admin/addcategory/','add_category_form','add_category_form');
		<?php }?>
		}
};
</script>
<style>
body{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:12px;
}
.f1
{
	line-height:25px;
	width:315px;
}
h2
{
text-align:center;
}
</style>
</head>
<body>
<!--<img src="<?php echo BASEPATH;?>/images/black_close.png" onclick="javascript:call_closebox();" style="width:16px;height:16px;float:right;margin-top:10px;margin-left:5px;" />-->
<h2><?php echo $authUserNamespace->admin_page_title;?></h2>
<form method="post" action="" name="add_category_form" id="add_category_form" enctype="multipart/form-data">
	<div class="f1">
		<div style="margin-right:10px;width:100px;float:left;">Category name:</div>
		<div style="width:200px;float:left;"><input type="text" name="CategoryName" id="CategoryName" errortag="Category" value="<?php if(isset($this->category))echo $this->category->skill_name;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="CategoryName_error" name="CategoryName_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">Category description:</div>
		<div style="width:200px;float:left;"><input type="text" name="CategoryDescription" id="CategoryDescription" errortag="Category" value="<?php if(isset($this->category))echo $this->category->skill_description;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="CategoryDescription_error" name="CategoryDescription_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:100px;float:left;">Is enabled:</div>
		<div style="width:200px;float:left;"><select name="Enable" id="Enable" errortag="Is enable">
	          <option value="">--Select--</option>
	     	  <option value="1"<?php if(isset($this->category->is_enabled) && $this->category->is_enabled!="" && $this->category->is_enabled=="1") {echo "selected";}else {echo "";}?>>Yes</option>
	    	  <option value="0"<?php if(isset($this->category->is_enabled) && $this->category->is_enabled!="" && $this->category->is_enabled=="0") {echo "selected";}else {echo "";}?> >No</option>
	   		   </select></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Enable_error" name="Enable_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:100px;float:left;">Menu enabled:</div>
		<div style="width:200px;float:left;"><select name="menuable" id="menuable" errortag="Menu enable">
	          <option value="">--Select--</option>
	     	  <option value="1"<?php if(isset($this->category->is_skill) && $this->category->is_skill!="" && $this->category->is_skill=="1") {echo "selected";}else {echo "";}?>>Yes</option>
	    	  <option value="0"<?php if(isset($this->category->is_skill) && $this->category->is_skill!="" && $this->category->is_skill=="0") {echo "selected";}else {echo "";}?> >No</option>
	   		   </select></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="menuable_error" name="menuable_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:100px;float:left;">Order:</div>
		<div style="width:200px;float:left;"><input type="text" name="OrderNumber" id="OrderNumber" errortag="Order eumber" value="<?php if(isset($this->category))echo $this->category->order_id;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="OrderNumber_error" name="OrderNumber_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div style="width:200px; margin-left: 108px;">
		<input type="button" class="stdButton" value="Submit" name="save" id="save"/>
		<input type="hidden" name="hiddenvar" id="hiddenvar" value="<?php echo $id;?>" />
	</div>
</form>
</body>
</html>