<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>

<?php $id=$this->id;?>
<script type='text/javascript'>
var parent_id="";
$(document).ready(function() {
	<?php if(isset($this->category->parent_skill_id) && $this->category->parent_skill_id!=""){?>
	
	<?php if (isset($this->category->parent_skill_id) && $this->category->parent_skill_id!=""){
		
		$tem_id = $this->category->skill_id;
		$skillObj = new Skillzot_Model_DbTable_Skills();
		$skill_data_temp = $skillObj->fetchRow("skill_id = '$tem_id'");
		$main_id_final = $skill_data_temp->parent_skill_id;
		
		
		$skill_data = $skillObj->fetchRow("skill_id = '$main_id_final'");
		$ff_id = $skill_data->parent_skill_id;
		}?>
	main_cat_id1 = "<?php if (isset($ff_id) && $ff_id!=0){ echo $ff_id; } else{echo $main_id_final;}?>";
	parent_id1 = "<?php echo $main_id_final;?>";
	main_cat_id = parseInt(main_cat_id1);
	parent_id = parseInt(parent_id1);
	//alert(parent_id);
	getcategory(main_cat_id);
	<?php }?>
});

window.onload = function(){
	
	document.getElementById("save").onclick = function(){
		<?php if(isset($id)){?>
		saveForm('<?php echo BASEPATH; ?>/admin/addskills/id/<?php echo $id;?>','add_category_form','add_category_form');
		<?php }else{?>
		saveForm('<?php echo BASEPATH; ?>/admin/addskills/','add_category_form','add_category_form');
		<?php }?>
		}
	
	//alert(document.getElementById('Category_name').value);
	if(document.getElementById('Category_name').value != "")
	{
		<?php if (!isset($this->category->parent_skill_id)){ ?>
		getordernumber(document.getElementById('Category_name').value);
		<?php } ?>
	}
	search_sub_cat= "<?php echo $id?>";


	//search_sub_cat= "<?php echo $id?>";
	//alert(search_sub_cat);
	//getordernumber(search_sub_cat);
	//getcategory(search_sub_cat);
};

function getcategory(category_name){
	//document.getElementById('totalamount').disabled = true;
//alert(category_name);
	//if(category_name != "" && category_name != null){
		//document.getElementById('cat_value').value = category_name;
		 //alert(city_name);
		$.ajax({
			url:"<?php echo BASEPATH;?>/admin/addfinalskills",
			type:'post',
			data:'category_id='+category_name,
			async: false,
			success: function(response){
				//alert(response);
                 
				if(response!="" || response!=null){
				    
                    j=1;
					var jsonObject = eval ('('+response+')');
                     
					//alert(jsonObject);
					options_ele = document.getElementById('categories_sub');
					//alert(options_ele);
					for(k=options_ele.length-1;k>0;k--){
						options_ele.remove(k);
					}
					 for(k=0;k<jsonObject.length;k++){
					    	var option_element = new Option(jsonObject[k]['skill_name'],jsonObject[k]['skill_id']);
							document.getElementById('categories_sub').options[j] = option_element;
							j++;
						}

						// comment code if page load than seledted search category
						
						//subfetched = document.getElementById('subhidden');
							 subcategory_var = document.getElementById('categories_sub');
								for ( var i = 0; i < subcategory_var.options.length; i++ ) {
								  if (subcategory_var.options[i].value == parent_id) {
									  subcategory_var.options[i].selected = true;
								  }
								}
					}

		}
		});
	//}
}
var category_id = "";
var subcat_id = "";

function getcat_id(value)
{
	category_id = value;
	getordernumber(category_id);
}
function getsubcat_id(value)
{
	subcat_id = value;
	getordernumber(subcat_id);
}

function getordernumber(value){
	//if(value != "" && value != null){
		$.ajax({
			url:"<?php echo BASEPATH;?>/admin/getordernumber",
			type:'post',
			data:'&subcategory_id='+value+'&category_id='+category_id,
			async: false,
			success: function(response){
				var jsonObject = eval ('('+response+')');
				orderid = jsonObject['orderid'];
                 
				if(response!="" || response!=null){
					document.getElementById('OrderNumber').innerHTML = orderid;
					document.getElementById('OrderNumber').value = orderid;		    
					}
		}
		});
	//}
}
</script>
<style>
body{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:12px;
}
.f1
{
	line-height:25px;
	width:315px;
}
h2
{
text-align:center;
}
</style>
</head>
<body>
<!--<img src="<?php echo BASEPATH;?>/images/black_close.png" onclick="javascript:call_closebox();" style="width:16px;height:16px;float:right;margin-top:10px;margin-left:5px;" />-->
<h2><?php echo $authUserNamespace->admin_page_title;?></h2>
<form method="post" action="" name="add_category_form" id="add_category_form" enctype="multipart/form-data">
	<div class="f1">
	<input type="hidden" value="" id="subhidden" name="subhidden">
		<div style="margin-right:10px;width:100px;float:left;">Category</div>
		<div style="width:200px;float:left;"><select name="Category_name" id="Category_name" errortag="Category" onchange="getcategory(this.value); getcat_id(this.value);">

       		<option value="">Select category</option>
			<?php
			$skillObj = new Skillzot_Model_DbTable_Skills();
			$skill_id = $this->category->skill_id;
			$skill_data = $skillObj->fetchRow("skill_id='$skill_id'");
			$parent_skill_id = $skill_data->parent_skill_id;
			$skill_data1 = $skillObj->fetchRow("skill_id='$parent_skill_id'");
			$final_skill_id1 = $skill_data1->parent_skill_id;
			if($final_skill_id1 =='0')
			{
				$final_skill_id = $skill_data1->skill_id;
			}else{
				$final_skill_id =$final_skill_id1;
			}
			foreach ($this->maincategory as $maincategory){
			?>
        	<option value="<?php echo $maincategory->skill_id;?>" <?php if(isset($final_skill_id) && $final_skill_id!="" && $final_skill_id == $maincategory->skill_id) {echo "selected";}else {echo "";}?>><?php echo $maincategory->skill_name;?></option>
          	<?php }?>
	         
       		</select></div>
       		
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Category_name_error" name="Category_name_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
		<div class="f1">
		<div style="margin-right:10px;width:100px;float:left;">Subcategory</div>
		<div style="width:200px;float:left;"><select name="categories_sub" id="categories_sub"  onchange="getsubcat_id(this.value);" errortag="Subcategory">
			<option value="">--Select--</option>
			</select></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="categories_sub_error" name="categories_sub_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">Skill name:</div>
		<div style="width:200px;float:left;"><input type="text" name="Skill_name" id="Skill_name" errortag="Skill name" value="<?php if(isset($this->category->skill_name) && $this->category->skill_name!="")echo $this->category->skill_name;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Skill_name_error" name="CategoryDescription_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">Skill Description:</div>
		<div style="width:200px;float:left;"><input type="text" name="SkillDescription" id="SkillDescription" errortag="Skill description" value="<?php if(isset($this->category))echo $this->category->skill_description;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="SkillDescription_error" name="SkillDescription_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">Url Name:</div>
		<div style="width:200px;float:left;"><input type="text" name="urlName" id="urlName" errortag="Url name" value="<?php if(isset($this->skill_uniq))echo $this->category->skill_uniq;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="urlName_error" name="urlName_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">Page Title:</div>
		<div style="width:200px;float:left;"><input type="text" name="skillPagetitle" id="skillPagetitle" errortag="Page Title" value="<?php if(isset($this->page_title))echo $this->category->page_title;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="skillPagetitle_error" name="skillPagetitle_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:100px;float:left;">Is enabled:</div>
		<div style="width:200px;float:left;"><select name="Enable" id="Enable" errortag="Is enable">
	          <option value="">--Select--</option>
	     	  <option value="1"<?php if(isset($this->category->is_enabled) && $this->category->is_enabled!="" && $this->category->is_enabled=="1") {echo "selected";}else {echo "";}?>>Yes</option>
	    	  <option value="0"<?php if(isset($this->category->is_enabled) && $this->category->is_enabled!="" && $this->category->is_enabled=="0") {echo "selected";}else {echo "";}?> >No</option>
	   		   </select></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Enable_error" name="Enable_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:100px;float:left;">Menu enabled:</div>
		<div style="width:200px;float:left;"><select name="menuable" id="menuable" errortag="Menu enable">
	          <option value="">--Select--</option>
	     	  <option value="1"<?php if(isset($this->category->is_skill) && $this->category->is_skill!="" && $this->category->is_skill=="1") {echo "selected";}else {echo "";}?>>Yes</option>
	    	  <option value="0"<?php if(isset($this->category->is_skill) && $this->category->is_skill!="" && $this->category->is_skill=="0") {echo "selected";}else {echo "";}?> >No</option>
	   		   </select></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="menuable_error" name="menuable_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:100px;float:left;">Order:</div>
		<div style="width:200px;float:left;"><input type="text" name="OrderNumber" id="OrderNumber" errortag="Order number" value="<?php if(isset($this->category))echo $this->category->order_id;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="OrderNumber_error" name="OrderNumber_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div style="width:200px; margin-left: 108px;">
		<input type="button" class="stdButton" value="Submit" name="save" id="save"/>
		<input type="hidden" name="hiddenvar" id="hiddenvar" value="<?php echo $id;?>" />
	</div>
</form>
</body>
</html>