<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>

	function submitForm(getValue){
		
		var getValue = document.getElementById("shown").value;
		var getText = document.getElementById("searchtext").value;
		window.location="<?php echo BASEPATH; ?>/adminnew/analytics/shown/"+getValue+"/searchtext/"+getText;
	}
	function searchForm(getValue){
		
		var skill = document.getElementById("searchskill").value;
		var name = document.getElementById("searchtext").value;
		var sdate = document.getElementById("sdate").value;
		var edate = document.getElementById("edate").value;
		
		if(skill!="" && sdate=="" && edate=="" && name=="")
		{
			window.location="<?php echo BASEPATH; ?>/adminnew/analytics/getPageValue/<?php echo $this->page ;?>/searchskill/"+skill;
		}
		if(name!="" && sdate=="" && edate=="" && skill=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/analytics/getPageValue/<?php echo $this->page ;?>/searchtext/"+name;
		}
		if(sdate!="" && edate!="" && skill=="" && name=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/analytics/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate;
		}
		if(sdate!="" && edate!="" && skill!="" && name=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/analytics/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchskill/"+skill;
		}
		if(sdate=="" && edate=="" && skill!="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/analytics/getPageValue/<?php echo $this->page ;?>/searchtext/"+name+"/searchskill/"+skill;
		}
		if(sdate!="" && edate!="" && skill=="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/analytics/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name;
		}
		if(sdate!="" && edate!="" && skill!="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/analytics/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name+"/searchskill/"+skill;
		}
	}
</script>
<!--	<div class="pageTopLinkWrapper">-->
<!--		<div class="pageTopLink"><a rel="lightbox[external 330 300]" href="<?php echo BASEPATH; ?>/admin/addcategory">Add Category</a></div>-->
<!--	</div>-->
<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> Tutor Analytics </div>
	<div class="export1">Export report </div>
	<div class="exporticon1"><a href="<?php echo BASEPATH; ?>/adminnew/exportanalytics"><img alt="Export Record" src="/images/excel.png"></a></div>
</div>
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='user-headrow'>
			<div style='float:left'>
				Start Date: <input type="text" class="input" name="sdate" id="sdate" maxlength="10" size="9" readonly="READONLY" value="<?php if(isset($this->search_sdate)) echo $this->search_sdate;?>" /><img src="/images/calendar.gif" align="absmiddle" alt="Calender" onmouseover='fnInitCalendar(this, "sdate", "instance=single,drag=false,close=true")' />&nbsp;
				End Date: <input type="text" class="input" name="edate" id="edate" maxlength="10" size="9" readonly="READONLY" value="<?php if(isset($this->search_edate)) echo $this->search_edate;?>" /><img src="/images/calendar.gif" align="absmiddle" alt="Calender" onmouseover='fnInitCalendar(this, "edate", "instance=single,drag=false,close=true")' />&nbsp;
				Tutor Name: <input type='text' class="input" name='searchtext' value = "<?php if(isset($this->search_val)) echo $this->search_val;?>" id='searchtext'> &nbsp;
				Course Name: <input type='text' class="input" name='searchskill' value = "<?php if(isset($this->search_skill)) echo $this->search_skill;?>" id='searchskill'> &nbsp;
				<input type='button' class="button" onclick="javascript: searchForm();" value="Generate"> &nbsp;
				<input type='button' class="button" onclick = "window.location = '<?php echo BASEPATH; ?>/adminnew/analytics';" value="Reset" name='reset'>
			</div>
			<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div style="border:0px solid #ddd;margin-left:0px;width: 135%;">
		<div class='grid-headrow' style="margin-left:0px;width: 135%;">
			<div class='grid-column2' style="width:3%;padding-left: 7px;text-align: center;">Tutor Id</div>
			<div class='grid-column2' style="width:5%;padding-left: 10px;text-align: center;">Date</div>
			<div class='grid-column2' style="width:6%;padding-left: 3px;text-align: center;">Tutor First Name</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Tutor Last Name</div>	
			<div class='grid-column2' style="width:7%;padding-left: 0px;text-align: center;">Company name</div>
			<div class='grid-column2' style="width:6%;padding-left: 17px;text-align: center;">Course name</div>
			<div class='grid-column2' style="width:8%;padding-left: 0px;text-align: center;">Profile View Count</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Message Click Count</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Phone Click Count</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Enroll Count</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">FB Click Count</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Twitter Click Count</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Course Click Count</div>
			<div class='grid-column2' style="width:7%;padding-left: 0px;text-align: center;">PaymentStep2 Count</div>
			<div class='grid-column2' style="width:7%;padding-left: 0px;text-align: center;">PaymentStep3 Count</div>
			<div class='grid-column2' style="width:7%;padding-left: 0px;text-align: center;">Video Click Count</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		
		<?php
			$i=0;
			if(isset($this->tutorsignupResult) && sizeof($this->tutorsignupResult)>0){
			foreach($this->tutorsignupResult as $tutor){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 135%;">
			<div class='grid-column1' style="width:4%;padding-left: 5px;text-align: center;"><?php if(isset($tutor->tutor_id) && $tutor->tutor_id !="")echo $tutor->tutor_id;else echo "-"; ?></div>
			<div class='grid-column1' style="width:5%;padding-left: 2px;text-align: center;"><?php if (isset($tutor->date) && $tutor->date!="" && $tutor->date!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($tutor->date));}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->tutor_first_name) && $tutor->tutor_first_name != "")echo $tutor->tutor_first_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:5%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->tutor_last_name)  && $tutor->tutor_last_name != "")echo $tutor->tutor_last_name;else echo "-"; ?></div>	
			<div class='grid-column1' style="width:6%;padding-left: 14px;text-align: center;"><?php if(isset($tutor->company_name) && $tutor->company_name != "")echo $tutor->company_name;else echo"-"; ?></div>
			<div class='grid-column1' style="width:7%;padding-left: 20px;text-align: center;"><?php if(isset($tutor->tutor_course_name) && $tutor->tutor_course_name != "")echo $tutor->tutor_course_name;else echo"-"; ?></div>
			<div class='grid-column1' style="width:7%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->profile_view_count) && $tutor->profile_view_count != "")echo $tutor->profile_view_count;else echo "-"; ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->message_click_count) && $tutor->message_click_count != "")echo $tutor->message_click_count;else echo "-"; ?></div>
			<div class='grid-column1' style="width:7%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->phone_click_count) && $tutor->phone_click_count != "")echo $tutor->phone_click_count;else echo "-"; ?></div>
			<div class='grid-column1' style="width:5%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->enroll_count) && $tutor->enroll_count != "")echo $tutor->enroll_count;else echo "-"; ?></div>
			<div class='grid-column1' style="width:7%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->fb_click_count) && $tutor->fb_click_count != "")echo $tutor->fb_click_count;else echo "-"; ?></div>
			<div class='grid-column1' style="width:5%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->twitter_click_count) && $tutor->twitter_click_count != "")echo $tutor->twitter_click_count;else echo "-"; ?></div>
			<div class='grid-column1' style="width:7%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->course_count) && $tutor->course_count != "")echo $tutor->course_count;else echo "-"; ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->paymentstep2_count) && $tutor->paymentstep2_count != "")echo $tutor->paymentstep2_count;else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->paymentstep3_count) && $tutor->paymentstep3_count != "")echo $tutor->paymentstep3_count;else echo "-"; ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->videos_click_count) && $tutor->videos_click_count != "")echo $tutor->videos_click_count;else echo "-"; ?></div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
					$i+=1;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
		</div>
	</form>
<br/>
