<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>

	function submitForm(getValue){
		
		var getValue = document.getElementById("shown").value;
		var getText = document.getElementById("searchtext").value;
		window.location="<?php echo BASEPATH; ?>/adminnew/category/shown/"+getValue+"/searchtext/"+getText;
	}

	function call_delete(id){

		jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
			if(r == true) window.location.href= '<?php echo BASEPATH; ?>/adminnew/deletedata/category_id/'+id;
			else return false;
		});
	}
</script>
<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> Manage UI Category</div>
	<div class="export1">Add New</div>
	<div class="exporticon2"><a rel="lightbox[external 330 300]" href="<?php echo BASEPATH; ?>/adminnew/addcategory"><img alt="Add New" src="/images/addnew.png"></a></div>
</div>
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='user-headrow'>
			<div style='float:left'>
				Category Name : <input type='text' class="input" name='searchtext' value = "<?php if(isset($this->search_val)) echo $this->search_val;?>" id='searchtext'> &nbsp;
				<input type='button' class="button" onclick="window.location = '<?php echo BASEPATH; ?>/adminnew/category/getPageValue/<?php if(isset($this->page)) echo $this->page ;?>/searchtext/'+document.getElementById('searchtext').value" value="Search"> &nbsp;
				<input type='button' class="button" onclick = "window.location = '<?php echo BASEPATH; ?>/adminnew/category';" value="Reset" name='reset'>
			</div>
			<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div style="border:1px solid #ddd;margin-left:0px;width: 100%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:15%;padding-left: 18px;text-align: left;">Category Id</div>
			<div class='grid-column2' style="width:24%;padding-left: 5px;text-align: center;">Category Name</div>
			<div class='grid-column2' style="width:12%;padding-left: 10px;text-align: center;">Skill Enable</div>
			<div class='grid-column2' style="width:12%;padding-left: 10px;text-align: center;">Menu Enable</div>
			<div class='grid-column2' style="width:12%;padding-left: 10px;text-align: center;">Order</div>
<!--			<div class='grid-column2' style="width:90%;cursor: pointer;padding-left: 10px;text-align: left;" onclick="window.location = '<?php echo BASEPATH; ?>/category/index/sortby/category_name/ord/<?php if ($this->sortBy == "category_name") echo $this->ordVal; else echo "desc"; ?>/pageValue/'+document.getElementById('shown').value;">Category Name<span class="sort<?php if($this->sortBy!="" && $this->sortBy=="category_name"){if($this->ordVal!="" && $this->ordVal=="asc") echo "Up"; elseif($this->ordVal=="desc") echo "Down";} else echo "Null";?>">&nbsp;&nbsp;&nbsp;&nbsp;</span></div>-->
			<div class='grid-column2' style="width:13%;">Action</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		
		<?php
			$i=0;
			if(isset($this->skillrowResult) && sizeof($this->skillrowResult)>0){
			foreach($this->skillrowResult as $categories){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;">
	
			<div class='grid-column1' style="width:12%;padding-left: 48px;text-align: left;"><?php if(isset($categories->skill_id) && $categories->skill_id !== "")echo $categories->skill_id;else echo "-"; ?></div>
			<div class='grid-column1' style="width:25%;padding-left: 10px;text-align: center;"><?php if(isset($categories->skill_name) && $categories->skill_name !== "")echo $categories->skill_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:12%;padding-left: 10px;text-align: center;"><?php if($categories->is_enabled == '1'){echo "Yes";}else{echo "No";} ?></div>
			<div class='grid-column1' style="width:12%;padding-left: 10px;text-align: center;"><?php if($categories->is_skill == '1'){echo "Yes";}else{echo "No";} ?></div>
			<div class='grid-column1' style="width:12%;padding-left: 10px;text-align: center;"><?php if(isset($categories->order_id) && $categories->order_id != "")echo $categories->order_id;else echo "-"; ?></div>
			<div class='grid-column1' style="width:13%;">
				<a rel="lightbox[external 400 300]" href="<?php echo BASEPATH; ?>/adminnew/addcategory/id/<?php echo $categories->skill_id;?>"><img src="<?php echo BASEPATH;?>/images/pencil_delete.png" style="height: 13px;width:13px;border: none;" title="Update Category" alt="Update"/></a><span>&nbsp;</span>
				<a href="#" onclick="call_delete('<?php echo $categories->skill_id;?>');">
					<img src="<?php echo BASEPATH;?>/images/cross.png" style="height: 13px;width:13px;border: none;" title="Delete Category" alt="Delete"/>
				</a>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
					$i+=1;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
		</div>
	</form>
<br/>
