<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>

<?php $id=$this->id;?>
<script type='text/javascript'>
var parent_id="";
$(document).ready(function() {

});

window.onload = function(){
	
	document.getElementById("save").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/admin/editfridlyskill/id/<?php echo $id;?>','add_category_form','add_category_form');
}
};
</script>
<style>
body{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:12px;
}
.f1
{
	line-height:25px;
	width:315px;
}
h2
{
text-align:center;
}
</style>
</head>
<body>
<?php //print_r($this->category);exit;?>
<!--<img src="<?php echo BASEPATH;?>/images/black_close.png" onclick="javascript:call_closebox();" style="width:16px;height:16px;float:right;margin-top:10px;margin-left:5px;" />-->
<h2><?php echo $authUserNamespace->admin_page_title;?></h2>
<form method="post" action="" name="add_category_form" id="add_category_form" enctype="multipart/form-data">
	<div class="f1">
	<input type="hidden" value="" id="subhidden" name="subhidden">
	<div>
		<div style="margin-right:10px;width:100px;float:left;">Url Name:</div>
		<div style="width:200px;float:left;"><input type="text" name="urlName" id="urlName" errortag="Url name" value="<?php if(isset($this->category))echo $this->category->skill_uniq;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="urlName_error" name="urlName_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">Page Title:</div>
		<div style="width:200px;float:left;"><input type="text" name="skillPagetitle" id="skillPagetitle" errortag="Page Title" value="<?php if(isset($this->category->page_title))echo $this->category->page_title;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="skillPagetitle_error" name="skillPagetitle_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">Meta Description:</div>
		<div style="width:200px;float:left;"><textarea type="text" name="SkillDescription" id="SkillDescription" errortag="Meta description" ><?php if(isset($this->category))echo $this->category->skill_description;?></textarea></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="SkillDescription_error" name="SkillDescription_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div style="width:200px; margin-left: 108px;">
		<input type="button" class="stdButton" value="Submit" name="save" id="save"/>
		<input type="hidden" name="hiddenvar" id="hiddenvar" value="<?php echo $id;?>" />
	</div>
</form>
</body>
</html>