<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>

</script>
<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> Reports </div>
	</div>
	<form method="post" id="interviewForm" name="interviewForm">

		<div class='grid-row2' style='margin-top:18px;margin-left:10px;'>
			<a href="<?php echo BASEPATH; ?>/adminnew/exportexitsurvey">
				<div align='left' style="width:16%;font-weight:bold;padding-top:5px;padding-left:10px;">Export Exit Survey Report</div>
			</a>
		</div>
		
	<div style="border:1px solid #ddd;margin-left:0px;width: 100%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:10%;padding-left: 2px;text-align: center;">Tutor Count</div>
			<div class='grid-column2' style="width:10%;padding-left: 5px;text-align: center;">Course Count</div>
			<div class='grid-column2' style="width:10%;padding-left: 10px;text-align: center;">Tutor Live Count</div>
			<div class='grid-column2' style="width:10%;padding-left: 13px;text-align: center;">Tutor Not Live Count</div>
			<div class='grid-column2' style="width:10%;padding-left: 2px;text-align: center;">Course Live Count</div>
			<div class='grid-column2' style="width:10%;padding-left: 8px;text-align: center;">Course Not Live Count</div>
			<div class="clearfix">&nbsp;</div>
		</div>
	</div>
		<div class='grid-column1' style="width:10%;padding-left: 0px;text-align: center;">
		<?php	$tutortableObj = new Skillzot_Model_DbTable_Tutorprofile();
				$tutor_data = $tutortableObj->fetchAll($tutortableObj->select()
								->setIntegrityCheck(false)
								->from(array('c'=>DATABASE_PREFIX."tx_tutor_profile")));
				echo sizeof($tutor_data); 
		?>
		</div>	
			<div class='grid-column1' style="width:10%;padding-left: 9px;text-align: center;"><?php 
				$tutorCourseobj = new Skillzot_Model_DbTable_Tutorskillcourse();
				$course_data = $tutorCourseobj->fetchAll($tutorCourseobj->select()
								->setIntegrityCheck(false)
								->from(array('c'=>DATABASE_PREFIX."tx_tutor_skill_course")));
				echo sizeof($course_data); 		
			 ?></div>	
			<div class='grid-column1' style="width:11%;padding-left: 0px;text-align: center;"><?php 
				$tutortableObj = new Skillzot_Model_DbTable_Tutorprofile();
				$tutor_live_data = $tutortableObj->fetchAll($tutortableObj->select()
								->setIntegrityCheck(false)
								->from(array('c'=>DATABASE_PREFIX."tx_tutor_profile"))
								->where("c.is_active='1'"));
				echo sizeof($tutor_live_data); 		
			 ?></div>
			<div class='grid-column1' style="width:11%;padding-left: 5px;text-align: center;"><?php 
				$tutortableObj = new Skillzot_Model_DbTable_Tutorprofile();
				$tutor_notlive_data = $tutortableObj->fetchAll($tutortableObj->select()
								->setIntegrityCheck(false)
								->from(array('c'=>DATABASE_PREFIX."tx_tutor_profile"))
								->where("c.is_active='0'"));
				echo sizeof($tutor_notlive_data); 				
			 ?></div>
			<div class='grid-column1' style="width:10%;padding-left: 0px;text-align: center;"><?php 
				$tutorCourseobj = new Skillzot_Model_DbTable_Tutorskillcourse();							
				$course_live_Data = $tutorCourseobj->fetchAll($tutorCourseobj->select()
                                        ->setIntegrityCheck(false)
                                        ->from(array('c'=>DATABASE_PREFIX."tx_tutor_course_batch"),array('*'))
                                        ->joinLeft(array('m'=>DATABASE_PREFIX."tx_tutor_skill_course"),'m.id=c.course_id',array(''))
                                        ->where("c.id != ''")		
                                        ->group(array("c.course_id")));                         
				echo sizeof($course_live_Data); 						
			 ?></div>
			<div class='grid-column1' style="width:11%;padding-left: 0px;text-align: center;"><?php 
				$tutorCourseobj = new Skillzot_Model_DbTable_Tutorskillcourse();							
				$total_course_Data = $tutorCourseobj->fetchAll($tutorCourseobj->select()
                                        ->setIntegrityCheck(false)
                                        ->from(array('c'=>DATABASE_PREFIX."tx_tutor_skill_course")));	
                $course_notlive_data=sizeof($total_course_Data)-sizeof($course_live_Data); 	
				echo $course_notlive_data;
			 ?></div>
	
			<div class="clearfix">&nbsp;</div>
	
	</form>
<br/>
