<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>

	function submitForm(getValue){
		
		var getValue = document.getElementById("shown").value;
		var getText = document.getElementById("searchtext").value;
		window.location="<?php echo BASEPATH; ?>/admin/travelradious/shown/"+getValue+"/searchtext/"+getText;
	}

	function call_delete(id){

		jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
			if(r == true) window.location.href= '<?php echo BASEPATH; ?>/admin/tutordelete/newid/'+id;
			else return false;
		});
	}
</script>
<!--	<div class="pageTopLinkWrapper">-->
<!--		<div class="pageTopLink"><a rel="lightbox[external 330 300]" href="<?php echo BASEPATH; ?>/admin/addcategory">Add Category</a></div>-->
<!--	</div>-->
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='user-headrow'>
			<div style='float:left'>
				<input type='text' class="input" name='searchtext' value = "<?php if(isset($this->search_val)) echo $this->search_val;?>" id='searchtext'> &nbsp;
				<input type='button' class="button" onclick="window.location = '<?php echo BASEPATH; ?>/admin/travelradious/getPageValue/<?php if(isset($this->page)) echo $this->page ;?>/searchtext/'+document.getElementById('searchtext').value" value="Search"> &nbsp;
				<input type='button' class="button" onclick = "window.location = '<?php echo BASEPATH; ?>/admin/travelradious';" value="Reset" name='reset'>
<!--				<a href="<?php echo BASEPATH; ?>/admin/exportcommingsoon">Export As Excel</a>-->
			</div>
			<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div style="border:1px solid #ddd;margin-left:10px;width: 97%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:10%;padding-left: 10px;text-align: center;">Tutor ID </div>
			<div class='grid-column2' style="width:20%;padding-left: 10px;text-align: center;">Tutor Name </div>
			<div class='grid-column2' style="width:35%;padding-left: 10px;text-align: center;">Suburbs Name </div>
			<div class='grid-column2' style="width:10%;">Action</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		
		<?php
			$i=0;
			//print_r($this->tutorsignupResult);exit;
			$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
			$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
			
			if(isset($this->tutorsignupResult) && sizeof($this->tutorsignupResult)>0){
			foreach($this->tutorsignupResult as $tutor){
			
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;">
			<div class='grid-column1' style="width:10%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->tutor_id) && $tutor->tutor_id !="")echo $tutor->tutor_id;else echo "-";  ?></div>
			
			<?php 
			//echo $tutor->tutor_id;exit;
			if(isset($tutor->tutor_id) && $tutor->tutor_id !="")
			{
					
				$tid = $tutor->tutor_id;	
				$profile_rows1 = $tutorProfile->fetchRow($tutorProfile->select()
											->setIntegrityCheck(false)
											->from(array('s'=>DATABASE_PREFIX."tx_tutor_profile"),array('s.tutor_first_name','s.tutor_last_name'))
											->where("s.id='$tid'"));
											
				//print_r($profile_rows1);
				if($profile_rows1->tutor_first_name!="" && $profile_rows1->tutor_last_name!="")
				{
					$tutorFirstname = $profile_rows1->tutor_first_name;
					$tutorLastname = $profile_rows1->tutor_last_name;
					$fullname = ucfirst($tutorFirstname)." ".ucfirst($tutorLastname);
				
				}else{
					$fullname = "-";
				}
				
							
				
			}
			
			?>
			
			<div class='grid-column1' style="width:20%;padding-left: 10px;text-align: center;"><?php if(isset($fullname) && $fullname != "-"){echo $fullname;}else{ echo "-"; }?></div>
			
			<?php if(isset($tutor->suburbs_id) && $tutor->suburbs_id !='0')
			{
				$localitysuburbsObj = new Skillzot_Model_DbTable_Localitysuburbs();
				$suburbsId = $tutor->suburbs_id;
				$explodedCategory = explode(",",$suburbsId);
				
				if(isset($explodedCategory) && sizeof($explodedCategory)>0){
										for($g=0;$g<sizeof($explodedCategory);$g++){
											if($g==0)
											{
												$suburbs_data = $localitysuburbsObj->fetchRow("id ='$explodedCategory[$g]'");
												$final_suburbname = $suburbs_data->suburbs_name;
												$tempname = $final_suburbname;
											}else{
												$suburbs_data = $localitysuburbsObj->fetchRow("id ='$explodedCategory[$g]'");
												$suburbsName = $suburbs_data->suburbs_name;
												if($suburbsName != "South Mumbai" && $suburbsName != "Navi Mumbai")
												{
												$final_suburbname = $final_suburbname.", ".$suburbsName;
												}
											}
											
										}
									}
			}else{
				$final_suburbname="";
				
			} ?>
			<div class='grid-column1' style="width:35%;padding-left: 10px;text-align: center;"><?php if(isset($final_suburbname) && $final_suburbname != "")echo $final_suburbname;else echo "-"; ?></div>
			
			
			<div class='grid-column1' style="width:10%;">
			
			<a rel="lightbox[external 420 250]" href="<?php echo BASEPATH; ?>/admin/edittravelradious/id/<?php if (isset($tutor->id) && $tutor->id!=""){echo $tutor->id;}?>"><img src="<?php echo BASEPATH;?>/images/pencil_delete.png" style="height: 13px;width:13px;border: none;" title="Edit status" alt="Update"/></a><span>&nbsp;</span>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
					$i+=1;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
		</div>
	</form>
<br/>