<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>

	function submitForm(getValue){
		
		var getValue = document.getElementById("shown").value;
		var getText = document.getElementById("searchtext").value;
		window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/shown/"+getValue+"/searchtext/"+getText;
	}

	function call_delete(id){

		jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
			if(r == true) window.location.href= '<?php echo BASEPATH; ?>/adminnew/tutordelete/id/'+id;
			else return false;
		});
	}
	function searchForm(getValue){
		
		var skill = document.getElementById("searchskill").value;
		var name = document.getElementById("searchtext").value;
		var sdate = document.getElementById("sdate").value;
		var edate = document.getElementById("edate").value;
		var searchlocality = document.getElementById("searchlocality").value;
		var searchstatus = document.getElementById("searchstatus").value;
		if(skill!="" && sdate=="" && edate=="" && name=="" && searchlocality=="" && searchstatus=="")
		{
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchskill/"+skill;
		}
		if(name!="" && sdate=="" && edate=="" && skill=="" && searchlocality==""  && searchstatus=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchtext/"+name;
		}
		if(name=="" && sdate=="" && edate=="" && skill=="" && searchlocality!=""  && searchstatus=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchlocality/"+searchlocality;
		}
		if(sdate!="" && edate!="" && skill=="" && name=="" && searchlocality==""  && searchstatus=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate;
		}
		if(name=="" && sdate=="" && edate=="" && skill=="" && searchlocality==""  && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchstatus/"+searchstatus;
		}
		if(sdate!="" && edate!="" && skill!="" && name=="" && searchlocality=="" && searchstatus=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchskill/"+skill;
		}
		if(sdate=="" && edate=="" && skill!="" && name!="" && searchlocality=="" && searchstatus=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchtext/"+name+"/searchskill/"+skill;
		}
		if(sdate!="" && edate!="" && skill=="" && name!="" && searchlocality=="" && searchstatus=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name;
		}
		if(sdate!="" && edate!="" && skill!="" && name!="" && searchlocality=="" && searchstatus=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name+"/searchskill/"+skill;
		}
		if(sdate!="" && edate!="" && skill!="" && name!="" && searchlocality!="" && searchstatus=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name+"/searchskill/"+skill+"/searchlocality/"+searchlocality;
		}
		if(sdate=="" && edate=="" && skill!="" && name!="" && searchlocality!="" && searchstatus=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchtext/"+name+"/searchskill/"+skill+"/searchlocality/"+searchlocality;
		}
		if(sdate!="" && edate!="" && skill!="" && name=="" && searchlocality!="" && searchstatus=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchskill/"+skill+"/searchlocality/"+searchlocality;
		}
		if(sdate!="" && edate!="" && skill=="" && name!="" && searchlocality!="" && searchstatus=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name+"/searchlocality/"+searchlocality;
		}
		if(skill!="" && sdate=="" && edate=="" && name=="" && searchlocality!="" && searchstatus=="")
		{
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchskill/"+skill+"/searchlocality/"+searchlocality;
		}
		if(sdate!="" && edate!="" && skill=="" && name=="" && searchlocality!="" && searchstatus=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchlocality/"+searchlocality;
		}
		if(name!="" && sdate=="" && edate=="" && skill=="" && searchlocality!="" && searchstatus=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchtext/"+name+"/searchlocality/"+searchlocality;
		}
		if(sdate!="" && edate!="" && skill!="" && name!="" && searchlocality!="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name+"/searchskill/"+skill+"/searchlocality/"+searchlocality+"/searchstatus/"+searchstatus;
		}
		if(sdate=="" && edate=="" && skill!="" && name!="" && searchlocality!="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchtext/"+name+"/searchskill/"+skill+"/searchlocality/"+searchlocality+"/searchstatus/"+searchstatus;
		}
		if(sdate=="" && edate=="" && skill!="" && name=="" && searchlocality!="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchskill/"+skill+"/searchlocality/"+searchlocality+"/searchstatus/"+searchstatus;
		}
		if(sdate=="" && edate=="" && skill=="" && name=="" && searchlocality!="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchlocality/"+searchlocality+"/searchstatus/"+searchstatus;
		}
		if(sdate!="" && edate!="" && skill!="" && name!="" && searchlocality=="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name+"/searchskill/"+skill+"/searchstatus/"+searchstatus;
		}
		if(sdate!="" && edate!="" && skill=="" && name!="" && searchlocality!="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name+"/searchlocality/"+searchlocality+"/searchstatus/"+searchstatus;
		}
		if(sdate!="" && edate!="" && skill!="" && name=="" && searchlocality!="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchskill/"+skill+"/searchlocality/"+searchlocality+"/searchstatus/"+searchstatus;
		}
		if(sdate=="" && edate=="" && skill!="" && name!="" && searchlocality=="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchtext/"+name+"/searchskill/"+skill+"/searchstatus/"+searchstatus;
		}
		if(sdate=="" && edate=="" && skill=="" && name!="" && searchlocality!="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchtext/"+name+"/searchlocality/"+searchlocality+"/searchstatus/"+searchstatus;
		}
		if(sdate=="" && edate=="" && skill!="" && name=="" && searchlocality=="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchskill/"+skill+"/searchstatus/"+searchstatus;
		}
		if(sdate!="" && edate!="" && skill!="" && name=="" && searchlocality=="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchskill/"+skill+"/searchstatus/"+searchstatus;
		}
		if(sdate!="" && edate!="" && skill=="" && name!="" && searchlocality=="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name+"/searchstatus/"+searchstatus;
		}
		if(sdate!="" && edate!="" && skill=="" && name=="" && searchlocality!="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchlocality/"+searchlocality+"/searchstatus/"+searchstatus;
		}
		if(sdate!="" && edate!="" && skill=="" && name=="" && searchlocality=="" && searchstatus!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/tutorsignup/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchstatus/"+searchstatus;
		}

	}
	function exportForm(getValue){
		
		var sdate = document.getElementById("sdate").value;
		var edate = document.getElementById("edate").value;
		if(sdate!="" && edate!="")
		{
			window.location="<?php echo BASEPATH; ?>/adminnew/exporttutor/searchSdate/"+sdate+"/searchEdate/"+edate;
		}
		else
		{
			window.location="<?php echo BASEPATH; ?>/adminnew/exporttutor";
		}
	}
</script>
<!--	<div class="pageTopLinkWrapper">-->
<!--		<div class="pageTopLink"><a rel="lightbox[external 330 300]" href="<?php echo BASEPATH; ?>/admin/addcategory">Add Category</a></div>-->
<!--	</div>-->
<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> Tutor manager </div>
	<!-- <div class="add" style="display: block;">Add New</div>
	<div class="addicon"><a rel="lightbox[external 420 520]" href="<?php echo BASEPATH; ?>/adminnew/addtutor"><img alt="Add New" src="/images/addnew.png"></a></div> -->
	<div class="export1">Export report </div>
	<div class="exporticon1"><a href="javascript: exportForm();"><img alt="Export Record" src="/images/excel.png"></a></div>
</div>
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='user-headrow'>
			<div style='float:left'>
				Start Date: <input type="text" class="input" name="sdate" id="sdate" maxlength="10" size="9" readonly="READONLY" value="<?php if(isset($this->search_sdate)) echo $this->search_sdate;?>" /><img src="/images/calendar.gif" align="absmiddle" alt="Calender" onmouseover='fnInitCalendar(this, "sdate", "instance=single,drag=false,close=true")' />&nbsp;
				End Date: <input type="text" class="input" name="edate" id="edate" maxlength="10" size="9" readonly="READONLY" value="<?php if(isset($this->search_edate)) echo $this->search_edate;?>" /><img src="/images/calendar.gif" align="absmiddle" alt="Calender" onmouseover='fnInitCalendar(this, "edate", "instance=single,drag=false,close=true")' />&nbsp;
				Name: <input type='text' class="input" name='searchtext' value = "<?php if(isset($this->search_val)) echo $this->search_val;?>" id='searchtext'> &nbsp;
				Skill: <input type='text' class="input" name='searchskill' value = "<?php if(isset($this->search_skill)) echo $this->search_skill;?>" id='searchskill'> &nbsp;
				Locality: <input type='text' class="input" name='searchlocality' value = "<?php if(isset($this->search_locality)) echo $this->search_locality;?>" id='searchlocality'> &nbsp;
				Status: <select name="searchstatus" id="searchstatus" >
							<option value="">--Select status--</option>
							<option value = "0"<?php if($this->search_status=='0') echo "selected";?>>Yes</option>
							<option value = "1"<?php if($this->search_status=='1') echo "selected";?>>No</option>
						</select>
				<input type='button' class="button" onclick="javascript: searchForm();" value="Generate"> &nbsp;
				<input type='button' class="button" onclick = "window.location = '<?php echo BASEPATH; ?>/adminnew/tutorsignup';" value="Reset" name='reset'>
<!--				<a href="<?php echo BASEPATH; ?>/admin/exportcommingsoon">Export As Excel</a>-->
			</div>
			<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div style="border:1px solid #ddd;margin-left:0px;width: 120%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:4%;padding-left: 0px;text-align: center;">Tutor Id</div>
			<div class='grid-column2' style="width:4%;padding-left: 0px;text-align: center;">Course Id</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">SignUp Date</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">First Name</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Last Name</div>
			<div class='grid-column2' style="width:8%;padding-left: 0px;text-align: center;">Email</div>
			<div class='grid-column2' style="width:4%;padding-left: 0px;text-align: center;">Mobile</div>
			<div class='grid-column2' style="width:6%;padding-left: 27px;text-align: center;">Course name</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Fees</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Classes</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Locality</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Skills Taught</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Live Date</div>
			<div class='grid-column2' style="width:5%;padding-left: 0px;text-align: center;">Live Status</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Company Name</div>
			<div class='grid-column2' style="width:9%;padding-left: 0px;text-align: center;">FollowUp Comment</div>
			<div class='grid-column2' style="width:4%;text-align: right;">Action</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		
		<?php
			$i=0;
			if(isset($this->tutorsignupResult) && sizeof($this->tutorsignupResult)>0){
			foreach($this->tutorsignupResult as $tutor){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;">
			<div class='grid-column1' style="width:4%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->id) && $tutor->id !="")echo $tutor->id;else echo "-"; ?></div>
			<div class='grid-column1' style="width:4%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->courseid) && $tutor->courseid !="")echo $tutor->courseid;else echo "-"; ?></div>
			<div class='grid-column1' style="width:5%;padding-left: 0px;text-align: center;"><?php if (isset($tutor->lastupdatedate) && $tutor->lastupdatedate!="" && $tutor->lastupdatedate!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($tutor->lastupdatedate));}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->tutor_first_name) && $tutor->tutor_first_name != "")echo $tutor->tutor_first_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:5%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->tutor_last_name)  && $tutor->tutor_last_name != "")echo $tutor->tutor_last_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->tutor_email) && $tutor->tutor_email != "")echo $tutor->tutor_email;else echo "-"; ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if (isset($tutor->tutor_mobile) && $tutor->tutor_mobile!="" && $tutor->tutor_mobile!=NULL){echo $tutor->tutor_mobile; }elseif(isset($tutor->tutor_landline) && $tutor->tutor_landline!="" && $tutor->tutor_landline!=NULL){echo $tutor->tutor_landline;}else{echo "-";}?></div>
			<div class='grid-column1' style="width:7%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->tutor_course_name) && $tutor->tutor_course_name != "")echo $tutor->tutor_course_name;else echo"-"; ?></div>
			<div class='grid-column1' style="width:5%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->tutor_rate) && $tutor->tutor_rate != "")echo $tutor->tutor_rate;else echo "-"; ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->class_type_name) && $tutor->class_type_name != "")echo $tutor->class_type_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:6%;padding-left: 4px;text-align: center;"><?php if(isset($tutor->city) && $tutor->city != "")echo $tutor->city;else echo "-"; ?></div>
			<?php
			$skillcourse= new Skillzot_Model_DbTable_Skills();
			$skillObj = new Skillzot_Model_DbTable_Tutorskillcourse();
			$skillObj_row = $skillObj->fetchRow($skillObj->select()
											 	 	 	  ->where("tutor_id='$tutor->id'")); 
			$skillcourseObj=$skillObj_row->tutor_skill_id;
			$skillcourseObj=explode(",",$skillcourseObj);
			
			$skillcourseObj_row1='';
					//$skillcourseObj_row1=implode(",", $skillcourseObj_row);						 	 	 	  ?>
			<?php if(count($skillcourseObj))
			{
				for ($start=0; $start < count($skillcourseObj); $start++) {
				$skillcourseObj_row=$skillcourse->fetchRow($skillcourse->select()
														  ->from(array('c'=>DATABASE_PREFIX."master_skills"),array('skill_name'))
											 	 	 	  ->where("skill_id='$skillcourseObj[$start]'"));
				
				 $skillcourseObj_row1.=$skillcourseObj_row->skill_name.',';
				
			}
			}
			$skill_list=rtrim($skillcourseObj_row1,',');
			?>
			<div class='grid-column1' style="width:6%;padding-left: 0px;text-align: center;"><?php if(isset($skill_list) && ($skill_list!="")) echo $skill_list;	else echo "-";	?></div>
			<div class='grid-column1' style="width:5%;padding-left: 0px;text-align: center;"><?php if (isset($tutor->editdate) && $tutor->editdate!="" && $tutor->editdate!="0000-00-00 00:00:00") { echo date('Y-m-d', strtotime($tutor->editdate));}else{echo "-";} ?></div>
			<div class='grid-column1' style="width:3%;padding-left: 18px;text-align: center;"><?php if (isset($tutor->active) && $tutor->active!="")echo $tutor->active; else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->company_name) && $tutor->company_name != "")echo $tutor->company_name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:9%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->followup_comment) && $tutor->followup_comment != "")echo $tutor->followup_comment;else echo "-"; ?></div>
			<div class='grid-column1' style="width:3%;padding-left: 11px;text-align: center;">
			<a rel="lightbox[external 845 520]" href="<?php echo BASEPATH; ?>/editprofilenew/profilepic/id/<?php if (isset($tutor->id) && $tutor->id!=""){echo $tutor->id;}?>"><img src="<?php echo BASEPATH;?>/images/pencil_delete.png" style="height: 13px;width:13px;border: none;" title="Edit status" alt="Update"/></a><span>&nbsp;</span>
				<a href="#" onclick="call_delete('<?php if (isset($tutor->id) && $tutor->id!="") { echo $tutor->id; } ?>');">
					<img src="<?php echo BASEPATH;?>/images/cross.png" style="height: 13px;width:13px;border: none;" title="Delete" alt="Delete"/>
				</a>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
					$i+=1;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
		</div>
	</form>
<br/>
