<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style>
body{
	margin:0px;
	padding:5px 20px 0px 20px;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
}
.contentbox
{
	padding: 10px 20px;
	float:left;
	margin:150px 144px;
	width:450px;
}
#fileloader
{
float:left;
display:none;
margin: 8px 0 0 5px;
}
</style>
<!--[if IE]>
<style>
.contentbox
{
	width:500px;
	margin:150px 118px;
}
.stepcolsmall1
{
	width:40%;
}
</style>
<![endif]-->
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud-albumphoto.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
		
		window.onload = function(){
			document.getElementById("save").onclick = function(){
				document.getElementById("fileloader").style.display="block"; 
				saveForm('<?php echo BASEPATH; ?>/photoalbums/addalbumphotos','uploadfileform','uploadfileform');
			
			};
		};
				
		</script>
</head>
<body>
<div class="contentbox">
	<div class="infolinerow" style="margin-bottom:10px;padding:0px;">
			<!--<span class="nameoftutor" style="color:#1CA3E7;" >Class Pictures</span>-->
	</div>
	<div class="maincontent">
	<form action="" name="uploadfileform[]" id="uploadfileform" method="post" enctype="multipart/form-data">
		<div class="steprow1">
			<div class="stepcolsmall1" style="">Upload image :</div>
			<div class="stepcolsmall2">
				<input type="file" id="filetoupload0" name="filetoupload0[]" class="input-big" multiple errortag="Image"/><img id="fileloader"  src="<?php echo BASEPATH;?>/loaderimg/ajax-loader3.gif">
			<!--<input type="file" Name="uploadfromcourse" id="uploadfromcourse" multiple="multiple" errortag="Image" />-->
				<div id="filetoupload0_error" class="errorclasssmall"><?php if (isset($authUserNamespace->photossizeerror) && $authUserNamespace->photossizeerror!=""){echo $authUserNamespace->photossizeerror; unset($authUserNamespace->photossizeerror);}?></div>
			</div>
		</div>
		<div class="steprow1">
			<i class="registerhint"></i>
		</div>
		<div class="steprow1">
			<div class=stepcolsmall1 style="width:100%;text-align:center;"><img style="cursor:pointer;" id="save" name="save" src="<?php echo BASEPATH;?>/images/submit.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/submit.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/submit_hover.png';"></div>
		</div>
	</form>
	</div>
</div>
</body>
</html>