<html>
<head>
<link rel="stylesheet" type="text/css" href="http://skillzot.com/css/skillzotpronto.css"/>
<script>
/*$(document).ready(function() {
	$('a').each(function(index) {
		$(this).attr('rel', $(this).attr('href')).addClass('openskillbox2');
	});
});*/
</script>
<style>
body{
	margin:0px;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
	width:441px;
	padding:5px 0 5px 5px;
	background-color:#fff;
}
.contentbox p
{
 	font-size:17px;
 	font-weight:normal;
}
h1
{
	margin:0px;
}

.contentbox
{
	padding: 0px;
	float:left;
	width:410px;
	
}
.contentarea1 h1, .contentarea h1
{
	margin:0px;
}
.errorclasssmall
{
	width: 300px;
}
</style>
<!--[if IE]>
<style>
.contentbox
{
	width:410px;
}
body{
	margin:0px;
	padding:0 20px 0 20px;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
}
</style>
<![endIf]-->
<script>
function call_closebox(){
	parent.Mediabox.close();
}
function emailus(){
	//parent.window.location = "<?php echo BASEPATH; ?>/managecms/emailus";
}
function sendsuggetion(){
	//parent.window.location = "<?php echo BASEPATH; ?>/managecms/sendsuggetion";
	
}
</script>
<style>
.icons
{
	float:left;
	width:13%;
	margin-left:12px;
}
.texts
{
	float:left;
	width:81%;
}
.contentbox p
{

	font-size:15px;
}
.contentarea1
{
	padding:25px 0;
}
</style>
</head>
<body>
<input type="hidden" value="1" id="loginpageID" />
		<div class="contentbox">	
			<div class="maincontent">
				<div class="contentarea">
					<div class="icons">
						<img src="http://skillzot.com/images/icon-helpPhone.png"/>
					</div>
					<div class="texts">
						<h1>Call us on +91 9820921404</h1>
						<p>We're available 10 a.m. to 6 p.m. Monday to Friday.</p>
					</div>
				</div>
				<div class="contentarea1">
					<div class="icons">
						<img src="http://skillzot.com/images/icon-helpEmail.png"/>
					</div>
					<div class="texts">
						<h1>Email Us</h1>
						<p>Send us an email and we should reply promptly within 2 business days.</p>
						<a class="onlybluecolor"  href="http://skillzot.com/managecms/emailus" ><p>Email your question or problem</p></a>
					</div>
				</div>
				<div class="contentarea">
					<div class="icons">
						<img src="http://skillzot.com/images/icon-helpSuggest.png"/>
					</div>
					<div class="texts">
						<h1>Suggestion</h1>
						<p>Tell us what skills you'd like to see or let us know how you think we can improve.</p>
						<a class="onlybluecolor" href="http://skillzot.com/managecms/sendsuggetion" ><p>Send us your suggestion or comment</p></a>
					</div>
				</div>
			</div>
			</div>
</body>
</html>