<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>

<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzot.css"/>
<style>
body
{
	maring:0px;
	background-color:#ECECEC;
}


.contentbox p
{
	fontweight:normal;
	line-height:25px;
}
.question
{
	color:#00A7E6;
	text-align: center;
	margin: 0;
}
</style>
<!--[if IE]>
<style type="text/css" media="screen">

@font-face{
font-family: handofsean;
src: url('fonts/hand-of-sean.eot');
}

</style>
<![endif]-->
</head>
<body>
<input type="hidden" value="1" id="loginpageID" />
<div class="question">Your feedback has been submitted successfully.</div>
	<div class="contentbox">
		<p>Thanks for taking out time to share your feedback. Skillzot loves to hear comments and ideas that can help us help you better.</p>
		</br>
		<p>Here's to nurturing your talent...</p>
		</br>
		<p class="handofseanbrown" style="color:#00A7E6;font-size: 20px;">Cheers</p>
		<p>Sandeep @ Skillzot</p>
	</div>
<!--	<div style="margin:15px auto  0 auto;width:590px;">-->
<!--		<a href="<?php echo BASEPATH;?>/comingsoon/index" class="handofseanblue" style="float:right;font-size:20px;">home</a>-->
<!--	</div>-->
</body>
</html>