<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotpronto.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<script>
function setselect(id)
{
	var selectaray = new Array('forstudent','forteacher');
		for(i=0;i<selectaray.length;i++)
		{
			if(id == selectaray[i])
			{
				$('#'+id).removeClass("passivetabfaq");
				$('#'+id).addClass("activetabfaq");
			}
			else
			{
				$('#'+selectaray[i]).removeClass("activetabfaq");
				$('#'+selectaray[i]).addClass("passivetabfaq");
			}
		}
}
</script>	
<style>
.tutorcontentholder
{
	background:#ffffff;
}
.teamfaqcontent
{
	font-size:15px;
	line-height:23px;
}
</style>
<!--[if IE]>
<style type="text/css" media="screen">

@font-face{
font-family: 'handofsean';
src: url('<?php echo BASEPATH; ?>/fonts/hand-of-sean.eot');
}
</style>
<![endif]-->
<!--[if IE 7]>
<style type="text/css" media="screen">
.btnholder
{
	margin-bottom:20px;
}
</style>
<![endif]-->	
</head>
<body>
<div style="width:960px;float:left;">
	<div class="mainbox" style="width:800px;float:left;margin:10px 0 10px 80px;">
				<div class="vbigheader" style="width:800px;">
					<h1>About Skillzot</h1>
					<hr>
				</div>
				<div class="teamfaqcontent">
					<p>Do you think you'd be a fantastic dancer. Do you want to give skateboarding a shot? Skillzot.com is your source to help you discover and connect with experts in your locality who can help you learn any skill you want to master </p>
				</div>
				<div class="teamfaqcontent">
					<div class="teamfaqsubbox">
						<h1>Join</h1>
						<img src="<?php echo BASEPATH; ?>/images/join.jpg"/>
						<p style="width: 152px;">it's free! just include your basic details and location</p>
					</div>
					<div class="teamfaqsubboxmid">
						<h1>Connect with teacher</h1>
						<img src="<?php echo BASEPATH; ?>/images/connectwithteacher.jpg"/>
						<p style="width: 200px;">Shortlist and send messages to a selection of recommended experts in your locality.</p>
						<p style="width: 200px;">Choose the one you like the most and contact.</p>
					</div>
					<div class="teamfaqsubbox">
						<h1>Pay</h1>
						<img src="<?php echo BASEPATH; ?>/images/pay.jpg"/>
						<p style="width: 180px;">Confirm turms odf the lession via mail and make payments as per payment cycle agreed.</p>
						<p style="width: 180px;">Payment mode- cc, net banking, cheque</p>
					</div>
				</div>
				
				<div class="vbigheader" style="width:800px;">
					<h1>FAQs</h1>
					<hr>
				</div>
				<div class="btnholder">
					<span class="activetabfaq" id="forstudent" onclick="setselect(this.id);">For student</span>
					<div class="clear">&nbsp;</div>
					<span class="passivetabfaq" id="forteacher" onclick="setselect(this.id);">For teacher</span>
				</div>
				<div class="teamfaqsection">
					<strong>General Questions</strong>
					<span class="faqquestion">What is Skillzot?</span>
					<span class="faqanswer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
					
					<span class="faqquestion"> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages?</span>				
					<span class="faqanswer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
					
					<strong>Process related</strong>
					<span class="faqquestion">What is Skillzot?</span>
					<span class="faqanswer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
					
					<span class="faqquestion"> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages?</span>				
					<span class="faqanswer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
					
					<strong>Payment related</strong>
					<span class="faqquestion">What is Skillzot?</span>
					<span class="faqanswer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
					
					<span class="faqquestion"> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages?</span>				
					<span class="faqanswer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
				</div>
	</div>
</div>				
</body>
</html>