<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotpronto.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" type="text/css" src="<?php echo BASEPATH; ?>/css/ckeditor/contents.css"></link>

<style>
.tutorcontentholder
{
	min-height:500px;
}
.midcontent
{
	width: 959px;
}
.rightcontent
{
	width:586px;
}
.mailcontent
{
	width:520px;
	float:left;
	height:auto;
	border: 1px solid #DDDDDD;
	display:block;
	padding: 10px 0 10px 0px;
	
}
.mailheaderstrip
{
	padding: 9px 0px;
	float:left;
	width:520px;
	background-color:#00A7E6;
	border: 1px solid #00A7E6;
	height:auto;
	text-align:center;
}
.whitebackrow
{
	padding: 9px 0px;
	float:left;
	width:520px;
	background-color:#FFFFFF;
	height:auto;
	text-align:center;
}
.greaybackrow
{
	padding: 9px 0px;
	float:left;
	width:520px;
	background-color:#DDDDDD;
	height:auto;
	text-align:center;
}
.mailrow
{
	width : 520px;
	display : inline-block;
	color: #FFFFFF;
	float: left;
	padding: 3px 0 0 15px;
}
.leavespace
{
	float:left;
	width:520px;
	line-height:20px;
}
.mailcontent textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    width: 240px;
    height:60px;
    font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
    padding:0 5px;
    text-indent: 0em;
}
.errorcls{
	color:red;
	float:left;
	line-height: 15px;
	font-weight:normal;
	width:70%;
}
.mailcontent a:link,.mailcontent a:visited, mailcontent a:hover
{
	color:#000000;
}
</style>
<script>
function checkall()
{
$(":checkbox").each(
	    function() {
	       $(this).attr('checked', true);
	    }
	);
}
</script>
</head>
	<body>
			<form method="post" action="" name="register_step" id="register_step" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
				<div class="rightcontent">
				<div class="CourseDetTop"><span class="leftcornerlarge"></span></div>
				<div class="CourseDetMid">
										
				<div class="infolinerow" style="margin-bottom:10px;padding:0px;">
						<span class="nameoftutor" style="color:#1CA3E7;" >My sent messages</span>
				</div>
				
				
					
					
				<div class="mailcontent">
				
					<?php
					
					if(isset($this->readsentmailresult) && sizeof($this->readsentmailresult)>0){
							$readmail = $this->readsentmailresult;
					?>	
						<div class="mailrow" style="color:#000405;"></div>
						<div class="mailrow" style="color:#000405;">Subject : <?php echo $readmail->subject;  ?></div>
						<?php 
						$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
						$profile_rows = $tutorProfile->fetchAll($tutorProfile->select()
													->from(array('s'=>DATABASE_PREFIX."tx_tutor_profile"),array('s.tutor_first_name','s.tutor_last_name'))
													->where("s.id='$readmail->to_id'"));
						$fullname = $profile_rows[0]['tutor_first_name']." ".$profile_rows[0]['tutor_last_name'];
						?>
						<div class="mailrow" style="color:#000405;">To : <?php echo $fullname; ?></div>
						<div class="mailrow" style="color:#000405;">Sent date : <?php echo $readmail->mail_date; ?></div>
						<div class="leavespace">&nbsp;</div>
						<div class="mailrow" style="color:#000405;">Message : <?php echo $readmail->mail_content; ?></div>
						<div class="leavespace">&nbsp;</div>
						
<!--						<div class="mailrow" style="color:#000405;">-->
<!--							<textarea name="messagetext" id="messagetext" errortag="message"></textarea>-->
<!--							<div id="messagetext_error" class="errorcls">&nbsp;</div>-->
<!--						</div>-->
						
<!--						<div class="leavespace">&nbsp;</div>-->
<!--						<div class="mailrow" style="color:#000405;"><div class="savecontinue"><img src="<?php echo BASEPATH;?>/images/savenew.png" id="save" name="save" /></div></div>-->
					<?php
					}
				?>
				
				</div>
				
				</div>
				<div class="CourseDetBot"><span class="leftcornerbotlarge"></span></div>
			</div>
			
			</div>
			
	</form>
	</body>
</html>