<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Class/teacher profile, edit batch details.</title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crudcoursedetail.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.timepicker.css"/>	
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/bootstrap-datepicker.css"/>	
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/site.css" />	
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotpronto.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/calendar_blue.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/sumoselect.css" />
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/calendar.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.sumoselect.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.timepicker.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/site.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        window.asd = $('.SlectBox').SumoSelect({ csvDispCount: 3 });
    });
</script>  
	
<script type="text/javascript">

window.onload = function(){
	document.getElementById("save").onclick = function(){
		<?php if (isset($this->batchid) && $this->batchid!="" && $this->corseId!="" && $this->courseId=="" && $this->defaultcorseId==""){?>
		saveForm('<?php echo BASEPATH; ?>/editprofilenew/addbatchcalender/batchid/<?php echo $this->batchid; ?>/corseid/<?php echo $this->corseId; ?>','register_step','register_step');
		<?php }elseif(isset($this->batchid) && $this->batchid!="" && $this->corseId=="" && $this->courseId!="" && $this->defaultcorseId==""){ ?>
		saveForm('<?php echo BASEPATH; ?>/editprofilenew/addbatchcalender/batchid/<?php echo $this->batchid; ?>/courseid/<?php echo $this->courseId; ?>','register_step','register_step');
		<?php }elseif($this->batchid=="" && $this->corseId=="" && $this->courseId!="" && $this->defaultcorseId==""){ ?>
		saveForm('<?php echo BASEPATH; ?>/editprofilenew/addbatchcalender/courseid/<?php echo $this->courseId; ?>','register_step','register_step');
		<?php }else{ ?>
			parent.batchdone();
		saveForm('<?php echo BASEPATH; ?>/editprofilenew/addbatchcalender/defaultcorseId/<?php echo $this->defaultcorseId; ?>','register_step','register_step');
		<?php } ?>	
		var days = document.getElementById('no_of_days_per_wks').value;
		var no_of_days = days.split(" ");			
		var total = document.getElementById('hiddenVal2').value;
		var total_days = total.split(",");
		var total_count=total_days.length-1
		if(no_of_days[0]>"0" && total_count!="0")
		{
			if(no_of_days[0]!=total_count)
			{	
				displayerror();			
			}else
			{
				hideerror();	
			}			
		}
	}
	
};
 $(function(){
        $('#from_timing').timepicker();
        $('#to_timing').timepicker();
        var nowDate = new Date();
		var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
        $('#batch_date').datepicker({
					startDate: today 				
		});
 });
 function displayerror()
{
	document.getElementById('hiddenmessage_error').innerHTML="Are you sure the number of days per week is different from your batch availability?";
}
function hideerror()
{
	document.getElementById('hiddenmessage_error').innerHTML="";
}
</script>

<style>
.tutorcontentholder
{
	min-height:500px;
}
.midcontent
{
	width: 959px;
}
.rightcontent
{
	width:656px;
}
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.CourseDetMid {
	 background-color: #ffffff;
    border: 0px solid #00a7e6;
    border-radius: 0px;
    float: left;
    font-size: 14px;
    height: 466px;
   padding: 0px 0 54px 37px;
    width: 664px;
    margin-left:-77px;
    margin-bottom:-30px;
}
.stepcol1
{
	width:215px;
}
.stepcol2
{
	width: 350px;
}
#registration_form_2 input
{
	 width: 262px;
}
#registration_form textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    width: 262px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
}
.tooltipdiv{
	width:320px;
	height:auto;
	display:block;
	position:absolute;
	top:10px;
	left:35px;
	text-align:center;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	width:278px;
	height:auto;
	border-left:1px solid #00A7E6;
	border-right:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:justify;
	word-wrap:break-word:
	
}
.lowspacer{
	height:15px;
}
#registration_form_2 .checkbox
{
	height:auto;
	 float: left;
    width: 50px;
}
.steprow1
{
margin-bottom: 5px;
}
.errorcls1{
	color:#FF6633;
	font-size:12px;
	/*font-weight:bold;*/
	
}
.infolinerow
{
	padding:0px;
}

.linehoderfield {
    padding: 0px 5px 9px 30px;
    width: 450px;
}
.border
{
	border:1px solid #BECED5;
	border-radius:7px;
	border-left:0px;
	border-bottom:0px;
}
.boxesDiv
{
	width: 19%;
	height: 70px;
	border:1px solid #BECED5;
	border-right:0px;
	border-top:0px;
	float:left;
}
.boxesDiv1
{
	width: 8.6%;
	height: 70px;
	border:1px solid #BECED5;
	border-right:0px;
	border-top:0px;
	float:left;
}
.boxesDiv_first,.boxesDiv_last
{
	border-radius: 7px 7px 0 7px;
}
.boxesDiv_last
{
	border-radius: 0 0 4px 0;
}
.boxestitle
{
	border-bottom:1px solid #BECED5;
	height:23px;
    padding-top: 5px;
	float:left;
	width:100%;	
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#666;	
}
.buttonDiv
{
	background-color: #00A7E6;
    background-position: left top;
    border: 2px solid #00A7E6;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 12px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    width: auto;
    cursor:poinetr;
    float:left;
    margin-top:10px;
    text-transform: uppercase;
    padding: 0 10px;
    cursor:pointer;
}
.buttonDiv:hover
{
	background-color: #676767;
}
.Nameofcourse
{
	float:left;
	width:36px;
	color: #333333;
    font-size: 14px;
    text-align:left;
    padding: 10px;
}
.midspacer {
    display: block;
    float: left;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 100px;
}
.midspacer1 {
    display: block;
    float: left;
    height: 10px;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 100px;
}

.Nameofcourse1 {
    color: #333333;
    float: left;
    font-size: 14px;
    padding: 7px 2px;
    text-align: left;
    width: 117px;
}
input {
    padding-left: 3px !important;
}
</style>
<script type="text/javascript">
	
function studentdiv(getvalue)
	{
		//alert(atstudent);
		var atstudent=document.getElementById('studentlocation').checked;
		var attuor=document.getElementById('teacherlocation').checked;
		if(atstudent)
		{
			document.getElementById('tutorloc').style.display="none";
			document.getElementById('studentloc').style.display="";
			document.getElementById('hiddenVal6').value=getvalue;
		}
		if(attuor)
		{
			document.getElementById('studentloc').style.display="none";
			document.getElementById('tutorloc').style.display="";
			document.getElementById('hiddenVal6').value=getvalue;
		}
		
	}
/*function tutordiv()
	{
		var attuor=document.getElementById('teacherlocation').checked;
		if(attuor)
		{
			document.getElementById('tutorloc').style.display="";	
		}
		else
		{
			document.getElementById('tutorloc').style.display="none";
		}

	}*/
	function batchdatedisplay(getvalue)
	{
		var datedisplay=document.getElementById('batchdatecheckbox').checked;	
		if(datedisplay)
		{	
			document.getElementById('batch_date').style.display="none";
		}
		else
		{
			document.getElementById('batch_date').style.display="";
		}
	}
function studentprofile_id(idimg){
	var hiddenvalue2 = document.getElementById('hiddenVal2').value;

	if((hiddenvalue2.indexOf(idimg) != -1) == true){
		var reval = hiddenvalue2.replace(idimg+",",'');
		var flag=1;
		document.getElementById('hiddenVal2').value = reval;
	}
	if(hiddenvalue2 == ""){
		document.getElementById('hiddenVal2').value = idimg+",";
		reval = document.getElementById('hiddenVal2').value;
	}
	reval = document.getElementById('hiddenVal2').value;
	if(flag!=1){
		if((reval.indexOf(idimg) != -1) == false){
			document.getElementById('hiddenVal2').value += idimg+",";
		}
	}
}

function AnEventHasOccurred() {
if((document.getElementById("from_timing").value)=="From")
{
	var from="";
}
else
{
	var from=document.getElementById("from_timing").value;
}
if((document.getElementById("to_timing").value)=="To")
{
	var to="";
}
else
{
	var to="-"+document.getElementById("to_timing").value+"/";;
}
var sel2 = document.getElementById("locality[0]");
if((sel2.options[sel2.selectedIndex].text)=="-- Select locality --")
{
	var locality="";
}
else
{
	var locality=sel2.options[sel2.selectedIndex].text+"/";
}
var daycal=document.getElementById("hiddenVal2").value;
if(daycal.indexOf( '1' )>-1)
{
	var day1="Mon-";
}
else
{
	var day1="";
}
if(daycal.indexOf( '2' )>-1)
{
	var day2="Tue-";
}
else
{
	var day2="";
}
if(daycal.indexOf( '3' )>-1)
{
	var day3="Wed-";
}
else
{
	var day3="";
}
if(daycal.indexOf( '4' )>-1)
{
	var day4="Thu-";
}
else
{
	var day4="";
}
if(daycal.indexOf( '5' )>-1)
{
	var day5="Fri-";
}
else
{
	var day5="";
}
if(daycal.indexOf( '6' )>-1)
{
	var day6="Sat-";
}
else
{
	var day6="";
}
if(daycal.indexOf( '7' )>-1)
{
	var day7="Sun";
}
else
{
	var day7="";
}
document.getElementById("tutor_batch_name").value = "" +locality+from+to+day1+day2+day3+day4+day5+day6+day7;
}
function AnEventHasOccurredForLocal() {
var addressbar = document.getElementById("addressbar");
var address = addressbar.options[addressbar.selectedIndex].value;
//alert(address);
document.getElementById("city[]").value = 12;
getlocality(12,0);
var locality=document.getElementById("locality[0]").value=address;
var defaultcorseId='<?php echo $this->defaultcorseId; ?>';
var courseId='<?php echo $this->courseId; ?>';
var corseId='<?php echo $this->corseId; ?>';
if(defaultcorseId=="" && courseId == "")
{
 var course=corseId;
}
if(corseId=="" && courseId == "")
{
 var course=defaultcorseId;
}
if(corseId=="" && defaultcorseId == "")
{
 var course=courseId;
}
//alert(course);
$.ajax({
			url:"<?php echo BASEPATH;?>/editprofilenew/getaddress",
			type:'post',
			data:'locality='+locality+"&courseid="+course,
			async: false,
			success: function(response){
				if(response!="" || response!=null){
					var arr=JSON.parse(response);
					//alert(arr[0]['pincode']);
				document.getElementById("address").value = arr[0]['address'];
				document.getElementById("pincode").value = arr[0]['pincode'];
				document.getElementById("landmark").value = arr[0]['landmark'];
				}
			}
		});
}
</script>
<script type="text/javascript">
function getlocality(city_id,locality){
	if(city_id != "" && city_id != null){
		$.ajax({
			url:"<?php echo BASEPATH;?>/tutor/getlocality",
			type:'post',
			data:'city_id='+city_id,
			async: false,
			success: function(response){
				if(response!="" || response!=null){
					j=1;
					var jsonObject = eval ('('+response+')');
					options_ele = document.getElementById('locality['+locality+']');
					for(k=options_ele.length-1;k>0;k--){
						options_ele.remove(k);
					}
				    for(m=0;m<jsonObject.length;m++){
						var option_element = new Option(jsonObject[m]['address_name'],jsonObject[m]['locality_id']);
						document.getElementById('locality['+locality+']').options[j] = option_element;
						j++;
					}
				}
			}
		});
	}
}
</script>
<?php
if (isset($this->batchid) && $this->batchid!=""){
	if($this->batchResult->tutor_location=="1")
	{
	$teachercheck='style="width:507px;margin-top:-4px;display:"";"';
	$tutorcheck='style="padding: 0px 5px 0px 15px;display:none;"';
	}
	if($this->batchResult->tutor_location=="2")
	{		
	$tutorcheck='style="padding: 0px 5px 0px 15px;display:"";"';
	$teachercheck='style="width:507px;margin-top:-4px;display:none;"';
	}
}
else
{
	$teachercheck='style="width:507px;margin-top:-4px;display:none;"';
	$tutorcheck='style="padding: 0px 5px 0px 15px;display:none;"';
}
if (isset($this->batchid) && $this->batchid!=""){
	if($this->batchResult->batch_date=="No fixed start date"){
	$batchdate='style="display:none;width:125px;margin-left:68px;"';
	}
}
?>
</head>
<body style="overflow-x:hidden;background-color: #ffffff;">
<form method="post" action="" name="register_step" id="register_step" enctype="multipart/form-data">
	<div id="registration_form_2" class="formholder1">
		<div class="rightcontent">
		<div class="CourseDetTop"></div>
			<div class="CourseDetMid">
			<div class="allfields" style="width:100%;">* All fields are required</div>
				<div class="infolinerow" style="margin-bottom:10px;margin-left:5px;padding:0px;">
						<span class="nameoftutor" style="color:#1CA3E7;" >Batch details :</span><span style="color:red">*</span>
				</div>
				<div id="repeatedudiv_0" class="steprow1">
					<div class="steprow1" style="width:700px;">
						<div class="stepcol1" style="padding-top:0px;padding-bottom:12px;">Location : <span style="color:#F06142">*</span></div>
						<div class="steprow1">
							<div style="float:left;margin-top:-3px;"><input type="radio" 
											<?php if (isset($this->batchResult) && sizeof($this->batchResult)){
														if($this->batchResult->tutor_location=="1")
															{
																echo "checked='checked'";
															}
														
														}   ?> onclick="javascript:studentdiv(this.value);" value="1" class="radioclassdisplay" id="studentlocation" name="teacherlocation" errortag="location"/></div>
										<span style="float:left;">At Student's home</span>
						
					
					<div class="linehoderfield" id="studentloc" <?php echo $teachercheck; ?>>
							<select name="locality_stu" title="Areas you are willing to travel to" id="locality_stu" multiple="multiple" placeholder="Areas you are willing to travel to" class="SlectBox" style="width:233px;">
							<?php if(isset($this->batchResult) && sizeof($this->batchResult)>0) {
								
								$gradeArray = $this->batchResult;
						  		$allstprofileId = $gradeArray['tutor_lesson_location'];
						  		//$removeLaststprofileId = substr($allstprofileId, 0, strlen($allstprofileId)-1);			
						  		$stprofileIds = explode(",",$allstprofileId	);
								print_r("loc=".$stprofileIds);
						  		$stprofileSize = sizeof($stprofileIds);
						
						} ?>

							<?php 
									   if(isset($this->suburbsdata) && $this->suburbsdata!=""){
									  foreach ($this->suburbsdata as $suburbs) {
									   ?>
								  <option value="<?php echo $suburbs->id;?>" 

								<?php if (isset($stprofileIds) && $stprofileSize >0 )
						  				{
										for($k=0;$k<$stprofileSize;$k++)
						  					{
						  					if($stprofileIds[$k]==$suburbs->id)
						  						{
						  							echo "selected='selected'";
						  						}
											}
						  				}?>
								  	>


								  	<?php echo $suburbs->suburbs_name; ?></option>
								 <?php }}?>
							</select>
							<input type="hidden" id="hiddenVal5" errortag="student location" name="hiddenVal5" value="<?php if (isset($this->batchResult->tutor_lesson_location) && $this->batchResult->tutor_lesson_location!="" ){echo $this->batchResult->tutor_lesson_location;}?>" />
							

<script>
		$(document).ready(function() {
		    $('#save').click(function() {

		        var result = '';
		        $('#locality_stu > :selected').each(function() {
		            result += ','+$(this).val();
		           //dd = $(this).length;
		         document.getElementById("hiddenVal5").value = result;
		        });	 		      

		    });
		});
</script>


						<input  class="input" style="width: 246px;margin-top:4px;" type="text" name="travel_radius" onkeyup="limiter();" id="travel_radius" onfocus="clearit(this);" onblur="fixit(this);" errortag="travel radius" szprompt="Travel radius" value="<?php if (isset($this->batchResult->travel_radius) && $this->batchResult->travel_radius!="" ){echo $this->batchResult->travel_radius;}else{echo "Travel radius";}?>">
						<script type="text/javascript">
							var count = "65";   //Example: var count = "175";
							function limiter(){
							var tex = document.register_step.travel_radius.value;
							//alert(tex);
							var len = tex.length;
							if(len > count){
							        tex = tex.substring(0,count);
							        document.register_step.travel_radius.value =tex;
							        return false;
							}
							document.getElementById("radiuscount").value = count-len;
							document.getElementById("radiuscount").innerHTML=count-len;
							}
						</script>
						<div class="clear">&nbsp;</div>
						<div class="char_count1" id="radiuscount">
							<script type="text/javascript">
							</script> 
							</div>
						</div>
						</div>	
						<div class="steprow1" style="margin-bottom:7px;">
						<div style="float:left;margin-top:-3px;"><input type="radio" onclick="javascript:studentdiv(this.value);" 
							<?php if (isset($this->batchResult) && sizeof($this->batchResult))
						  				{
						  					if($this->batchResult->tutor_location=="2")
						  						{
						  							echo "checked='checked'";
						  						}
						  					
						  				}?>value="2" class="radioclassdisplay" id="teacherlocation"  name="teacherlocation" errortag="location" /></div><span style="float:left;">At Teacher's location</span>

						<input type="hidden" id="hiddenVal6" errortag="location" name="hiddenVal6" value="<?php if (isset($this->batchResult->tutor_location) && $this->batchResult->tutor_location!="" ){echo $this->batchResult->tutor_location;}?>" />
						 		
						<div class="linehoderfield" id="tutorloc" <?php echo $tutorcheck; ?>>
							<div class="steprow1">
								<div class="steprow1">
								<select style="width:253px;" name="addressbar" id="addressbar" onchange="AnEventHasOccurredForLocal();">
								<option value="">Use previous address...</option>
								<?php if(isset($this->addressbarResult) && sizeof($this->addressbarResult)>0){foreach($this->addressbarResult as $addressbarResult){?>
										<option value="<?php echo $addressbarResult->locality;?>" ><?php if (isset($addressbarResult->address_value) && $addressbarResult->address_value !=""){echo $addressbarResult->address_value;} ?>
									</option>
									<?php }}?>
								</select>
								</div>
								<div class="stepcol2">
									<input  class="input" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Address" style="width:247px;" type="text" name="address" id="address" value="<?php if (isset($this->batchResult->address) && $this->batchResult->address!="" ){echo $this->batchResult->address;}else{echo "Address";}?>">
								</div>
							</div>
							<div class="steprow1">
							<div class="stepcol2">
							<select id="city[]" name="city[]" class="input" errortag="city name" style="width:125px;" onchange="getlocality(this.value,0);">
									<option value="" selected="selected">--  Select city  --</option>
									<?php if(isset($this->city) && sizeof($this->city)>0){foreach($this->city as $city){?>
										<option value="<?php echo $city->address_id;?>" <?php if (isset($this->batchResult->city) && $this->batchResult->city!="" && $this->batchResult->city == $city->address_id ){ echo "selected='selected'";}?> ><?php if (isset($city->address_value) && $city->address_value !=""){echo $city->address_value;} ?>
									</option>
									<?php }}?>
	            				</select>
	            				<?php if (isset($this->batchid) && $this->batchid!=""){ ?>
								<select id="locality[0]"  name="locality[0]" class="input" style="width:125px;" errortag="locality" onchange="AnEventHasOccurred();">
									<option value="" selected="selected">--  Select locality  --</option>
									<?php if(isset($this->address) && sizeof($this->address)>0){foreach($this->address as $address){?>
										<option value="<?php echo $address->address_id;?>" <?php if (isset($this->batchResult->city) && $this->batchResult->locality!="" && $this->batchResult->locality == $address->address_id ){ echo "selected='selected'";}?> ><?php if (isset($address->address_value) && $address->address_value !=""){echo $address->address_value;} ?>
									</option>
									<?php }}?>
	            				</select>
	            				<?php } else{?>
								<select id="locality[0]"  name="locality[0]" class="input" style="width:125px;" errortag="locality" onchange="AnEventHasOccurred();">
									<option value="" selected="selected">--  Select locality  --</option>
	            				</select>
	            				<?php }?>
							</div>
							</div>
							<input type="hidden" id="address0" name="address0" errortag="Experience row0"/>
							<div class="steprow1">
							<div class="stepcol2">
								<input  class="input" onfocus="clearit(this);" onblur="fixit(this);" maxlength="6" szprompt="Pincode" style="width:120px;" type="text" name="pincode" id="pincode" value="<?php if (isset($this->batchResult->pincode) && $this->batchResult->pincode!="" ){echo $this->batchResult->pincode;}else{echo "Pincode";}?>">
								<input  class="input" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Landmark" style="width:129px;" type="text" name="landmark" id="landmark" value="<?php if (isset($this->batchResult->landmark) && $this->batchResult->landmark!="" ){echo $this->batchResult->landmark;}else{echo "Landmark";}?>">
							</div>
							</div>
							</div>
						</div>
					</div>
					<div id="hiddenVal5_error" class="errorcls" style="margin-top: -12px;">&nbsp;</div>
					<div id="hiddenVal6_error" class="errorcls" style="margin-top: -12px;">&nbsp;</div>
					<div id="address0_error" class="errorcls" style="margin-top: -12px;"></div>
					<div id="travel_radius_error" class="errorcls" style="margin-top: -12px;">&nbsp;</div>
					<div class="steprow1" style="margin-bottom:22px;width:700px;">
						<div class="stepcol1" style="padding: 4px;width: 84px;padding-left:0px;">Duration : <span class="onlyorangedisplay">*</span></div>
						<div class="stepcol2" style="width:519px;padding-left:81px;">
						<select style="width:110px;" class="SlectBox" type="text" name="no_of_wks" id="no_of_wks">
							<option value="No. of weeks">No. of weeks</option>
							<option value="0" <?php if (isset($this->batchResult->tutor_class_dur_wks) && $this->batchResult->tutor_class_dur_wks=='0'){echo "selected";}?>>Recurring monthly</option>
							<option value="1 week" <?php if (isset($this->batchResult->tutor_class_dur_wks) && $this->batchResult->tutor_class_dur_wks=='1 week'){echo "selected";}?>>1 week</option>
							<?php for ($i=2;$i<53;$i++){?>
							<option value="<?php echo $i." weeks";?>" <?php if (isset($this->batchResult->tutor_class_dur_wks) && $this->batchResult->tutor_class_dur_wks==$i." weeks"){echo "selected";}?>><?php echo $i." weeks";?></option>
							<?php } ?>
							</select>
							<span style="margin-left:59px;"></span>
							<select style="width:110px;" class="SlectBox" type="text" name="no_of_days_per_wks" id="no_of_days_per_wks">
							<option value="No. of days/wk" >No. of days/wk</option>
							<option value="0" <?php if (isset($this->batchResult->tutor_class_dur_dayspwk) && $this->batchResult->tutor_class_dur_dayspwk=='0'){echo "selected";}?>>Flexible</option>
							<option value="1 day" <?php if (isset($this->batchResult->tutor_class_dur_dayspwk) && $this->batchResult->tutor_class_dur_dayspwk=='1 day'){echo "selected";}?>>1 day</option>
							<?php for ($i=2;$i<8;$i++){?>
							<option value="<?php echo $i." days";?>" <?php if (isset($this->batchResult->tutor_class_dur_dayspwk) && $this->batchResult->tutor_class_dur_dayspwk==$i." days"){echo "selected";}?>><?php echo $i." days";?></option>
							<?php } ?>
							</select>
							<span style="margin-left:59px;"></span>
							<select style="width:110px;" class="SlectBox" type="text" name="no_of_hrs_per_day"  id="no_of_hrs_per_day">
							<option value="No. of hours/day">No. of hours/day</option>
							<option value="0.5" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="0.5"){echo "selected";}?>>30 min</option>
							<option value="0.75" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="0.75"){echo "selected";}?>>45 min</option>
							<option value="1" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="1"){echo "selected";}?>>1</option>
							<option value="1.5" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="1.5"){echo "selected";}?>>1.5</option>
							<option value="2" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="2"){echo "selected";}?>>2</option>
							<option value="2.5" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="2.5"){echo "selected";}?>>2.5</option>
							<option value="3" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="3"){echo "selected";}?>>3</option>
							<option value="3.5" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="3.5"){echo "selected";}?>>3.5</option>
							<option value="4" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="4"){echo "selected";}?>>4</option>
							<option value="5" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="5"){echo "selected";}?>>5</option>
							<option value="6" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="6"){echo "selected";}?>>6</option>
							<option value="7" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="7"){echo "selected";}?>>7</option>
							<option value="8" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="8"){echo "selected";}?>>8</option>
							<option value="9" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="9"){echo "selected";}?>>9</option>
							<option value="10" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="10"){echo "selected";}?>>10</option>
							<option value="11" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="11"){echo "selected";}?>>11</option>
							<option value="12" <?php if (isset($this->batchResult->tutor_class_dur_hrspday) && $this->batchResult->tutor_class_dur_hrspday=="12"){echo "selected";}?>>12</option>
							
							</select>
						</div>
						<div id="no_of_wks_error" class="errorcls" style="margin-top: 10px;"></div>
					</div>
				
					<div class="steprow1" style="width:700px;margin-bottom:-1px;">
						<div class="stepcol1" style="width: 84px;padding-bottom:12px;">Timing : <span class="onlyorangedisplay">*</span></div>
					

				<div class="infolinerow1 border" style="width:73%;margin-top:-5px;margin-left:85px;padding-left:0px;">
			  		<div class="boxesDiv boxesDiv_first">
			  			<?php if (isset($this->batchResult) && sizeof($this->batchResult))
										{
											$gradeArray = $this->batchResult;
										}
										?>
			  			<div class="boxestitle">From</div>
			  			<div class="Nameofcourse1">
			  				<input id="from_timing" name="from_timing" type="text" class="time" errortag="From time should be less than to time" value="<?php if (isset($this->batchResult->tutor_batch_from_timing) && $this->batchResult->tutor_batch_from_timing!="" ){echo $this->batchResult->tutor_batch_from_timing;}else{echo "";}?>" data-scroll-default="5:00am" style="width:73px;margin-left:7px;padding-bottom:3px;" />
			  			</div>
			  		</div>
			  		<div class="boxesDiv">
			  			<div class="boxestitle">To</div>
			  			<div class="Nameofcourse1">
			  				<input id="to_timing" name="to_timing" type="text" class="time" errortag="To time should be greater than from time" value="<?php if (isset($this->batchResult->tutor_batch_to_timing) && $this->batchResult->tutor_batch_to_timing!="" ){echo $this->batchResult->tutor_batch_to_timing;}else{echo "";}?>" data-scroll-default="5:00am" style="width:73px;margin-left:7px;padding-bottom:3px;" />
			  			</div>
			  		</div>
			  		<?php if(isset($this->batchResult) && sizeof($this->batchResult)>0) {
								
								$dayArray = $this->batchResult;
						  		$alldayId = $dayArray['tutor_batch_day'];
						  		//$removeLastdayId = substr($alldayId, 0, strlen($alldayId)-1);
								$dayIds = explode(",",$alldayId	);
						  		$daySize = sizeof($dayIds);
						
						} ?>
			  		

			  		<?php 
					   if(isset($this->batchdayResult) && $this->batchdayResult!=""){
					  foreach ($this->batchdayResult as $batchday) {
					   ?>
					   <div class="boxesDiv1">
			  			<div class="boxestitle"><?php echo $batchday->day_name;?></div>
			  			<div class="Nameofcourse">
			  				<input type="checkbox" style=" width: 25px;"
								<?php if (isset($dayIds) && $daySize >0 )
						  				{
										for($k=0;$k<$daySize;$k++)
						  					{
						  					if($dayIds[$k]==$batchday->day_id)
						  						{
						  							echo "checked";
						  						}
											}
						  				}?>onclick="javascript:studentprofile_id(this.value);AnEventHasOccurred();" value="<?php if (isset($batchday->day_id) && $batchday->day_id!="") echo $batchday->day_id;?>" class="checkbox" id="day" name="day" errortag="Day"/>
			  			</div>
			  		</div>
			 
				 <?php }}?>
					<input type="hidden" id="hiddenVal2" errortag="batch day" name="hiddenVal2" value="<?php if (isset($this->batchResult->tutor_batch_day) && $this->batchResult->tutor_batch_day!="") echo $this->batchResult->tutor_batch_day;?>" />
			  	</div></div>
			  	<div id="hiddenVal2_error" class="errorcls" style="margin-bottom: 10px; margin-top:10px;">&nbsp;</div>		  
			  	<div id="from_timing_error" class="errorcls" style="margin-bottom: 10px; margin-top:10px;">&nbsp;</div>		  
			  	<div id="to_timing_error" class="errorcls" style="margin-bottom: 10px; margin-top:10px;">&nbsp;</div>
			  	<div id="hiddenmessage_error" class="errorcls" style="margin-bottom: 10px; margin-top:10px;">&nbsp;</div>
				<div class="midspacer1">&nbsp;</div>	
				<div class="steprow1">
					<div class="stepcol1" style="padding: 4px;width: 92px;">Seats : <span style="color:#F06142">*</span></div>
					<div class="stepcol2">
						<div style="float:left;"><input type="text" style=" width: 124px;margin-left:68px;" value="<?php if (isset($this->batchResult->batch_size) && $this->batchResult->batch_size!=""){echo $this->batchResult->batch_size;}else{echo "Batch size"; } ?>" class="input" id="batch_size" onfocus="clearit(this);" onblur="fixit(this);" name="batch_size" szprompt="Batch size" errortag="seat"/></div>
					</div>
				</div>
				<div id="batch_size_error" class="errorcls" style="margin-bottom: 10px;"></div>
				<div class="midspacer">&nbsp;</div>	
					<div class="steprow1">
					<div class="stepcol1" style="padding: 4px;width: 92px;">Start date : <span style="color:#F06142">*</span></div>
					<div class="stepcol2" style="width:10px;">
						<div  id="batchdate1" ><input type="text" <?php echo $batchdate;?> style="width:125px;margin-left:68px;" value="<?php if (isset($this->batchResult->batch_date) && $this->batchResult->batch_date!=""){ echo $this->batchResult->batch_date;}else{ echo "Batch date";} ?>" class="input" id="batch_date" name="batch_date" onfocus="clearit(this);" readonly="readonly" onblur="fixit(this);" szprompt="Batch date" errortag="Start date"/></div>
					</div>
					<div class="stepcol3" style="float:right;width:207px;margin-right:99px;">
					<div style="width:147px;margin-top:2px;"><input type="checkbox" 
						<?php if (isset($this->batchResult) && sizeof($this->batchResult)){
												if($this->batchResult->batch_date=="No fixed start date")
												{
																echo 'checked="checked"';
																
												}
														
								}  ?> onclick="javascript:batchdatedisplay(this.value);" style="margin-top:3px;" value="No fixed start date" class="radioclassdisplay" id="batchdatecheckbox"  name="batchdatecheckbox" /><span style="margin-left:3px;margin-top:2px;" >No fixed start date</span>
					</div>
					</div> 
				</div> 
				<div id="batch_date_error" class="errorcls" style="margin-bottom: 10px;"></div>
				<div class="midspacer">&nbsp;</div>	
				<div class="steprow1">
					<div class="stepcol1" style="padding: 4px;width: 120px;">Batch summary : <span style="color:#F06142">*</span></div>
					<div class="stepcol2">
						<div style="float:left;"><input type="text" style=" width: 251px;margin-left:40px;" value="<?php if (isset($this->batchResult->tutor_batch_name) && $this->batchResult->tutor_batch_name!="") echo $this->batchResult->tutor_batch_name;?>" class="input" id="tutor_batch_name" name="tutor_batch_name" readonly="readonly" errortag="Batch summary"/></div>
					</div>
				</div> 
				<div id="tutor_batch_name_error" class="errorcls" style="margin-top: -3px;"></div>	
			</div>
			<div class="clear">&nbsp;</div>
			<div class="midspacer">&nbsp;</div>
			<div class="steprow1">
				<div class="stepcol1">&nbsp;</div>
				<div class="stepcol2">
					 <div class="savecontinue"><img src="<?php echo BASEPATH;?>/images/savenew.png" id="save" name="save" /></div>
				</div>
			</div>
				
			</div>
		</div>
	</div>		
</form>
</body>
</html>
