<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotprontonew.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	
	
<script type="text/javascript">

window.onload = function(){
	document.getElementById("save").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/editprofilenew/addqualification','register_step','register_step');
		
	}
};

</script>
<SCRIPT TYPE="text/javascript">
	
$(document).ready(function() {
	<?php if(isset($this->tutordata->tutor_add_city) && $this->tutordata->tutor_add_city!="" && isset($this->tutordata->tutor_add_locality) && $this->tutordata->tutor_add_locality!=""){?>
	searched_city_id1 = "<?php echo $this->tutordata->tutor_add_city;?>";
	searched_locality_id1 = "<?php echo $this->tutordata->tutor_add_locality;?>";
	searched_city_id = parseInt(searched_city_id1);
	searched_locality_id = parseInt(searched_locality_id1);
	getlocality(searched_city_id);
	<?php }?>
	
});
function myfunctionin(uid){
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "visible";
	
}
function myfunctionout(uid){

	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "hidden";
}
function setselect(id)
{
	var selectaray = new Array('linkone','linktwo','linkthree','linkfour','linkfive','linksix','linkseven');
		for(i=0;i<selectaray.length;i++)
		{
			if(id == selectaray[i])
			{
				$('#'+id).removeClass("passivelink");
				$('#'+id).addClass("activelink");
			}
			else
			{
				$('#'+selectaray[i]).removeClass("activelink");
				$('#'+selectaray[i]).addClass("passivelink");
			}
		}
}

</SCRIPT>

	
<style>
.tutorcontentholder
{
	min-height:500px;
}
.midcontent
{
	width: 959px;
}
.rightcontent
{
	margin:0px;
	width: 560px;
}
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.CourseDetMid
{
	font-size:14px;
}
.stepcol1
{
	width:215px;
}
.stepcol2
{
	width: 350px;
}
#registration_form_2 input
{
	 width: 262px;
}
#registration_form textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    width: 262px;
}
.tooltipclass{
	/*background:url('<?php echo BASEPATH;?>/images/topquestion.png');*/
	/*margin-bottom:-7px;*/
	cursor:pointer;
	position:relative;
}
.tooltipdiv{
	width:320px;
	height:auto;
	display:block;
	position:absolute;
	top:10px;
	left:35px;
	text-align:center;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	width:278px;
	height:auto;
	border-left:1px solid #00A7E6;
	border-right:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:justify;
	word-wrap:break-word:
	
}
.CourseDetMid
{
	/*border-left:none !important;
	border-right:none !important;*/
	border: none;
	width:548px;
	padding: 0 0 15px 15px;
}
.lowspacer{
	height:15px;
}
#registration_form_2 .checkbox
{
	height:auto;
	 float: left;
    width: 50px;
}
.steprow1
{
margin-bottom: 5px;
}
.errorcls1{
	color:red;
	font-size:12px;
	/*font-weight:bold;*/
	
}
.infolinerow
{
	padding:0px;
	width: 300px;
}
</style>
</head>
	<body>
			<form method="post" action="" name="register_step" id="register_step" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
				<div class="rightcontent">
				<!--				<div class="CourseDetTop"></div>-->
				<div class="CourseDetMid">
				<div class="allfields" style="width:100%;"><span style="color:#F06045">*</span> All fields are required</div>
				<div class="infolinerow" style="margin-bottom:10px;padding:0px;">
						<span class="nameoftutor" style="color:#1CA3E7;" >Qualification/Certifications</span><span style="color:#F06045">*</span>
				</div>
				<div id="repeatdegreediv_0" class="steprow1">
						
							<input  style="float:left;width:139px;margin-right:5px;margin-top: 0;"  type="text" id="degree[]" name="degree[]" value="Degree/Diploma/etc" errortag="Degree/Diploma/etc or Speciality or College/University/Institute or Year" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Degree/Diploma/etc" >
					
						
							<input  style="float:left;width:120px;margin-right:5px;margin-top: 0;"  type="text" id="speciality[]" name="speciality[]" value="Field/Speciality"  onfocus="clearit(this);" onblur="fixit(this);" szprompt="Field/Speciality">
						
					
							<input  style="float:left;width:139px;margin-right:5px;margin-top: 0;" type="text" id="university[]" name="university[]" value="College/University/Institute"  onfocus="clearit(this);" onblur="fixit(this);" szprompt="College/University/Institute">
						
						
							<select style="float:left;margin-right:5px;"  id="completion_year[]" name="completion_year[]">
								<option value="">End Year</option>
								<option value="Present">Present</option>
									<?php for($l=2014;$l>1964;$l--){?>
										<option value="<?php echo $l;?>"><?php echo $l;?></option>
									<?php }?>
			                </select>
						
						</div>
						
					<div class="clear">&nbsp;</div>
					
					<div id="degreeVarDiv">
						<input type="hidden" id="degree0" errortag="Qualification"/>
						<div id="degree0_error" class="errorcls1">&nbsp;</div>
					</div>
					<div class="clear">&nbsp;</div>
				
			
			
				<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
					<div class="stepcol2">
					  
						 <div class="savecontinue"><img src="<?php echo BASEPATH;?>/images/savenew.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/savenew.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/save_hover.png';" id="save" name="save" /></div>
					</div>
				</div>
				
				</div>
				<!--				<div class="CourseDetBot"></div>-->
			</div>
			
			</div>
			
	</form>
	</body>
</html>
