<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>

<head>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/albumphoto.js"></script>
<script>
$(document).ready(function(){	
	var temp = 2;
	var cnt = 0;
	$('.copyinfolinerow div.imagethumb').each(function(){
		cnt++;
		if(cnt == temp)
		{
			$(this).css({'margin':'0 11px 15px'});
			temp=temp+3;
		}	
		else
		{
			$(this).css({'margin':'0 0px 15px'});
		}	
	});
	$('#scrollbar1').tinyscrollbar();
});
function call_delete(id)
{	
	jConfirm('Are you sure,You want to delete this album ?', 'Confirmation Dialog', function(r) {
		if(r == true) 
			window.location.href= '<?php echo BASEPATH; ?>/editprofilenew/tutoralbumsdelete/id/'+id;
		else return false;
	});
}

	</script>
<title><?php if (isset($tutorNameforalttag) && $tutorNameforalttag!=""){echo $tutorNameforalttag;} ?> profile picture edit </title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	
	
<style>
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.tutorcontentholder
{
	min-height:400px;
}
.stepcol1
{
	width:150px;
}
.stepcol2
{
	width: 410px;
}
.newimageshow{
	float:left;
	width: 250px;
}
.copyinfolinerow a
{	
	margin-bottom:0px
}
</style>
<!--[if IE]>
<style>
.newimageshow input{

	margin-left:15px;
}
</style>
<![endif]-->
</head>
	<body>
			<form method="post" action="" name="upload_pic" id="upload_pic" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
					<div class="rightcontent">
						<div class="CourseDetMid">
							<a class="buttons openskillbox" rel="<?php echo BASEPATH;?>/photoalbumsnew/addalbums/id/<?php if(isset($authUserNamespace->admintutorid) && $authUserNamespace->admintutorid!="")echo $authUserNamespace->admintutorid;else echo 0;?>">Add Albums</a>
							<div class="clear">&nbsp;</div>
							<div class="sap">&nbsp;</div>
							<div id="scrollbar1" style="width: 518px;float:left;">	
								<div class="scrollbar" style="height: 180px;">
									<div class="track" style="height: 180px;">
										<div class="thumb" style="top: 10.929px; height: 27.3224px;">
											<div class="end"></div>
										</div>
									</div>
								</div>
								<div class="viewport" style="height:444px;;width:505px;">
									<div class="overview">
										<div style="margin:0px;" class="copyinfolinerow">
												<?php if (isset($this->albumresult) && sizeof($this->albumresult)>0){
												$i = 0; 
												foreach ($this->albumresult as $tutoralbum)
												{ ?>
													<div class="imagethumb" style="position:relative;float:left;">
														<div class="editicons">												
															<span id="editphot" class="editphot tippT">
																<b class="Ttip">Edit</b>
																<span class="dropover">
																	<a class="openskillbox" href="javascript:void(0);" rel="<?php echo BASEPATH;?>/photoalbumsnew/editalbumname/id/<?php echo $tutoralbum->id; ?>" >Edit Title</a>
																	<a href="javascript:void(0);" onclick="call_delete('<?php if (isset($tutoralbum->id) && $tutoralbum->id !="") { echo $tutoralbum->id; } ?>');">Delete</a>
																</span>
															</span>
														  
														</div>
															<a  href="<?php echo BASEPATH;?>/editprofilenew/showalbumsphotos/tutor_album_id/<?php echo $tutoralbum->id;?>" style="background: url(<?php echo BASEPATH;?>/images/gallery-48.png) no-repeat scroll center center transparent;">
															<?php if(isset($tutoralbum->thumb_photo_link) && $tutoralbum->thumb_photo_link!="")
																  {?>
																	<img src="<?php if(isset($tutoralbum->thumb_photo_link) && $tutoralbum->thumb_photo_link!=""){?><?php echo BASEPATH;?><?php  echo $tutoralbum->thumb_photo_link;?><?php }else{?> <?php echo BASEPATH;?>/images/transpbg.png <?php  }?>">
															<?php }
																  else
																  {
																  	$photolink="";
																	$tutorphotosObj = new Skillzot_Model_DbTable_Tutorphotos();
																	$albumphotoResultdata = $tutorphotosObj->fetchAll($tutorphotosObj->select()
											                                                				->setIntegrityCheck(false)
											     											 				->from(array('v'=>DATABASE_PREFIX."tx_tutor_photos"))
															     											->where("v.tutor_id = '$tutoralbum->tutor_id' && v.tutor_album_id = $tutoralbum->id")
															     											->order(array("lastupdatedate DESC")));
											     						 foreach ($albumphotoResultdata as $plink)
																		 {
																			$photolink = $plink->thumb_photo_link;
																			break;
																		 }
																?>
																	<img src="<?php if(isset($photolink) && $photolink!=""){?><?php echo BASEPATH;?><?php  echo $photolink;?><?php }else{?> <?php echo BASEPATH;?>/images/transpbg.png <?php  }?>">
															<?php }?>
															</a>
															<div class="imagetitle"><?php if(isset($tutoralbum->title) && $tutoralbum->title!=""){ echo $tutoralbum->title;} else{echo "Photo Title";}?></div>
													</div>
												<?php 
												}
												$i++;
												}else{?>
												<div>No Albums found </div>
												<?php }?>	
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</form>
		<script>
		$(document).ready(function(){
			var flag = 0;
			$('#editphot').live('click',function(){
				if(flag == 0)
				{
					$(this).children('.dropover').show();
					flag = 1;
				}
				else
				{
					$(this).children('.dropover').hide();
					flag = 0;
				}
			});
		});
	</script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.tinyscrollbar.min.js"></script>	
	</body>
</html>