<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
<?php 

if(isset($this->tutordata->company_name) && $this->tutordata->company_name!="")
{ 
$tutorNameforalttag =  ucfirst($this->tutordata->company_name);}
else{

if(isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!="" && isset($this->tutordata->tutor_last_name))
{ 
	$tutorNameforalttag =  ucfirst($this->tutordata->tutor_first_name)." ".ucfirst($this->tutordata->tutor_last_name);
}
}
?>

<title><?php if (isset($tutorNameforalttag) && $tutorNameforalttag!=""){echo $tutorNameforalttag;} ?> course details edit </title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotprontonew.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>

<script type="text/javascript">
function call_delete(id)
{
	jConfirm('Are you sure want to delete?', 'Confirmation Dialog', function(r) {
		if(r == true) window.location.href= '<?php echo BASEPATH; ?>/editprofilenew/deletecourse/cid/'+id;
		else return false;
	});
}
</script>
<style>
.tutorcontentholder
{
	min-height:500px;
}
.midcontent
{
	width: 825px;
}
.rightcontent
{
	width:586px;
}
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.stepcol1
{
	width:150px;
}
.stepcol2
{
	width: 410px;
}
#registration_form_2 input
{
	 width: 262px;
}
#registration_form textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    width: 262px;
}
</style>
<style>
/*31-05 edit profile*/
.leftcontent
{
	width: 288px;
}
.tutorleftcontenttop
{
	background-image: url("<?php echo BASEPATH;?>/images/tutorleftcontenttopsmall.gif");
	background-repeat:no-repeat;
	width: 265px;
}
.tutorleftcontentmid
{
    background-repeat: repeat-y;
    width: 140px;
}
.tutorleftcontentbot
{
    background-image: url("<?php echo BASEPATH;?>/images/tutorleftcontentbotsmall.gif");
    background-repeat:no-repeat;
    width: 265px;
}
.CourseDetTop {
    background-repeat: no-repeat;
    width: 539px;
}
.CourseDetMid
{
    background-repeat: repeat-y;
    padding: 15px 0 0 14px;
    width: 539px;
}
.CourseDetBot {
    background-repeat: no-repeat;
    width: 539px;
}
/*31-05 edit profile*/
</style>
</head>
	<body>
			<form method="post" action="" name="register_step" id="register_step" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
				<div class="rightcontent">
				<div class="CourseDetMid">
				<?php
						if(isset($authUserNamespace->changesave) && $authUserNamespace->changesave!="") {?>
						<div class="infolinerow onlyorangedisplay">
							<?php
								echo $authUserNamespace->changesave;
								unset($authUserNamespace->changesave);
							?>
						</div>
				<?php }?>
				<div class="infolinerow" style="margin-bottom:10px;padding:0px;">
						<span class="nameoftutor" style="color:#1CA3E7;" >Courses available</span>
				</div>
				<div class="clear">&nbsp;</div>
				<?php
				$l=0;
				$i=0;
				if (isset($this->coursedata) && $this->coursedata!=""){
					//print_r($this->coursename);
					$courseSize = sizeof($this->coursedata);
					foreach ($this->coursedata as $corsename){
						if (isset($corsename->tutor_course_name) && $corsename->tutor_course_name!="")
						{
						$newRow = $l%2;
						
						if ($newRow == '0')
						{?>
							<div class="infolinerow4">
							<?php
						}
						?>
						<a href="<?php echo BASEPATH;?>/editprofilenew/editcourse/courseid/<?php echo $corsename->id;?>" id="<?php echo $corsename->id; if ($i==0){$defaultCourseId = $corsename->id;}$i++; ?>" class="CoursesLink">
						<?php 
						$str = $corsename->tutor_course_name;
						$max = 24;
						if(strlen($str) > $max) {
							$ff =substr($str, 0, $max);
							$bb = strrpos($ff,' ');
							if (isset($bb) && $bb!=""){
								$rest = substr($ff, 0, $bb);
								echo $rest."...";
							}else{
								$rest = substr($str, 0, $max);
								echo $rest."...";
							}
						}else{
							echo $str;
						}
						//echo $corsename->tutor_course_name;

						
						?></a>
						<a style="color:#1CA3E7;color: #1CA3E7;float:left;height:25px;padding: 5px 7px;" onclick="call_delete('<?php echo $corsename->id;?>');" href="#">delete</a>
						</div>
						<?php
					}
				}
			}?>
				<?php //if (isset($courseSize) && $courseSize > 1){$authUserNamespace->defultcourseid = $defaultCourseId;} ?>
				<div class="clear">&nbsp;</div>
					<div class="add-smallholder"><a class="add-small" href="<?php echo BASEPATH;?>/editprofilenew/editcourse/defaultcorseid/<?php if (isset($defaultCourseId) && $defaultCourseId!="") {echo $defaultCourseId; }?>">Add course</a></div>
				</div>
			</div>
			
			</div>
			
	</form>
	</body>
</html>