<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<?php 

if(isset($this->tutordata->company_name) && $this->tutordata->company_name!="")
{ 
$tutorNameforalttag =  ucfirst($this->tutordata->company_name);}
else{

if(isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!="" && isset($this->tutordata->tutor_last_name))
{ 
	$tutorNameforalttag =  ucfirst($this->tutordata->tutor_first_name)." ".ucfirst($this->tutordata->tutor_last_name);
}
}
?>
<title><?php if (isset($tutorNameforalttag) && $tutorNameforalttag!=""){echo $tutorNameforalttag;} ?> Follow Up Comments </title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotprontonew.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<script type='text/javascript'>
window.onload = function(){
	document.getElementById("save").onclick = function(){
		
		saveForm('<?php echo BASEPATH; ?>/editprofilenew/followup','add_category_form','add_category_form');
	
		}
};
</script>
<style type="text/css">
input {
    border: 1px solid #beced5;
    border-radius: 5px;
    color: #032b3c;
    padding: 7px 0;
}	

</style>

</head>
<body>
<form method="post" action="" name="add_category_form" id="add_category_form" enctype="multipart/form-data">
<div id="registration_form_2" class="formholder1">
	<div class="rightcontent">
		<div class="CourseDetMid">
		<div class="steprow1" style="margin-bottom:10px;padding:0px;">
			<span class="nameoftutor">Follow Up Comments</span><span class="onlyorangedisplay">*</span>
		</div>
		<div style="margin-right:10px;width:100px;float:left;">Comments:</div>
		<div style="width:200px;float:left;">
			<textarea type="textarea" id="followup" name="followup" style="width: 407px; height: 87px; resize:none;"  errortag="Follow Up Comments"/><?php if (isset($this->tutorData->followup_comment) && $this->tutorData->followup_comment!=""){echo $this->tutorData->followup_comment;}?> </textarea>
		</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="followup_error" name="followup_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="savecontinue" style="margin-left: 115px;">
	<img id="save" name="save" onmouseover="this.src='/images/save_hover.png';" onmouseout="this.src='/images/savenew.png';" src="/images/savenew.png">
	</div>
	</div>
	</div>
</div>
</form>
</body>
</html>