<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
		<?php 

if(isset($this->tutordata->company_name) && $this->tutordata->company_name!="")
{ 
$tutorNameforalttag =  ucfirst($this->tutordata->company_name);}
else{

if(isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!="" && isset($this->tutordata->tutor_last_name))
{ 
	$tutorNameforalttag =  ucfirst($this->tutordata->tutor_first_name)." ".ucfirst($this->tutordata->tutor_last_name);
}
}
?>

<title><?php if (isset($tutorNameforalttag) && $tutorNameforalttag!=""){echo $tutorNameforalttag;} ?> skills edit </title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	
	<style type="text/css">
	
	.formholder
	{
		border:1px solid #00A7E6;
	}
	.checkcat{
		
		list-style : none outside none;
		width:92%;
	}
	
	.displayskilltagli{
	 	float: left;
	 	color:#000000;
	 	margin:0 15px 10px 0;
	 	width: 173px;
	}
	.errorcls1{
	color:#FF6633;
	font-size:12px;
	float:left;
	line-height: auto;
	font-weight:normal;
	}
	.leftcontent
	{
		width: 288px;
	}
	.collapsed
	{
		background:url("<?php echo BASEPATH;?>/images/plus.png") no-repeat scroll left center transparent;
	 	padding-left: 20px;
	}
	.expanded
	{
		background: url("<?php echo BASEPATH;?>/images/minus.png") no-repeat scroll left center transparent;
	}
	.steprow1 a:link, .steprow1 a:hover, .steprow1 a:active, .steprow1 a:visited
	{
    	color: #00A7E6;
    	font-size: 16px;
	}
	
	</style>
<script type="text/javascript">

window.onload = function(){
	document.getElementById("save").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/editprofilenew/skills','changeskillformid','changeskillformid');
	}
};

$(document).ready(function() {
	
	$('a.subject').addClass('collapsed').parent().next('ul').hide();

	$('a.subject').click(function() {

		$(this).toggleClass('expanded');
		$(this).parent().next('ul').slideToggle();
		return false;
	});

});

</script>
<SCRIPT TYPE="text/javascript">
	
function myfunctionin(uid){
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "visible";
	
}
function myfunctionout(uid){

	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "hidden";
}
function skill(idimg){
	var hiddenvalue2 = document.getElementById('hiddenVal2').value;

	if((hiddenvalue2.indexOf(idimg) != -1) == true){
		var reval = hiddenvalue2.replace(idimg+",",'');
		var flag=1;
		document.getElementById('hiddenVal2').value = reval;
	}
	if(hiddenvalue2 == ""){
		document.getElementById('hiddenVal2').value = idimg+",";
		reval = document.getElementById('hiddenVal2').value;
	}
	reval = document.getElementById('hiddenVal2').value;
	if(flag!=1){
		if((reval.indexOf(idimg) != -1) == false){
			document.getElementById('hiddenVal2').value += idimg+",";
		}
	}
}
function agegroup1(idimg){
	var hiddenvalue2 = document.getElementById('hiddenVal3').value;

	if((hiddenvalue2.indexOf(idimg) != -1) == true){
		var reval = hiddenvalue2.replace(idimg+",",'');
		var flag=1;
		document.getElementById('hiddenVal3').value = reval;
	}
	if(hiddenvalue2 == ""){
		document.getElementById('hiddenVal3').value = idimg+",";
		reval = document.getElementById('hiddenVal3').value;
	}
	reval = document.getElementById('hiddenVal3').value;
	if(flag!=1){
		if((reval.indexOf(idimg) != -1) == false){
			document.getElementById('hiddenVal3').value += idimg+",";
		}
	}
}

</SCRIPT>

	
<style>

.tutorcontentholder
{
	min-height:500px;
}
#registration_form_2 input
{
	float: left;
    height: 15px;
    width: 24px;
}
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.CourseDetMid
{
	font-size:14px;
	padding: 15px 0 0 14px;
}
.stepcol1
{
	width:265px;
}
.stepcol2
{
	width: 350px;
}

.infolinerow
{
	width:100%;
	padding: 0 0 0 7px;
}
</style>
</head>
	<body>
			<form method="post" action="" name="changeskillformid" id="changeskillformid" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
				<div class="rightcontent">
				<div class="CourseDetMid">
				<?php
					if(isset($authUserNamespace->changesave) && $authUserNamespace->changesave!="") {?>
					<div class="infolinerow onlyorangedisplay">
						<?php
							echo $authUserNamespace->changesave;
							unset($authUserNamespace->changesave);
						?>
					</div>
				<?php }?>
				<div class="infolinerow">
						<span class="nameoftutor">Skills</span>
				</div>
				<div class="allfields"><span class="onlyorangedisplay">*</span> All fields are required</div>
				
					<div class="steprow1">
						<strong style="font-size:15px;color:#333333;">What skills do you teach? </strong> <span style="color:#F06142">*</span>
						<div class="steprow1" style="margin-top: 5px;">Tick only the classes that you offer. <i class="registerhint">(Click a heading to expand and show specific skills)</i>
<!--							<br/>-->
<!--							<div class="clear" style="height:5px;">&nbsp;</div>-->
							
							
						</div>
					</div>
				<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata))
							{
								$skillArray = $this->tutorcoursedata;
						  		$allskillId = $skillArray['tutor_skill_id'];
						  		$removeLastskillId = substr($allskillId, 0, strlen($allskillId)-1);
						  		$skillIds = explode(",",$removeLastskillId);
						  		$skillSize = sizeof($skillIds);
							}
						?>
				<div class="steprow1">
					<?php
						$skillobj = new Skillzot_Model_DbTable_Skills();
						if(isset($this->mainSkill) && sizeOf($this->mainSkill)>0){
							$skillRows = $this->mainSkill;
						?>
						<?php if(isset($skillRows) && sizeof($skillRows)>0){?>
	        				<?php foreach($skillRows as $maincategory){?>
	        					<span style="width:100%;display:block;margin-bottom:10px;"><a class="subject collapsed" href="#"><?php  echo $maincategory->skill_name;?></a></span>
	        					
								<?php
			        			$subcategory = $maincategory->skill_id;
								$subskillRows = $skillobj->fetchAll($skillobj->select()
														  ->from(array('s'=>DATABASE_PREFIX.'master_skills'))
														  ->where("is_enabled = 1 && parent_skill_id = '$subcategory' && skill_id!=0")
														  ->order(array("order_id asc")));
								$temparray = array();
								$tempvar = 0;
								$subdiv = -1;
								if(isset($subskillRows) && sizeof($subskillRows)>0){
									 ?>
								
								<ul id="categorytag1" class="checkcat" style="padding: 0 0 0 40px;">
									<?php foreach($subskillRows as $subcategory){?>
										<?php
											$skillcategory = $subcategory->skill_id;
											$skillcategoryRows = $skillobj->fetchAll($skillobj->select()
														  ->from(array('s'=>DATABASE_PREFIX.'master_skills'))
														  ->where("is_enabled = 1 && parent_skill_id = '$skillcategory' && skill_id!=0")
														  ->order(array("skill_name asc")));
											?>
												<?php $subdiv++;?>
												<?php if(($subdiv%3)==0){?>
													<div class="displayskilltag">
												<?php }?>
												<?php if(isset($skillcategoryRows) && sizeof($skillcategoryRows)>0){
												?>
													<?php $temparray[$tempvar] = $subcategory->skill_id;
														  $tempvar++;
													?>
<!--													<li class="displayskilltagli"><label><input value="<?php //if (isset($subcategory->skill_id) && $subcategory->skill_id!="" ){echo $subcategory->skill_id;}?>"-->
																
													<?php /*if (isset($skillIds) && sizeof($skillIds)>0)
									  				{
									  					for($t=0;$t<$skillSize;$t++)
									  					{
									  						if($skillIds[$t]==$subcategory->skill_id)
									  						{
									  							echo "checked";
									  						}
									  					}
									  				}*/?>
													
													
													
<!--													type="checkbox" onclick="javascript:skill(this.value);" name="txtsubcat" id="txtsubcat"><?php //if (isset($subcategory->skill_name) && $subcategory->skill_name!="" ){echo $subcategory->skill_name;}?></label></li>-->
												<?php
												}else{
												?>
													<li class="displayskilltagli"><label><input value="<?php if (isset($subcategory->skill_id) && $subcategory->skill_id!="" ){echo $subcategory->skill_id;}?>" type="checkbox"
													
													<?php if (isset($skillIds) && sizeof($skillIds)>0)
									  				{
									  					for($t=0;$t<$skillSize;$t++)
									  					{
									  						if($skillIds[$t]==$subcategory->skill_id)
									  						{
									  							echo "checked";
									  						}
									  					}
									  				}?>
													
													
													onclick="javascript:skill(this.value);" name="txtsubcat" id="txtsubcat"><?php if (isset($subcategory->skill_name) && $subcategory->skill_name!="" ){echo $subcategory->skill_name;}?></label></li>
												<?php }?>
												
												<?php if(($subdiv%3)==2){?>
													</div>
												<?php }else{
														if(sizeof($subskillRows) == ($subdiv+1)){
														?>
														</div>
														<?php }
														}?>
											
											
									<?php }?>
									
									<?php /*Add code foe music list*/?>
											<?php if(isset($temparray) && sizeOf($temparray)>0){
											
											for($j=0;$j<sizeOf($temparray);$j++){?>
												<?php $fetchnameRow = $skillobj->fetchRow("skill_id = '$temparray[$j]'");
												$tempskiilname = $fetchnameRow->skill_name;?>
												<span style="width:100%;display:block;margin-bottom:10px;float:left;"><a class="subject collapsed" href="#"><?php  echo $tempskiilname;?></a></span>
												<?php
												$tempskillcategoryRows = $skillobj->fetchAll($skillobj->select()
															 				  ->from(array('s'=>DATABASE_PREFIX.'master_skills'))
															 				  ->where("is_enabled = 1 && parent_skill_id = '$temparray[$j]' && skill_id!=0")
																			  ->order(array("skill_name asc")));
												if(isset($tempskillcategoryRows) && sizeof($tempskillcategoryRows)>0){ ?>
													<ul id="categorytag1" class="checkcat" style="padding: 0 0 0 40px;">
													<?php $skilldiv = -1;?>
												 	<?php foreach($tempskillcategoryRows as $skillcategory1){ ?>
													<?php $skilldiv++;?>
													<?php if(($skilldiv%3)==0){?>
														<div class="displayskilltag">
													<?php }?>
														<li class="displayskilltagli"><label><input value="<?php if (isset($skillcategory1->skill_id) && $skillcategory1->skill_id!="" ){echo $skillcategory1->skill_id;}?>" type="checkbox"
														
														<?php if (isset($skillIds) && sizeof($skillIds)>0)
									  				{
									  					for($t=0;$t<$skillSize;$t++)
									  					{
									  						if($skillIds[$t]==$skillcategory1->skill_id)
									  						{
									  							echo "checked";
									  						}
									  					}
									  				}?>
														
														onclick="javascript:skill(this.value);" name="ACCManagerial_Accounting"><?php if (isset($skillcategory1->skill_name) && $skillcategory1->skill_name!="" ){echo $skillcategory1->skill_name;}?></label></li>
													<?php if(($skilldiv%3)==2){?>
														</div>
													<?php }else{
														//print sizeof($tempskillcategoryRows).":".$skilldiv;
														if(sizeof($tempskillcategoryRows) == ($skilldiv+1)){
														?>
														</div>
														<?php }
														}?>
													
													
													<?php
												 	}?></ul>
												 	<?php
												 }
											}?>
										<?php }?>
										<?php /*End code foe music list*/$temparray[] ="";?>
									
									</ul>
								
									
								<?php }?>
        				<?php }?>
        				
        				<?php }?>
        				<?php }?>
        				<input type="hidden" id="hiddenVal2" errortag="subject"  name="hiddenVal2" value="<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata))
							{
								$skillArray = $this->tutorcoursedata;
						  		echo $skillId = $skillArray['tutor_skill_id'];
						  	} ?>" />
						<div id="hiddenVal2_error" class="errorcls1" ></div>
						
        				</div>
        				
        			<?php if (isset($jinesh) && $jinesh!="jinesh") { //---------remove age checkbox ?>
        				
        			<div class="steprow1">
						<div class="stepcol4" style="margin-bottom:10px;"><strong>What age group would you like to teach?</strong> <span class="onlyorangedisplay">*</span></div>
						<div class="stepcol4" style="width:564px;">
						<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata))
							{
								$gradeArray = $this->tutorcoursedata;
						  		$allgradeId = $gradeArray['tutor_grade_to_teach'];
						  		$removeLastgradeId = substr($allgradeId, 0, strlen($allgradeId)-1);
						  		$gradeIds = explode(",",$removeLastgradeId);
						  		$gradeSize = sizeof($gradeIds);
							}
						?>
							<?php if(isset($this->tutorgrade) && sizeof($this->tutorgrade)>0){$i=0;foreach($this->tutorgrade as $tutorgrade){?>
								<div style="width:90px;float: left;margin:0px 15px 10px 0px;width: 173px;">
									<input style="height:15px;width:24px;font-size:10px;" type="checkbox"
									 <?php if (isset($gradeIds) && sizeof($gradeIds)>0)
						  				{
						  					for($j=0;$j<$gradeSize;$j++)
						  					{
						  						if($gradeIds[$j]==$tutorgrade->grade_to_teach_id)
						  						{
						  							echo "checked";
						  						}
						  					}
						  				}?>
									value="<?php  if (isset($tutorgrade->grade_to_teach_id) && $tutorgrade->grade_to_teach_id !=""){echo $tutorgrade->grade_to_teach_id;} ?>" onclick="agegroup1(this.value);" name="tutor" ><?php  if (isset($tutorgrade->grade_to_teach_name) && $tutorgrade->grade_to_teach_name !=""){echo $tutorgrade->grade_to_teach_name;} ?>
							
								</div>
							<?php $i++;}}?>
									<input type="hidden" id="hiddenVal3" errortag="grade to teach" name="hiddenVal3" value="<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata))
							{
								$gradeArray = $this->tutorcoursedata;
						  		echo $allgradeId = $gradeArray['tutor_grade_to_teach'];
						  	} ?>" />
						  	<div class="clear">&nbsp;</div>
						  	<div id="hiddenVal3_error" class="errorcls1" >&nbsp;</div>
						</div>
					</div>
				 <?php }//---------remove age checkbox ?>
				<!--	copy of hidden div			 -->
				 <input type="hidden" id="hiddenVal3" errortag="grade to teach" name="hiddenVal3" value="<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata))
							{
								$gradeArray = $this->tutorcoursedata;
						  		echo $allgradeId = $gradeArray['tutor_grade_to_teach'];
						  	} ?>" />
				<!--	end of copy of hidden div			 -->				 
				<div class="clear">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
					<div class="stepcol2">
					  
						 <div class="savecontinue"><img src="<?php echo BASEPATH;?>/images/savenew.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/savenew.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/save_hover.png';" id="save" name="save" /></div>
					</div>
				</div>
				
				</div>
			</div>
		</div>	
	</form>
	</body>
</html>