<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>

<head>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/albumphoto.js"></script>
<script>
$(document).ready(function(){	
	var temp = 2;
	var cnt = 0;
	$('.copyinfolinerow div.imagethumb').each(function(){
		cnt++;
		if(cnt == temp)
		{
			$(this).css({'margin':'0 11px 15px'});
			temp=temp+3;
		}	
		else
		{
			$(this).css({'margin':'0 0px 15px'});
		}	
	});
	$('#scrollbar1').tinyscrollbar();
});
function call_delete(id)
{	
	jConfirm('Are you sure,You want to delete this Video ?', 'Confirmation Dialog', function(r) {
		if(r == true) 
			window.location.href= '<?php echo BASEPATH; ?>/tutorvideonew/tutorvideodelete/id/'+id;
		else return false;
	});
}

	</script>
<title><?php if (isset($tutorNameforalttag) && $tutorNameforalttag!=""){echo $tutorNameforalttag;} ?> profile picture edit </title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	
	
<style>
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.tutorcontentholder
{
	min-height:400px;
}
.stepcol1
{
	width:150px;
}
.stepcol2
{
	width: 410px;
}
.newimageshow{
	float:left;
	width: 250px;
}
.copyinfolinerow a
{	
	margin-bottom:0px
}
span.playbutton1
{
	background-image:url('../images/play_blue2.png');
	/*background-repeat:no-repeat;
	background-position:center center;
	width:48px;
	height:48px;
	position:absolute;
	top:34%;
	left:34%;
	opacity: 0.8;*/
	background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    opacity:1;
    position: absolute;
    top: 0;
    width: 100%;
}
span.playbutton1:hover
{
	opacity: 0;
}
</style>
<!--[if IE]>
<style>
.newimageshow input{

	margin-left:15px;
}
</style>
<![endif]-->
</head>
	<body>
			<form method="post" action="" name="upload_pic" id="upload_pic" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
					<div class="rightcontent">
						<div class="CourseDetMid">
							<a class="buttons openskillbox" rel="<?php echo BASEPATH;?>/tutorvideonew/addvideos/id/<?php if(isset($authUserNamespace->admintutorid) && $authUserNamespace->admintutorid!="")echo $authUserNamespace->admintutorid;else echo 0;?>">Add Videos</a>
							<div class="clear">&nbsp;</div>
							<div class="sap">&nbsp;</div>
							<div id="scrollbar1" style="width: 518px;float:left;">	
								<div class="scrollbar" style="height: 180px;">
									<div class="track" style="height: 180px;">
										<div class="thumb" style="top: 10.929px; height: 27.3224px;">
											<div class="end"></div>
										</div>
									</div>
								</div>
								<div class="viewport" style="height:444px;;width:505px;">
									<div class="overview">
										<div style="margin:0px;" class="copyinfolinerow">
												<?php if (isset($this->videoresult) && sizeof($this->videoresult)>0){
												$i = 0; 
												foreach ($this->videoresult as $tutorvideo)
												{ ?>
													<div class="imagethumb" style="position:relative;float:left;">
														<div class="editicons">												
															<span id="editphot" class="editphot tippT">
																<b class="Ttip">Edit</b>
																<span class="dropover">
																	<a class="openskillbox" href="javascript:void(0);" rel="<?php echo BASEPATH;?>/tutorvideonew/editvideoname/id/<?php echo $tutorvideo->id; ?>" >Edit Title</a>
																	<a href="javascript:void(0);" onclick="call_delete('<?php if (isset($tutorvideo->id) && $tutorvideo->id !="") { echo $tutorvideo->id; } ?>');">Delete</a>
																</span>
															</span>
														  
														</div>
<!--															<a  href="<?php echo BASEPATH;?>/editprofile/showalbumsphotos/tutor_album_id/<?php echo $tutorvideo->id;?>" style="background: url(<?php echo BASEPATH;?>/images/gallery-48.png) no-repeat scroll center center transparent;"><img src="<?php if(isset($tutorvideo->thumb_photo_link) && $tutorvideo->thumb_photo_link!=""){?><?php echo BASEPATH;?><?php  echo $tutorvideo->thumb_photo_link;?><?php }else{?> <?php echo BASEPATH;?>/images/transpbg.png <?php  }?>">-->
<!--															-->
<!--															</a>-->
																<?php 
																
																$url =  $tutorvideo->video_link;
																if (preg_match('%(?:youtube(?:-nocookie)?\.com/(?:[^/]+/.+/|(?:v|e(?:mbed)?)/|.*[?&]v=)|youtu\.be/)([^"&?/ ]{11})%i', $url, $match)) 
																{
	   																$video_id = $match[1];
																}
																?>
																<a href="http://www.youtube.com/watch?v=<?php echo $video_id;?>"  rel="lightbox[external 630 370]" title="">
																<span class="playbutton1"></span>
																<img src="http://img.youtube.com/vi/<?php echo $video_id;?>/0.jpg" alt="YouTube"/></a>
															<div class="imagetitle"><?php if(isset($tutorvideo->title) && $tutorvideo->title!=""){ echo $tutorvideo->title;} else{echo "Video Title";}?></div>
													</div>
												<?php 
												}
												$i++;
												}else{?>
												<div>No Video found </div>
												<?php }?>	
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</form>
<script>
		$(document).ready(function(){
			var flag = 0;
			$('#editphot').live('click',function(){
				if(flag == 0)
				{
					$(this).children('.dropover').show();
					flag = 1;
				}
				else
				{
					$(this).children('.dropover').hide();
					flag = 0;
				}
			});
		});
	</script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.tinyscrollbar.min.js"></script>			
	</body>
</html>